<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">

        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>

        <div class="form-holder">
            <!-- prev-next buttons -->
            <div class="form-pn-btns-div">
                <div class="col-sm-12" style="padding:0;">

                    <div class="col-sm-6" style="padding:0;">
                        <a class="btn-rttpn" href="<?= BASE_URI; ?>draft_order">< Return to Table</a>
                    </div>
                    <?php $idArr = $this->session->get('idArr');
                          $idPos = array_search($inquiry->reference_number, $idArr);
                          $prevId = $idArr[$idPos - 1];
                          $nextId = $idArr[$idPos + 1];
                    ?>
                    <div class="col-sm-6 text-right" style="padding:0;">
                        <a class="btn-rttpn <?php if ($prevId == false) {echo "hidden";}?>" style="margin-right:50px;" href="<?= BASE_URI; ?>draft_order/draft_form?id=<?= $prevId;?>">< Prev</a>
                        <a class="btn-rttpn <?php if ($nextId == false) {echo "hidden";}?>" href="<?= BASE_URI; ?>draft_order/draft_form?id=<?= $nextId;?>">Next ></a>
                    </div>

                </div>
            </div>

            <!-- form like div -->
            <div class="form-content">
                <!-- form header -->
                <table class="fheader-tbl">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Draft Order</h5>
                                <!-- <label class="label label-red fstatus-label pull-right">EXPIRING SOON</label> -->
                            </td>
                            <td class="text-right">Date</td>
                            <td class="text-right"><span><?= substr($inquiry->datetime_created, 0, 10); ?></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="inquiry-no"><?= $inquiry->reference_number; ?></h5>
                            </td>
                            <td class="text-right">Valid Until</td>
                            <td class="text-right"><span><?= $inquiry->valid_until; ?></span></td>
                        </tr>
                    </tbody>
                </table>

                <!-- account info -->
                <table class="faccount-tbl" style="margin-top:40px;">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <span class="form-label">COMPANY NAME</span>
                    <h5 class="fcompany-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                    </th>
                    <th>
                        <!-- change to pick up if the user chose pick up in delivery option -->
                        <span class="fstatus"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></span> 
                    </th>
                    </tr>
                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="company-address <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">COMPANY ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    } ?> 
									<?php echo $city->name; ?> <br>
                                                                        <?php echo $province->name; ?> <br>
									<?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is company -->
                            <div class="contact-section <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide when account is company -->
                            <div class="personal-address <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    } ?> 
									<?php echo $city->name; ?> <br>
                                                                        <?php echo $province->name; ?> <br>
									<?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is personal -->
                            <div class="contact-section <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="form-label <?php if ($inquiry->for !== "1"){echo 'hidden';}?>">DELIVERY ADDRESS</span>
                                <h5 class="fdelivery-info">
                                    <?php if ($inquiry->for == "1") { ?>
                                        <?php echo $delivery_address->address; ?>  <br>
                                        <?php if ($delivery_address->address_2 != "") {
                                            echo $delivery_address->address_2 . "</br>";
                                        } ?> 
										<?php echo $delivery_city->name; ?> <br>
                                                                                <?php echo $delivery_province->name; ?> <br>
										<?php echo $delivery_region->name; ?>
									<?php }?>
                                </h5>
                            </div>
                        </td>
                    </tr>
                    </tbody>	
                </table>

                <!-- order - details -->
                <div class="form-orders-div">
                    <div class="fo-title">ITEM LIST</div>

                    <div class="fo-list-div">
                        <table class="si-tbl">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th colspan="2">ITEM NAME</th>
                                    <th class="text-right">UNIT PRICE</th>
                                    <th class="text-right">QUANTITY</th>
                                    <th class="text-right">UOM</th>
                                    <th class="text-right">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                $i = 0;
                                $subtotal = 0;
                                foreach ($items as $item) {
                                    $i += 1;
                                    $subtotal += $item->total_amount;
                                    $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId);
                                    ?>
                                    <tr>
                                        <td><?php echo $i; ?></td>
                                        <td>
                                            <img class="fo-img" src="<?= STOREFRONT_URI ?>product_images/<?php if ($product->image_link_1){ echo $product->image_link_1;}else{echo "default.jpg";}?>">
                                        </td>
                                        <td>
                                            <h5 class="fo-prod-details">
                                                <span class="fop-name">
                                                    <?php echo $product->product_name; ?>
                                                </span>
                                                <span class="fop-size">
                                                    <?php echo $products_array[$item->product_kind_id]->kind_name . " | " . $products_array[$item->product_kind_id]->measurement . " | " . $products_array[$item->product_kind_id]->color; ?></span>
                                            </h5>
                                        </td>
                                        <td class="text-right"><?php echo number_format($item->unit_price,2); ?></td>
                                        <td class="text-right"><?php echo number_format($item->quantity); ?></td>
                                        <td class="text-right"><?php echo $item->uom; ?></td>
                                        <td class="text-right"><?php echo number_format($item->total_amount,2); ?></td>
                                    </tr>
                                    <?php } ?>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>SUBTOTAL</span>
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span class="order-total"><?= number_format($subtotal,2); ?></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <?php if($prepaid_cnt > 0) { ?>
                <div class="olta-div">
                    <h5>
                        <i class="fa fa-exclamation-triangle fa-1x"></i>
                        ORDER LEAD TIME ALERT
                    </h5>
                    
                    <?php foreach($items as $item) {  if($products_array[$item->product_kind_id]->prepaid == 1) { ?>
                    <?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); ?>
                            <li>
                                Item <span class="olta-prod-name">"<?php echo $product->product_name." ".$products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color;?>"    
                                </span> will take <span style="font-weight:bold;"><?=$products_array[$item->product_kind_id]->lead_time;?></span> business day(s) to deliver after <span class="olta-cfp">cleared full payment</span> is made.
                            </li>
                <?php } } ?> </div> <?php } ?>

                <div class="col-sm-12" style="padding:0;">
                    <label>REMARKS</label>
                    <textarea class="form-control remarks" rows="4" readonly><?= $inquiry->remarks; ?></textarea>	
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <div class="col-sm-12" style="padding:0;">
                        <label>PAYMENT DETAILS</label>	
                    </div>

                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Mode of Payment</label>
                        <select class="form-control standard" disabled>
                            <option value="1" <?=($inquiry->payment == 1) ? "selected" : "";?>>Bank Transfer</option>
							<option value="2" <?=($inquiry->payment == 2) ? "selected" : "";?>>Cash on Pickup</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Bank Name</label>
                        <select class="form-control standard" disabled>
							<option value="0" <?=($inquiry->bank == 0) ? "selected" : "";?>>--</option>
							<?php foreach ($banks as $bank) { ?>
							<option value="<?=$bank->id;?>" <?=($inquiry->bank == $bank->id) ? "selected" : "";?>><?=$bank->bank_name.' - '.$bank->bank_branch;?></option>
							<?php } ?>							
                        </select>
                    </div>
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <label>TERMS AND CONDITIONS</label>
                    <div class="ftac-div mb-20">
                        <div class="ftac-content green-scroll">
                            <?php 
                                $i = 0; 
                                $regular = 0; 
                                $prepaid = 0;
                                
                                foreach($items as $item) { 
                                    $i += 1; 

                                    if($products_array[$item->product_kind_id]->prepaid == 0) {
                                        $prepaid += 1;                             
                                    } else {
                                        $regular += 1;
                                    } 

                                    if($prepaid > 0 && $regular > 0) {
                                        $show = "<p>
                                                    <span>Regular Products:</span>
                                                    <br><br>
                                                    ".$regular_products."

                                                    <br><br>

                                                    <span>Prepaid Products:</span>
                                                    <br><br>
                                                    ".$prepaid_products.";
                                                </p>";
                                    } else if($prepaid > 0 && $regular == 0) {
                                        $show = "<p>
                                                    <span>Prepaid Products:</span>
                                                    <br><br>
         
                                                        ".$prepaid_products."

                                                </p>";
                                    } else if($regular > 0 && $prepaid == 0) {
                                        $show = "<p>
                                                    <span>Regular Products:</span>
                                                    <br><br>

                                                        ".$regular_products."

                                                </p>";
                                    }
                                }
                            ?>
                    
                            <?php echo $show; ?>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <div class="ftac-checkbox">
                        <label class="container">I have read and agreed to the Terms and Conditions
                            <input type="checkbox" checked disabled>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

</script>