<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

	<!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">

    	<!-- Header -->
        <?php $this->partial('common/content_header'); ?>

		<div class="form-holder">
			<!-- prev-next buttons -->
			<div class="form-pn-btns-div">
        		<div class="col-sm-12" style="padding:0;">

        			<div class="col-sm-6" style="padding:0;">
        				<a class="btn-rttpn">< Return to Table</a>
        			</div>

        			<div class="col-sm-6 text-right" style="padding:0;">
        				<a class="btn-rttpn" style="margin-right:50px;">< Prev</a>
        				<a class="btn-rttpn">Next ></a>
        			</div>

        		</div>
        	</div>

			<!-- form like div -->
			<div class="form-content">
				<!-- form header -->
				<table class="fheader-tbl">
					<tbody>
						<tr>
							<td>
								<h5>Statement of Account</h5>
								<label class="label label-orange fstatus-label pull-right">SOA FOR APPROVAL</label>
							</td>
							<td class="text-right">Date</td>
							<td class="text-right"><span>2017-11-03</span></td>
						</tr>
						<tr>
							<td>
								<h5 class="inquiry-no">Q-171103-001</h5>
							</td>
							<td class="text-right" style="vertical-align:middle;">Valid Until</td>
							<td>
								<input type="text" class="form-control small text-right pull-right" style="vertical-align:middle;">
							</td>
						</tr>
					</tbody>
				</table>

				<!-- account info -->
				<table class="faccount-tbl" style="margin-top:40px;">
					<tbody>
						<tr>
						    <th colspan="2">
						    	<span class="form-label">COMPANY NAME</span>
						    	<h5 class="fcompany-name">INDIVIDUAL USE</h5>
						    </th>
						    <th>
						    	<!-- change to pick up if the user chose pick up in delivery option -->
						    	<span class="fstatus">FOR DELIVERY</span> 
						    </th>
						</tr>
						<tr>
						    <td>
						    	<!-- hide when account is personal -->
						    	<div class="company-address hidden">
						    		<span class="form-label">COMPANY ADDRESS</span>
							    	<h5 class="faddress-info">
							    		U10-1 One Global Place <br>
										Bonifacio Global City <br>
										TAGUIG CITY <br>
										METRO MANILA 1636
							    	</h5>
						    	</div>

						    	<!-- hide when account is company -->
						    	<div class="contact-section">
						    		<span class="form-label">REPRESENTATIVE</span>
							    	<table class="fcontact-info">
							    		<tbody>
							    			<tr>
							    				<td class="fc-label">Name</td>
							    				<td>Jasmin Aguilar</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Mobile</td>
							    				<td>0998-855-3742</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Office</td>
							    				<td>-</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Fax</td>
							    				<td>-</td>
							    			</tr>
							    		</tbody>
							    	</table>
						    	</div>
						    </td>
						    <td>
						    	<!-- hide when account is company -->
						    	<div class="personal-address">
						    		<span class="form-label">ADDRESS</span>
							    	<h5 class="faddress-info">
							    		U10-1 One Global Place <br>
										Bonifacio Global City <br>
										TAGUIG CITY <br>
										METRO MANILA 1636
							    	</h5>
						    	</div>

						    	<!-- hide when account is personal -->
						    	<div class="contact-section hidden">
						    		<span class="form-label">REPRESENTATIVE</span>
							    	<table class="fcontact-info">
							    		<tbody>
							    			<tr>
							    				<td class="fc-label">Name</td>
							    				<td>Jasmin Aguilar</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Mobile</td>
							    				<td>0998-855-3742</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Office</td>
							    				<td>-</td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Fax</td>
							    				<td>-</td>
							    			</tr>
							    		</tbody>
							    	</table>
						    	</div>
						    </td>
						    <td>
						    	<!-- hide div (not the td) when user chose pick up in delivery option -->
						    	<div>
							    	<span class="form-label">DELIVERY ADDRESS</span>
							    	<h5 class="fdelivery-info">
							    		U10-1 One Global Place <br>
										Bonifacio Global City <br>
										TAGUIG CITY <br>
										METRO MANILA 1636
							    	</h5>
						    	</div>
						    </td>
						</tr>
					</tbody>	
				</table>

				<!-- order - details -->
				<div class="form-orders-div">
					<div class="fo-title">ITEM LIST</div>

					<div class="fo-list-div">
						<table class="si-tbl">
							<thead>
								<tr>
									<th>NO.</th>
									<th colspan="2">ITEM NAME</th>
									<th class="text-right">UNIT PRICE</th>
									<th class="text-right">QUANTITY</th>
									<th class="text-right">UOM</th>
									<th class="text-right">TOTAL</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>
										<img class="fo-img" src="<?=BASE_URI?>img/sample-product.jpg">
									</td>
									<td>
										<h5 class="fo-prod-details">
											<span class="fop-name">Boral Standard Core Gypsum Board</span>
											<span class="fop-size">9mm x 4ft x 8ft</span>
										</h5>
									</td>
									<td class="text-right">1000</td>
									<td class="text-right">9999</td>
									<td class="text-right">pieces</td>
									<td class="text-right">9999000.00</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>SUBTOTAL</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="order-total">39996000.00</span>
									</td>
								</tr>
								<!-- <tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>DELIVERY CHARGE</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<input type="text" class="form-control small text-right pull-right">
									</td>
								</tr> -->
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>(DISCOUNT)</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="order-total">100.00</span>
									</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>(CWT)</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="order-total">100.00</span>
									</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span class="gt-label">GRAND TOTAL</span> 
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="grand-total">19998000.00</span>
									</td>
								</tr>
							</tfoot>
						</table>

						<!-- for approval stamp -->
						<label class="approval-stamp pull-left">FOR APPROVAL</label>
					</div>
				</div>

				<div class="col-sm-12" style="padding:0;">
					<label>REMARKS</label>
					<textarea class="form-control remarks" rows="4"></textarea>	
				</div>
				
				<div class="col-sm-12" style="padding:0;margin-top:20px;">
					<div class="col-sm-12" style="padding:0;">
						<label>PAYMENT DETAILS</label>	
					</div>

					<div class="col-sm-4" style="padding-left:0;">
						<label>Mode of Payment</label>
						<select class="form-control standard">
							<option value="0">--</option>
						</select>
					</div>
					<div class="col-sm-4" style="padding-left:0;">
						<label>Bank Name</label>
						<select class="form-control standard">
							<option value="0">--</option>
							<option value="0">BDO</option>
							<option value="0">PNB</option>
							<option value="0">Metrobank</option>
							<option value="0">BPI</option>
						</select>
					</div>
				</div>

				<div class="col-sm-12" style="padding:0;margin-top:20px;">
					<label>TERMS AND CONDITION</label>
					<div class="ftac-div mb-20">
						<div class="ftac-content green-scroll">
							<p>
								2.1 These Terms and Conditions shall apply to all contracts for the supply of goods and services by the Supplier to the Customer. <br>
								2.2 Before the commencement of the services the Supplier shall submit to the Customer a Specification Document which shall specify
								the goods and services to be supplied and the price payable. The Customer shall notify the Supplier immediately if the Customer does
								not agree with the contents of the Specification Document. All Specification Documents shall be subject to these Terms and Conditions.

								<br><br>
								2.1 These Terms and Conditions shall apply to all contracts for the supply of goods and services by the Supplier to the Customer. <br>
								2.2 Before the commencement of the services the Supplier shall submit to the Customer a Specification Document which shall specify
								the goods and services to be supplied and the price payable. The Customer shall notify the Supplier immediately if the Customer does
								not agree with the contents of the Specification Document. All Specification Documents shall be subject to these Terms and Conditions.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12" style="padding:0;margin-top:20px;">
					<div class="ftac-checkbox">
						<label class="container">I have read and agreed to the <a href="<?=BASE_URI?>terms_and_condition">Terms & Conditions</a>
							<input type="checkbox" checked disabled>
						  	<span class="checkmark"></span>
						</label>
					</div>
				</div>

				<div class="form-btns">
					<button class="btn btn-success btn-white btn-dpdf">
						<i class="fa fa-file fa-1x"></i>Download PDF
					</button>

					<!-- <button class="btn btn-csoa">Save Changes and Resend</button> -->
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">

</script>