<style>
    .dataTables_filter {display: none;}
    table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; 
        word-wrap:break-word;
    }
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-4"> 
                    <div style="padding-left: 10px;">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>    
                </div> 
                <div class="col-lg-8"> 
                    <div class="buttons-div">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"><input type="submit" class="btn <?php if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?>" value="Batch Upload" id="btnUploadPricing"></div>
                        <div class="col-lg-3"><input type="submit" class="btn download-excel-btn <?php if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?>" value="Download Excel File"></div>
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="pricingTable" class="table" style="width:100%;">
                    <thead> 
                    <th style="background-color: #fff;">Product-Kind</th>
                        <th>Points</th>
                        <th>Incr.</th>
                        <th>MQ L1</th>
                        <th>MQ L2</th>
                        <th>MQ L3</th> 
                        <th>Base</th> 
                        <th>PHP/%</th> 
                        <th>P L1</th> 
						<th>P L2</th> 
						<th>P L3</th> 
						<th>C L1</th> 
						<th>C L2</th> 
						<th>C L3</th> 
						<th>W L1</th> 
						<th>W L2</th> 
						<th>W L3</th> 
						<th>&nbsp;</th> 
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
                    </thead>
                    <tbody>
                           <!-- <span class="pricing-span">9999.99</span> -->
                    </tbody>
                </table>

				<table id="tableToExcel" class="hidden">
					<thead>
						<th>Product Kind ID</th>
						<th>Product</th>
						<th>Kind</th>
						<th>Measurement</th>
						<th>Color</th>
                        <th>Points</th>
                        <th>Increments</th>
                        <th>MQ L1</th>
                        <th>MQ L2</th>
                        <th>MQ L3</th> 
                        <th>Price</th> 
                        <th>PHP/%</th> 
                        <th colspan="2">P L1</th> 
						<th colspan="2">P L2</th> 
						<th colspan="2">P L3</th> 
						<th colspan="2">C L1</th> 
						<th colspan="2">C L2</th> 
						<th colspan="2">C L3</th> 
						<th colspan="2">W L1</th> 
						<th colspan="2">W L2</th> 
						<th colspan="2">W L3</th>  
					</thead>
					<tbody>
					
					</tbody>
				</table>
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('pricing/modal'); ?>

<script>
//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//number alterations end  

$.post(BASE_URL+'pricing/getPricingList',"",function(data){
    data = $.parseJSON(data);
	console.log(data);
    var content_array = [];

    $('input.toggle-switch').onoff('destroy');

	data.kinds_pricing.forEach(function(entry){
		if (data.product_kinds[entry.kind_id]['archive_flag'] == 0)
		{
			var content_row = [];
			content_row.push(data.products[data.product_kinds[entry.kind_id]['product_id']] + "<span data-m='"+data.product_kinds[entry.kind_id]['measurement']+"' data-c='"+data.product_kinds[entry.kind_id]['color']+"' class='pricing-span first-span'>"+data.product_kinds[entry.kind_id]['kind_name'] + " | " + data.product_kinds[entry.kind_id]['measurement']+" | "+data.product_kinds[entry.kind_id]['color']+"</span>");
			content_row.push("<input type='text' class='tbl-field points-fld' size='8' disabled value='"+entry.points+"'>");
			content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.increment+"'>");
			content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty1+"'>");
			content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty2+"'>");
			content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty3+"'>");
			content_row.push("<input type='text' class='tbl-field base-price' size='8' disabled value='"+entry.base+"'>");
			if (entry.mode == 1) content_row.push("<input type='checkbox' class='toggle-switch toggle-php mode-checkbox' checked disabled>");
			else content_row.push("<input type='checkbox' class='toggle-switch toggle-php mode-checkbox' disabled>");
			
			var discount_applied_p_price1 = 0;
			var discount_applied_p_price2 = 0;
			var discount_applied_p_price3 = 0;
			var discount_applied_c_price1 = 0;
			var discount_applied_c_price2 = 0;
			var discount_applied_c_price3 = 0;
			var discount_applied_r_price1 = 0;
			var discount_applied_r_price2 = 0;
			var discount_applied_r_price3 = 0;
			
			if (entry.mode == 1)
			{
				discount_applied_p_price1 = parseFloat(entry.base) + parseFloat(entry.p_price1);
				discount_applied_p_price2 = parseFloat(entry.base) + parseFloat(entry.p_price2);
				discount_applied_p_price3 = parseFloat(entry.base) + parseFloat(entry.p_price3);
				discount_applied_c_price1 = parseFloat(entry.base) + parseFloat(entry.c_price1);
				discount_applied_c_price2 = parseFloat(entry.base) + parseFloat(entry.c_price2);
				discount_applied_c_price3 = parseFloat(entry.base) + parseFloat(entry.c_price3);
				discount_applied_r_price1 = parseFloat(entry.base) + parseFloat(entry.r_price1);
				discount_applied_r_price2 = parseFloat(entry.base) + parseFloat(entry.r_price2);
				discount_applied_r_price3 = parseFloat(entry.base) + parseFloat(entry.r_price3);
			}
			else
			{
				discount_applied_p_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price1)/100));
				discount_applied_p_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price2)/100));
				discount_applied_p_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price3)/100));
				discount_applied_c_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price1)/100));
				discount_applied_c_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price2)/100));
				discount_applied_c_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price3)/100));
				discount_applied_r_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price1)/100));
				discount_applied_r_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price2)/100));
				discount_applied_r_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price3)/100));
			}
			
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price1+"'><span class='pricing-span pull-right'>"+discount_applied_p_price1.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price2+"'><span class='pricing-span pull-right'>"+discount_applied_p_price2.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price3+"'><span class='pricing-span pull-right'>"+discount_applied_p_price3.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price1+"'><span class='pricing-span pull-right'>"+discount_applied_c_price1.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price2+"'><span class='pricing-span pull-right'>"+discount_applied_c_price2.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price3+"'><span class='pricing-span pull-right'>"+discount_applied_c_price3.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price1+"'><span class='pricing-span pull-right'>"+discount_applied_r_price1.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price2+"'><span class='pricing-span pull-right'>"+discount_applied_r_price2.toFixed(2)+"</span>");
			content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price3+"'><span class='pricing-span pull-right'>"+discount_applied_r_price3.toFixed(2)+"</span>");
			content_row.push("<a class='editLink' data-id='"+entry.kind_id+"'>EDIT</a><a class='saveLink hidden' data-id='"+entry.kind_id+"'>SAVE</a>");
			content_row.push("<a class='delLink' data-id='"+entry.kind_id+"' data-name='"+data.product_kinds[entry.kind_id]['name']+"'>DELETE</a>");
			content_row.push(data.product_kinds[entry.kind_id]['measurement']);
			content_row.push(data.product_kinds[entry.kind_id]['color']);
			content_row.push(entry.kind_id);
			content_row.push(data.products[data.product_kinds[entry.kind_id]['product_id']]);
			content_row.push(data.product_kinds[entry.kind_id]['kind_name']);
			content_array.push(content_row);
		}
		
	});
	
    $('#pricingTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [7,8] },{"targets": [ 19,20,21,22,23 ], "visible": false},{ "width": "250px", "targets": 0 }],
        "data": content_array,
        "scrollX": true,
        "scrollCollapse": true,
        "fixedColumns":{leftColumns: 1}        
    });

	
    var table = $('#pricingTable').DataTable();
    table.$(".toggle-switch").onoff();
    table.$(".toggle-switch").onoff('disable');

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });  
    
//    table.$('thead tr th:first').css('background-color', 'red');

//    table.$(".points-fld").inputmask("decimal", {prefix: "", rightAlign: false, digits: 5});
//    table.$(".price-field, .base-price").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//    table.$(".pos-int-fld").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1});

//    table.$('.tbl-field').keypress(validateNumber);
    
//    $('.tbl-field').keypress(function(){
//        return event.charCode >= 48 && event.charCode <= 57;
//    });
    
<?php if ($this->session->LPMADMINACCESS['pricing'] == '1'){?>
table.$('.editLink, .delLink').addClass('hidden');
<?php } ?>    

});  

$(document).on('click', '#btnUploadPricing', function(){
    $('#modalUploadPricing').modal('show');
});

$(document).on('click','.editLink', function(){
	$(this).addClass('hidden');
	$(this).siblings('.saveLink').removeClass('hidden');
	
	$(this).closest('tr').find('.tbl-field').removeAttr('disabled');
	$(this).closest('tr').find('.mode-checkbox').removeAttr('disabled');
});

$(document).on('click','.saveLink', function(){
	$(this).addClass('hidden');
	$(this).siblings('.editLink').removeClass('hidden');
	var product_kind_id = $(this).attr('data-id');
	
	$(this).closest('tr').find('.tbl-field').attr('disabled','disabled');
	$(this).closest('tr').find('.mode-checkbox').attr('disabled','disabled');
	
	//save in background
	var textfield_array = [];
	var mode_checkbox = 0;
	if ($(this).closest('tr').find('.mode-checkbox').is(':checked')) mode_checkbox = 1;
	else mode_checkbox = 2;
	
	$(this).closest('tr').find('.tbl-field').each(function(){
		textfield_array.push($(this).val());
	});
	var row = $(this).closest('tr');
	
	var params = {
		product_kind_id : product_kind_id,
		textfield_array : textfield_array,
		mode_checkbox : mode_checkbox,
	};
	console.log(params);
	
	$.post(BASE_URL+'pricing/savePricing', params, function(data){
		//console.log(data);
		var otable = $('#pricingTable').DataTable();
		otable.draw(false);
	});
});

$(document).on('click','.delLink', function(){
	var product_kind_id = $(this).attr('data-id');
	var product_kind_name = $(this).attr('data-name');
	var params = {
		product_kind_id : product_kind_id,
	};
	
	$('#modalDeletePrice .product-name').html(product_kind_name);
	$('#modalDeletePrice #confirmDeletePrice').attr('data-id', product_kind_id);
	$('#modalDeletePrice').modal('show');
	
	
});

$(document).on('click', '#confirmDeletePrice', function(){
	var params = {
		product_kind_id : $(this).attr('data-id'),
	};
	
	$.post(BASE_URL+'pricing/deletePricing', params, function(data){
		if (data == "Success")
		{
			window.location.href = BASE_URL+"pricing";
		}
		else
		{
			alert("Something Went Wrong");
		}
	});
});

function setTwoNumberDecimal(el) {
        el.value = parseFloat(el.value).toFixed(2);
    };
function setFiveNumberDecimal(el) {
        el.value = parseFloat(el.value).toFixed(5);
    };
function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;
    if (event.keyCode === 8 || event.keyCode === 46) {
        return true;
    } else if ( key < 48 || key > 57 ) {
        return false;
    } else {
        return true;
    }
};

$(document).on('keyup','.price-field', function(){
	var mode_checkbox = 0;
	if ($(this).closest('tr').find('.mode-checkbox').is(':checked')) mode_checkbox = 1;
	else mode_checkbox = 2;
	
	var discount_price = parseFloat($(this).val());
	var base_price = parseFloat($(this).closest('tr').find('.base-price').val());
	
	if (mode_checkbox == 1)
	{
		var discounted_price = parseFloat(base_price) + parseFloat(discount_price);
		//console.log(discounted_price);
		$(this).siblings('span').html(discounted_price.toFixed(2));
	}
	else
	{
		//discount_applied_r_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price3)/100));
		var discounted_price = parseFloat(base_price) + (parseFloat(base_price) * (parseFloat(discount_price)/100));
		$(this).siblings('span').html(discounted_price.toFixed(2));
	}
});

$(document).on('change','.mode-checkbox', function(){
	//console.log('toggle');
	//console.log($(this).val());
	//console.log($(this).is(':checked'));
	if($(this).is(':checked') == true){
		//alert("true")
		
		$(this).closest('tr').find('.price-field').trigger('keyup');
		
		return false;
	}else{
		//alert("false");
		
		$(this).closest('tr').find('.price-field').trigger('keyup');
		return false;
	}
	
	
	
});
/*
$('.mode-checkbox').change(function(){
	console.log($(this).is(':checked'));
});
*/
$(document).on('click', '.download-excel-btn', function(){
	
	$.post(BASE_URL+'pricing/getPricingList',"",function(data){
		data = $.parseJSON(data);
		console.log(data);
		var content_array = [];

		$('input.toggle-switch').onoff('destroy');

		data.kinds_pricing.forEach(function(entry){
			if (data.product_kinds[entry.kind_id]['archive_flag'] == 0)
			{
				var content_row = [];
				content_row.push(data.products[data.product_kinds[entry.kind_id]['product_id']] + "<span data-m='"+data.product_kinds[entry.kind_id]['measurement']+"' data-c='"+data.product_kinds[entry.kind_id]['color']+"' class='pricing-span first-span'>"+data.product_kinds[entry.kind_id]['kind_name'] + " | " + data.product_kinds[entry.kind_id]['measurement']+" | "+data.product_kinds[entry.kind_id]['color']+"</span>");
				content_row.push("<input type='text' class='tbl-field points-fld' size='8' disabled value='"+entry.points+"'>");
				content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.increment+"'>");
				content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty1+"'>");
				content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty2+"'>");
				content_row.push("<input type='text' class='tbl-field pos-int-fld' size='8' disabled value='"+entry.min_qty3+"'>");
				content_row.push("<input type='text' class='tbl-field base-price' size='8' disabled value='"+entry.base+"'>");
				if (entry.mode == 1) content_row.push("<input type='checkbox' class='toggle-switch toggle-php mode-checkbox' checked disabled>");
				else content_row.push("<input type='checkbox' class='toggle-switch toggle-php mode-checkbox' disabled>");
				
				var discount_applied_p_price1 = 0;
				var discount_applied_p_price2 = 0;
				var discount_applied_p_price3 = 0;
				var discount_applied_c_price1 = 0;
				var discount_applied_c_price2 = 0;
				var discount_applied_c_price3 = 0;
				var discount_applied_r_price1 = 0;
				var discount_applied_r_price2 = 0;
				var discount_applied_r_price3 = 0;
				
				if (entry.mode == 1)
				{
					discount_applied_p_price1 = parseFloat(entry.base) + parseFloat(entry.p_price1);
					discount_applied_p_price2 = parseFloat(entry.base) + parseFloat(entry.p_price2);
					discount_applied_p_price3 = parseFloat(entry.base) + parseFloat(entry.p_price3);
					discount_applied_c_price1 = parseFloat(entry.base) + parseFloat(entry.c_price1);
					discount_applied_c_price2 = parseFloat(entry.base) + parseFloat(entry.c_price2);
					discount_applied_c_price3 = parseFloat(entry.base) + parseFloat(entry.c_price3);
					discount_applied_r_price1 = parseFloat(entry.base) + parseFloat(entry.r_price1);
					discount_applied_r_price2 = parseFloat(entry.base) + parseFloat(entry.r_price2);
					discount_applied_r_price3 = parseFloat(entry.base) + parseFloat(entry.r_price3);
				}
				else
				{
					discount_applied_p_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price1)/100));
					discount_applied_p_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price2)/100));
					discount_applied_p_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.p_price3)/100));
					discount_applied_c_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price1)/100));
					discount_applied_c_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price2)/100));
					discount_applied_c_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.c_price3)/100));
					discount_applied_r_price1 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price1)/100));
					discount_applied_r_price2 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price2)/100));
					discount_applied_r_price3 = parseFloat(entry.base) + (parseFloat(entry.base) * (parseFloat(entry.r_price3)/100));
				}
				
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price1+"'><span class='pricing-span pull-right'>"+discount_applied_p_price1.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price2+"'><span class='pricing-span pull-right'>"+discount_applied_p_price2.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.p_price3+"'><span class='pricing-span pull-right'>"+discount_applied_p_price3.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price1+"'><span class='pricing-span pull-right'>"+discount_applied_c_price1.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price2+"'><span class='pricing-span pull-right'>"+discount_applied_c_price2.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.c_price3+"'><span class='pricing-span pull-right'>"+discount_applied_c_price3.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price1+"'><span class='pricing-span pull-right'>"+discount_applied_r_price1.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price2+"'><span class='pricing-span pull-right'>"+discount_applied_r_price2.toFixed(2)+"</span>");
				content_row.push("<input type='text' class='tbl-field price-field' size='8' disabled value='"+entry.r_price3+"'><span class='pricing-span pull-right'>"+discount_applied_r_price3.toFixed(2)+"</span>");
				content_row.push("<a class='editLink' data-id='"+entry.kind_id+"'>EDIT</a><a class='saveLink hidden' data-id='"+entry.kind_id+"'>SAVE</a>");
				content_row.push("<a class='delLink' data-id='"+entry.kind_id+"' data-name='"+data.product_kinds[entry.kind_id]['name']+"'>DELETE</a>");
				content_row.push(data.product_kinds[entry.kind_id]['measurement']);
				content_row.push(data.product_kinds[entry.kind_id]['color']);
				content_row.push(entry.kind_id);
				content_row.push(data.products[data.product_kinds[entry.kind_id]['product_id']]);
				content_row.push(data.product_kinds[entry.kind_id]['kind_name']);
				content_array.push(content_row);
			}
			
		});
		
		

		if (!$.fn.dataTable.isDataTable('#pricingTable'))
		{
			$('#pricingTable').DataTable({
				"bFilter": true,
				"bSortable": true,
				"paging": true,
				"aoColumnDefs": [{ 'bSortable': false, 'aTargets': [7,8] },{"targets": [ 19,20,21,22,23 ], "visible": false},{ "width": "250px", "targets": 0 }],
				"data": content_array,
				"scrollX": true 
			});
		}
		else
		{
			var oTable = $('#pricingTable').DataTable();
            oTable.clear();
            oTable.rows.add(content_array);
            oTable.draw();
		}
		
		var table = $('#pricingTable').DataTable();
		table.$(".toggle-switch").onoff();
		table.$(".toggle-switch").onoff('disable');

		$("#inputSearch").keyup( function () {
			table.search($(this).val()).draw(); 
		});
		
		var otable = $('#pricingTable').DataTable();
		console.log('clicked');
		var table_body = $('#tableToExcel tbody');
		table_body.html("");
		otable.rows().every(function(){
			
			var cells_data = this.data();
			
			
			var tr_row = $("<tr></tr>");
			tr_row.append($("<td></td>").html(cells_data[21]));
			tr_row.append($("<td></td>").html(cells_data[22]));
			tr_row.append($("<td></td>").html(cells_data[23]));
			tr_row.append($("<td></td>").html(cells_data[19]));
			tr_row.append($("<td></td>").html(cells_data[20]));
			var input_field = cells_data[1];
			var td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			input_field = cells_data[2];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			input_field = cells_data[3];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			input_field = cells_data[4];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			input_field = cells_data[5];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			input_field = cells_data[6];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			//checkbox
			input_field = cells_data[7];
			td = document.createElement('td');
			td.innerHTML = input_field;
			if (td.firstChild.hasAttribute("checked")) tr_row.append($("<td></td>").html("PHP"));
			else tr_row.append($("<td></td>").html("%"));
			
			input_field = cells_data[8];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[9];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[10];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[11];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[12];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[13];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[14];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[15];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			input_field = cells_data[16];
			td = document.createElement('td');
			td.innerHTML = input_field;
			tr_row.append($("<td></td>").html(td.firstChild.value));
			tr_row.append($("<td></td>").html(td.lastChild.innerHTML));
			table_body.append(tr_row);
			
		});
		
		$("#tableToExcel").table2excel({
			// exclude CSS class
			exclude: ".noExl",
			name: "Worksheet Name",
			filename: "Pricing" //do not include extension
		});

	});
	
	
	
	
	
	
	
	
	
	
});

$(document).on('click', '#btnBatchUpload', function(){
    $('#modalUpload').modal('show');
}); 

$(document).on("click", "#btnUpload", function(){
    $("#browseFile").trigger('click');
});

$(document).on("change", "#browseFile", function(){
    var upload_file = $("#browseFile").val();
	console.log(upload_file);
    $("#label1").html(upload_file);
	$('.file-close-div span').html(upload_file);
	
});

$(document).on('click', '#modalUploadPricing .btn-sup', function(){
	var upload_file = $("#browseFile").val();
	var submit_button = $(this);
	var cancel_button = $('#modalUploadPricing .btn-cancel');
	//var file_data = $('#modalUpload #browseFile').prop("files")[0];
	$('#browseFile').simpleUpload(BASE_URL+'pricing/uploadBatchFile', {
		maxFileSize: 2097152,
		start: function(file) {
            //upload started
            console.log("upload started");
            submit_button.html("Uploading");
			submit_button.attr('disabled','disabled');
			cancel_button.attr('disabled','disabled');
        },
		progress: function(progress) {
            //received progress
            $('.uploading-file').removeClass('hidden');
			console.log("upload progress: " + Math.round(progress) + "%");
			submit_button.html("Uploading " + Math.round(progress) + "%");
        },
		success: function(data) {
            //upload successful
			$('.uploading-file').addClass('hidden');
			$('.uploaded-file').removeClass('hidden');
			submit_button.html("Processing");
			
			if (data != "") alert(data);
			window.location.href = window.location.href;
			
            console.log("upload successful!");
            
        },
		error: function(error) {
            //upload failed
            console.log("upload error: " + error.name + ": " + error.message);
        }
	});
});

</script>
<style type="text/css">
    .toggle-php .onoffswitch-label .onoffswitch-inner:before{
        content: "PHP" !important;
    }

    .toggle-php .onoffswitch-label .onoffswitch-inner:after{
        content: "%" !important;
    }
</style>