<!-- modal for uplaod files -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalUploadPricing">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body form-div">
            	<h5>Upload Pricing</h5>

            	<div class="col-sm-12" style="padding:0;margin-bottom:10px;">
		            <div class="upload-file-div mb-10">
		                <!-- remove class when uploaded file is remove or the uploading file is cancelled -->
		                <div class="browse-file">
		                    <div class="dropzone-div">
		                        <label id="label1"></label>
		                    </div>

		                    <div class="choose-file-div">
		                        <a class="browse-file" id="btnUpload">Browse</a>
		                    </div>
		                    <input type="file" class="form-control standard hidden" id="browseFile">
		                </div>
		                <!-- remove hidden class when file uploading -->
		                <div class="uploading-file hidden">
		                    <div class="upload-icon-div">
		                        <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
		                    </div>    
		                    <div class="file-close-div" style="padding-top:5px;">
		                        <span class="uploading-status">Uploading</span>
		                        <div class="progress">
		                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
		                            </div>
		                        </div>
		                        <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a>
		                    </div>
		                </div>
		                <!-- remove hidden class when file is already uploaded -->
		                <div class="uploaded-file hidden"> 
		                    <div class="upload-icon-div">
		                        <i class="fa fa-file fa-1x"></i>
		                    </div>    
		                    <div class="file-close-div">
		                        <span>business-permit.jpg</span>
		                        <a class="btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
		                    </div>
		                </div>
		            </div>
            	</div>

            	<div class="col-sm-12" style="padding:0;">
            		<button class="btn btn-success btn-sup">Submit</button>
            		<button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
            	</div>
            </div>
        	
        </div>
    </div>
</div>

<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeletePrice">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body error-msg-div">
                <h5>
                    Are you sure you want to delete pricing for
                    <<span class="product-name">Boral Gypsum Board</span>>?
                </h5>
                <button id="confirmDeletePrice" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;">Yes, I'm sure</button>
                <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
            </div>
            
        </div>
    </div>
</div>