<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-green <?php if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?>" value="New Truck" id="btnNewTruck">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="trucksTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:35%;">Truck Type</th>
                        <th style="width:20%;">Minimum Points</th>
                        <th style="width:20%;">Maximum Points</th>
                        <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('trucks/modal_trucks'); ?>

<script>

var truck_max = 0;
var truck_min = 0;

//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 5});
//number alterations end      
    
$.post(BASE_URL+'trucks/getTruckList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
	var counter = 0;
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.id+'">'+entry.truck_type+'</span>');
        content_row.push('<span class="min_points">'+entry.min_points+'</span>');
        content_row.push('<span class="max_points">'+entry.max_points+'</span>');
        if (counter == data.length-1) 
		{
			if (counter != 0) content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
			else content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink editFirst">Edit</a></div>');
		}
		else content_row.push('');
        content_array.push(content_row);
		
		if (entry.max_points > truck_max) truck_max = entry.max_points;
		if (counter == 0) truck_min = entry.min_points;
		counter++;
    });
            
    $('#trucksTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3] }],
        "order": false,
        "data": content_array
    });
    
    var table = $('#trucksTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });
    
<?php if ($this->session->LPMADMINACCESS['pricing'] < 2){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?>      

});

$(document).on('click', '#btnNewTruck', function(){
    $('#modalNewTruck').modal('show'); //modal show when page loaded
	
	var next_min = 0;
	if (truck_max == 0) next_min = parseFloat(2.50000);
	else next_min = parseFloat(truck_max) + 0.00001;
//	console.log(next_min);
	
	$('#modalNewTruck [name="min_points"]').val(next_min);
});

$(document).on('click', '.editLink', function(){
    $('#modalEditTruck').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var truck_type = $(this).closest('tr').find(".row_id").text();
    var min_points = $(this).closest('tr').find(".min_points").text();
    var max_points = $(this).closest('tr').find(".max_points").text();
    
    $('#modalEditTruck [name="id"]').val(row_id);
    $('#modalEditTruck [name="truck_type"]').val(truck_type);
    $('#modalEditTruck [name="min_points"]').val(min_points);
    $('#modalEditTruck [name="max_points"]').val(max_points);
    
    if ($(this).hasClass('editFirst')){
        $('#modalEditTruck [name="min_points"]').prop("readonly", false);
    }

});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteTruck').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var truck_type = $(this).closest('tr').find(".row_id").text();
    
    $('#modalDeleteTruck [name="id"]').val(row_id);
    $('#modalDeleteTruck .truck_type').text(truck_type);    
});

//get response on form submit
$('form').submit(function(e){
    e.preventDefault();    
    //initialize errors var
    var errors = '';    
    
    var this_form = $(this);   
    var min_points = parseFloat(this_form.find('[name="min_points"]').val());
    var max_points = parseFloat(this_form.find('[name="max_points"]').val());
    
    //validation list 
    if (max_points <= min_points){
        errors += 'Maximum Points cannot be less than or equal to the Minimum Points.\n';
    }     
    
    if (errors.length){
        alert(errors);
        return false;
    } else {    
        var form_data = this_form.serialize();
        $.post($(this).attr('action'), form_data, function(response) {
            if (response !== 'success'){
                alert(response);
            } else {
                window.location.href = '<?=BASE_URI;?>trucks';
            }
        });   
        return false; 
    }
});

</script>