<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteTruck">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">

            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>trucks/deleteTruck"> 
                    <input type="hidden" name="id" value="">
                    <h5>
                        Are you sure you want to delete truck
                        <<span class="truck_type"></span>>?
                    </h5>
                    <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;" value="Yes, I'm sure">
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- modal for add truck -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNewTruck">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <h5>Add New Truck</h5>
                <form role="form" method="post" action="<?= BASE_URI;?>trucks/saveNewTruck">                      
                    <div class="col-sm-12" style="padding:0;">
                        <label>Truck Type</label>
                        <input type="text" class="form-control modal-field req-fld" name="truck_type" value="">
                    </div>
                    <div class="col-sm-12" style="padding:0;">
                        <label>Minimum Points</label>
                        <input type="text" class="form-control modal-field req-fld input_decimal" name="min_points" value="" readonly>
                    </div>
                    <div class="col-sm-12" style="padding:0;">
                        <label>Maximum Points</label>
                        <input type="text" class="form-control modal-field req-fld input_decimal" name="max_points" value="">
                    </div>                    
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <input type="submit" class="btn btn-success btn-sup" value="Save">
                        <button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>    
            </div>

        </div>
    </div>
</div>

<!-- modal for edit truck -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEditTruck">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <h5>Edit Truck</h5>
                <form role="form" method="post" action="<?= BASE_URI;?>trucks/editTruck">   
                    <input type="hidden" name="id" value="">
                    <div class="col-sm-12" style="padding:0;">
                        <label>Truck Type</label>
                        <input type="text" class="form-control modal-field req-fld" name="truck_type" value="">
                    </div>
                    <div class="col-sm-12" style="padding:0;">
                        <label>Minimum Points</label>
                        <input type="text" class="form-control modal-field req-fld input_decimal" name="min_points" value="" readonly>
                    </div>
                    <div class="col-sm-12" style="padding:0;">
                        <label>Maximum Points</label>
                        <input type="text" class="form-control modal-field req-fld input_decimal" name="max_points" value="">
                    </div>                    
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <input type="submit" class="btn btn-success btn-sup" value="Save">
                        <button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>   
            </div>

        </div>
    </div>
</div>