/*autocomplete css*/
.autocomplete-suggestions {
    /*border box*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*border and padding*/
    border: 1px solid #A3A3A3;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    cursor: default;
    overflow: hidden;
    padding: 0;
    height: auto;

    /*box shadow*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

/*autocomplete product list*/
.autocomplete-suggestion {
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #EBEBEB;
}
    /*product list table*/
    .ac-search-tbl{
        width: 100%;
        color: #4D4D4D;
    }
        .ac-search-tbl tbody > tr > td{
            vertical-align: middle;
            border: none;
            padding: 0;
        }
            .ac-search-tbl tbody > tr > td:first-child{
                width: 10%;
            }
        .ac-search-tbl tbody > tr > td > img{
            width: 50px;
            height: auto;
        }
        .ac-prod-name{
            display: block;
            font-family: 'SF-Pro-Text-Bold';
            font-size: 10px; 
            margin-bottom: 5px;   
        }
        .ac-prod-size{
            display: block;
            font-family: 'SF-Pro-Text-Regular';
            font-size: 8px;
        }
        .btn-ac-smr,
        .btn-ac-smr:hover,
        .btn-ac-smr:active,
        .btn-ac-smr:focus{
            font-family: 'SF-Pro-Text-Regular';
            font-size: 10px;
            height: auto;
        }

.autocomplete-no-suggestion {
  padding: 2px 5px;
}
    .autocomplete-selected {
        background: #CFE8D5;
    }
.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}
.autocomplete-group {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}


/* non plugin css */

.autocomplete-suggestion {
/*   padding: 0 .6em; */
  padding: 10px 0 !important;
  /*line-height: 23px;*/
  text-overflow: ellipsis;
  /*font-size: 1.02em;*/
  /*color: #333;*/
  /*border-bottom:1px solid #ccc !important;*/
}

.autocomplete-suggestion img {
    margin: 0px 10px;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}


#suggestions-container, #events-container {
  background: #f4f4f4;
}

#events-container {
  height: 80px;
  overflow-y: auto;
}

#selection-ajax {
  background: #f4f4f4;
  display: inline-block;
  vertical-align: bottom;
}

#autocomplete-ajax-x {
  background: lightblue;
}

.schema {
    height: 200px;
    width: 100%;
    BACKGROUND: #fff;
    overflow-y: auto;
}
