*{
	margin:0;
	padding:0
}

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url(../font/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: 'SF-Pro-Text-Bold';
    src: url(../font/SF-UI-Display-Bold.otf);
}
/*===== defined fonts =====*/

body {
	background:#fff;
	font-size:12px;
	color:#222;
	line-height:18px;
	position:relative;
	text-rendering: optimizeLegibility;
	font-family: 'SF-Pro-Text-Regular';
}
a {
/*	color:#222 !important;  */
	text-decoration:none
}
.text-center {
	text-align:center
}

.hide-form{
  display: none;
}

/* Wrapper*/
#wrapper {
	padding:0;
}
.content-wrap {
	/*margin-top:10px;*/
	width:100%
}
.content-wrap-inner {
	padding:0 20px;
	display:inline-block;
	width:100%;
}

/*datatable*/
.dataTables_length select {
	height:25px;
	line-height:18px;
	border-radius:0;
	font-size:11px;
}
.dataTables_length label {
	color:#999;
	font-weight:normal;
	font-size:11px;
}
.dataTables_length {
	padding-top:5px
}
.dataTables_info {
	font-size:11px !important;
	color:#808080 !important;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
    border:1px solid #888
}

.dataTables_wrapper > .pull-left{
	margin-bottom:20px !important
}
/*tables*/
.dataTable thead th {
	vertical-align:middle !important
}
.dataTable tbody td > input {
	text-align:right;
	padding-left:3px;
	padding-right:3px;
}

.dataTable tbody tr td{
    padding-left:18px;
}
/*Search*/
.search-sm {
	position:relative;
}
.search-sm input {
	min-width:250px;
	padding-left:30px
}
/*.search-icon {
	position:absolute;
	top:6px;left:10px;
	color:#999
}*/
/*Filter*/
.input-date {
	position:relative;
	z-index: 999
}
.input-date-left {
	display:inline-block;
	width:100%
}
.input-date-left .calendar {
	position:absolute;
	top:7px;
	left:8px;
}
.input-date-offset i {
	display:none
}
.input-date-right .calendar {
	position:absolute;
	top:7px;
	right:8px;
}
.input-date-left .calendar-d {
	position:absolute;
	top:4px;
	left:8px;
	color:#999
}
.input-date-left .calendar-lt {
	position:absolute;
	top:9px;
	left:8px;
	color:#999
}

.input-date-left input {
	padding-left:25px;
}
.input-date-right input {
	padding-right:25px;
}

/**overwrite default select **/
.style-select1 {
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: #fff url("../img/sort-desc.svg") no-repeat right;
  border: 1px solid #888;border-radius:2px;
}
.style-select1.form-control {
	font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 0;
}
.style-select1 select {
  background: transparent;
  width: 100%;
  padding: 0 10px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 30px;
  
  text-indent: 0.01px;
    text-overflow: '';
   box-shadow: none;
    line-height: 1.42857;
    outline:none none;
    transition: none 0s ease 0s ;
    
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}  
.style-select2 {
  width: 100%;
  height: 25px;
  overflow: hidden;
  background: #fff url("../img/sort-desc.svg") no-repeat right;
  border: 1px solid #888;border-radius:2px;
  /*margin-top:3px;*/
}
.style-select2 select {
  background: transparent;
  width: 100%;
  padding: 0 5px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 22px;
  font-size:11px;
  
  text-indent: 0.01px;
    text-overflow: '';
   box-shadow: none;
    line-height: 1.42857;
    outline:none none;
    transition: none 0s ease 0s ;
  text-shadow: 0 0 0 #000;
  
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}  
select option {
	color: #000 ! important
}
/*Bootstrap overwrite form fields*/
.form-control {
	height:30px;
	border:1px solid #888;
	border-radius:4px
}
/*Overwrite Jquery UI Calendar*/
.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    font-family:Tahoma, Arial, sans-serif;
    padding:5px 10px;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	min-width: 160px;
    padding: 5px 20px;
    border:1px solid red;
    margin: 2px 0 0;
    list-style: none;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
	background:none;
	border:none;
}
.ui-datepicker-calendar {
	background:none;
}
.ui-datepicker-calendar thead th {
	padding-top:10px;
}
.ui-datepicker-calendar span {
	color:#999;
}
.ui-datepicker-calendar .ui-state-default {
	background:none;
	border:none;
	font-size:9px;text-align:center;
	color:#5e5e5e;
	padding: .3em .4em;
    text-align: center;
    color: #444;
    font-size: 12px;
}
.ui-datepicker-title {
	color:#444;
	font-size: 13px;
	font-weight:600;
	padding-top:5px;
	padding-bottom:5px;
}
.ui-datepicker-prev.ui-corner-all {
	background:url(../css/back.png) no-repeat !important;
	margin-top:9px;
	margin-left:5px;
	width:6px;
	height:10px;
	display:inline-block;
  z-index: 99;
}
.ui-datepicker-next.ui-corner-all {
	background:url(../css/next.png) no-repeat !important;
	margin-top:9px;
	margin-right:5px;
	width:6px;
	height:10px;
	display:inline-block;
  z-index: 99;
}
.ui-state-default.ui-state-highlight.ui-state-active {
	color:#fff;
	font-weight:400
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 5px;
}
.ui-datepicker-next.ui-corner-all.ui-state-hover.ui-datepicker-next-hover,
.ui-datepicker-prev.ui-corner-all.ui-state-hover.ui-datepicker-prev-hover {
	border:none;
	cursor:pointer;
	
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .3;
    filter: Alpha(Opacity=30);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #444;
}
/*.ui-state-default.ui-state-highlight {
	color:#fff;
	background:#fff;
	border-radius:1px;
}*/
.ui-state-default.ui-state-highlight {
	color:#fff;
	background:#FCD403;
	border-radius:1px;
	box-shadow: none, inset none;
}

/* jqueryUI autocomplete */
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
	z-index: 9999;
	max-height:200px;
	overflow-y:auto
}
.ui-datepicker-prev.ui-corner-all {
	background:url(../img/left-arrow.png) no-repeat;
	margin-top:9px;
	margin-left:5px;
	width:6px;
	height:10px;
	display:inline-block;
}
.ui-datepicker-next.ui-corner-all {
	background:url(../img/right-arrow.png) no-repeat;
	margin-top:9px;
	margin-right:5px;
	width:6px;
	height:10px;
	display:inline-block;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  border: none;
  background-color: #24B04D;
  content: ">";
}
/*overwrite Bootstrap modal */
.modal-content {
	border-radius: 0 
}
.modal-header {
	background:#eee;
	padding-left:40px;
	padding-right:40px;
}
.modal-header .close {
	font-size:10px;
	opacity: 0.4;
	text-decoration:underline;
	margin-top:10px;
}
.modal-header .close:hover {
	opacity: 0.6;
}
.modal-body label {
	font-size:10px;
	color:#999;
}
.modal-body .form-group {
	margin-bottom:10px;
	display:inline-block;
	width:100%
}

a{
    cursor: pointer;
}
.disabled-link{
  pointer-events: none;
}

.label {
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1px;
    padding: 5px 10px 5px;
    line-height: 10px;
    font-size: 9px;
    font-weight: 400;
    width: 100%;
}

.label-active{
    border: 1px solid #78ae63;
    border-radius: 5px;
    background-color: #78ae63;
    color: #fff;
}

.label-inactive{
    border: 1px solid #000;    
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.label-trailer{
    background-color: #671D75;
    color: #fff;
}

.icon-btn{
    background-color: #fbd231;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px #888;
    font-size: 12px;
}

.icon-btn span{
    font-family: arial;
    font-size: 12px;
}

.input-group-addon{
    background-color: #fff;
    border-color: #888;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #f3f3f3));
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button:active
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, blue), color-stop(100%, blue));
}*/
/*.paginate_button.active
{
	background-color: #fcd430;
}*/

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active {
	border-radius:2px;
	height:40px;
	border:1px solid #b9a200 !important;
	background-color:#FCD403 !important;
	color:#000 !important;
	font-size:12px;
	font-weight:bold
}

.numericCol{
  text-align:right;
}

/*.btn, .paginate_button.active, .icon-btn{
    background-color: #107a37;
    color: #fff;
    cursor: pointer;
}*/

.breadcrumb{
    background-color: transparent;
}

.breadcrumb .link{
    color: #999;
}

.breadcrumb .link.active{
    color: #000;
    font-weight: bold;
}

.main-content-inner{
    padding: 20px;
    padding-top: 70px;
}

.form-control.search {
    height: 35px;
    font-size: 12px;
    font-family: 'SF-Pro-Text-Regular';
    border: 1px solid #979797;
    border-radius: 5px;
}
.search-icon {
    position: relative;
    margin-top: -25px;
    margin-right: 12px;
    color: #999;
}
.btn-green, .buttons-div input[type=submit].last-btn {
    background-color: #0D8E33;
    height: 35px;
    border: 1px solid #0D8E32;
    color: #fff;
    font-family: 'SF-Pro-Text-Bold';
    font-size: 12px;
    width: 100%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0D8E33;
    border-color: #0D8E33;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px;
}

.filter-div{
    background-color: #78ae63;
    height: 35px;
    padding: 7px 10px;
    border-radius: 5px; 
    margin-right: 15px;
}
.filter-div span{
    margin-right: 5px;
}
.filter-div input[type=text]{
    border-radius: 5px;
    padding: 0px 2px;
}
.btn-filter{
    position: absolute;
    height: 23px;
    padding: 0px 10px;
    font-size: 8px;
    color: #fff;
    background-color: #0f7936;
    border-color: #0f7936;
    border-radius: 2px;
}
.buttons-div input[type=submit]{
    width:100%;
    height: 35px;
    color: #27a457;
    background-color: #fff;
    border-color: #27a457;
    border-radius: 5px;
}

.editLink, .delLink{
    padding: 0px 5px;
}
.editLink{
    color: green;
}
.delLink{
    color: #000;
}

.table-image img{
    width: 15%;
    height: auto;    
}

.table-image-lg img{
    width: 30%;
    height: auto;    
}

.sidebar-list>li>a {
    display: block;
    height: 25px;
    line-height: 17px;
    padding: 0px 15px 0px 5px;
    text-shadow: none!important;
    font-size: 12px;
    font-family: 'SF-Pro-Text-Regular';
    text-decoration: none;
}

/*label classes for status*/
/*labels*/
.label-violet{
  width: 100%;
  border: 1px solid #C58CF6;
  padding: 2px 5px;
  color: #C58CF6;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-red{
  width: 90%;
  border: 1px solid #FF7F7F;
  padding: 2px 5px;
  color: #FF7F7F;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-aqua{
  width: 100% !important;
  border: 1px solid #26ACFF;
  padding: 2px 5px;
  color: #26ACFF;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-blue{
  width: 100% !important;
  border: 1px solid #1C5DB4;
  padding: 2px 5px;
  color: #1C5DB4;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-purple{
  width: 100% !important;
  border: 1px solid #F0A8E3;
  padding: 2px 5px;
  color: #F0A8E3;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-olive{
  width: 100% !important;
  border: 1px solid #8DA871;
  padding: 2px 5px;
  color: #8DA871;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-green{
  width: 100% !important;
  border: 1px solid #6ED78C;
  padding: 2px 5px;
  color: #6ED78C;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-orange{
  width: 100% !important;
  border: 1px solid #FFA178;
  padding: 2px 5px;
  color: #FFA178;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-gray{
  width: 100% !important;
  border: 1px solid #AFAFAF;
  padding: 2px 5px;
  color: #AFAFAF;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-yelorange{
  width: 100% !important;
  border: 1px solid #E2C43C;
  padding: 2px 5px;
  color: #E2C43C;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-brown{
  width: 100% !important;
  border: 1px solid #C6A587;
  padding: 2px 5px;
  color: #C6A587;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.label-black{
  width: 100% !important;
  border: 1px solid #181818;
  padding: 2px 5px;
  color: #181818;
  font-size: 8px;
  font-family: 'SF-Pro-Text-Bold';
  text-align: center;
  margin: 0;
  border-radius: 2px;
  text-transform: uppercase;
}

/*button for order numbers going to forms*/
.btn-on{
    color: #0D8E33;
    font-size: 12px;
    font-family: 'SF-Pro-Text-Bold';
    text-decoration: none !important;
}
.btn-on:hover{
    color: #24B04D;
}
.btn-on:focus,
.btn-on:active{
    color: #007B24;
}

.group-span-filestyle{
    background-color: #198c38;
}

.group-span-filestyle .buttonText{
    color: #fff;
}

.pricing-span{
  color: #A8A8A8;
  font-family: 'SF-Pro-Text-Bold';
  font-size: 10px;
  display: block;
}

.form-control.failed{
	border: 1px solid #F66A6A;
	color: #F66A6A;
}

.olta-div-blue{
width: 100%;
border: 1px solid #a8cefa;
border-radius: 5px;
background-color: #f2f3fe;
padding: 20px;
margin-bottom: 20px;
}
.olta-div-blue h5{
font-family: 'SF-Pro-Text-Bold';
color: #2794f4;
font-size: 10px;
margin: 0 0 10px;
}

.olta-prod-name,
.olta-days-ctr{
font-family: 'SF-Pro-Text-Bold';
}

.olta-cfp{
text-decoration: underline;
}