/*modal css*/
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none; 
    border-radius: 10px;
		outline: none; 
		-webkit-box-shadow: none; 
		box-shadow: 0 3px 9px rgba(0,0,0,.5); 

}

.modal-body label{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	color: #A8A8A8;
	display: block;
}
.form-control.modal-field{
	font-family: 'SF-Pro-Text-Regular';
	font-size: 12px;
	color: #4D4D4D;
	height: 40px;
	border: 1px solid #CBCBCB;
}

/*error message content*/
.error-msg-div{
	text-align: center;
	padding: 50px 50px;
}
	.error-msg-div h5{
		margin: 0;
		margin-bottom: 40px;
		font-size: 20px;
		font-family: 'SF-Pro-Text-Bold';
		color: #4D4D4D;
	}
	.btn-okay{
		font-size: 12px;
		font-family: 'SF-Pro-Text-Bold';
		color: #FFF;
		width: 150px;
		height: 40px;
		background-color: #F55050;
		border: none;
	}
	.btn-okay:hover{
		background-color: #FF6464;
		border: none;
	}

/*upload files*/
.form-div{
	padding: 30px 40px 40px;
	overflow: hidden;
}
	.form-div h5{
		margin: 0;
		margin-bottom: 30px;
		font-size: 16px;
		font-family: 'SF-Pro-Text-Bold';
		color: #0D8E33;
	}

	.upload-file-div{
		width: 100%;
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		height: 40px;
		overflow: hidden;
		display: inline-block;
	}
		.uploaded-file{
			width: 100%;
			height: 100%;
		}
		.uploading-file{
			width: 100%;
			height: 100%;
		}
		.upload-icon-div{
			float: left;
			width: 20%;
			height: 100%;
			background-color: #EEEEEE;
			border-right: 1px solid #CCCCCC;
			text-align: center;
			padding-top: 13px;
			color: #979797;
		}
		.uploading{
			color: #979797 !important;
		}

		.dropzone-div{
			float: left;
			width: 80%;
			padding: 6.5px 10px;
			overflow: hidden;
			height: 100%;
		}

		.choose-file-div{
			float: right;
			width: 20%;
			height: 100%;
			text-align: right;
			padding-top: 10px;
			padding-right: 10px;
		}
		.browse-file{
			font-size: 10px;
			color: #0D8E32;
			text-decoration: none !important;
		}
		.browse-file:hover{
			color: #24B04D !important;
		}
		.browse-file:focus,
		.browse-file:active{
			color: #007B24;
		}

		.file-close-div{
			width: 80%;
			float: right;
			height: 100%;
			padding: 13px 10px;
			color: #007B32;
		}
		.uploading-status{
			font-size: 8px;
			color: #C7C7C7;
		}
		.progress{
			height: 10px;
			margin: 5px 0 0 0;
			width: 80%;
			overflow: hidden;
			background-color: #f5f5f5;
			border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
				box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
		}
		.progress-bar-success{
			background-color: #007B32;
		}

		.btn-remove-file{
			color: #0D8E33;
			margin-top: -7px;
		}
		.btn-remove-file:hover{
			color: #24B04D;
		}
		.btn-remove-file:focus,
		.btn-remove-file:active{
			color: #007B24;
		}

		.btn-sup{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 12px;
			color: #fff;
			width: 100%;
			height: 40px;
			background-color: #0D8E33;
			border: none;
			margin-bottom: 10px;
		}
		.btn-cancel{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 12px;
			color: #fff;
			width: 100%;
			height: 40px;
			background-color: #A8A8A8;
			border: none;
		}
		.btn-cancel:hover{
			color: #fff;
			background-color: #6C6C6C;
		}
		.btn-cancel:focus,
		.btn-cancel:active{
			color: #fff !important;
			background-color: #4D4D4D !important;
		}


	.er-header-tbl{
		width: 100%;
	}
		.er-header-tbl tbody > tr > td{
			vertical-align: middle;
			padding: 0;
		}
		.er-header-tbl tbody > tr > td > h5{
			color: #4D4D4D;
			font-size: 20px;
			font-family: 'SF-Pro-Text-Bold';
			margin: 0;
		}
		.er-header-tbl tbody > tr > td > a{
			color: #A8A8A8;
			font-size: 10px;
			font-family: 'SF-Pro-Text-Bold';
		}

	.role-access-tbl{
		width: 100%;
	}
		.role-access-tbl thead > tr > th{
			vertical-align: middle;
			padding: 5px 0 20px 0;
			border-top: 1px solid #4D4D4D;
			font-size: 12px;
			font-family: 'SF-Pro-Text-Bold';
			color: #4D4D4D;
		}
		.role-access-tbl tbody > tr > td{
			padding: 10px 0;
		}
		
	.form-control .modal-field{
		height: 40px;
		font-size: 10px;
		font-family: 'SF-Pro-Text-Regular';
		color: #4D4D4D;
		border: 1px solid #979797;
	}