/*printing of forms*/
@media print{
	/*
	Designed and Developed by: Rebar.PH
	Author: Rebar.PH
*/

/*css reset*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body, div, applet, object, s
iframe, blockquote, pre, a, abbr, 
acronym, address, big, cite, code,
del, dfn, img, ins, kbd, 
q, s, samp,small, strike, 
sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, 
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*===== html5 -role reset for older browsers =====*/

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url(../font/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: 'SF-Pro-Text-Bold';
    src: url(../font/SF-UI-Display-Bold.otf);
}
/*===== defined fonts =====*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #fff;
	line-height: 1;

	width: 100%;
	height: auto;
	
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	font-family: 'SF-Pro-Text-Regular';
	font-size: 10px;
	color: #222222;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #0D8E33;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #24B04D;
}

/*hide elements that are not included in the printing part*/
.hide-print{
	display: none;
}

.form-content{
	padding: 40px 20px;
	font-family: 'Arial';
	font-weight: 10px;
	width: auto;
}
.hidden{
	display: none;
}

.iprint-bys-tbl{
	width: 100%;
	margin-top: 40px;
}
	.iprint-bys-tbl thead > tr > th{
		vertical-align: middle;
		border: 1px solid #000;
		padding: 5px 5px;
	}
	.iprint-bys-tbl tbody > tr > td{
		vertical-align: middle;
		border: 1px solid #000;
		padding: 20px;
	}

.signature-div{
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 40px 0 20px;
}
	.conforme{
		display: block;
		font-size: 14px;
	}
	.signature{
		width: 350px;
		border-top: 2px solid #D9D9D9;
		text-align: center;
		margin-top: 50px;
		font-weight: bold;
		padding-top: 5px;
		margin-bottom: 30px;
	}

.remarks-div{
	width: 100%;
	margin-top: 20px;
}
	.remarks-lbl{
		color: #A8A8A8;
		font-weight: bold;
		font-size: 12px;
		margin: 0 !important;
	}
	.remarks-data{
		margin-left: 20px;
	}
	.lpm-remarks{
		font-size: 14px;
		font-weight: 40px;
		font-family: 'Arial';
		margin-top: 50px;
	}
	.lpm-data{
		display: block;
		margin-top: 10px;
		font-family: 'Arial';
		text-decoration: italic;
	}

	.faq-data{
		text-decoration: italic !important;
		font-size: 12px;
	}

.iprint-pd-tbl{
	width: 100%;
}
	.iprint-pd-tbl thead > tr > th{
		border: 1px solid #D9D9D9;
		vertical-align: middle;
		text-align: center;
		background-color: #C6E0B4;
		color: #FFF;
		font-family: 'Arial Black';
		font-weight: 40px;
		font-size: 12px;
		padding: 5px 0;
	}

	.iprint-pd-tbl tbody > tr > td{
		border: 1px solid #D9D9D9;
		vertical-align: middle;
		padding: 5px;
		width: 25%;
	}

.iprint-pdpo-tbl{
	width: 100%;
}
	.iprint-pdpo-tbl thead > tr > th{
		border: 1px solid #D9D9D9;
		vertical-align: middle;
		text-align: center;
		background-color: #C6E0B4;
		color: #FFF;
		font-family: 'Arial Black';
		font-weight: 40px;
		font-size: 12px;
		padding: 5px 0;
	}
	.iprint-pdpo-tbl tbody > tr > td{
		border: 1px solid #D9D9D9;
		text-align: left;
		padding: 5px;
	}
	.iprint-pdpo-tbl tbody > tr > th{
		border: 1px solid #D9D9D9;
		padding: 5px;
		text-align: left;
	}
	.iprint-pdpo-tbl tbody > tr > th{
		width: 5%;
	}
	.iprint-pdpo-tbl tbody > tr > td:first-child{
		width: 45%;
	}
	.iprint-pdpo-tbl tbody > tr > td:first-child{
		width: 5%;
	}

	.pd-data{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 12px;
	}

.iprint-tcr-tbl{
	width: 100%;
}
	.iprint-tcr-tbl thead > tr > th{
		border: 1px solid #D9D9D9;
		vertical-align: middle;
		text-align: center;
		background-color: #C6E0B4;
		color: #FFF;
		font-family: 'Arial Black';
		font-weight: 40px;
		font-size: 12px;
		padding: 5px 0;
	}

	.iprint-tcr-tbl tbody > tr > td{
		vertical-align: middle;
		border: none;
		padding: 5px;

	}

.iprint-item-tbl{
	width: 100%;
	margin-top: 10px;
}
	.iprint-item-tbl thead > tr > th{
		border: 1px solid #D9D9D9;
		vertical-align: middle;
	}
	.iprint-item-tbl thead > tr:first-child
		th{
		text-align: center;
		background-color: #C6E0B4;
		color: #FFF;
		font-family: 'Arial Black';
		font-weight: 40px;
		font-size: 12px;
		padding: 10px;		
	}
	.iprint-item-tbl thead > tr:last-child
		th{
			text-align: left;
			font-weight: bold;
			font-size: 10px;
			padding: 2px 5px;
			color: gray;
			font-weight: 40px;	
	}
	.iprint-item-tbl thead > tr:last-child
		th:first-child{
			width: 5%;		
	}
	.iprint-item-tbl thead > tr:last-child
		th:nth-child(2){
			width: 40%;		
	}
	.iprint-item-tbl thead > tr:last-child
		th:nth-child(3){
			width: 10%;	
			text-align: right;	
	}
	.iprint-item-tbl thead > tr:last-child
		th:nth-child(4){
			width: 10%;
			text-align: right;
	}
	.iprint-item-tbl thead > tr:last-child
		th:nth-child(5){
			width: 7%;
			text-align: right;		
	}
	.iprint-item-tbl thead > tr:last-child
		th:nth-child(6){
			width: 10%;
			text-align: right;	
	}

	.iprint-item-tbl tbody > tr{
		border: 1px solid #D9D9D9;
	}
	.iprint-item-tbl tbody > tr > td{
		padding: 5px;
		font-size: 10px;
	}
	.iprint-item-tbl tbody > tr > td:first-child{
			width: 5%;		
	}
	.iprint-item-tbl tbody > tr > td:nth-child(3){
			width: 10%;
			text-align: right;
	}
	.iprint-item-tbl tbody > tr > td:nth-child(4){
			width: 7%;
			text-align: right;		
	}
	.iprint-item-tbl tbody > tr > td:nth-child(5){
			width: 10%;
			text-align: right;	
	}
	.iprint-item-tbl tbody > tr > td:nth-child(6){
			width: 10%;
			text-align: right;	
	}

	.iprint-item-tbl tfoot > tr{
		border: 1px solid #D9D9D9;
		background-color: #F2F2F2; 
	}
	.iprint-item-tbl tfoot > tr > td{
		padding: 15px 5px;
		vertical-align: middle;
		font-weight: bold;
		font-size: 12px;
		color: #A8A8A8;
		text-align: right;
	}

	.iprint-item-tbl tfoot > tr:nth-child(2) > td,
	.iprint-item-tbl tfoot > tr:nth-child(3) > td,
	.iprint-item-tbl tfoot > tr:nth-child(4) > td{
		padding: 2px 5px;
	}

	.print-prod-name{
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 10px;
		margin: 0;
	}
	.print-prod-measure{
		font-size: 10px;
		margin: 0;
	}
	.print-subamt{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
	}

	.print-total-td{
		background-color: #198D42;
		color: #FFF !important;
	}

/*header tbl*/
.iprint-header-tbl{
	width: 100%;
}
	.iprint-header-tbl tbody{
		border-bottom: 2px solid #D9D9D9 
	}
	.iprint-header-tbl tbody > tr > td{
		vertical-align: middle;
		padding: 0;
		font-size: 10px;
	}
	.iprint-header-tbl tbody > tr > td:nth-child(2){
		text-align: right;
	}
	.iprint-header-tbl tbody > tr > td > span{
		display: block;
		margin: 5px 0 0;
	}
	.print-lpm-name{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 14px;
		margin: 0 0 10px !important;
	}
	.print-lpm-logo{
		height: 80px;
		width: auto;
	}

/*form header tbl*/
.iprint-fheader-tbl{
	width: 100%;
	margin-top: 10px;
}
	.iprint-fheader-tbl tbody > tr > td{
		vertical-align: middle;
		padding: 0;
		font-size: 10px;
	}
	.iprint-fheader-tbl tbody > tr > td:first-child{
		width: 75%;
	}
	.iprint-fheader-tbl tbody > tr > td:last-child{
		text-align: right;
	}
	.print-form-title{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 16px;
		margin: 0;
	}
	.print-order-no{
		color: #0D8E33;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 16px;
		margin: 0;
	}
	.print-date-lbl{
		color: #000;
		font-size: 16px;
		display: block;
		margin: 0;
	}
	.print-date{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 16px;
		display: block;
		margin: 0;
	}

/*account tbl*/
.iprint-acnt-tbl{
	width: 100%;
	margin-top: 20px;
}
	.iprint-acnt-tbl tbody > tr > td{
		vertical-align: middle;
		padding: 7px 0 7px 5px;
		font-size: 10px;
		border: 1px solid #D9D9D9;
	}
	.iprint-acnt-tbl tbody > tr:last-child
		td:first-child{
			width: 35%;
	}
	.iprint-acnt-tbl tbody > tr > td:last-child{
		width: 30%;
	}
	.print-accnt-name{
		color: #000;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 14px;
		display: block;
		margin: 0;
	}
	.print-tbl-label{
		color: #A8A8A8;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 12px;
		display: block;
		margin-bottom: 5px;
	}
	.print-dtype{
		color: #0D8E33;
		font-weight: 40px;
		font-family: 'Arial';
		font-size: 16px;
		margin: 0;
	}

	.iprint-cp-tbl{
		width: 100%;
		margin-top: 10px;
	}
	.iprint-cp-tbl tbody > tr > td{
		vertical-align: middle;
		padding: 2px 0;
		font-size: 10px;
		border: none;
	}
	.iprint-cp-tbl tbody > tr > td:first-child{
		width: 5% !important;
	}

	.theadColor{
	    background-color: #1a4567 !important;
	    -webkit-print-color-adjust: exact; 
	}
}