.sidebar {margin:0;height:100%;top:0px;padding:0;width: 175px;float: left;position: fixed;padding-left: 0;padding-right: 0;z-index: 10;background:#f6f6f6; overflow-y: auto; overflow-x: hidden;}
.sidebar::-webkit-scrollbar {width: 5px;}
.sidebar::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(138,7,7,0.3); border-radius: 10px;}
.sidebar::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(138,7,7,0.5); }
.sidebar:before {content: "";display: block;width: inherit;position: absolute;top: 0;bottom: 0;z-index: -1;background-color: #78ae63;border-style: inherit;border-color: inherit;border-width: inherit;}

.sidebar-list {margin: 0;padding: 0;list-style: none;}
.sidebar-list .nav-header, .sidebar-list>li, .sidebar-list>li>a {margin: 0;}

.sidebar-list li>a:focus {outline: 0;}
.sidebar-list>li {display: block;position: relative;float: none;}


.sidebar-list li:before {
z-index:0;
display: block;
content: "";
position: absolute;
right: 15px;left:15px;background:#eee;top: -1px;}



.sidebar-list>li:last-child {border-bottom-width: 1px;}
.sidebar-list>li.active > a {background: linear-gradient(to right, white 0%,white 5%,#55714b 5%,#55714b 100%);}
.sidebar-list>li>a {display: block;height: 25px;line-height: 17px;padding: 0px 15px 0px 5px;text-shadow: none!important;font-size: 12px;text-decoration: none;}

.sidebar-list>li>.subcaret {float: right;margin-top: -39px;padding: 0;}
.sidebar-list>li>a>.menu-icon {position:absolute;display: inline-block;min-width: 30px;margin:7px 0 0 5px;/* margin-right: 2px; *//* vertical-align: sub; */text-align: center;font-size: 18px;font-weight: 400;color: #303b3f; /*icon color*/}
.sidebar-list>li:hover:before {display: block;}
.sidebar-list>li a>.arrow {display: block;width: 14px!important;height: 14px;line-height: 14px;text-shadow: none;font-size: 18px;position: absolute;right: 10px;top: 12px;padding: 0;text-align: center;}
.sidebar-list>li.separator {height: 3px;background-color: transparent;position: static;margin: 1px 0;-webkit-box-shadow: none;box-shadow: none;}
.sidebar-list>li.active .submenu {display: block;}
.sidebar-list>li > a > .menu-text {position:absolute;color:#f1f1f1;line-height:25px;padding-left:20px;}
/*.sidebar-list>li.active > a > .menu-text {color:#FCD403}*/
.sidebar-list>li.active > a > .menu-text {}

.sidebar-list>li>ul {list-style:none;}
.sidebar-list>li>ul > li > a {display: block;height: 35px;line-height: 35px;padding: 0px 15px 0px 60px;text-shadow: none!important;text-decoration: none;}
.sidebar-list>li>ul > li > a:hover {background:#eee}
.sidebar-list>li .submenu {display: none;list-style: none;margin: 0;padding: 0;line-height: 1.5;position: relative;}
.sidebar-list>li .submenu>li {margin-left: 0;position: relative;}
.sidebar-list>li .submenu>li>a {display: block;position: relative;padding: 7px 0 9px 37px;margin: 0;border-top-width: 1px;border-top-style: dotted;font-size: 12px;}
.sidebar-list>li .submenu>li>a>img {margin-top: -7px !important;}
.sidebar-list>li .submenu>li>a:hover {text-decoration: none;}
.sidebar-list>li .submenu>li a>.menu-icon {display: none;font-size: 12px;font-weight: 400;width: 18px;height: auto;line-height: 12px;text-align: center;position: absolute;left: 10px;top: 11px;z-index: 1;background-color: inherit;}
.sidebar-list>li .submenu>li.active>a>.menu-icon, .sidebar-list>li .submenu>li:hover>a>.menu-icon {display: inline-block;}
.sidebar-list>li>.submenu>li:before {content: "";display: block;width: 7px;position: absolute;z-index: 1;left: 20px;top: 17px;border: 1px dotted;border-width: 1px 0 0;}
.sidebar-list>li>.submenu:before {content: "";display: block;position: absolute;z-index: 1;left: 18px;top: 0;bottom: 0;border: 1px dotted;border-width: 0 0 0 1px;}

.sidebar-list li.active>a>.arrow, .sidebar-list li.open>a>.arrow, .sidebar-list li:hover>a>.arrow {color: inherit;}
.sidebar-list>li>a>.menu-icon, no_such_element:-o-prefocus {vertical-align: middle;}
.sidebar-list>li>.submenu li>.submenu {display: none;}
.sidebar-list>li>.submenu li.active>.submenu {display: block;}
.sidebar-list>li>.submenu a>.arrow {right: 10px;top: 10px;font-size: 16px;}
.sidebar-list>li>.submenu>li:first-child>a {border-top-width: 0;}

.sidebar-list>li>.submenu li>.submenu>li {line-height: 18px;}
.sidebar-list>li>.submenu li>.submenu>li:before {display: none;}
.sidebar-list>li>.submenu li>.submenu>li>a {margin-left: 20px;padding-left: 22px;}
.sidebar-list>li>.submenu li>.submenu>li>.submenu>li>a {margin-left: 20px;padding-left: 38px;}
.sidebar-list>li>.submenu li>.submenu>li a>.menu-icon {display: inline-block;width: auto;position: static;background-color: transparent;margin-right: 4px;color: inherit;}
.sidebar-list>li>.submenu li>.submenu>li a .arrow, .sidebar-list>li>.submenu li>.submenu>li a .menu-icon {color: inherit;}
.sidebar-list>li>.submenu li.open:not(.hover)>a>.menu-icon {display: inline-block;}

.sidebar-list a .badge, .sidebar-list a .label {position: absolute;top: 9px;right: 10px;opacity: .88;font-size: 12px;padding-left: 6px;padding-right: 6px;}
.sidebar-list a .badge .ace-icon, .sidebar-list a .label .ace-icon {vertical-align: middle;margin: 0;}
.sidebar-list a.dropdown-toggle .badge, .sidebar-list a.dropdown-toggle .label {right: 26px;}
.sidebar-list li:hover>a .badge, .sidebar-list li:hover>a .label {opacity: 1;}
.sidebar-list .submenu .submenu a .badge, .sidebar-list .submenu .submenu a .label {top: 6px;}

.sidebar .sidebar-toggle {text-align: center;border-bottom:1px solid #e5e5e5;padding: 3px 0;position: relative;}
.sidebar .sidebar-toggle>.ace-icon {line-height: 18px;cursor: pointer;font-size: 14px;position: relative;}
.sidebar .sidebar-toggle:before {content: "";display: block;height: 0;position: absolute;left: 15px;right: 15px;top: 13px;}

.sidebar .sidebar-shortcuts {text-align: center;min-height: 40px;margin-bottom: 0;overflow: hidden;position: relative;border: 0 solid;}
.sidebar .sidebar-shortcuts-large {line-height: 100px;}
.sidebar .sidebar-shortcuts-large>img {text-align: center;/* height: 100px; */width:70%;line-height: 50px;padding: 0;border-radius:2px}
.sidebar .sidebar-shortcuts-large>.btn>.ace-icon {margin: 0;}
.sidebar .sidebar-shortcuts-mini {display: none;font-size: 0;width: 42px;padding-top: 2px;padding-bottom: 2px;}
.sidebar .sidebar-shortcuts-mini>.btn {border-width: 0!important;font-size: 20px;line-height: 0;padding: 8px!important;margin: 1px;border-radius: 0!important;opacity: .85;filter: alpha(opacity=85);}

.sidebar-list li > a:hover:before,
.sidebar-list li.active > a:before { 

z-index:0;
display: block;
content: "";
position: absolute;
left:-10px;
background:#fff;
top: -1px;
/*border: 5px solid #FCD403;*/
border: 5px solid #439df5;
font-weight:bold;
border-width: 18px 5px 17px;
}

.sidebar-list li.open > a:after {display: none;}
.sidebar-list li.active.no-active-child>a:after {display: block;}
.sidebar-list>li li.active>a:after {top: 2px;border-width: 14px 8px;}
.sidebar-list li.active:not(.open) li.active>a:after {display: none!important;}

.sidebar-list li.hover>.submenu {position: absolute;left: 100%;margin-left: -2px;top: -10px;bottom: auto;z-index: 1026;width: 190px;border: 1px solid;display: none!important;}
.sidebar-list li.hover:hover>.submenu {display: block!important;}
.sidebar-list li.hover>.submenu:before, .sidebar-list li.hover>.submenu>li:before {display: none;}
.sidebar-list li.hover.active>a:after {display: block;}
.sidebar-list li.hover.active:hover>a.dropdown-toggle:after {display: none;}
.sidebar-list li.hover .submenu>li.active>a:after {display: none!important;}
.sidebar-list li.hover>.submenu.bottom {top: auto;bottom: -10px;}
.sidebar-list li.hover>.submenu.bottom:after, .sidebar-list li.hover>.submenu.bottom:before {top: auto;bottom: 18px;}
.sidebar-list li.hover>.submenu {padding: 0 2px;}
.sidebar-list li.hover>.submenu>li>a {margin-top: 2px;margin-bottom: 2px;padding-left: 18px;border-top-width: 0;}
.sidebar-list>li.hover>.submenu>li.active>a {font-weight: 700;}

.sidebar-list>li>.submenu li.hover>.submenu>li>a {padding-left: 12px!important;margin-left: auto!important;}
.sidebar-list>li>.submenu li.hover>.submenu>li>a>.menu-icon {margin-right: 2px;}
.sidebar-list>li .submenu>li.hover>a {padding-left: 22px;}
.sidebar-list>li .submenu>li.hover>a>.menu-icon {left: 4px;}

.sidebar-list li>.arrow {display: none;position: absolute;top: 8px;right: 1px;z-index: 1027;}
.sidebar-list li>.arrow:after, .sidebar-list li>.arrow:before {border: 1px solid transparent;display: block;height: 0;width: 0;position: absolute;left: -20px;top: 0;right: auto;bottom: auto;content: "";border-width: 10px;}
.sidebar-list li>.arrow:before {z-index: 1;left: -21px;}
.sidebar-list li>.arrow:after {z-index: 2;}

.sidebar-list li:hover>a+.arrow {display: none;}
.sidebar-list li.hover:hover>a.dropdown-toggle+.arrow {display: block;}

.sidebar.menu-min .sidebar-top-text {display: none;text-align: left;position: absolute;top: -1px;left: 42px;z-index: 1025;}
.sidebar.menu-min, .sidebar.menu-min.compact, .sidebar.menu-min.navbar-collapse {width: 60px;}
.sidebar.menu-min+.main-content {margin-left: 60px;}

.sidebar.menu-min .sidebar-list a .badge, .sidebar.menu-min .sidebar-list a .label {position: relative;top: -1px;right: auto;left: 4px;}
.sidebar.menu-min .sidebar-list .submenu .submenu a .badge, .sidebar.menu-min .sidebar-list .submenu .submenu a .label {top: 0;}

.sidebar.menu-min .sidebar-list>li>a {position: relative;height: 35px;line-height: 35px;padding: 0;}
.sidebar.menu-min .sidebar-list>li>a>.menu-icon {font-size: 18px;line-height: inherit;display: inline-block;vertical-align: sub;margin: 5px 10px;width: 18px;}
.sidebar.menu-min .sidebar-list>li>a>.menu-text {display: none;text-align: left;position: absolute;top: -1px;left: 42px;z-index: 1025;width: 176px;height: 41px;line-height: 38px;padding-left: 12px;border: 1px solid;}
.sidebar.menu-min .sidebar-list>li>a>.menu-text>img {margin-top:0 !important;width:24% !important;}
.sidebar.menu-min .sidebar-list>li>a>.reports>img {margin-left:0 !important;float:right;}
.sidebar.menu-min .sidebar-list>li>a.dropdown-toggle>.menu-text {top: -1px;border-width: 1px 1px 0;}
.sidebar.menu-min .sidebar-list>li>a .arrow {display: none;}

.sidebar.menu-min .sidebar-list>li:hover>a>.menu-text {/*display: block;*/}
.sidebar.menu-min .sidebar-list>li.active>a:after {/*border-width: 10px 6px;top: 8px;*/}
.sidebar.menu-min .sidebar-list>li.active.open>a:after {/*display: block;*/}
.sidebar.menu-min .sidebar-list>li.active.open li.active>a:after {display: none;}

.sidebar.menu-min .sidebar-list>li>.submenu {position: absolute;z-index: 1028;left: 42px;top: -1px;margin-top: 40px;padding-bottom: 2px;width: 176px;display: none!important;}
.sidebar.menu-min .sidebar-list>li>.submenu:before {display: none;}
.sidebar.menu-min .sidebar-list>li>.submenu:after {content: "";display: block;height: 1px;width: 1px;position: absolute;right: -1px;top: -1px;border-right: 1px solid;border-right-color: inherit;}
.sidebar.menu-min .sidebar-list>li>.submenu li:before {display: none;}
.sidebar.menu-min .sidebar-list>li>.submenu li>a {margin-left: 0;padding-left: 22px;}
.sidebar.menu-min .sidebar-list>li>.submenu li>a>.menu-icon {left: 4px;}

.sidebar.menu-min .sidebar-list>li.hover>.submenu {padding-bottom: 0;}
.sidebar.menu-min .sidebar-list>li.open>.submenu {display: none;}
.sidebar.menu-min .sidebar-list>li:hover>.submenu {display: block!important;}

.sidebar.menu-min .sidebar-list>li>.arrow {top: 10px;}
.sidebar.menu-min .sidebar-list>li>.arrow:after, .sidebar.menu-min .sidebar-list>li>.arrow:before {border-width: 8px;left: -16px;}
.sidebar.menu-min .sidebar-list>li>.arrow:before {left: -17px;}
.sidebar.menu-min .sidebar-list li>.arrow {right: -1px;}

.sidebar.menu-min .sidebar-list>li:hover>.arrow {display: block;}
.sidebar.menu-min .sidebar-list>li.pull_up>.arrow {z-index: 1029;}
.sidebar.menu-min .sidebar-list>li.pull_up>.arrow:after, .sidebar.menu-min .sidebar-list>li.pull_up>.arrow:before {border-width: 10px;left: -20px;}
.sidebar.menu-min .sidebar-list>li.pull_up>.arrow:before {left: -21px;}

.sidebar.menu-min .sidebar-shortcuts {position: relative;overflow: visible;z-index: 1;}
.sidebar.menu-min .sidebar-shortcuts-mini {display: block;}
.sidebar.menu-min .sidebar-shortcuts-large {display: none;position: absolute;top: 0;left: 42px;width: 182px;padding: 0 2px 3px;border: 1px solid;border-top-width: 0;}
.sidebar.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large {display: block;}

.sidebar.menu-min .sidebar-toggle:before {left: 5px;right: 5px;}
.sidebar.menu-min .sidebar-toggle>.ace-icon {font-size: 13px;padding: 0 4px;line-height: 15px;border-width: 1px;}

.sidebar.menu-min .sidebar-list>li>.submenu li>.submenu>li>a {margin-left: 2px!important;padding-left: 30px;}
.sidebar.menu-min .sidebar-list>li>.submenu li>.submenu>li>.submenu>li>a {margin-left: 2px!important;padding-left: 45px;}
.sidebar.menu-min .sidebar-list>li>.submenu li.active>a:after {display: none;}
.sidebar.menu-min .sidebar-list li.hover>.submenu {margin-left: 0;}
.sidebar.menu-min .sidebar-list>li>.submenu li.hover>.submenu>li>a, .sidebar.menu-min .sidebar-list>li>.submenu li>.submenu>li.hover>.submenu>li>a {margin-left: 0!important;}
.sidebar.menu-min .sidebar-list li.active.open>.submenu>li.active>a:after, .sidebar.menu-min .sidebar-list>li.active.open:hover>a:after, .sidebar.menu-min .sidebar-list>li.active:hover:after, .sidebar.menu-min .sidebar-list>li.active:hover>a:after {display: none;}

.sidebar-list li li.highlight.active>a:after, .sidebar-list li li.highlight.active>a:before, .sidebar-list li.highlight li.active>a:after, .sidebar-list li.highlight li.active>a:before {display: none!important;}
.sidebar-list>li.highlight.active>a:after, .sidebar-list>li.highlight.active>a:before {display: block!important;}

.sidebar-scroll .sidebar-list>li.active.highlight>a:after, .sidebar-scroll .sidebar-list>li.active.highlight>a:before {display: none!important;}

.sidebar-list>li.highlight.active,  .sidebar-list>li.highlight:hover {border-color: #c8d8e2;}
.sidebar-list>li.highlight.active+li,  .sidebar-list>li.highlight:hover+li {border-top-color: #c8d8e2;}
.sidebar-list>li.highlight.active>a,  .sidebar-list>li.highlight:hover>a {background-color: #FFF;}
.sidebar-list>li.highlight.active:after {display: none;}
.sidebar-list>li.highlight.active:before {display: block;background-color: #4f90c2;}
.sidebar-list>li.highlight.active>a {background-color: #f2f6f9!important;}
.sidebar-list>li.highlight.active>a:after,  .sidebar-list>li.highlight.active>a:before {display: block;content: "";position: absolute;top: -1px;right: -10px;bottom: auto;z-index: 1;border-style: solid;border-width: 20px 0 21px 10px;border-color: transparent;}
.sidebar-list>li.highlight.active>a:before {border-left-color: #a0bccd;-moz-border-left-colors: #a0bccd;right: -11px;}
.sidebar-list>li.highlight.active>a:after {border-left-color: #f2f6f9;-moz-border-left-colors: #f2f6f9;}
.sidebar-list li li.highlight.active>a {background-color: #f2f6f9;}

/*.sidebar-list li li.highlight.active.open>a {background-color: #FFF;}
.sidebar-list li li.highlight.active.open>a:hover {background-color: #f1f5f9;}*/

.sidebar.menu-min .sidebar-list>li.highlight.active>a:after, .sidebar.menu-min .sidebar-list>li.highlight.active>a:before {display: block!important;top: -1px;/*border-width: 20px 0 21px 10px;*/}
.sidebar {background-color: #78ae63;border-style: solid;border-color: #eee;/* border-color: #ccc; */border-width: 0 1px 0 0;}

.sidebar-list .open>a,  .sidebar-list .open>a:focus,  .sidebar-list .open>a:hover {/*background-color: #708090; background-color: #fafafa; */}


/*.sidebar-list>li>a:focus {background-color: #f8f8f8;color: #1963aa;}
.sidebar-list>li:hover>a {color: #222;}*/

.sidebar-list>li.open>a {}
.sidebar-list>li.open a>.arrow,  .sidebar-list>li .submenu>li.open a>.arrow{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);}


.sidebar-list>li .submenu>li>a:hover {color: #fff;background-color: #708090;/* color: #4b88b7;background-color: #f1f5f9; */}
.sidebar-list>li .submenu>li.active>a {color: #fff;/* color: #2b7dbc; */}
.sidebar-list>li .submenu>li.active>a>.menu-icon {color: #fff;/* color: #c86139; */}
.sidebar-list>li .submenu>li.active.hover>a.dropdown-toggle>.menu-icon,  .sidebar-list>li .submenu>li.active.open>a>.menu-icon {color: inherit;}
.sidebar-list>li .submenu>li.active:not(.open)>a {background-color: #708090;/* background-color: #f5f7fa; */}
.sidebar-list>li .submenu>li.active:not(.open)>a:hover {background-color: #708090;/* background-color: #f1f5f9; */}
.sidebar-list>li>.submenu .open>a,  .sidebar-list>li>.submenu .open>a:focus,  .sidebar-list>li>.submenu .open>a:hover {border-color: #e4e4e4;}
.sidebar-list>li>.submenu li>.submenu>li a {color: #757575;}
.sidebar-list>li>.submenu li>.submenu>li a:hover {color: #fff;background-color: #708090;/* color: #4b88b7;background-color: #f1f5f9; */}
.sidebar-list>li>.submenu li.open>a,  .sidebar-list>li>.submenu li>.submenu li.active>a,  .sidebar-list>li>.submenu li>.submenu li.open>a {color: #fff;background-color: #708090;/* color: #4b88b7; */}
.sidebar-list>li>.submenu:before,  .sidebar-list>li>.submenu>li:before {border-color: #708090;/* border-color: #9dbdd6; */}

.sidebar-list>li.active>.submenu:before,  .sidebar-list>li.active>.submenu>li:before {/*border-color: #8eb3d0;*/}
.sidebar-toggle {background-color: #f3f3f3;border-color: #e0e0e0;}
.sidebar-toggle>.ace-icon {}
.sidebar-shortcuts {background-color: #fafafa;}
.sidebar-fixed .sidebar-shortcuts {border-color: #ddd;}
.sidebar-shortcuts-mini {background-color: #fff;}

.sidebar-list li>.arrow:before {/*border-right-color: #B8B8B8;-moz-border-right-colors: #B8B8B8;border-width: 10px 10px 10px 0;left: -11px;*/}
.sidebar-list li>.arrow:after {border-right-color: #fff;-moz-border-right-colors: #fff;border-width: 10px 10px 10px 0;left: -10px;}
.sidebar-list>li.pull_up>.arrow:after {border-right-color: #fff!important;-moz-border-right-colors: #fff!important;border-width: 10px 10px 10px 0!important;left: -10px!important;}
.sidebar-list>li.pull_up>.arrow:before {border-width: 10px 10px 10px 0!important;left: -11px!important;}
.sidebar-list li.active>a:after {/*border-right-color: #e72627;-moz-border-right-colors: #e72627; border-right-color: #2b7dbc;-moz-border-right-colors: #2b7dbc; */}
.sidebar-list>li.active:after {display: block;content: "";position: absolute;right: -2px;top: -1px;bottom: 0;z-index: 1;/*border: 2px solid;border-width: 0 2px 0 0;border-color: #e72627; border-color: #2b7dbc; */}

.sidebar-scroll .sidebar-list>li.active:after {right: 0;}

.sidebar.menu-min .sidebar-list>li>a>.menu-text {display:none;background-color: #fff;/* background-color: #f5f5f5; */-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .1);box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .1);border-color: #ccc;}
.sidebar.menu-min .sidebar-list>li>a.dropdown-toggle>.menu-text {-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);}
.sidebar.menu-min .sidebar-list>li.active>.submenu {border-left-color: #83b6d1;}
.sidebar.menu-min .sidebar-list>li>.submenu {background-color: #fff;border: 1px solid #ccc;border-top-color: #e6e6e6;-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);}
.sidebar.menu-min .sidebar-list>li>.arrow:after {/* border-right-color: #708090;-moz-border-right-colors: #708090;border-right-color: #f5f5f5;-moz-border-right-colors: #f5f5f5; */border-width: 8px 8px 8px 0;left: -8px;}
.sidebar.menu-min .sidebar-list>li>.arrow:before {border-width: 8px 8px 8px 0;left: -9px;}
.sidebar.menu-min .sidebar-list>li.active>.arrow:before {border-right-color: #fff;-moz-border-right-colors: #fff;/* border-right-color: #5a9ec2;-moz-border-right-colors: #5a9ec2; */}
.sidebar.menu-min .sidebar-list>li.active>a>.menu-text {border-left-color: #fff;/* border-left-color: #83b6d1; */}

.sidebar.menu-min .sidebar-shortcuts-large {background-color: #fff;-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .1);box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .1);border-color: #ccc;}
.sidebar.menu-min .sidebar-toggle>.ace-icon {border-color: #b1b1b1;}

.main-content {margin-left: 175px;min-height: 100%;padding: 0;}

.sidebar.responsive.push_away+.main-content {-webkit-transition: -webkit-transform .2s linear 0s;-moz-transition: -moz-transform .2s linear 0s;-o-transition: -o-transform .2s linear 0s;transition: transform .2s linear 0s;}
.sidebar.responsive.push_away.display+.main-content {-moz-transform: translateX(190px);-webkit-transform: translateX(190px);-o-transform: translateX(190px);-ms-transform: translateX(190px);transform: translateX(190px);}
.sidebar.responsive.push_away.display.menu-min+.main-content {-moz-transform: translateX(43px);-webkit-transform: translateX(43px);-o-transform: translateX(43px);-ms-transform: translateX(43px);transform: translateX(43px);}
.sidebar.responsive-min+.main-content {margin-left: 43px !important;}
.sidebar.responsive-max+.main-content {margin-left: 43px !important;}

.page-content {background-color: #fff;position: relative;margin: 0;padding: 8px 0 0;}
.page-content {padding-top: 52px;}
.page-content>.row .col-xs-12, .page-content>.row .col-sm-12, .page-content>.row .col-md-12, .page-content>.row .col-lg-12 {float: left;max-width: 100%;}

.sidebar-scroll .sidebar-list>li.active.highlight>a:after, .sidebar-scroll .sidebar-list>li.active.highlight>a:before {display: none !important;}
.sidebar-scroll .sidebar-list>li.active:after {right: 0;}

.sidebar-scroll .sidebar-shortcuts {border-bottom-color: #ddd;}
.sidebar-scroll .sidebar-toggle {border-top-color: #ddd;}
.menu-toggler+.responsive.sidebar-scroll .nav-wrap {overflow: hidden;}
.sidebar.navbar-collapse .nav-wrap+.ace-scroll {display: none;}

.sidebar-scroll .sidebar-shortcuts {min-height: 41px;border-bottom: 1px solid;}
.sidebar-scroll .sidebar-toggle {border-top: 1px solid;}

.sidebar-scroll .sidebar-list>li:first-child {border-top-width: 0;}
.sidebar-scroll .sidebar-list>li:last-child {border-bottom-width: 0;}

.sidebar-scroll .nav-wrap .sidebar-shortcuts {min-height: 40px;border-bottom-width: 0;}
.sidebar-scroll .nav-wrap .sidebar-shortcuts+.sidebar-list>li:first-child {border-top-width: 1px;}
.sidebar-scroll .nav-wrap-t .sidebar-toggle {border-top-width: 0;}
.sidebar-scroll .nav-wrap-t .sidebar-list>li:last-child {border-bottom-width: 1px;}

.sidebar .nav-wrap+.ace-scroll {position: absolute;right: 0;top: 0;z-index: 1;}
.sidebar .nav-wrap+.scrollout {right: -8px;}

.ace-scroll {overflow: hidden;}

.scroll-content {position: static;overflow: hidden;}
.scroll-track {position: absolute;top: auto;bottom: auto;right: 0;width: 8px;height: auto;background-color: #E7E7E7;z-index: 99;width: 0;opacity: 0;}
.scroll-bar {position: absolute;top: 0;left: 0;width: inherit;background-color: #ACE;background: #e72627;opacity: .50;/* background: #bbd4e5; */}
.scroll-hz .scroll-track {top: auto;left: auto;right: auto;bottom: 0;height: 8px;width: auto;}
.scroll-hz .scroll-bar {height: inherit;width: auto;}
.scroll-active .scroll-track {-webkit-transition: all .25s ease 0.6s;transition: all .25s ease 0.6s;}
.scroll-active:hover .scroll-track, .scroll-active .scroll-track.active, .scroll-active .scroll-track:active {width: 8px;opacity: 1;-webkit-transition-duration: .15s;transition-duration: .15s;-webkit-transition-delay: 0s;transition-delay: 0s;}
.scroll-track.active>.scroll-bar {transition-property: none !important;transition-duration: 0s !important;}
.scroll-margin .scroll-track {right: 1px;}
.scroll-left .scroll-track {right: auto;left: 0;}
.scroll-margin.scroll-left .scroll-track {left: 1px;}
.scroll-top .scroll-track {bottom: auto;top: 0;}
.scroll-margin.scroll-top .scroll-track {top: 1px;}
.scroll-dark .scroll-bar {background-color: rgba(0, 0, 0, 0.25);}
.scroll-dark .scroll-track {background-color: rgba(0, 0, 0, 0.15);}
.scroll-light .scroll-bar {background-color: rgba(0, 0, 0, 0.14);}
.scroll-light .scroll-track {background-color: rgba(0, 0, 0, 0.07);}
.no-track .scroll-track {background-color: transparent;}
.scroll-visible .scroll-track {opacity: 1;width: 8px;}
.scroll-visible.scroll-hz .scroll-track {height: 8px;width: auto;}
.scroll-thin:hover .scroll-track, .scroll-thin .scroll-track:active, .scroll-thin .scroll-track.active, .scroll-thin.scroll-visible .scroll-track {width: 6px;}
.scroll-thin.scroll-hz:hover .scroll-track, .scroll-thin.scroll-hz .scroll-track:active, .scroll-thin.scroll-hz .scroll-track.active, .scroll-thin.scroll-hz.scroll-visible .scroll-track {width: auto;height: 6px;}

.scroll-chrome .scroll-bar {background-color: transparent;width: 11px;}
.scroll-chrome .scroll-bar:before {display: block;content: "";position: absolute;top: 1px;bottom: 3px;left: 1px;right: 1px;background-color: #D9D9D9;border: 1px solid #BBB;border-radius: 1px;}
.scroll-chrome .scroll-track {width: 12px !important;background-color: #F2F2F2;border: 1px solid;border-width: 1px 0 1px 1px;border-color: #E6E6E6 transparent #E6E6E6 #DBDBDB;}
.scroll-chrome .scroll-track:hover .scroll-bar:before {background-color: #C0C0C0;border-color: #A6A6A6;}
.scroll-chrome .scroll-track.active .scroll-bar:before {background-color: #A9A9A9;border-color: #8B8B8B;}

.nav-wrap+.scroll-active .scroll-track {width: 8px;}
.nav-scroll.scroll-active .scroll-track {width: 8px;right: 0;}
.nav-wrap:hover+.scroll-active .scroll-track, .nav-scroll.scroll-active:hover .scroll-track {width: 8px;opacity: 1;-webkit-transition-duration: .15s;transition-duration: .15s;-webkit-transition-delay: 0s;transition-delay: 0s;}
.nav-scroll.scroll-active:hover .scroll-track {width: 8px;}
.nav-scroll.ace-scroll, .nav-scroll.ace-scroll .scroll-content {overflow: visible;}
.nav-scroll.ace-scroll.scroll-active, .nav-scroll.ace-scroll.scroll-active .scroll-content {overflow: hidden;}

/*.submenu li.active .menu-text{color:#FCD403; font-weight: bold;}*/
.submenu li.active .menu-text{color:#439df5; font-weight: bold;}

.side-category{
	font-family: 'SF-Pro-Text-Bold';
    font-size: 10px;
    color:#55714b;
    margin: 20px 0px 0px 25px;
}