<!-- prev-next buttons -->
<div class="form-pn-btns-div">
    <div class="col-sm-12" style="padding:0;">

        <div class="col-sm-6" style="padding:0;">
            <?php if ($inquiry->status == '9'){$hrefval=BASE_URI."expired";}else if ($inquiry->status == '10'){$hrefval=BASE_URI."archived";}else{$hrefval=BASE_URI."inquiry";}?>
            <a class="btn-rttpn" href="<?= $hrefval;?>">< Return to Table</a>
        </div>
        <?php $idArr = $this->session->get('idArr');
              $idPos = array_search($inquiry->reference_number, $idArr);
              $prevId = $idArr[$idPos - 1];
              $nextId = $idArr[$idPos + 1];
        ?>
        <div class="col-sm-6 text-right <?php if ($inquiry->status == '9' || $inquiry->status == '10'){echo'hidden';}?>" style="padding:0;">
            <a class="btn-rttpn <?php if ($prevId == false) {echo "hidden";}?>" style="margin-right:50px;" href="<?= BASE_URI; ?>inquiry/inq_form?id=<?= $prevId;?>">< Prev</a>
            <a class="btn-rttpn <?php if ($nextId == false) {echo "hidden";}?>" href="<?= BASE_URI; ?>inquiry/inq_form?id=<?= $nextId;?>">Next ></a>
        </div>

    </div>
</div>