<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-4"> 
                    <div style="padding-left: 10px;">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>    
                </div> 
                <div class="col-lg-8"> 
                    <div class="filter-div pull-right">
                        <span style="font-weight: bold; color: #fff;">Filters: </span>
                        <span><input type="text" class="filter_status" placeholder="Status" size="20"></span>
                        <span><input type="text" class="filter_company" placeholder="Company Name" size="20"></span>
                        <span style="font-size: 10px; color: #fff;">Validity: </span>
                        <span><input type="text" class="datepicker_from" placeholder="From" size="10"></span>
                        <span><input type="text" class="datepicker_to" placeholder="To" size="10"></span>
<!--                        <span><input type="submit" class="btn-filter" value="FILTER"></span>-->
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="ordersTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:15%;">Ref. Number</th>
			<th style="width:15%;">Company Name</th>
                        <th style="width:15%;">Date</th>
                        <th style="width:10%;">Valid Until</th>
                        <th style="width:15%;">&nbsp;</th>
                        <th style="width:20%;">Remarks</th> 
                        <th style="width:10%;">Status</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>
<script>
    
$.post(BASE_URL+'all/getAllList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];

    data.all.forEach(function(entry){
            var content_row = [];
            content_row.push('<span class="btn-off row_id" data-id="'+entry.reference_number+'">'+entry.reference_number+'</span>');

            if (data.users[entry.user_id].customer_type_id == 1) content_row.push("INDIVIDUAL USE");
            else content_row.push(data.users[entry.user_id].company_name);
//            console.log(data.users[entry.user_id].customer_type_id);
            content_row.push(entry.datetime_created.substring(0,10));
            content_row.push(entry.valid_until);
            var valid_until_date_array = entry.valid_until.split('-');
            var valid_until_date = new Date(valid_until_date_array[0],valid_until_date_array[1]-1,valid_until_date_array[2]);
            var current_date = new Date();
//		var diff_days = valid_until_date.getDate() - current_date.getDate();
            var time_diff = Math.abs(valid_until_date.getTime() - current_date.getTime());
            var diff_days = Math.ceil(time_diff / (1000 * 3600 * 24));
            if (diff_days < 2) content_row.push('<label class="label-red">EXPIRING SOON</label>');
            else content_row.push('');  
            content_row.push(entry.remarks);
            
            var status_label = "";
            var inqid = entry.inquiry_id;
            switch(entry.status) {
                case '0':
                    status_label = '<label class="label-violet">INQUIRY</label>';
                break;
                case '1':
                    status_label = '<label class="label-gray">DRAFT</label>';
                break;
                case '2':
                    status_label = '<label class="label-gray">DRAFT</label>';
                break;
                case '3':
                    status_label = '<label class="label-blue">PO SENT</label>';
                break;
                case '4':
                    status_label = '<label class="label-orange">SOA FOR APPROVAL</label>';
                break;
                case '5':
                    status_label = '<label class="label-green">FOR PAYMENT</label>';
                break;
                case '6':
                if(entry.payment_status > 0) {
                    status_label = '<label class="label-olive">PARTIALLY VERIFIED </label>';
                } else {
                     status_label = '<label class="label-purple">FOR VERIFICATION </label>';
                }
                     
                break;
                case '7':
                    if (entry.for === '1'){ 
                        status_label = '<label class="label-blue">FOR DELIVERY</label>';
                    } else {
                        status_label = '<label class="label-aqua">FOR PICKUP</label>';
                    }
                break; 
                case '8':
                    status_label = '<label class="label-brown">SERVED</label>';
                break;
                case '9':
                    status_label = '<label class="label-black">EXPIRED</label>';
                break;
                case '10':
                    status_label = '<label class="label-red" style="width: 100%">ARCHIVED</label>';
                break;                
            }
            
            content_row.push(status_label);
            content_array.push(content_row);
    });
            
    $('#ordersTable').DataTable({
        "bFilter": true,
        "bSortable": true,
		"aaSorting": [],
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [4,5] }],       
        "data": content_array
    });
    
    var table = $('#ordersTable').DataTable();


    function checkPayment(id) {
        var status_label = "";
         $.ajax({
                        url: BASE_URL + 'all/checkforpayment',
                        type: 'POST',
                        data: {id: id},
                    })
                    .done(function(data) {
                        console.log(" - " + data);
                        if(data == 1) {
                            status_label = '<label class="label-olive">PARTIALLY VERIFIED</label>';
                        } else {
                            status_label = '<label class="label-olive">FOR VERIFICATION</label>';
                        }
                    });
        return status_label;
    }


//FILTERING
    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    }); 
    
    $(".filter_status").keyup( function () {
        table.column(6).search($(this).val()).draw(); 
    });
    
    $(".filter_company").keyup( function () {
        table.column(1).search($(this).val()).draw(); 
    });

    
    $(".datepicker_from").datepicker({
        buttonImageOnly: false,
        "onSelect": function(date) {
          minDateFilter = new Date(date).getTime();
          table.draw();
        }
      }).keyup(function() {
        minDateFilter = new Date(this.value).getTime();
        table.draw();
      });

      $(".datepicker_to").datepicker({
        buttonImageOnly: false,
        "onSelect": function(date) {
          maxDateFilter = new Date(date).getTime();
          table.draw();
        }
      }).keyup(function() {
        maxDateFilter = new Date(this.value).getTime();
        table.draw();
      });



    // Date range filter
    minDateFilter = "";
    maxDateFilter = "";

    $.fn.dataTableExt.afnFiltering.push(
      function(oSettings, aData, iDataIndex) {
        if (typeof aData._date == 'undefined') {
          aData._date = new Date(aData[3]).getTime();
        }

        if (minDateFilter && !isNaN(minDateFilter)) {
          if (aData._date < minDateFilter) {
            return false;
          }
        }

        if (maxDateFilter && !isNaN(maxDateFilter)) {
          if (aData._date > maxDateFilter) {
            return false;
          }
        }

        return true;
      }
    );    
//END FILTERING    
    

}); 
</script>