
<div id="wrapper">
<?php echo @$_SERVER['HTTP_HOST']; ?>
    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">


        </div>
    </div>
</div>
<script>

</script>