<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-green <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="New Group" id="btnNewGroup">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="groupTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:55%;">Group Name</th>
<!--                        <th style="width:15%;">Group Sequence</th>-->
                        <th style="width:15%;">Group Image</th>
                        <th style="width:15%;">Last Updated</th>
                        <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial("groups/modal"); ?>

<script>    
$.post(BASE_URL+'groups/getGroupList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.group_id+'">'+entry.group_name+'</span>');
//        content_row.push(entry.group_sequence);
//        content_row.push(entry.group_image_url);
        if (entry.group_image_url){
            content_row.push('<div class="table-image" data-id="'+entry.group_image_url+'"><img src="'+STOREFRONT_URL+'img/navigation/'+entry.group_image_url+'"></div>');
        } else {
            content_row.push('');
        }
        content_row.push(entry.modified_on);
        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
        content_array.push(content_row);
    });
            
    $('#groupTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3] }],
//        "order": [[ 1, "asc" ]],
//        "order": false,
        "data": content_array
    });
    
    var table = $('#groupTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    }); 
    
    //hide delete links for certain groups
    table.$('tr').each(function(){
        var row_id = parseInt($(this).closest('tr').find(".row_id").attr('data-id'));
        
        if (row_id <= 8){
            $(this).find('.delLink').addClass('invisible');
        }
    });  
    
<?php if ($this->session->LPMADMINACCESS['products'] < 2){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?>      
       
});  

$(document).on('click', '#btnNewGroup', function(){
    $('#modalNewGrp').modal('show'); //modal show when page loaded
});

$(document).on('click', '.editLink', function(){
    $('#modalEditGrp').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var group_name = $(this).closest('tr').find(".row_id").text();
//    var group_image_url = $(this).closest('tr').find(".table-image").attr('data-id');
    
    $('#modalEditGrp [name="group_id"]').val(row_id);
    $('#modalEditGrp [name="group_name"]').val(group_name);
//    $('#modalEditGrp [name="group_image_url"]').val(group_image_url);    
    
});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteGrp').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var group_name = $(this).closest('tr').find(".row_id").text();
    
    $('#modalDeleteGrp [name="group_id"]').val(row_id);
    $('#modalDeleteGrp .group-name').text(group_name);     
});

//get response on form submit
$('form').submit(function(){
    
//    var form_data = $(this).serialize();
    var form_data = new FormData($(this).form);
    $.post($(this).attr('action'), form_data, function(response) { console.log(response);
        if (response !== 'success'){
            alert(response);
        } else {           
            window.location.href = '<?=BASE_URI;?>groups';
        }
    });
    return false;

});

//$(document).on('submit', 'form', function(){
//	var formData = new FormData($(this)[0]);
//
//    $.ajax({
//        url: "<?=BASE_URI?>groups/saveNewGroup",
//        type: 'POST',
//        data: formData,
//        async: false,
//        success: function (data) {
//            window.location.href = '<?=BASE_URI;?>groups';
//        },
//        cache: false,
//        contentType: false,
//        processData: false
//    });
//
//    return false;
//});

</script>