<!-- modal file for groups -->

<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteGrp">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">

            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>groups/deleteGroup"> 
                <input type="hidden" name="group_id" value="">    
                <h5>
                    Are you sure you want to delete group
                    <<span class="group-name"></span>>?
                </h5>
                    <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;" value="Yes, I'm sure">
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- modal for add category -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNewGrp">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            <form role="form" method="post" action="<?= BASE_URI;?>groups/saveNewGroup" enctype="multipart/form-data"> 
            <div class="modal-body form-div">
                <h5>Add New Group</h5>
                
                <div class="col-sm-12" style="padding:0;margin-bottom:10px;">
                    <label>Group Name</label>
                    <input type="text" class="form-control modal-field" name="group_name">
                </div>

                <div class="col-sm-12" style="padding:0;">
                    <label>Upload Icon</label>
                    <input type="file" class="form-control filestyle" name="group_image_url">                     
<!--                    <div class="upload-file-div mb-10">
                         remove class when uploaded file is remove or the uploading file is cancelled 
                        <div class="browse-file">
                            <div class="dropzone-div">
                                <label id="label1"></label>
                            </div>

                            <div class="choose-file-div">
                                <a class="browse-file" id="btnUpload">Browse</a>
                            </div>
                            <input type="file" class="form-control standard" id="browseFile">
                        </div>
                       
                         remove hidden class when file uploading 
                        <div class="uploading-file hidden">
                            <div class="upload-icon-div">
                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                            </div>    
                            <div class="file-close-div" style="padding-top:5px;">
                                <span class="uploading-status">Uploading</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    </div>
                                </div>
                                <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a>
                            </div>
                        </div>
                         remove hidden class when file is already uploaded 
                        <div class="uploaded-file hidden"> 
                            <div class="upload-icon-div">
                                <i class="fa fa-file fa-1x"></i>
                            </div>    
                            <div class="file-close-div">
                                <span>business-permit.jpg</span>
                                <a class="btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                            </div>
                        </div>
                    </div>-->
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <input type="submit" class="btn btn-success btn-sup" value="Submit">
                    <a class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
                </div>
            </div>
            </form>    
        </div>
    </div>
</div>

<!-- modal for edit category -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEditGrp">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            <form role="form" method="post" action="<?= BASE_URI;?>groups/editGroup" enctype="multipart/form-data"> 
            <input type="hidden" name="group_id">    
            <div class="modal-body form-div">
                <h5>Edit Group</h5>

                <div class="col-sm-12" style="padding:0;margin-bottom:10px;">
                    <label>Group Name</label>
                    <input type="text" class="form-control modal-field" name="group_name">
                </div>

                <div class="col-sm-12" style="padding:0;">
                    <label>Upload Icon</label>
                    <input type="file" class="form-control filestyle" name="group_image_url"> 
<!--                    <div class="upload-file-div mb-10">
                         remove class when uploaded file is remove or the uploading file is cancelled 
                        <div class="browse-file hidden">
                            <div class="dropzone-div">
                                <label id="label1"></label>
                            </div>

                            <div class="choose-file-div">
                                <a class="browse-file" id="btnUpload">Browse</a>
                            </div>
                            <input type="file" class="form-control standard hidden" id="browseFile">
                        </div>
                         remove hidden class when file uploading 
                        <div class="uploading-file hidden">
                            <div class="upload-icon-div">
                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                            </div>    
                            <div class="file-close-div" style="padding-top:5px;">
                                <span class="uploading-status">Uploading</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    </div>
                                </div>
                                <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a>
                            </div>
                        </div>
                         remove hidden class when file is already uploaded 
                        <div class="uploaded-file"> 
                            <div class="upload-icon-div">
                                <i class="fa fa-file fa-1x"></i>
                            </div>    
                            <div class="file-close-div">
                                <span>business-permit.jpg</span>
                                <a class="btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                            </div>
                        </div>
                    </div>-->
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <input type="submit" class="btn btn-success btn-sup" value="Submit">
                    <a class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
                </div>
            </div>
            </form>    
        </div>
    </div>
</div>

<script>
    $(".filestyle").filestyle({
        text: "Browse"
    });
</script>    