<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <ol class="breadcrumb">  
                        <li><a onclick="location.href = '<?= BASE_URI ?>users'" class="link">Admin</a></li>
                        <li><a class="link active">Customers</a></li>
                    </ol> 
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-green <?php if ($this->session->LPMADMINACCESS['users'] < 2){echo 'hidden';}?>" value="New Customer" onclick="window.location.href='<?=BASE_URI;?>users/new_customer'">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12">
                <table id="customerUserTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:5%;">No.</th>
			<th style="width:10%;">Company N.</th>
                        <th style="width:10%;">Last N.</th>
                        <th style="width:10%;">First N.</th>
                        <th style="width:5%;">Mobile No.</th> 
                        <th style="width:10%;">Status</th> 
                        <th style="width:10%;">Last Logged In</th> 
                        <th style="width:10%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('users/modal'); ?>

<script>
    
$.post(BASE_URL+'users/getCustomerList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.user_id+'">'+entry.user_id+'</span>');
        if (entry.company_name){
            content_row.push(entry.company_name);
        } else {
            content_row.push("Individual Use");
        }
        content_row.push('<span class="last_name">'+entry.last_name+'</span>');
        content_row.push('<span class="first_name">'+entry.first_name+'</span>');
        content_row.push(entry.mobile_number);
        if (entry.access_status === '0'){
            content_row.push('<span class="label label-active">Active</span>');
        } else {
            content_row.push('<span class="label label-inactive">Inactive</span>');
        }       
        content_row.push(entry.last_login);
        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
        content_array.push(content_row);
    });
            
    $('#customerUserTable').dataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [7] }],       
        "data": content_array,
        "order": [[ 0, "desc" ]]
    });
    
    var table = $('#customerUserTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });
    
<?php if ($this->session->LPMADMINACCESS['users'] < 2){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?> 

});  

$(document).on('click', '.editLink', function(){
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    window.location.href = '<?=BASE_URI;?>users/edit_customer?id='+row_id;    
});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteCustomer').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var user_name = $(this).closest('tr').find(".last_name").text()+', '+$(this).closest('tr').find(".first_name").text();
    
    $('#modalDeleteCustomer [name="user_id"]').val(row_id);
    $('#modalDeleteCustomer .user_name').text(user_name);    
});

$(document).on('click', '#modalDeleteCustomer .btn-del', function(){
    var user_id = $('#modalDeleteCustomer [name="user_id"]').val();
//    var customer_type_id = <?=$user_info->customer_type_id;?>;
//    var url_string = "";
//    switch(customer_type_id)
//    {
//            case 1:
//                    url_string = "users/deleteCustomerIndiv";
//                    break;
//            case 2:
//                    url_string = "users/deleteCustomerContractor";
//                    break;
//            case 3:
//                    url_string = "users/deleteCustomerSeller";
//                    break;
//    }
    var url_string = "users/deleteCustomerIndiv";
    var params = {
            user_id : user_id,
    };

    $.post(BASE_URL+url_string, params, function(data){
            if (data == "Success")
            {
                    window.location.href = BASE_URL+"users/customers";
            }
            else
            {
                    alert("Something Went Wrong");
            }
    });
});


</script>