<style type="text/css">
    .bootstrap-filestyle input.form-control{
        height: 40px !important;
        border: 1px solid #CBCBCB;
        font-size: 10px;
        font-family: 'SF-Pro-Text-Regular';
    }

    .afile-close-div{
        width: 80%;
        float: right;
        height: 100%;
        padding: 10px 10px;
        color: #007B32;
        overflow: hidden !important;
    }
    .file-name{
        overflow: hidden;
        width: 90%;
        font-family: 'SF-Pro-Text-Regular';
        font-size: 10px;
    }
    .file-name input{
        width: 100%;
        border: none;
        background-color: #FFF;
    }
    .btn-remove-file {
        color: #0D8E33;
        margin-top: -23px !important;
    }
    .group-span-filestyle {
        display: table-column;
    }
    
    .btn-verify-file{
            background-color: #FFF;
            border: 1px solid #0D8E33;
            color: #0D8E33;
            font-family: 'SF-Pro-Text-Bold';
            font-size: 10px;
            width: auto;
            float: left;
            height: auto;
            padding: 5px 15px;
    }
    .btn-verify-file:hover{
            background-color: #CFE8D6;
            border: 1px solid #0D8E33;
            color: #0D8E33;
    }
    .btn-verify-file:focus,
    .btn-verify-file:active{
            background-color: #007B24;
            border: 1px solid #007B24;
            color: #FFF;
    }

    .btn-verified-file{
            background-color: #BBD7B0;
            border: 1px solid #BBD7B0;
            color: #0D8E33;
            font-family: 'SF-Pro-Text-Bold';
            font-size: 10px;
            width: auto;
            float: left;
            height: auto;
            padding: 5px 15px;
    }
    .btn-verified-file:hover{
            background-color: #BBD7B0;
            border: 1px solid #BBD7B0;
            color: #0D8E33;
    }
    .btn-verified-file:focus,
    .btn-verified-file:active{
            background-color: #BBD7B0;
            border: 1px solid #BBD7B0;
            color: #FFF;
    } 
    .file-link{
        position: absolute;
        z-index: 3;
        margin: 10px 0 0 10px;     
    }
    .verify-btns{
        position: absolute;
        right: -95px;
        top: 30px;        
    }
    
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <div class="company-menu <?= ($user_info->customer_type_id == 1) ? "hidden" : ""; ?>">
                        <a class="cls-ct active">Customer Type</a>
                        <a class="cls-company">Company</a>
                        <a class="cls-docs">Documents</a>
                        <a class="cls-cp">Representative</a>
                        <a class="cls-cld">Login Details</a>
                    </div>

                    <div class="personal-menu <?= ($user_info->customer_type_id != 1) ? "hidden" : ""; ?>">
                        <a class="cls-pct active">Customer Type</a>
                        <a class="cls-pi">Personal Information</a>
                        <a class="cls-ppa">Address</a>
                        <a class="cls-pld">Login Details</a>
                    </div>
                    <!--h5>
                        <label class="">LAST UPDATED</label>
                        <span class="">2017/08/01 10:00:21am</span>
                        <span class="">by Grace Chua</span>
                    </h5-->
                </div>

                <!-- company details div -->
                <div class="cls-user-div">

                    <div class="cls-user">
                        <div class="col-sm-12 cls-active-section" style="padding:0;">
                            <input type='checkbox' class='toggle-switch toggle-active' <?= ($user_info->access_status == 0) ? "checked ='checked'" : ""; ?>>
                        </div>

                        <div class="col-sm-12 mt-20" style="padding:0;">
                            <div class="btn-holder-div">
                                <!-- remove hidden when customer type is seller -->
                                <div class="btn-holder <?= ($user_info->customer_type_id != 3) ? "hidden" : ""; ?>">
                                    <button class="btn btn-ctype <?= ($user_info->customer_type_id == 3) ? "active" : ""; ?>" id="btnSeller" disabled>
                                        <center>
                                            <img class="imgSeller" src="<?= BASE_URI; ?>img/customer-type/seller-inactive.png">

                                            <h4>Seller or Retailer</h4>
                                        </center>
                                    </button>
                                </div>

                                <!-- remove hidden when customer type is contractor -->
                                <div class="btn-holder <?= ($user_info->customer_type_id != 2) ? "hidden" : ""; ?>">
                                    <button class="btn btn-ctype <?= ($user_info->customer_type_id == 2) ? "active" : ""; ?>" id="btnContractor" disabled>
                                        <center>
                                            <img class="imgContractor" src="<?= BASE_URI; ?>img/customer-type/contractor-inactive.png">

                                            <h4>Contractor or Project</h4>
                                        </center>
                                    </button>
                                </div>

                                <!-- remove hidden when customer type is personal -->
                                <div class="btn-holder <?= ($user_info->customer_type_id != 1) ? "hidden" : ""; ?>">
                                    <button class="btn btn-ctype <?= ($user_info->customer_type_id == 1) ? "active" : ""; ?>" id="btnPersonal" disabled>
                                        <center>
                                            <img class="imgPersonal" src="<?= BASE_URI; ?>img/customer-type/personal-inactive.png">

                                            <h4>Individual Use</h4>
                                        </center>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Individual -->
                        <!-- hide this div when user select contractor or seller -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/editCustomerIndiv" enctype="multipart/form-data">
                            <input type="hidden" name="customer_type_id" value="1">
                            <input type="hidden" name="user_id" value="<?= $user_info->user_id; ?>">
                            <input type="hidden" name="access_status" value="<?= $user_info->access_status; ?>">
                            <div class="cs-ict-div <?= ($user_info->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-ppi-section">
                                        PERSONAL INFORMATION
                                    </h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <div class="col-sm-6" style="padding-left:0;">
                                        <label>First Name</label>
                                        <input type="text" class="form-control standard" name="first_name" value="<?= $user_info->first_name; ?>" disabled>
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control standard" name="last_name" value="<?= $user_info->last_name; ?>" disabled>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Birthday</label>
                                    <div class="input-group mb-10" style="width:100%;">
                                        <select  name="month" id="monthExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                            <option value="01" <?= (substr($user_info->birthdate, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                            <option value="02" <?= (substr($user_info->birthdate, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                            <option value="03" <?= (substr($user_info->birthdate, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                            <option value="04" <?= (substr($user_info->birthdate, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                            <option value="05" <?= (substr($user_info->birthdate, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                            <option value="06" <?= (substr($user_info->birthdate, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                            <option value="07" <?= (substr($user_info->birthdate, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                            <option value="08" <?= (substr($user_info->birthdate, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                            <option value="09" <?= (substr($user_info->birthdate, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                            <option value="10" <?= (substr($user_info->birthdate, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                            <option value="11" <?= (substr($user_info->birthdate, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                            <option value="12" <?= (substr($user_info->birthdate, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                        </select>
                                        <select name="day" id="dayExp" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                            <option value="">Day</option>
                                            <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($user_info->birthdate, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                            <?php } ?>
                                        </select>
                                        <select name="year" id="yearExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                            <option value="">Year</option>
                                            <?php for ($i = 1950; $i <= 2018; $i++) { ?>
                                                <option value="<?php echo $i; ?>" <?= (substr($user_info->birthdate, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Mobile Number</label>
                                    <div class="input-group mb-10 w-100">
                                        <span class="input-group-addon mobile-number" id="basic-addon1">
                                            +63
                                        </span>
                                        <input type="text" class="form-control standard num-only-field" placeholder="example: 917-237 9212" name="mobile_number" value="<?= $user_info->mobile_number; ?>" disabled>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <div class="col-sm-6" style="padding-left:0;">
                                        <label>Office Number (Optional)</label>
                                        <input type="text" class="form-control standard" name="office_number" value="<?= $user_info->office_number; ?>" disabled>
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Fax Number (Optional)</label>
                                        <input type="text" class="form-control standard" name="fax_number" value="<?= $user_info->fax_number; ?>" disabled>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-ppa-section">ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select name="region" id="regionSelect" class="form-control standard mb-10 region-select req-fld" disabled>
                                        <?php foreach ($regions as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->region) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select" name="province" disabled>
                                        <?php foreach ($provinces as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->province) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select" name="city" disabled>
                                        <?php foreach ($cities as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->city) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1" value="<?= $user_address->address1; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2" value="<?= $user_address->address2; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-pld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email" value="<?= $user_info->email; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password" disabled>
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                    <a class="btn btn-success btn-green btn-du mt-10" data-id="<?= $user_info->user_id; ?>">Delete User</a>
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>
                            </div>
                        </form>                          
                        
                        <!-- Contractor -->
                        <!-- hide this div when user select individual use -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/editCustomerContractor" enctype="multipart/form-data"> 
                            <input type="hidden" name="customer_type_id" value="2">
                            <input type="hidden" name="user_id" value="<?= $user_info->user_id; ?>">
                            <input type="hidden" name="access_status" value="<?= $user_info->access_status; ?>">
                            <input type="hidden" name="b_verification" value="">
                            <input type="hidden" name="s_verification" value="">  
                            <input type="hidden" name="t_verification" value="">
                            <div class="cs-cct-div <?= ($user_info->customer_type_id != 2) ? "hidden" : ""; ?>">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control standard" name="company_name" value="<?= $user_info->company_name; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-company-section">COMPANY ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select class="form-control standard region-select" name="region" disabled>
                                        <?php foreach ($regions as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->region) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select" name="province" disabled>
                                        <?php foreach ($provinces as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->province) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select" name="city" disabled>
                                        <?php foreach ($cities as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->city) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1" value="<?= $user_address->address1; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2" value="<?= $user_address->address2; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-pbr-section">PROOF OF BUSINESS REGISTRATION (OPTIONAL)</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload Business Permit</label>

                                    <?php 

                                        $c_bfile = $bfile_info->file;
                                        $c_bfile_href = "";
                                        $c_bfile_name = "";

                                        if(substr($c_bfile, -4) == ".jpg" || substr($c_bfile, -4) == ".png" || substr($c_bfile, -5) == ".jpeg"){

                                            $c_bfile_href = STOREFRONT_URI.'uploads/junk/'.$bfile_info->file;
                                            $c_bfile_name = 'businesspermit-'.$user_info->company_name.'.jpg';

                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $bfile_href;?>" download target="_blank">
                                        <?php echo $c_bfile_name;?>
                                    </a>

                                    <div class="upload-file-div bpe-div" style="border:none !important;">
                                        <input type="file" class="form-control filestyle standard bpermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard" id="BFile" name="bfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file hidden bpermituploading">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status bpermitstatus">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success bpermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="bpe-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="bpermitname" disabled>
                                                </div>
                                                <a class="btn-remove-bpe-img btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($c_bfile, -4) != '.jpg' && substr($c_bfile, -4) != '.png' && substr($c_bfile, -5) != '.jpeg'){ echo 'hidden'; }?>">
                                        <a class="btn btn-verify-bfile btn-verify-file<?php if ($bfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($bfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="bpe-date" style="margin-bottom:10px;">
                                        <label>Business Permit Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="BYearExp" id="yearExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Year</option>
                                                <?php for ($i = 2000; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>" <?= (substr($bfile_info->expiration, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select  name="BMonthExp" id="BMonth-2" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Month</option>
                                                <option value="01" <?= (substr($bfile_info->expiration, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                <option value="02" <?= (substr($bfile_info->expiration, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                <option value="03" <?= (substr($bfile_info->expiration, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                <option value="04" <?= (substr($bfile_info->expiration, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                <option value="05" <?= (substr($bfile_info->expiration, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                <option value="06" <?= (substr($bfile_info->expiration, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                <option value="07" <?= (substr($bfile_info->expiration, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                <option value="08" <?= (substr($bfile_info->expiration, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                <option value="09" <?= (substr($bfile_info->expiration, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                <option value="10" <?= (substr($bfile_info->expiration, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                <option value="11" <?= (substr($bfile_info->expiration, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                <option value="12" <?= (substr($bfile_info->expiration, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                            </select>

                                            <select name="BDayExp" id="dayExp" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($bfile_info->expiration, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload SEC or DTI Permit Image </label>

                                    <?php 

                                        $sfile = $sfile_info->file;
                                        $sfile_href = "";
                                        $sfile_name = "";

                                         if(substr($sfile, -4) == ".jpg" || substr($sfile, -4) == ".png" || substr($sfile, -5) == ".jpeg"){

                                            //Not valid img fi
                                            $sfile_href = STOREFRONT_URI.'uploads/junk/'.$sfile_info->file;
                                            $sfile_name = 'secdtipermit-'.$user_info->company_name.'.jpg';
                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $sfile_href;?>" download target="_blank">
                                        <?php echo $sfile_name;?>
                                    </a>

                                    <div class="sdti-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle spermit">
                                        <input type="hidden" class="form-control standard" id="SFile" name="sfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file spermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success spermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="sdti-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="sdtipermit" disabled>
                                                </div>
                                                <a class="btn-remove-file-sdti btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($sfile, -4) != '.jpg' && substr($sfile, -4) != '.png' && substr($sfile, -5) != '.jpeg'){ echo 'hidden'; }?>">
                                        <a class="btn btn-verify-sfile btn-verify-file <?php if ($sfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($sfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="sdti-date" style="margin-bottom:10px;">
                                        <label>SEC or DTI Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="SYearExp" id="yearExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Year</option>
                                                <?php for ($i = 2000; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>" <?= (substr($sfile_info->expiration, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select  name="SMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Month</option>
                                                <option value="01" <?= (substr($sfile_info->expiration, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                <option value="02" <?= (substr($sfile_info->expiration, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                <option value="03" <?= (substr($sfile_info->expiration, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                <option value="04" <?= (substr($sfile_info->expiration, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                <option value="05" <?= (substr($sfile_info->expiration, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                <option value="06" <?= (substr($sfile_info->expiration, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                <option value="07" <?= (substr($sfile_info->expiration, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                <option value="08" <?= (substr($sfile_info->expiration, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                <option value="09" <?= (substr($sfile_info->expiration, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                <option value="10" <?= (substr($sfile_info->expiration, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                <option value="11" <?= (substr($sfile_info->expiration, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                <option value="12" <?= (substr($sfile_info->expiration, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                            </select>
                                            <select name="SDayExp" id="dayExp" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($sfile_info->expiration, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>
                                           
                                        </div>
                                    </div>
                                </div>                            

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload 2303 Image</label>

                                    <?php 

                                        $tfile = $tfile_info->file;
                                        $tfile_href = "";
                                        $tfile_name = "";

                                        if(substr($tfile, -4) == ".jpg" || substr($tfile, -4) == ".png" || substr($tfile, -5) == ".jpeg"){

                                            $tfile_href = STOREFRONT_URI.'uploads/junk/'.$tfile_info->file;
                                            $tfile_name = '2303permit-'.$user_info->company_name.'.jpg';

                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $tfile_href;?>" download target="_blank">
                                        <?php echo $tfile_name;?>
                                    </a>

                                    <div class="2303-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle tpermit">
                                        <input type="hidden" class="form-control standard" id="TFile" name="tfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file tpermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status tpermituploading">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success tpermitbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="2303-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="2303" disabled>
                                                </div>
                                                <a class="btn-remove-file-2303 btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($tfile, -4) != '.jpg' && substr($tfile, -4) != '.png' && substr($tfile, -5) != '.jpeg'){ echo 'hidden'; }?>">                                  
                                        <a class="btn btn-verify-tfile btn-verify-file <?php if ($tfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($tfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>                                       
                                </div>

                                <div class="customer-contact-div">
                                    <div class="ccd-holder" id="ccdHolder">
                                        <div class="col-sm-12 mt-20" style="padding:0;">
                                            <h5 class="clsu-contact-section">
                                                REPRESENTATIVE
                                                <a class="pull-right btn-delete-cp hidden" id="btnDeleteClone">DELETE</a>
                                            </h5>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>First Name</label>
                                                <input type="text" class="form-control standard" name="first_name" value="<?= $user_info->first_name; ?>" disabled>
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control standard" name="last_name" value="<?= $user_info->last_name; ?>" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Birthday</label>
                                            <div class="input-group mb-10" style="width:100%;">
                                                <select  name="month" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                    <option value="01" <?= (substr($user_info->birthdate, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                    <option value="02" <?= (substr($user_info->birthdate, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                    <option value="03" <?= (substr($user_info->birthdate, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                    <option value="04" <?= (substr($user_info->birthdate, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                    <option value="05" <?= (substr($user_info->birthdate, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                    <option value="06" <?= (substr($user_info->birthdate, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                    <option value="07" <?= (substr($user_info->birthdate, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                    <option value="08" <?= (substr($user_info->birthdate, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                    <option value="09" <?= (substr($user_info->birthdate, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                    <option value="10" <?= (substr($user_info->birthdate, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                    <option value="11" <?= (substr($user_info->birthdate, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                    <option value="12" <?= (substr($user_info->birthdate, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                                </select>
                                                <select name="day" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                    <option value="">Day</option>
                                                    <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                        <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($user_info->birthdate, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <select name="year" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                    <option value="">Year</option>
                                                    <?php for ($i = 1950; $i <= 2018; $i++) { ?>
                                                        <option value="<?php echo $i; ?>" <?= (substr($user_info->birthdate, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-10 w-100">
                                                <span class="input-group-addon mobile-number" id="basic-addon1">
                                                    +63
                                                </span>
                                                <input type="text" class="form-control standard num-only-field" placeholder="example: 917-237 9212" name="mobile_number" value="<?= $user_info->mobile_number; ?>" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>Office Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="office_number" value="<?= $user_info->office_number; ?>" disabled>
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Fax Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="fax_number" value="<?= $user_info->fax_number; ?>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--div class="col-sm-12 mt-20" style="padding:0;">
                                        <a class="btn-aa">Add another</a>
                                </div-->

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-ld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email" value="<?= $user_info->email; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password" disabled>
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                    <a class="btn btn-success btn-green btn-du mt-10" data-id="<?= $user_info->user_id; ?>">Delete User</a>
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>
                            </div>
                        </form> 
                        
                        <!-- Seller -->
                        <!-- hide this div when user select individual use -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/editCustomerSeller" enctype="multipart/form-data">
                            <input type="hidden" name="customer_type_id" value="3">
                            <input type="hidden" name="user_id" value="<?= $user_info->user_id; ?>">
                            <input type="hidden" name="access_status" value="<?= $user_info->access_status; ?>">
                            <input type="hidden" name="b_verification" value="">
                            <input type="hidden" name="s_verification" value="">
                            <input type="hidden" name="t_verification" value="">
                            <div class="cs-cct-div-b <?= ($user_info->customer_type_id != 3) ? "hidden" : ""; ?>">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control standard" name="company_name" value="<?= $user_info->company_name; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-company-section">COMPANY ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select class="form-control standard region-select" name="region" disabled>
                                        <?php foreach ($regions as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->region) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select" name="province" disabled>
                                        <?php foreach ($provinces as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->province) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select" name="city" disabled>
                                        <?php foreach ($cities as $row) { ?>
                                            <option value="<?= @$row->id; ?>" <?= (@$row->id == $user_address->city) ? "selected" : ""; ?>><?= @$row->name; ?></option>
                                        <?php } ?>                                     
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1" value="<?= $user_address->address1; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2" value="<?= $user_address->address2; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-pbr-section">PROOF OF BUSINESS REGISTRATION (OPTIONAL)</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload Business Permit</label>

                                    <?php 

                                        $bfile = $bfile_info->file;
                                        $bfile_href = "";
                                        $bfile_name = "";

                                        if(substr($bfile, -4) == ".jpg" || substr($bfile, -4) == ".png" || substr($bfile, -5) == ".jpeg"){

                                            $bfile_href = STOREFRONT_URI.'uploads/junk/'.$bfile_info->file;
                                            $bfile_name = 'businesspermit-'.$user_info->company_name.'.jpg';
                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $bfile_href;?>" download target="_blank">
                                        <?php echo $bfile_name;?>
                                    </a>


                                    <div class="upload-file-div bpe-div" style="border:none !important;">
                                        <input type="file" class="form-control filestyle standard bpermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard" id="BFile" name="bfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file hidden bpermituploading">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status bpermitstatus">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success bpermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="bpe-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="bpermitname" disabled>                                                   
                                                </div>
                                                <a class="btn-remove-bpe-img btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($bfile, -4) != '.jpg' && substr($bfile, -4) != '.png' && substr($bfile, -5) == '.jpeg'){ echo 'hidden'; }?>">                                  
                                        <a class="btn btn-verify-bfile btn-verify-file <?php if ($bfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($bfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="bpe-date" style="margin-bottom:10px;">
                                        <label>Business Permit Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="BYearExp" id="yearExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Year</option>
                                                <?php for ($i = 2000; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>" <?= (substr($bfile_info->expiration, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select  name="BMonthExp" id="BMonth-1" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Month</option>
                                                <option value="01" <?= (substr($bfile_info->expiration, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                <option value="02" <?= (substr($bfile_info->expiration, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                <option value="03" <?= (substr($bfile_info->expiration, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                <option value="04" <?= (substr($bfile_info->expiration, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                <option value="05" <?= (substr($bfile_info->expiration, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                <option value="06" <?= (substr($bfile_info->expiration, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                <option value="07" <?= (substr($bfile_info->expiration, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                <option value="08" <?= (substr($bfile_info->expiration, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                <option value="09" <?= (substr($bfile_info->expiration, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                <option value="10" <?= (substr($bfile_info->expiration, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                <option value="11" <?= (substr($bfile_info->expiration, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                <option value="12" <?= (substr($bfile_info->expiration, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                            </select>

                                            <select name="BDayExp" id="dayExp" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($bfile_info->expiration, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload SEC or DTI Permit Image </label>

                                     <?php 

                                        $sfile = $sfile_info->file;
                                        $sfile_href = "";
                                        $sfile_name = "";

                                        if(substr($sfile, -4) == ".jpg" || substr($sfile, -4) == ".png" || substr($sfile, -5) == ".jpeg"){

                                            $sfile_href = STOREFRONT_URI.'uploads/junk/'.$sfile_info->file;
                                            $sfile_name = 'secdtipermit-'.$user_info->company_name.'.jpg';
                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $sfile_href;?>" download target="_blank">
                                        <?php echo $sfile_name;?>
                                    </a>


                                    <div class="sdti-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle spermit">
                                        <input type="hidden" class="form-control standard" id="SFile" name="sfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file spermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success spermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="sdti-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="sdtipermit" disabled>
                                                </div>
                                                <a class="btn-remove-file-sdti btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($sfile, -4) != '.jpg' && substr($sfile, -4) != '.png' && substr($sfile, -5) != '.jpeg'){ echo 'hidden'; }?>">
                                        <a class="btn btn-verify-sfile btn-verify-file <?php if ($sfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($sfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="sdti-date" style="margin-bottom:10px;">
                                        <label>SEC or DTI Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="SYearExp" id="yearExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Year</option>
                                                <?php for ($i = 2000; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>" <?= (substr($sfile_info->expiration, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select  name="SMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                <option value="">Month</option>
                                                <option value="01" <?= (substr($sfile_info->expiration, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                <option value="02" <?= (substr($sfile_info->expiration, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                <option value="03" <?= (substr($sfile_info->expiration, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                <option value="04" <?= (substr($sfile_info->expiration, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                <option value="05" <?= (substr($sfile_info->expiration, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                <option value="06" <?= (substr($sfile_info->expiration, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                <option value="07" <?= (substr($sfile_info->expiration, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                <option value="08" <?= (substr($sfile_info->expiration, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                <option value="09" <?= (substr($sfile_info->expiration, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                <option value="10" <?= (substr($sfile_info->expiration, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                <option value="11" <?= (substr($sfile_info->expiration, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                <option value="12" <?= (substr($sfile_info->expiration, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                            </select>

                                            <select name="SDayExp" id="dayExp" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($sfile_info->expiration, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload 2303 Image</label>

                                     <?php 

                                        $tfile = $tfile_info->file;
                                        $tfile_href = "";
                                        $tfile_name = "";

                                        if(substr($tfile, -4) == ".jpg" || substr($tfile, -4) == ".png" || substr($tfile, -5) == ".jpeg"){

                                            $tfile_href = STOREFRONT_URI.'uploads/junk/'.$tfile_info->file;
                                            $tfile_name = '2303permit-'.$user_info->company_name.'.jpg';
                                        }

                                     ?>

                                    <a class="file-link" href="<?php echo $tfile_href;?>" download target="_blank">
                                        <?php echo $tfile_name;?>
                                    </a>

                                    <div class="2303-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle tpermit">
                                        <input type="hidden" class="form-control standard" id="TFile" name="tfile">
                                        
                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file tpermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status tpermituploading">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success tpermitbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>
                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="2303-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="2303" disabled>
                                                </div>
                                                <a class="btn-remove-file-2303 btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-btns <?php if(substr($tfile, -4) != '.jpg' && substr($tfile, -4) != '.png' && substr($tfile, -5) != '.jpeg'){ echo 'hidden' ;} ?>">                                  
                                        <a class="btn btn-verify-tfile btn-verify-file <?php if ($tfile_info->verified_status == '1'){echo 'hidden';}?>" data-id=''><i class='fa fa-check-circle fa-1x'></i>Verify</a>
                                        <a class="btn btn-verified-file <?php if ($tfile_info->verified_status == '0'){echo 'hidden';}?>" data-id='' disabled><i class='fa fa-check-circle fa-1x'></i>Verified</a>
                                    </div>                                    
                                </div>

                                <div class="customer-contact-div">
                                    <div class="ccd-holder" id="ccdHolder">
                                        <div class="col-sm-12 mt-20" style="padding:0;">
                                            <h5 class="clsu-contact-section">
                                                REPRESENTATIVE
                                                <a class="pull-right btn-delete-cp hidden" id="btnDeleteClone">DELETE</a>
                                            </h5>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>First Name</label>
                                                <input type="text" class="form-control standard" name="first_name" value="<?= $user_info->first_name; ?>" disabled>
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control standard" name="last_name" value="<?= $user_info->last_name; ?>" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Birthday</label>
                                            <div class="input-group mb-10" style="width:100%;">
                                                <select  name="month" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                    <option value="01" <?= (substr($user_info->birthdate, 5, 2) == "01") ? "selected" : ""; ?>>January</option>
                                                    <option value="02" <?= (substr($user_info->birthdate, 5, 2) == "02") ? "selected" : ""; ?>>February</option>
                                                    <option value="03" <?= (substr($user_info->birthdate, 5, 2) == "03") ? "selected" : ""; ?>>March</option>
                                                    <option value="04" <?= (substr($user_info->birthdate, 5, 2) == "04") ? "selected" : ""; ?>>April</option>
                                                    <option value="05" <?= (substr($user_info->birthdate, 5, 2) == "05") ? "selected" : ""; ?>>May</option>
                                                    <option value="06" <?= (substr($user_info->birthdate, 5, 2) == "06") ? "selected" : ""; ?>>June</option>
                                                    <option value="07" <?= (substr($user_info->birthdate, 5, 2) == "07") ? "selected" : ""; ?>>July</option>
                                                    <option value="08" <?= (substr($user_info->birthdate, 5, 2) == "08") ? "selected" : ""; ?>>August</option>
                                                    <option value="09" <?= (substr($user_info->birthdate, 5, 2) == "09") ? "selected" : ""; ?>>September</option>
                                                    <option value="10" <?= (substr($user_info->birthdate, 5, 2) == "10") ? "selected" : ""; ?>>October</option>
                                                    <option value="11" <?= (substr($user_info->birthdate, 5, 2) == "11") ? "selected" : ""; ?>>November</option>
                                                    <option value="12" <?= (substr($user_info->birthdate, 5, 2) == "12") ? "selected" : ""; ?>>December</option>
                                                </select>
                                                <select name="day" data-validetta="required" class="form-control standard" style="width:26%;" disabled>
                                                    <option value="">Day</option>
                                                    <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                        <option value="<?= ($i < 10) ? "0" . $i : $i; ?>" <?= (substr($user_info->birthdate, 8, 2) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <select name="year" data-validetta="required" class="form-control standard" style="width:37%;" disabled>
                                                    <option value="">Year</option>
                                                    <?php for ($i = 1950; $i <= 2018; $i++) { ?>
                                                        <option value="<?php echo $i; ?>" <?= (substr($user_info->birthdate, 0, 4) == $i) ? "selected" : ""; ?>><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-10 w-100">
                                                <span class="input-group-addon mobile-number" id="basic-addon1">
                                                    +63
                                                </span>
                                                <input type="text" class="form-control standard num-only-field" placeholder="example: 917-237 9212" name="mobile_number" value="<?= $user_info->mobile_number; ?>" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>Office Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="office_number" value="<?= $user_info->office_number; ?>" disabled>
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Fax Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="fax_number" value="<?= $user_info->fax_number; ?>" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--div class="col-sm-12 mt-20" style="padding:0;">
                                        <a class="btn-aa">Add another</a>
                                </div-->

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-ld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email" value="<?= $user_info->email; ?>" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password" disabled>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password" disabled>
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                    <a class="btn btn-success btn-green btn-du mt-10" data-id="<?= $user_info->user_id; ?>">Delete User</a>
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>
                            </div>
                        </form>                         

                        <!--div class="cls-buttons">
                                <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                <a class="btn btn-success btn-green btn-du mt-10">Delete User</a>
                                <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                        </div-->

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<?php $this->view->partial('users/modal'); ?>

<script type="text/javascript">

$(window).on('scrolldelta', function (e) {
        var top = e.scrollTop;
        // var topDelta = e.scrollTopDelta;
        // var left = e.scrollLeft;
        // var leftDelta = e.scrollLeftDelta;
        var feedbackText = 'scrollTop: ' + top.toString() + "px";
        // + 'px (' + (topDelta >= 0 ? '+' : '') + topDelta.toString() + 'px), scrollLeft: ' + left.toString() + 'px (' + (leftDelta >= 0 ? '+' : '') + leftDelta.toString() + 'px)';
        // document.getElementById('feedback').innerHTML = feedbackText;
        $window = $(window);

        if (top >= 50) {
            $('.cls-menu-div').addClass('fixed');
            $('.cls-user-div').addClass('fixed');
        } else {
            $('.cls-menu-div').removeClass('fixed');
            $('.cls-user-div').removeClass('fixed');
        }

        // for company profile edit - scroll action
        if (top >= 120) {
            $('.cls-ct').removeClass('active');
            $('.cls-company').addClass('active');
        }

        if (top < 150) {
            $('.cls-company').removeClass('active');
            $('.cls-ct').addClass('active');
        } else if (top >= 470) {
            $('.cls-company').removeClass('active');
            $('.cls-docs').addClass('active');
        }

        if (top < 500) {
            $('.cls-docs').removeClass('active');
        }

        if (top >= 780) {
            $('.cls-cp').addClass('active');
            $('.cls-docs').removeClass('active');
        } else {
            $('.cls-cp').removeClass('active');
        }

        if (top >= 860) {
            $('.cls-cp').removeClass('active');
            $('.cls-cld').addClass('active');
        }

        if (top < 860) {
            $('.cls-cld').removeClass('active');
        }

        // for personal profile edit - scroll action
        if (top >= 120) {
            $('.cls-pct').removeClass('active');
            $('.cls-pi').addClass('active');
        }

        if (top < 120) {
            $('.cls-pct').addClass('active');
            $('.cls-pi').removeClass('active');
        } else if (top >= 350) {
            $('.cls-pi').removeClass('active');
            $('.cls-pa').addClass('active');
        }

        if (top < 350) {
            $('.cls-ppa').removeClass('active');
        } else if (top >= 500) {
            $('.cls-pld').addClass('active');
            $('.cls-ppa').removeClass('active');
        }

        if (top < 500) {
            $('.cls-pld').removeClass('active');
        }
    });


// for company profile edit - scroll action
    $(document).on('click', '.cls-ct', function () {
        $(this).addClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.btn-holder-div').offset().top},
        100);
    });

    $(document).on('click', '.cls-company', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-company-section').offset().top - 150},
        100);
    });

    $(document).on('click', '.cls-docs', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.cls-pbr-section').offset().top - 150},
        100);
    });

    $(document).on('click', '.cls-cp', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-contact-section').offset().top - 100},
        100);
    });

    $(document).on('click', '.cls-cld', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.cls-ld-section').offset().top - 150},
        100);
    });

// for personal profile edit - scroll action
    $(document).on('click', '.cls-pct', function () {
        $(this).addClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-ppa').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.cls-active-section').offset().top - 50},
        100);
    });

    $(document).on('click', '.cls-pi', function () {
        $(this).addClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-ppa').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-ppi-section').offset().top - 120},
        100);
    });

    $(document).on('click', '.cls-ppa', function () {
        $(this).addClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-ppa-section').offset().top - 200},
        100);
    });

    $(document).on('click', '.cls-pld', function () {
        $(this).addClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-ppa').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-pld-section').offset().top},
        100);
    });
	
$(document).on('change','.region-select', function(){
	var region_id = $(this).val();
	var province_select = $(this).closest('form').find('.province-select');
	
	var params = {
		region_id : region_id,
	};
	
	$.post(BASE_URL+'users/getProvinces', params, function(data){
		data = $.parseJSON(data);
		
		var html_content = "";
		data.forEach(function(entry){
			html_content += '<option value="'+entry.id+'">'+entry.name+'</option>';
		});
		//console.log(html_content);
		province_select.html(html_content);
		province_select.trigger('change');
	});
});

$(document).on('change','.province-select', function(){
	var province_id = $(this).val();
	var city_select = $(this).closest('form').find('.city-select');
	
	var params = {
		province_id : province_id,
	};
	
	$.post(BASE_URL+'users/getCities', params, function(data){
		data = $.parseJSON(data);
		
		var html_content = "";
		data.forEach(function(entry){
			html_content += '<option value="'+entry.id+'">'+entry.name+'</option>';
		});
		city_select.html(html_content);
	});
});

$(document).on('click', '.btn-du', function(){
    $('#modalDeleteCustomer').modal('show'); //modal show when page loaded
    
    $('#modalDeleteCustomer [name="user_id"]').val('<?= $user_info->user_id?>');
    $('#modalDeleteCustomer .user_name').text('<?= $user_info->last_name?>, <?= $user_info->first_name?>');    
});

$(document).on('click', '#modalDeleteCustomer .btn-del', function(){
    var user_id = <?= $user_info->user_id?>;
    var customer_type_id = <?=$user_info->customer_type_id;?>;
    var url_string = "";
    switch(customer_type_id)
    {
            case 1:
                    url_string = "users/deleteCustomerIndiv";
                    break;
            case 2:
                    url_string = "users/deleteCustomerContractor";
                    break;
            case 3:
                    url_string = "users/deleteCustomerSeller";
                    break;
    }

    var params = {
            user_id : user_id,
    };

    $.post(BASE_URL+url_string, params, function(data){
            if (data == "Success")
            {
                    window.location.href = BASE_URL+"users/customers";
            }
            else
            {
                    alert("Something Went Wrong");
            }
    });
});

$('form').submit(function(e){
    //initialize errors var
    var errors = '';
    
	//$('[name="email"]').removeAttr('disabled');
    //validation list 
	if ($('[name="password"]').val().length > 0)
	{
		if ($('[name="password"]').val() && $('[name="password"]').val().length < 8){
			errors += 'Password has to be at least 8 characters.\n';
		} else if ($('[name="password"]').val() && $('[name="password"]').val() !== $('[name="conf_password"]').val()){
			errors += 'Password and Confirm Password values do not match.\n';
		}
	}
      
    
    //form submission and prevent submit if any errors are found
    if (errors.length){
        alert(errors);
        e.preventDefault();
        return false;
    } else {

        if ($('.toggle-switch').is(':checked')){
                $(this).find('[name="access_status"]').val("0");
        } else {
                $(this).find('[name="access_status"]').val("1");
        } 
        
        var form = $(this)[0];
        var form_data = new FormData(form);
        
        for (var key of form_data.entries()) {
            console.log(key[0] + ', ' + key[1]);
        }        
		
        $.post($(this).attr('action'), form_data, function(response) {
            if (response !== 'success'){
                alert(response);
            } else {
                window.location.href = '<?=BASE_URI;?>users/customers';
            }
        });

        return false;
    }
});

$(document).on('click', '.btn-verify-file', function(){
    if ($(this).hasClass('btn-verify-bfile')){
        $(this).closest('form').find('[name="b_verification"]').val("1");
    }
    if ($(this).hasClass('btn-verify-sfile')){
        $(this).closest('form').find('[name="s_verification"]').val("1");
    }
    if ($(this).hasClass('btn-verify-tfile')){
        $(this).closest('form').find('[name="t_verification"]').val("1");
    }    
    $(this).addClass('hidden');
    $(this).closest('.verify-btns').find('.btn-verified-file').removeClass('hidden');
});

</script>
