<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <a class="clsm-company active">Company</a>
                    <a class="clsm-pi">Personal Information</a>
                    <a class="clsm-ld">Login Details</a>
                    <h5>
                        <label class="">LAST UPDATED</label>
                        <span class=""><?= $user_info->modified_on?></span>
                        <span class="">by <?=$updater;?></span>
                    </h5>
                </div>

                <!-- company details div -->
                <form role="form" method="post" action="<?= BASE_URI;?>users/editAdminUser"> 
                    <input type="hidden" name="user_id" value="<?= $user_info->user_id?>">
                    <div class="cls-user-div">

                        <div class="cls-user">
                            <h5 class="clsu-company-section">COMPANY</h5>

                            <div class="col-sm-12 mt-20" style="padding:0;">
                                <input type='checkbox' class='toggle-switch toggle-active' name="access_status" <?= $user_info->access_status == '0' ? 'checked="checked"' : ''; ?>>
                            </div>

                            <div class="col-sm-12 mt-20" style="padding:0;">
                                <label>Company Name</label>
                                <input type="text" class="form-control standard" name="company_name" value="<?= $user_info->company_name?>">
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Role</label>
                                <select class="form-control standard" name="access_id">
                                    <option value="">Select Role</option>
                                    <?php foreach ($roles as $row) { ?>
                                        <option value="<?= @$row->access_id; ?>" <?= $user_info->access_id == $row->access_id ? 'selected="selected"' : ''; ?>><?= @$row->access_name; ?></option>
                                    <?php } ?>                                  
                                </select>
                            </div>

                            <div class="col-sm-12 mt-20" style="padding:0;">
                                <h5 class="clsu-pi-section">PERSONAL INFORMATION</h5>
                            </div>

                            <div class="col-sm-12" style="padding:0;">
                                <label>Last Name</label>
                                <input type="text" class="form-control standard" name="last_name" value="<?= $user_info->last_name?>">
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>First Name</label>
                                <input type="text" class="form-control standard" name="first_name" value="<?= $user_info->first_name?>">
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Mobile Number</label>
                                <div class="input-group mb-10 w-100">
                                    <span class="input-group-addon mobile-number" id="basic-addon1">
                                        +63
                                    </span>
                                    <input type="text" class="form-control standard num-only-field input-numeric" name="mobile_no" value="<?= $user_info->mobile_no?>">
                                </div>
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Office Number (Optional)</label>
                                <input type="text" class="form-control standard input-numeric" name="office_no" value="<?= $user_info->office_no?>">
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Fax Number (Optional)</label>
                                <input type="text" class="form-control standard input-numeric" name="fax_no" value="<?= $user_info->fax_no?>">
                            </div>

                            <div class="col-sm-12 mt-20" style="padding:0;">
                                <h5 class="clsu-ld-section">LOGIN DETAILS</h5>
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Email Address</label>
                                <input type="text" class="form-control standard" name="email" value="<?= $user_info->email?>" readonly>
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Password (8 or more characters)</label>
                                <input type="password" class="form-control standard" name="password" disabled>
                            </div>

                            <div class="col-sm-12 mt-10" style="padding:0;">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control standard" name="conf_password" disabled>
                            </div>
                        </div>

                        <div class="cls-buttons">
                            <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                            <a class="btn btn-success btn-green btn-du mt-10 delBtn" >Delete User</a>
                            <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?=BASE_URI;?>users">Cancel</a>
                        </div>

                    </div>
                </form>    
            </div>

        </div>

    </div>

</div>

<?php $this->view->partial('users/modal'); ?>

<script>
$(".input-numeric").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: false});     
$('form').submit(function(e){
    //initialize errors var
    var errors = '';
    
    //validation list 
    if ($('[name="company_name"]').val() == ""){
        errors += 'Company Name is required.\n';
    } 
    if ($('[name="access_id"] option:selected').val() == ""){
        errors += 'Role is required.\n';
    }  
    if ($('[name="last_name"]').val() == ""){
        errors += 'Last Name is required.\n';
    }  
    if ($('[name="first_name"]').val() == ""){
        errors += 'First Name is required.\n';
    }
    if ($('[name="mobile_no"]').val() == ""){
        errors += 'Mobile Number is required.\n';
    }  
    
    //form submission and prevent submit if any errors are found
    if (errors.length){
        alert(errors);
        e.preventDefault();
        return false;
    } else {
        var form_data = $(this).serialize();
        $.post($(this).attr('action'), form_data, function(response) {
            if (response !== 'success'){
                alert(response);
            } else {
                window.location.href = '<?=BASE_URI;?>users';
            }
        });
        return false;
    }
}); 

$(document).on('click', '.delBtn', function(){
    $('#modalDeleteAdminUser').modal('show'); //modal show when page loaded
    
    $('#modalDeleteAdminUser [name="user_id"]').val('<?= $user_info->user_id?>');
    $('#modalDeleteAdminUser .user_name').text('<?= $user_info->last_name?>, <?= $user_info->first_name?>');    
});

</script>    