<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <ol class="breadcrumb">  
                        <li><a class="link active">Admin</a></li>
                        <li><a onclick="location.href = '<?= BASE_URI ?>users/customers'" class="link">Customers</a></li>
                    </ol> 
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                    <div class="col-lg-4">
                        <input type="button" class="btn btn-green btn-na <?php if ($this->session->LPMADMINACCESS['users'] < 2){echo 'hidden';}?>" value="New Admin User" onclick="window.location.href='<?=BASE_URI;?>users/new_admin'">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12">
                <table id="adminUserTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:5%;">No.</th>
                        <th style="width:15%;">Company Name</th>
                        <th style="width:10%;">Last Name</th>
                        <th style="width:10%;">First Name</th>
                        <th style="width:10%;">Role</th>
                        <th style="width:10%;">Mobile No.</th> 
                        <th style="width:10%;">Fax No.</th>
                        <th style="width:10%;">Status</th>
                        <th style="width:15%;">Last Logged In</th> 
                        <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('users/modal'); ?>

<script>
    
$.post(BASE_URL+'users/getUsersAdminList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.user_id+'">'+entry.user_id+'</span>');
        content_row.push(entry.company_name);
        content_row.push('<span class="last_name">'+entry.last_name+'</span>');
        content_row.push('<span class="first_name">'+entry.first_name+'</span>');
        if (entry.access_name) content_row.push(entry.access_name);
		else content_row.push("");
        content_row.push(entry.mobile_no);
        content_row.push(entry.fax_no);
        if (entry.access_status === '0'){
            content_row.push('<span class="label label-active">Active</span>');
        } else {
            content_row.push('<span class="label label-inactive">Inactive</span>');
        }       
        content_row.push(entry.last_login);
        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
        content_array.push(content_row);
    });
            
    $('#adminUserTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [9] }],       
        "data": content_array,
        "order": [[ 0, "desc" ]]
    });
    
    var table = $('#adminUserTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });
    
<?php if ($this->session->LPMADMINACCESS['users'] == '1'){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?>      

});  

$(document).on('click', '.editLink', function(){
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    window.location.href = '<?=BASE_URI;?>users/edit_admin?id='+row_id;    
});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteAdminUser').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var user_name = $(this).closest('tr').find(".last_name").text()+', '+$(this).closest('tr').find(".first_name").text();
    
    $('#modalDeleteAdminUser [name="user_id"]').val(row_id);
    $('#modalDeleteAdminUser .user_name').text(user_name);    
});

//get response on form submit
$('form').submit(function(){
    
    var form_data = $(this).serialize();
    $.post($(this).attr('action'), form_data, function(response) {
        if (response !== 'success'){
            alert(response);
        } else {           
            window.location.href = '<?=BASE_URI;?>users';
        }
    });
    return false;

});

</script>