<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteAdminUser">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">

            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>users/deleteAdminUser"> 
                    <input type="hidden" name="user_id" value="">
                    <h5>
                        Are you sure you want to delete user
                        <<span class="user_name"></span>>?
                    </h5>
                    <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;" value="Yes, I'm sure">
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteCustomer">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">

            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>users/deleteAdminUser"> 
                    <input type="hidden" name="user_id" value="">
                    <h5>
                        Are you sure you want to delete user
                        <<span class="user_name"></span>>?
                    </h5>
                    <a class="btn btn-danger btn-red btn-okay btn-del" style="width:250px;margin-bottom:10px;">Yes, I'm sure</a>
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>
