<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <a class="clsm-company active">Company</a>
                    <a class="clsm-pi">Personal Information</a>
                    <a class="clsm-ld">Login Details</a>
<!--                    <h5>
                        <label class="hidden">LAST UPDATED</label>
                        <span class="hidden">2017/08/01 10:00:21am</span>
                        <span class="hidden">by Grace Chua</span>
                    </h5>-->
                </div>

                <!-- company details div -->
                <form role="form" method="post" action="<?= BASE_URI;?>users/newAdminUser"> 
                    <div class="cls-user-div">
                    
                    <div class="cls-user">
                        <h5 class="clsu-company-section">COMPANY</h5>

                        <div class="col-sm-12" style="padding:0;">
                            <label>Company Name</label>
                            <input type="text" class="form-control standard" name="company_name">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Role</label>
                            <select class="form-control standard" name="access_id">
                                <option value="">Select Role</option>
                                <?php foreach ($roles as $row) { ?>
                                    <option value="<?= @$row->access_id; ?>"><?= @$row->access_name; ?></option>
                                <?php } ?>                                 
                            </select>
                        </div>

                        <div class="col-sm-12 mt-20" style="padding:0;">
                            <h5 class="clsu-pi-section">PERSONAL INFORMATION</h5>
                        </div>

                        <div class="col-sm-12" style="padding:0;">
                            <label>Last Name</label>
                            <input type="text" class="form-control standard" name="last_name">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>First Name</label>
                            <input type="text" class="form-control standard" name="first_name">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Mobile Number</label>
                            <div class="input-group mb-10 w-100">
                                <span class="input-group-addon mobile-number" id="basic-addon1">
                                    +63
                                </span>
                                <input type="text" class="form-control standard num-only-field input-numeric" placeholder="" name="mobile_no">
                            </div>
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Office Number (Optional)</label>
                            <input type="text" class="form-control standard input-numeric" name="office_no">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Fax Number (Optional)</label>
                            <input type="text" class="form-control standard input-numeric" name="fax_no">
                        </div>

                        <div class="col-sm-12 mt-20" style="padding:0;">
                            <h5 class="clsu-ld-section">LOGIN DETAILS</h5>
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Email Address</label>
                            <input type="text" class="form-control standard" name="email">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Password (8 or more characters)</label>
                            <input type="password" class="form-control standard" name="password">
                        </div>

                        <div class="col-sm-12 mt-10" style="padding:0;">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control standard" name="conf_password">
                        </div>
                    </div>

                    <div class="cls-buttons">
                        <input type="submit" class="btn btn-success btn-green btn-ac" value="Create Account">
                        <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?=BASE_URI;?>users">Cancel</a>
                    </div>

                </div>
                </form>    
            </div>

        </div>

    </div>

</div>

<?php $this->view->partial('company/modal'); ?>

<script>
var email_arr = [];
<?php foreach ($email_arr as $row){?>
    email_arr.push('<?= $row;?>');
<?php }?>    
//console.log(email_arr);
$(".input-numeric").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: false});    
    
$('form').submit(function(e){
    //initialize errors var
    var errors = '';
    
    //validation list 
    if ($('[name="company_name"]').val() == ""){
        errors += 'Company Name is required.\n';
    } 
    if ($('[name="access_id"] option:selected').val() == ""){
        errors += 'Role is required.\n';
    }  
    if ($('[name="last_name"]').val() == ""){
        errors += 'Last Name is required.\n';
    }  
    if ($('[name="first_name"]').val() == ""){
        errors += 'First Name is required.\n';
    }
    if ($('[name="mobile_no"]').val() == ""){
        errors += 'Mobile Number is required.\n';
    }
    if ($('[name="email"]').val() == ""){
        errors += 'Email Address is required.\n';
    }
    if ($.inArray($('[name="email"]').val(), email_arr) !== -1){
        errors += 'Email Address is registered. Please choose a different one.\n';
    }    
    if ($('[name="email"]').val() !== "" && $('[name="password"]').val() == ""){
        errors += 'Password is required.\n';
    }
    //password
    var reg = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
    var password = $('[name="password"]').val();   
    if (password && !reg.test(password)) {
        errors += "Password must be at least 8 characters and contain a lowercase letter, an uppercase letter, a number, and a special character."
    }     
    if ($('[name="password"]').val() && $('[name="password"]').val() !== $('[name="conf_password"]').val()){
        errors += 'Password and Confirm Password values do not match.\n';
    }
    
   
    
    //form submission and prevent submit if any errors are found
    if (errors.length){
        alert(errors);
        e.preventDefault();
        return false;
    } else {
        var form_data = $(this).serialize();
        $.post($(this).attr('action'), form_data, function(response) {
            if (response !== 'success'){
                alert(response);
            } else {
                window.location.href = '<?=BASE_URI;?>users';
            }
        });
        return false;
    }
});    
</script>    