<style type="text/css">
    .bootstrap-filestyle input.form-control{
        height: 40px !important;
        border: 1px solid #CBCBCB;
        font-size: 10px;
        font-family: 'SF-Pro-Text-Regular';
    }

    .afile-close-div{
        width: 80%;
        float: right;
        height: 100%;
        padding: 10px 10px;
        color: #007B32;
        overflow: hidden !important;
    }
    .file-name{
        overflow: hidden;
        width: 90%;
        font-family: 'SF-Pro-Text-Regular';
        font-size: 10px;
    }
    .file-name input{
        width: 100%;
        border: none;
        background-color: #FFF;
    }
    .btn-remove-file {
        color: #0D8E33;
        margin-top: -23px !important;
    }
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <div class="company-menu">
                        <a class="cls-ct active">Customer Type</a>
                        <a class="cls-company">Company</a>
                        <a class="cls-docs">Documents</a>
                        <a class="cls-cp">Representative</a>
                        <a class="cls-cld">Login Details</a>
                    </div>

                    <div class="personal-menu hidden">
                        <a class="cls-pct active">Customer Type</a>
                        <a class="cls-pi">Personal Information</a>
                        <a class="cls-pa">Address</a>
                        <a class="cls-pld">Login Details</a>
                    </div>

                    <!--h5>
                        <label class="hidden">LAST UPDATED</label>
                        <span class="hidden">2017/08/01 10:00:21am</span>
                        <span class="hidden">by Grace Chua</span>
                    </h5-->
                </div>

                <!-- company details div -->
                <div class="cls-user-div">

                    <div class="cls-user">
                        <div class="col-sm-12" style="padding:0;">
                            <div class="btn-holder-div">
                                <div class="btn-holder">
                                    <button class="btn btn-ctype" id="btnSeller">
                                        <center>
                                            <img class="imgSeller" src="<?= BASE_URI; ?>img/customer-type/seller-inactive.png">

                                            <h4>Seller or Retailer</h4>
                                        </center>
                                    </button>
                                </div>

                                <div class="btn-holder">
                                    <button class="btn btn-ctype" id="btnContractor">
                                        <center>
                                            <img class="imgContractor" src="<?= BASE_URI; ?>img/customer-type/contractor-inactive.png">

                                            <h4>Contractor or Project</h4>
                                        </center>
                                    </button>
                                </div>

                                <div class="btn-holder">
                                    <button class="btn btn-ctype" id="btnPersonal">
                                        <center>
                                            <img class="imgPersonal" src="<?= BASE_URI; ?>img/customer-type/personal-inactive.png">

                                            <h4>Individual Use</h4>
                                        </center>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Individual-->
                        <!-- hide this div when user select contractor or seller -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/newCustomerIndiv" enctype="multipart/form-data">
                            <input type="hidden" name="customer_type_id" value="1">    
                            <div class="cs-ict-div hidden">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-ppi-section">
                                        PERSONAL INFORMATION
                                    </h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <div class="col-sm-6" style="padding-left:0;">
                                        <label>First Name</label>
                                        <input type="text" class="form-control standard" name="first_name">
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control standard" name="last_name">
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Birthday</label>
                                    <div class="input-group mb-10" style="width:100%;">
                                        <select  name="month" data-validetta="required" class="form-control standard" style="width:37%;">
                                            <option value="0" selected>Month</option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <select name="day" data-validetta="required" class="form-control standard" style="width:26%;">
                                            <option value="0">Day</option>
                                            <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                            <?php } ?>
                                        </select>
                                        <select name="year" data-validetta="required" class="form-control standard" style="width:37%;">
                                            <option value="">Year</option>
                                            <?php for ($i = 1950; $i <= 2018; $i++) { ?>
                                                <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Mobile Number</label>
                                    <div class="input-group mb-10 w-100">
                                        <span class="input-group-addon mobile-number" id="basic-addon1">
                                            +63
                                        </span>
                                        <input type="text" class="form-control standard num-only-field" placeholder="example: 917-237 9212" name="mobile_number">
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <div class="col-sm-6" style="padding-left:0;">
                                        <label>Office Number (Optional)</label>
                                        <input type="text" class="form-control standard" name="office_number">
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Fax Number (Optional)</label>
                                        <input type="text" class="form-control standard" name="fax_number">
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-ppa-section">ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select name="region" class="form-control standard mb-10 region-select req-fld">
                                        <?php foreach ($regions as $row) {
                                            if($row->id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?= @$row->id; ?>"><?= @$row->name; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select req-fld" name="province">          
                                        <?php foreach($provinces as $province) { 
                                            if($province->region_id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?php echo $province->id;?>"><?php echo $province->name;?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select req-fld" name="city">
                                        <?php foreach($cities as $city) {  ?>
                                           
                                            <option value="<?php echo $city->id;?>"><?php echo $city->name;?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2">
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-pld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password">
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac" value="Create Account">
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>                            
                            </div>
                        </form>                          
                        
                        <!-- Contractor-->
                        <!-- hide this div when user select individual use -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/newCustomerContractor" enctype="multipart/form-data"> 
                            <input type="hidden" name="customer_type_id" value="2">     
                            <div class="cs-cct-div hidden">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control standard" name="company_name">
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-company-section">COMPANY ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select class="form-control standard region-select" name="region">
                                        <?php foreach ($regions as $row) {
                                            if($row->id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?= @$row->id; ?>"><?= @$row->name; ?></option>
                                        <?php } ?> 
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select" name="province">     
                                        <?php foreach($provinces as $province) { 
                                            if($province->region_id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?php echo $province->id;?>"><?php echo $province->name;?></option>
                                        <?php } ?>                              
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select" name="city">
                                        <?php foreach($cities as $city) {  ?>
                                           
                                            <option value="<?php echo $city->id;?>"><?php echo $city->name;?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2">
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-pbr-section">PROOF OF BUSINESS REGISTRATION (OPTIONAL)</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload Business Permit</label>
                                    <div class="upload-file-div bpe-div" style="border:none !important;">
                                        <input type="file" class="form-control filestyle standard bpermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard bfile" id="BFile" name="bfile">
                                        









                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file hidden bpermituploading">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status bpermitstatus">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success bpermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>








                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="bpe-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" class="bpermitname" disabled>
                                                </div>
                                                <a class="btn-remove-bpe-img btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>















                                    </div>
                                </div>


                                <?php 

                                    date_default_timezone_set('Asia/Manila');
                                    $month_now = intVal(Date("m"));
                                    $date_now = intVal(Date("d"));
                                    $year_now = intVal(Date("Y"));

                                    $month_array = array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');

                                ?>

                                <input type="hidden" id="dateNowSelect" data-month="<?php echo $month_now;?>" data-date="<?php echo $date_now;?>" data-year="<?php echo $year_now;?>">


                                <div class="col-sm-12" style="padding:0;">
                                    <div class="bpe-date hidden" style="margin-bottom:10px;">
                                        <label>Business Permit Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            
                                            <select name="BYearExp" id="sb-yearExp" data-validetta="required" class="form-control standard" style="width:37%;">
                                                <option value="">Year</option>
                                                <?php for ($i = $year_now; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>


                                            <select name="BMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" id="sb-monthExp">
                                                <option value="0" selected>Month</option>
                                                
                                                    <?php 
                                                        for ($i = $month_now; $i <= 12; $i++) { 

                                                            $date_val = $i;

                                                            if($date_val < 10){ 

                                                                $date_val = "0" + 1;

                                                            }?>

                                                            <option value="<?php echo $date_val;?>"><?php echo $month_array[intval($i - 1)];?></option>

                                                    <?php } ?>

                                            </select>

                                            <select name="BDayExp" id="sb-dayExp" data-validetta="required" class="form-control standard" style="width:26%;">
                                                <option value="">Day</option>
                                                <?php for ($i = $date_now; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload SEC or DTI Permit Image </label>
                                    <div class="sdti-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle spermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard" id="SFile" name="sfile">
                                        







                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file spermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success spermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>










                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="sdti-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="sdtipermit" disabled>
                                                </div>
                                                <a class="btn-remove-file-sdti btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>














                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="sdti-date hidden" style="margin-bottom:10px;">
                                        <label>SEC or DTI Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="SYearExp" id="ss-yearExp" data-validetta="required" class="form-control standard" style="width:37%;">
                                                <option value="">Year</option>
                                                <?php for ($i = $year_now; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select name="SMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" id="ss-monthExp">
                                                <option value="0" selected>Month</option>
                                                <?php 
                                                    for ($i = 1; $i <= 12; $i++) { 

                                                        $date_val = $i;

                                                        if($date_val < 10){ 

                                                            $date_val = "0" + 1;

                                                        }?>

                                                        <option value="<?php echo $date_val;?>"><?php echo $month_array[intval($i - 1)];?></option>

                                                <?php } ?>
                                            </select>

                                            <select name="SDayExp" id="ss-dayExp" data-validetta="required" class="form-control standard" style="width:26%;">
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                        </div>
                                    </div>
                                </div>  

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload 2303 Image</label>
                                    <div class="2303-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle tpermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard" id="TFile" name="tfile">
                                        










                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file tpermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status tpermituploading">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success tpermitbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>








                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="2303-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="2303" disabled>
                                                </div>
                                                <a class="btn-remove-file-2303 btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>













                                    </div>
                                </div>

                                <div class="customer-contact-div">
                                    <div class="ccd-holder" id="ccdHolder">
                                        <div class="col-sm-12 mt-20" style="padding:0;">
                                            <h5 class="clsu-contact-section">
                                                REPRESENTATIVE
                                                <a class="pull-right btn-delete-cp hidden" id="btnDeleteClone">DELETE</a>
                                            </h5>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>First Name</label>
                                                <input type="text" class="form-control standard" name="first_name">
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control standard" name="last_name">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Birthday</label>
                                            <div class="input-group mb-10" style="width:100%;">
                                                <select  name="month" data-validetta="required" class="form-control standard" style="width:37%;">
                                                    <option value="0" selected>Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <select name="day" data-validetta="required" class="form-control standard" style="width:26%;">
                                                    <option value="">Day</option>
                                                    <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                        <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <select name="year" data-validetta="required" class="form-control standard" style="width:37%;">
                                                    <option value="">Year</option>
                                                    <?php for ($i = 1950; $i <= 2000; $i++) { ?>
                                                        <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-10 w-100">
                                                <span class="input-group-addon mobile-number" id="basic-addon1">
                                                    +63
                                                </span>
                                                <input type="text" class="form-control standard num-only-field" placeholder="example: 917-237 9212" name="mobile_number">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>Office Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="office_number">
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Fax Number (Optional)</label>
                                                <input type="text" class="form-control standard" name="fax_number">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--div class="col-sm-12 mt-20" style="padding:0;">
                                    <a class="btn-aa">Add another</a>
                                </div-->

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-ld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password">
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac submitBtn" value="Create Account">
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>                            
                            </div>
                        </form> 

                        <!-- Seller-->
                        <!-- hide this div when user select individual use -->
                        <form role="form" method="post" action="<?= BASE_URI; ?>users/newCustomerSeller" enctype="multipart/form-data">
                            <input type="hidden" name="customer_type_id" value="3">     
                            <div class="cs-cct-div-b">
                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control standard" name="company_name">
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="clsu-company-section">COMPANY ADDRESS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Region</label>
                                    <select class="form-control standard region-select" name="region">
                                        <?php foreach ($regions as $row) {
                                            if($row->id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?= @$row->id; ?>"><?= @$row->name; ?></option>
                                        <?php } ?>  
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Province</label>
                                    <select class="form-control standard province-select" name="province">
                                        <?php foreach($provinces as $province) { 
                                            if($province->region_id == 117) { $isselected = "selected"; } else { $isselected = ""; } ?>
                                            <option <?=$isselected;?> value="<?php echo $province->id;?>"><?php echo $province->name;?></option>
                                        <?php } ?>                  
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>City</label>
                                    <select class="form-control standard city-select" name="city">
                                        <?php foreach($cities as $city) { ?>
                                            <option value="<?php echo $city->id;?>"><?php echo $city->name;?></option>
                                        <?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 1</label>
                                    <input type="text" class="form-control standard" name="address1">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Address Line 2</label>
                                    <input type="text" class="form-control standard" name="address2">
                                </div>

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-pbr-section">PROOF OF BUSINESS REGISTRATION (OPTIONAL)</h5>
                                </div>











































                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload Business Permit</label>
                                    <div class="upload-file-div bpe-div" style="border:none !important;">
                                        <input type="file" class="form-control filestyle standard bpermit" accept=".png, .jpg, .jpeg">
                                        <input type="hidden" class="form-control standard bfile" id="BFile" name="bfile">
                                        








                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file hidden bpermituploading">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status bpermitstatus">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success bpermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>








                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="bpe-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="bpermitname" disabled>
                                                </div>
                                                <a class="btn-remove-bpe-img btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>








                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="bpe-date hidden" style="margin-bottom:10px;">
                                        <label>Business Permit Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="BYearExp" id="cb-yearExp" data-validetta="required" class="form-control standard" style="width:37%;">
                                                <option value="">Year</option>
                                                <?php for ($i = $year_now; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select name="BMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" id="cb-monthExp">
                                                <option value="0" selected>Month</option>
                                                <?php 
                                                    for ($i = 1; $i <= 12; $i++) { 

                                                        $date_val = $i;

                                                        if($date_val < 10){ 

                                                            $date_val = "0" + 1;

                                                        }?>

                                                        <option value="<?php echo $date_val;?>"><?php echo $month_array[intval($i - 1)];?></option>

                                                <?php } ?>
                                            </select>

                                            <select name="BDayExp" id="cb-dayExp" data-validetta="required" class="form-control standard" style="width:26%;">
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload SEC or DTI Permit Image </label>
                                    <div class="sdti-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle spermit">
                                        <input type="hidden" class="form-control standard" id="SFile" name="sfile">
                                        








                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file spermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success spermitbar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>











                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="sdti-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="sdtipermit" disabled>
                                                </div>
                                                <a class="btn-remove-file-sdti btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>












                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding:0;">
                                    <div class="sdti-date hidden" style="margin-bottom:10px;">
                                        <label>SEC or DTI Expiry</label>
                                        <div class="input-group mb-10" style="width:100%;">

                                            <select name="SYearExp" id="cs-yearExp" data-validetta="required" class="form-control standard" style="width:37%;">
                                                <option value="">Year</option>
                                                <?php for ($i = $year_now; $i <= 2050; $i++) { ?>
                                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                            <select name="SMonthExp" data-validetta="required" class="form-control standard" style="width:37%;" id="cs-monthExp">
                                                <option value="0" selected>Month</option>
                                                <?php 
                                                    for ($i = 1; $i <= 12; $i++) { 

                                                        $date_val = $i;

                                                        if($date_val < 10){ 

                                                            $date_val = "0" + 1;

                                                        }?>

                                                        <option value="<?php echo $date_val;?>"><?php echo $month_array[intval($i - 1)];?></option>

                                                <?php } ?>
                                            </select>

                                            <select name="SDayExp" id="cs-dayExp" data-validetta="required" class="form-control standard" style="width:26%;">
                                                <option value="">Day</option>
                                                <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                    <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                <?php } ?>
                                            </select>

                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Upload 2303 Image</label>
                                    <div class="2303-div upload-file-div" style="border:none !important;">
                                        <input type="file" class="form-control standard filestyle tpermit">
                                        <input type="hidden" class="form-control standard" id="TFile" name="tfile">
                                        







                                        <!-- remove hidden class when file uploading -->
                                        <div class="uploading-file tpermituploading hidden">
                                            <div class="upload-icon-div">
                                                <span class="uploading"><i class="fa fa-file fa-1x"></i></span>
                                            </div>    
                                            <div class="file-close-div" style="padding-top:5px;">
                                                <span class="uploading-status tpermituploading">Uploading</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success tpermitbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    </div>
                                                </div>
                                                <!-- <a class="btn-remove-file pull-right" style="margin-top:-22px;"><i class="fa fa-close fa-2x"></i></a> -->
                                            </div>
                                        </div>









                                        <!-- remove hidden class when file is already uploaded -->
                                        <div class="2303-uploaded-file uploaded-file hidden"> 
                                            <div class="upload-icon-div">
                                                <i class="fa fa-file fa-1x"></i>
                                            </div>    
                                            <div class="afile-close-div">
                                                <div class="file-name">
                                                    <input type="text" id="2303" disabled>
                                                </div>
                                                <a class="btn-remove-file-2303 btn-remove-file pull-right"><i class="fa fa-close fa-2x"></i></a>
                                            </div>
                                        </div>












                                    </div>
                                </div>

                                <div class="customer-contact-div">
                                    <div class="ccd-holder" id="ccdHolder">
                                        <div class="col-sm-12 mt-20" style="padding:0;">
                                            <h5 class="clsu-contact-section">
                                                REPRESENTATIVE
                                                <a class="pull-right btn-delete-cp hidden" id="btnDeleteClone">DELETE</a>
                                            </h5>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>First Name</label>
                                                <input type="text" class="form-control standard" name="first_name">
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control standard" name="last_name">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Birthday</label>
                                            <div class="input-group mb-10" style="width:100%;">
                                                <select  name="month" data-validetta="required" class="form-control standard" style="width:37%;">
                                                    <option value="0" selected>Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <select name="day" data-validetta="required" class="form-control standard" style="width:26%;">
                                                    <option value="">Day</option>
                                                    <?php for ($i = 1; $i <= 31; $i++) { ?>
                                                        <option value="<?= ($i < 10) ? "0" . $i : $i; ?>"><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <select name="year" data-validetta="required" class="form-control standard" style="width:37%;">
                                                    <option value="">Year</option>
                                                    <?php for ($i = 1950; $i <= 2018; $i++) { ?>
                                                        <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-10 w-100">
                                                <span class="input-group-addon mobile-number" id="basic-addon1">
                                                    +63
                                                </span>
                                                <input type="text" class="form-control standard num-only-field input-numeric" name="mobile_number">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-10" style="padding:0;">
                                            <div class="col-sm-6" style="padding-left:0;">
                                                <label>Office Number (Optional)</label>
                                                <input type="text" class="form-control standard input-numeric" name="office_number">
                                            </div>
                                            <div class="col-sm-6" style="padding-right:0;">
                                                <label>Fax Number (Optional)</label>
                                                <input type="text" class="form-control standard input-numeric" name="fax_number">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--div class="col-sm-12 mt-20" style="padding:0;">
                                    <a class="btn-aa">Add another</a>
                                </div-->

                                <div class="col-sm-12 mt-20" style="padding:0;">
                                    <h5 class="cls-ld-section">LOGIN DETAILS</h5>
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control standard" name="email">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Password (8 or more characters)</label>
                                    <input type="password" class="form-control standard" name="password">
                                </div>

                                <div class="col-sm-12 mt-10" style="padding:0;">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control standard" name="conf_password">
                                </div>

                                <div class="cls-buttons">
                                    <input type="submit" class="btn btn-success btn-green btn-ac" value="Create Account">
                                    <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI; ?>users/customers">Cancel</a>
                                </div>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$("#btnSeller").trigger("click");    
    
$(".input-numeric").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: false}); 
    $(document).on('click', '#btnPersonal', function () {
        $('.cs-cct-div').addClass('hidden');
        $('.company-menu').addClass('hidden');
        $('.cs-ict-div').removeClass('hidden');
        $('.personal-menu').removeClass('hidden');
        $('.cs-cct-div-b').addClass('hidden');

        $('.cls-pi').removeClass('active');
        $('.cls-pa').removeClass('active');
        $('.cls-pld').removeClass('active');
    });

    $(document).on('click', '#btnContractor', function () {
        $('.cs-cct-div').removeClass('hidden');
        $('.company-menu').removeClass('hidden');
        $('.cs-ict-div').addClass('hidden');
        $('.personal-menu').addClass('hidden');
        $('.cs-cct-div-b').addClass('hidden');

        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
    });

    $(document).on('click', '#btnSeller', function () {
        $('.cs-cct-div').addClass('hidden');
        $('.company-menu').removeClass('hidden');
        $('.cs-ict-div').addClass('hidden');
        $('.personal-menu').addClass('hidden');
        $('.cs-cct-div-b').removeClass('hidden');

        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
    });

    $(window).on('scrolldelta', function (e) {
        var top = e.scrollTop;
        // var topDelta = e.scrollTopDelta;
        // var left = e.scrollLeft;
        // var leftDelta = e.scrollLeftDelta;
        var feedbackText = 'scrollTop: ' + top.toString() + "px";
        // + 'px (' + (topDelta >= 0 ? '+' : '') + topDelta.toString() + 'px), scrollLeft: ' + left.toString() + 'px (' + (leftDelta >= 0 ? '+' : '') + leftDelta.toString() + 'px)';
        // document.getElementById('feedback').innerHTML = feedbackText;
        $window = $(window);

        if (top >= 50) {
            $('.cls-menu-div').addClass('fixed');
            $('.cls-user-div').addClass('fixed');
        } else {
            $('.cls-menu-div').removeClass('fixed');
            $('.cls-user-div').removeClass('fixed');
        }

        // for company profile edit - scroll action
        if (top >= 120) {
            $('.cls-ct').removeClass('active');
            $('.cls-company').addClass('active');
        }

        if (top < 150) {
            $('.cls-company').removeClass('active');
            $('.cls-ct').addClass('active');
        } else if (top >= 470) {
            $('.cls-company').removeClass('active');
            $('.cls-docs').addClass('active');
        }

        if (top < 470) {
            $('.cls-docs').removeClass('active');
        } else if (top >= 900) {
            $('.cls-cp').addClass('active');
            $('.cls-docs').removeClass('active');
        }

        if (top < 900) {
            $('.cls-cp').removeClass('active');
        }

        if (top >= $('.cls-ld-section').offset().top - 400) {
            $('.cls-cp').removeClass('active');
            $('.cls-cld').addClass('active');
        } else if (top < $('.cls-ld-section').offset().top - 400) {
            $('.cls-cld').removeClass('active');
        }
        // for company profile edit - scroll action

        // for personal profile edit - scroll action
        if (top >= 120) {
            $('.cls-pct').removeClass('active');
            $('.cls-pi').addClass('active');
        }

        if (top < 120) {
            $('.cls-pct').addClass('active');
            $('.cls-pi').removeClass('active');
        } else if (top >= 350) {
            $('.cls-pi').removeClass('active');
            $('.cls-pa').addClass('active');
        }

        if (top < 350) {
            $('.cls-pa').removeClass('active');
        } else if (top >= 500) {
            $('.cls-pld').addClass('active');
            $('.cls-pa').removeClass('active');
        }

        if (top < 500) {
            $('.cls-pld').removeClass('active');
        }
    });


// company profile edit
    $(document).on('click', '.cls-ct', function () {
        $(this).addClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.btn-holder-div').offset().top},
        100);
    });

    $(document).on('click', '.cls-company', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-company-section').offset().top - 150},
        100);
    });

    $(document).on('click', '.cls-docs', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.cls-pbr-section').offset().top - 150},
        100);
    });

    $(document).on('click', '.cls-cp', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-contact-section').offset().top - 100},
        100);
    });

    $(document).on('click', '.cls-cld', function () {
        $(this).addClass('active');
        $('.cls-ct').removeClass('active');
        $('.cls-company').removeClass('active');
        $('.cls-docs').removeClass('active');
        $('.cls-cp').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.cls-ld-section').offset().top - 150},
        100);
    });

// -----------------------------
    $(document).on('click', '.cls-pct', function () {
        $(this).addClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-pa').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.btn-holder').offset().top},
        100);
    });

    $(document).on('click', '.cls-pi', function () {
        $(this).addClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-pa').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-ppi-section').offset().top - 50},
        100);
    });

    $(document).on('click', '.cls-pa', function () {
        $(this).addClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-pld').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-ppa-section').offset().top - 150},
        100);
    });

    $(document).on('click', '.cls-pld', function () {
        $(this).addClass('active');
        $('.cls-pi').removeClass('active');
        $('.cls-pct').removeClass('active');
        $('.cls-pa').removeClass('active');
        $('html,body').animate({
            scrollTop: $('.clsu-pld-section').offset().top - 200},
        100);
    });

    $(document).on('change', '.region-select', function () {
        var region_id = $(this).val();
        var province_select = $(this).closest('form').find('.province-select');

        var params = {
            region_id: region_id,
        };
        console.log(region_id);
        $.post(BASE_URL + 'users/getProvinces', params, function (data) {
            data = $.parseJSON(data);
            console.log(data);
            var html_content = "";
            data.forEach(function (entry) {
                html_content += '<option value="' + entry.id + '">' + entry.name + '</option>';
            });
            console.log(html_content);
            province_select.html(html_content);
            province_select.trigger('change');
        });
    });

    $(document).on('change', '.province-select', function () {
        var province_id = $(this).val();
        var city_select = $(this).closest('form').find('.city-select');

        var params = {
            province_id: province_id,
        };

        $.post(BASE_URL + 'users/getCities', params, function (data) {
            data = $.parseJSON(data);

            var html_content = "";
            data.forEach(function (entry) {
                html_content += '<option value="' + entry.id + '">' + entry.name + '</option>';
            });
            city_select.html(html_content);
        });
    });


    $('form').submit(function (e) {
        //initialize errors var
        var errors = '';

        //validation list 
        if ($('[name="password"]').val() && $('[name="password"]').val().length < 8) {
            errors += 'Password has to be at least 8 characters.\n';
        } else if ($('[name="password"]').val() && $('[name="password"]').val() !== $('[name="conf_password"]').val()) {
            errors += 'Password and Confirm Password values do not match.\n';
        }

        //form submission and prevent submit if any errors are found
        if (errors.length) {
            alert(errors);
            e.preventDefault();
            return false;
        } else {
            var form_data = new FormData();
            $.post($(this).attr('action'), form_data, function (response) {
                if (response !== 'success') {
                    alert(response);
                } else {
                    window.location.href = '<?= BASE_URI; ?>users/customers';
                }
            });
            return false;
        }
    });





    // upload image
    $('.bpermit').change(function() {
        me = $(this);
        this_form = $(this).closest('form');


        $(this).simpleUpload(BASE_URL + "upload/uploadPermit", {
            maxFileSize: 2097152,
            start: function(file) {
                //upload started
                console.log("upload started");
                this_form.find('submitBtn').prop('disabled', true);
                me.addClass('hidden');
                this_form.find('.bpermituploading').removeClass('hidden');
                me.find('.bootstrap-filestyle').addClass('hidden');
                this_form.find('.bpermitname').val(file.name);
            },

            progress: function(progress) {
                //received progress
                this_form.find('.bpe-date').removeClass('hidden');
                this_form.find('.bpermitbar').attr("style", "width:" + progress + "%");
                this_form.find('.bpe-div').attr("style", "border: 1px solid #CCCCCC;");
                console.log("upload progress: " + Math.round(progress) + "%");
            },

            success: function(data) {
                //upload successful
                this_form.find('.bpe-date').removeClass('hidden');
                this_form.find('#BFile').val(data);
                this_form.find('.bpe-div').attr("style", "border: 1px solid #CCCCCC;");
                this_form.find('.bpe-uploaded-file').removeClass('hidden');
                this_form.find('.bpermituploading').addClass('hidden');
                console.log("upload successful!");
                console.log(data);
            },

            error: function(error) {
                //upload failed
                this_form.find('#sizeErr').removeClass('hidden');
                this_form.find('.uploading-file').addClass('hidden');
                this_form.find('.uploaded-file').addClass('hidden');
                me.closest('div').find('.bootstrap-filestyle').removeClass('hidden');
                this_form.find('.bootstrap-filestyle input').val("");
                console.log("upload error: " + error.name + ": " + error.message);
            }
        });
    });
































    $('.tpermit').change(function() {
        me = $(this);
        this_form = $(this).closest('form');
        
        $(this).simpleUpload(BASE_URL + "upload/uploadPermit", {
            maxFileSize: "2",
            start: function(file) {
                //upload started
                console.log("upload started");
                this_form.find('submitBtn').attr('disabled', 'disabled');
                me.addClass('hidden');
                this_form.find('.tpermituploading').removeClass('hidden');
                me.closest('div').find('.bootstrap-filestyle').addClass('hidden');
                this_form.find('#2303').val(file.name);
            },

            progress: function(progress) {
                //received progress
                this_form.find('.tpermitbar').attr("style", "width:" + progress + "%");
                console.log("upload progress: " + Math.round(progress) + "%");
            },

            success: function(data) {
                //upload successful
                this_form.find('#TFile').val(data);
                this_form.find('.2303-div').attr("style", "border: 1px solid #CCCCCC;");
                this_form.find('.2303-uploaded-file').removeClass('hidden');
                this_form.find('.tpermituploading').addClass('hidden');
                console.log("upload successful!");
                console.log(data);
            },

            error: function(error) {
                //upload failed
                this_form.find('#sizeErr').removeClass('hidden');
                this_form.find('.uploading-file').addClass('hidden');
                this_form.find('.uploaded-file').addClass('hidden');
                me.closest('div').find('.bootstrap-filestyle').removeClass('hidden');
                this_form.find('.bootstrap-filestyle input').val("");
                console.log("upload error: " + error.name + ": " + error.message);
            }
        });
    });

    $('.spermit').change(function() {
        me = $(this);
        this_form = $(this).closest('form');
        
        $(this).simpleUpload(BASE_URL + "upload/uploadPermit", {
            maxFileSize: "2",
            start: function(file) {
                //upload started
                console.log("upload started");
                this_form.find('submitBtn').attr('disabled', 'disabled');
                me.addClass('hidden');
                this_form.find('.spermituploading').removeClass('hidden');
                me.closest('div').find('.bootstrap-filestyle').addClass('hidden');
                this_form.find('#sdtipermit').val(file.name);
            },

            progress: function(progress) {
                //received progress
                this_form.find('.spermitbar').attr("style", "width:" + progress + "%");
                console.log("upload progress: " + Math.round(progress) + "%");
            },

            success: function(data) {
                //upload successful
                this_form.find('#SFile').val(data);
                this_form.find('.sdti-date').removeClass('hidden');
                this_form.find('.sdti-div').attr("style", "border: 1px solid #CCCCCC;");
                this_form.find('.sdti-uploaded-file').removeClass('hidden');
                this_form.find('.spermituploading').addClass('hidden');
                console.log("upload successful!");
                console.log(data);
            },

            error: function(error) {
                //upload failed
                this_form.find('#sizeErr').removeClass('hidden');
                this_form.find('.uploading-file').addClass('hidden');
                this_form.find('.uploaded-file').addClass('hidden');
                me.closest('div').find('.bootstrap-filestyle').removeClass('hidden');
                this_form.find('.bootstrap-filestyle input').val("");
                console.log("upload error: " + error.name + ": " + error.message);
            }

        });

    });

    $(document).on('click', '.btn-remove-bpe-img', function() {
        $('.bpermituploading').addClass('hidden');
        $('.bpe-uploaded-file').addClass('hidden');
        $('#Bpermit').closest('div').find('.bootstrap-filestyle').removeClass('hidden');
        $('.bpe-div').attr("style", "border: none;");
        $('.bpe-date').addClass('hidden');
        $('.bootstrap-filestyle input').val("");
    });

    $(document).on('click', '.btn-remove-file-sdti', function() {
        $('.spermituploading').addClass('hidden');
        $('.sdti-uploaded-file').addClass('hidden');
        $('#SPermit').closest('div').find('.bootstrap-filestyle').removeClass('hidden');
        $('.sdti-div').attr("style", "border: none;");
        $('.sdti-date').addClass('hidden');
        $('.bootstrap-filestyle input').val("");
    });

    $(document).on('click', '.btn-remove-file-2303', function() {
        $('.tpermituploading').addClass('hidden');
        $('.2303-uploaded-file').addClass('hidden');
        $('#TPermit').closest('div').find('.bootstrap-filestyle').removeClass('hidden');
        $('.2303-div').attr("style", "border: none;");
        $('.bootstrap-filestyle input').val("");
    });


// ************************************************ Expiry Date validations
$(document).on('change', '#sb-yearExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $(this).val();
    var month_now = $("#dateNowSelect").attr("data-month");

    var month_array = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var month_start = 1;
    var month_end = 12;
    var day_start = 1;
    var day_end = 31;
    var month_end = 12;
    var month_content = "<option value=''>Month</option>";
    var day_content = "<option value=''>Day</option>";

    for (var i = day_start; i <= day_end; i++) {
        day_content += "<option value="+i+">"+i+"</option>"
    };

    if(year_now == year_selected){
        month_start = month_now;
    }

    for (var i = month_start; i <= month_end; i++) {
        month_content += "<option value="+i+">"+month_array[parseInt(i - 1)]+"</option>"
    };

    //Clear select options
    $("#sb-dayExp").html(day_content);
    $("#sb-monthExp").html("");
    $("#sb-monthExp").append(month_content)
});

$(document).on('change', '#sb-monthExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $("#sb-yearExp").val();

    var month_now = $("#dateNowSelect").attr("data-month");
    var date_now = $("#dateNowSelect").attr("data-date");
    var date_selected = $(this).val();
    var content = "<option value=''>Day</option>";
    var month_start = 1;
    var month_end = 0;

    //Check month with 30days
    if(date_selected == 4 || date_selected == 6 || date_selected == 9 || date_selected == 11){
        month_end = 30;
    }
    else if(date_selected == 2){
        month_end = 28;
    }else{
        month_end = 31;
    }

    if(month_now == date_selected){
        month_start = date_now;
    }

    if(year_now != year_selected){
        month_start = 1;
    }

    for (var i = month_start; i <= month_end; i++) {
        content += "<option value="+i+">"+i+"</option>"
    };

    //Clear select options
    $("#sb-dayExp").html("");
    $("#sb-dayExp").append(content)
});

$(document).on('change', '#ss-yearExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $(this).val();
    var month_now = $("#dateNowSelect").attr("data-month");

    var month_array = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var month_start = 1;
    var month_end = 12;
    var day_start = 1;
    var day_end = 31;
    var month_content = "<option value=''>Month</option>";
    var day_content = "<option value=''>Day</option>";

    for (var i = day_start; i <= day_end; i++) {
        day_content += "<option value="+i+">"+i+"</option>"
    };

    if(year_now == year_selected){
        month_start = month_now;
    }

    for (var i = month_start; i <= month_end; i++) {
        month_content += "<option value="+i+">"+month_array[parseInt(i - 1)]+"</option>"
    };

    //Clear select options
    $("#ss-dayExp").html(day_content);
    $("#ss-monthExp").html("");
    $("#ss-monthExp").append(month_content)
});


$(document).on('change', '#ss-monthExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $("#ss-yearExp").val();

    var month_now = $("#dateNowSelect").attr("data-month");
    var date_now = $("#dateNowSelect").attr("data-date");
    var date_selected = $(this).val();
    var content = "<option value=''>Day</option>";
    var month_start = 1;
    var month_end = 0;

    //Check month with 30days
    if(date_selected == 4 || date_selected == 6 || date_selected == 9 || date_selected == 11){
        month_end = 30;
    }
    else if(date_selected == 2){
        month_end = 28;
    }else{
        month_end = 31;
    }

    if(month_now == date_selected){
        month_start = date_now;
    }

    if(year_now != year_selected){
        month_start = 1;
    }

    for (var i = month_start; i <= month_end; i++) {
        content += "<option value="+i+">"+i+"</option>"
    };

    //Clear select options
    $("#ss-dayExp").html("");
    $("#ss-dayExp").append(content)
});

$(document).on('change', '#cb-yearExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $(this).val();
    var month_now = $("#dateNowSelect").attr("data-month");

    var month_array = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var month_start = 1;
    var month_end = 12;
    var day_start = 1;
    var day_end = 31;
    var month_end = 12;
    var month_content = "<option value=''>Month</option>";
    var day_content = "<option value=''>Day</option>";

    for (var i = day_start; i <= day_end; i++) {
        day_content += "<option value="+i+">"+i+"</option>"
    };

    if(year_now == year_selected){
        month_start = month_now;
    }

    for (var i = month_start; i <= month_end; i++) {
        month_content += "<option value="+i+">"+month_array[parseInt(i - 1)]+"</option>"
    };

    //Clear select options
    $("#cb-dayExp").html(day_content);
    $("#cb-monthExp").html("");
    $("#cb-monthExp").append(month_content)
});

$(document).on('change', '#cb-monthExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $("#cb-yearExp").val();

    var month_now = $("#dateNowSelect").attr("data-month");
    var date_now = $("#dateNowSelect").attr("data-date");
    var date_selected = $(this).val();
    var content = "<option value=''>Day</option>";
    var month_start = 1;
    var month_end = 0;

    //Check month with 30days
    if(date_selected == 4 || date_selected == 6 || date_selected == 9 || date_selected == 11){
        month_end = 30;
    }
    else if(date_selected == 2){
        month_end = 28;
    }else{
        month_end = 31;
    }

    if(month_now == date_selected){
        month_start = date_now;
    }

    if(year_now != year_selected){
        month_start = 1;
    }

    for (var i = month_start; i <= month_end; i++) {
        content += "<option value="+i+">"+i+"</option>"
    };

    //Clear select options
    $("#cb-dayExp").html("");
    $("#cb-dayExp").append(content)
});

$(document).on('change', '#cs-yearExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $(this).val();
    var month_now = $("#dateNowSelect").attr("data-month");

    var month_array = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var month_start = 1;
    var month_end = 12;
    var day_start = 1;
    var day_end = 31;
    var month_content = "<option value=''>Month</option>";
    var day_content = "<option value=''>Day</option>";

    for (var i = day_start; i <= day_end; i++) {
        day_content += "<option value="+i+">"+i+"</option>"
    };

    if(year_now == year_selected){
        month_start = month_now;
    }

    for (var i = month_start; i <= month_end; i++) {
        month_content += "<option value="+i+">"+month_array[parseInt(i - 1)]+"</option>"
    };

    //Clear select options
    $("#cs-dayExp").html(day_content);
    $("#cs-monthExp").html("");
    $("#cs-monthExp").append(month_content)
});

$(document).on('change', '#cs-monthExp', function() {

    var year_now = $("#dateNowSelect").attr("data-year");
    var year_selected = $("#cs-yearExp").val();

    var month_now = $("#dateNowSelect").attr("data-month");
    var date_now = $("#dateNowSelect").attr("data-date");
    var date_selected = $(this).val();
    var content = "<option value=''>Day</option>";
    var month_start = 1;
    var month_end = 0;

    //Check month with 30days
    if(date_selected == 4 || date_selected == 6 || date_selected == 9 || date_selected == 11){
        month_end = 30;
    }
    else if(date_selected == 2){
        month_end = 28;
    }else{
        month_end = 31;
    }

    if(month_now == date_selected){
        month_start = date_now;
    }

    if(year_now != year_selected){
        month_start = 1;
    }

    for (var i = month_start; i <= month_end; i++) {
        content += "<option value="+i+">"+i+"</option>"
    };

    //Clear select options
    $("#cs-dayExp").html("");
    $("#cs-dayExp").append(content)
});

$(document).on('change', '#siRegionSelect', function() {
    var regionId = $(this).val();
    $('#siProvinceSelect').empty();

    $.ajax({
        url: BASE_URL + 'getprovinces',
        data: {
            id: regionId
        },
    })
    .done(function(data) {
        data = $.parseJSON(data);

        var tmp = "";
        // var tmp = '<option value="">---</option>';
        $.each(data, function(i, d) {
             tmp += '<option value="' + d.province_id + '">' + d.province_name + '</option>';
        });

        $('#siProvinceSelect').append(tmp);

    });
});

// $(document).on('change', '#siRegionSelect', function() {
//     var regionId = $(this).val();
//     $('#siProvinceSelect').empty();

//     $.ajax({
//         url: BASE_URL + 'getprovinces',
//         data: {
//             id: regionId
//         },
//     })
//     .done(function(data) {
//         data = $.parseJSON(data);

//         var tmp = "";
//         var tmp = '<option value="">---</option>';
//         $.each(data, function(i, d) {
//              tmp += '<option value="' + d.province_id + '">' + d.province_name + '</option>';
//         });

//         $('#siProvinceSelect').append(tmp);

//     });
// });

// $(document).on('change', '#siProvinceSelect', function() {
//     var provinceId = $(this).val();
//     $('#siCitySelect').empty();

//     $.ajax({
//         url: BASE_URL + 'getcities',
//         data: {
//             id: provinceId
//         },
//     })
//     .done(function(data) {
//         data = $.parseJSON(data);
//         var tmp = "";
//         var tmp = '<option value="">---</option>';
//         $.each(data, function(i, d) {
//             tmp += '<option value="' + d.city_id + '">' + d.city_name + '</option>';
//         });

//         $('#siCitySelect').append(tmp);
//     });
// });

</script>