<style type="text/css">
    /*autocomplete css*/
.autocomplete-suggestions {
    /*border box*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*border and padding*/
    border: 1px solid #CBCBCB;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFF;
    cursor: default;
    overflow: scroll;
    padding: 0;
    height: 250px;

    /*box shadow*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
}

/*autocomplete product list*/
.autocomplete-suggestion {
    overflow: hidden;
    height: auto;
    border: none;
    padding: 0 !important;
}
.autocomplete-no-suggestion {
    padding:0;
}
.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

/* non plugin css */
.autocomplete-suggestion {
/*   padding: 0 .6em; */
  padding: 5px 10px !important;
  /*line-height: 23px;*/
  text-overflow: ellipsis;
  /*font-size: 1.02em;*/
  /*color: #333;*/
  /*border-bottom:1px solid #ccc !important;*/
}

.blk-user{
    color: #4d4d4d;
    font-family: 'SF-Pro-Text-Regular';
    text-decoration: none !important;
}

.blk-user:hover,
.blk-user:focus,
.blk-user:active{
    color: #0D8E33;
    font-family: 'SF-Pro-Text-Bold';
    text-decoration: none !important;
}

.cls-tbl tbody > tr > td{
    padding: 10px 10px 0 0;
}

.bk-tbl-div{
    overflow: hidden;
}

.ten-rows{
    height: 320px;
    overflow-y: scroll;
    margin-top: 30px !important;
}

.bu-list-tbl{
    margin-top: 0 !important;
}

/*scroll bar*/
.green-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.green-scroll::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
.green-scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0D8E33;
}

.ui-state-default.ui-state-highlight {
	color:#fff;
	background:#fff;
	border-radius:1px;
}

</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>     
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <a class="esu-menu active">Expiration Set-up</a>
                    <a class="cs-menu">Calendar Settings</a>
                    <a class="tpv-menu">Temporary Password Validity</a>
                    <a class="itbt-menu">Idle Time Before Timeout</a>
                    <a class="tac-menu">Terms and Conditions</a>
                    <a class="bu-menu">Block Users</a>
                    <a class="bj-menu">Block Keywords</a>
                    <h5>
                        <!-- <label>LAST UPDATED</label>
                        <span>2017/08/01 10:00:21am</span>
                        <span>by Grace Chua</span> -->
                    </h5>
                </div>

                <!-- expiration set-up div -->
                <div class="cls-form-div esu-div">
                    <form role="form" method="post" action="<?= BASE_URI;?>settings/saveNumSettings">
                    <!-- company details form -->
                    <div class="cls-form">
                        <div class="cls-form-title">
                            <h5>EXPIRATION SET-UP</h5>
                        </div>
                        
                        <div class="cls-form-body">
                            <table class="cls-tbl">
                                <tbody>
                                    <tr>
                                        <td>Price Validity for inquiries:</td>
                                        <td><input class="form-control tbl-field exp-field input_numeric" name="inquiry_price" value="<?= $inquiry_price ?>"></td>
                                        <td>calendar days from Date of Inquiry</td>
                                    </tr>
                                    <tr>
                                        <td>SOA Approval:</td>
                                        <td><input class="form-control tbl-field exp-field input_numeric" name="soa_approval" value="<?= $soa_approval ?>"></td>
                                        <td>calendar days from Date SOA is sent</td>
                                    </tr>
                                    <tr>
                                        <td>Payment:</td>
                                        <td><input class="form-control tbl-field exp-field input_numeric" name="payment" value="<?= $payment ?>"></td>
                                        <td>calendar days from Date of SOA approval</td>
                                    </tr>
                                    <tr>
                                        <td>Inquiry Limit</td>
                                        <td><input class="form-control tbl-field exp-field input_numeric" name="inquiry_limit" value="<?= $inquiry_limit ?>"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- apply and cancel buttons -->
                    <div class="cls-buttons exp-btns hidden">
                        <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                        <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                    </div>
                    </form> 
                </div>

                <!-- calendar set-up div -->
                <div class="cls-form-div csu-div mt-20">
                    <div class="cls-form"> 
                        <div class="cls-form-title">
                            <h5>CALENDAR SET-UP</h5>
                        </div>

                        <div class="cls-form-body"> 
                            <div class="calendar-su"></div>
                        </div>

                        <!-- apply and cancel buttons -->
                        <div class="cls-buttons calendar-btns hidden">
                            <input id="saveCalendar" type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                            <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- password reset email validity div -->
                <div class="cls-form-div psev-div mt-20">
                    <div class="cls-form"> 
                        <form role="form" method="post" action="<?= BASE_URI;?>settings/saveNumSettings">
                            <div class="cls-form-title">
                                <h5>PASSWORD RESET EMAIL VALIDITY</h5>
                            </div>

                            <div class="cls-form-body"> 
                                <table class="cls-tbl psev-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Set to</td>
                                            <td>
                                                <input class="form-control tbl-field pse-field input_numeric" name="email_password_reset" value="<?= $email_password_reset ?>">
                                            </td>
                                            <td>hours</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- apply and cancel buttons -->
                            <div class="cls-buttons pse-btns hidden">
                                <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- idle time div -->
                <div class="cls-form-div it-div mt-20">
                    <div class="cls-form"> 
                        <form role="form" method="post" action="<?= BASE_URI;?>settings/saveNumSettings">
                            <div class="cls-form-title">
                                <h5>IDLE TIME BEFORE TIME-OUT</h5>
                            </div>

                            <div class="cls-form-body"> 
                                <table class="cls-tbl psev-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Set to</td>
                                            <td>
                                                <input class="form-control tbl-field itbt-field input_numeric" name="site_timeout" value="<?= $site_timeout ?>">
                                            </td>
                                            <td>minutes</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- apply and cancel buttons -->
                            <div class="cls-buttons itbt-btns hidden">
                                <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- terms and condition -->
                <div class="cls-form-div tac-div mt-20">
                    <div class="cls-form">
                        <form role="form" method="post" action="<?= BASE_URI;?>settings/saveTextSettings">
                            <div class="cls-form-title">
                                <h5>TERMS AND CONDITIONS</h5>
                            </div>

                            <div class="cls-form-body"> 
                                <div class="cls-wysiwyg">
                                    <h5>Website Terms & Conditions</h5>
                                    <textarea class="text_area tac-field form-control" style="width: 385px;" name="customer_registration"><?= $customer_registration ?></textarea>
                                </div>

                                <div class="cls-wysiwyg mt-20">
                                    <h5>Regular Products</h5>
                                    <textarea class="text_area tac-field form-control" style="width: 385px;" name="regular_products"><?= $regular_products ?></textarea>
                                </div>

                                <div class="cls-wysiwyg mt-20">
                                    <h5>Prepaid Products</h5>
                                    <textarea class="text_area tac-field form-control" style="width: 385px;" name="prepaid_products"><?= $prepaid_products ?></textarea>
                                </div>
                            </div>

                            <!-- apply and cancel buttons -->
                            <div class="cls-buttons tac-btns hidden">
                                <input type="submit" class="btn btn-success btn-green btn-ac" value="Apply Changes">
                                <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- blocked users -->
                <div class="cls-form-div bu-div mt-20">
                    <div class="cls-form"> 
                        <div class="cls-form-title">
                            <h5>BLOCKED USERS</h5>
                        </div>

                        <div class="cls-form-body"> 
                            <table class="cls-tbl bu-tbl">
                                <tbody>
                                    <tr>
                                        <td><h4>Block users</h4></td>
                                        <td>
                                            <input id="blockedUsersFld" type="text" class="form-control standard block-users" placeholder="Type Company Name, First Name or Last Name">
                                        </td>
                                        <td class="text-center"><a class="btn-adbu hidden" id="btnBlockUsers"><i class="fa fa-plus fa-2x"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="bk-tbl-div" style="margin-top: 30px;">
                                <table class="cls-tbl bu-list-tbl" id="bkTbl">
                                    <tbody id="blockedUserTbody">
                                        <?php foreach($blocked_users as $blocked_user) { ?>
                                            <tr>
                                                <td class="text-center keyword-td">
                                                    <span data-id="<?=$blocked_user->user_id;?>"><?=($blocked_user->company_name) ? "Company: ".$blocked_user->company_name." Full Name: ".$blocked_user->first_name . " " . $blocked_user->last_name : $blocked_user->first_name . " " . $blocked_user->last_name;?></span>
                                                    <input type="hidden" value="1">        
                                                </td>
                                                <td class="text-center"><a class="btn-remove btn-remove-bu btn-unblock">Unblock</a></td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- apply and cancel buttons -->
                        <div class="cls-buttons bu-btns hidden">
                            <input type="submit" class="btn btn-success btn-green btn-ac" id="buApplyChanges" value="Apply Changes">
                            <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- blocked keywords -->
                <div class="cls-form-div bk-div mt-20">
                    <div class="cls-form"> 
                        <div class="cls-form-title">
                            <h5>BLOCKED KEYWORDS</h5>
                        </div>

                        <div class="cls-form-body"> 
                            <table class="cls-tbl bu-tbl">
                                <tbody>
                                    <tr>
                                        <td><h4>Block keywords</h4></td>
                                        <td><input type="text" class="form-control standard" id="blockedKeywordsFld" placeholder="Type keyword"></td>
                                        <td class="text-center">
                                            <a id="btnAddBlockedKeywords" class="btn-adbu hidden">
                                                <i class="fa fa-plus fa-2x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="bkey-tbl-div" style="margin-top:30px;">
                                <table class="cls-tbl bkey-list-tbl">
                                    <tbody id="blockedKeywordTbody">
                                        <?php foreach($blocked_keywords as $keyword) { ?>
                                            <tr>
                                                <td class="text-center keyword-td">
                                                    <span><?php echo $keyword->keyword; ?></span>
                                                    <input type="hidden" value="1">        
                                                </td>
                                                <td class="text-center"><a class="btn-remove btn-remove-bk">Remove</a></td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- apply and cancel buttons -->
                        <div class="cls-buttons bk-btns hidden">
                            <input type="submit" class="btn btn-success btn-green btn-ac" id="bkApplyChanges" value="Apply Changes">
                            <a class="btn btn-default btn-gray btn-cancel mt-10" href="<?= BASE_URI;?>settings">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<?php $this->view->partial('company/modal'); ?>

<script>

$(document).on('keypress','#blockedUsersFld',function() {
$('#blockedUsersFld').devbridgeAutocomplete({
    lookupLimit: 10,
	preserveInput: false,
    showNoSuggestionNotice: true,
	noSuggestionNotice: "No results.",
    triggerSelectOnValidInput: false,
    serviceUrl: BASE_URL + "settings/searchUsers",
    formatResult: function(suggestion, currentValue) {
		var return_string = "";
		if (suggestion.company_name) return_string = '<a>Company: ' +suggestion.company_name+ ' Full Name: ' +suggestion.full_name+ '</a>';
		else return_string = '<a>Full Name: ' +suggestion.full_name+ '</a>';
        return return_string;
    },
    onSelect: function(suggestion) {
		console.log(suggestion);
		if (suggestion.company_name) $(this).val('Company: ' +suggestion.company_name+ ' Full Name: ' +suggestion.full_name);
		else $(this).val(suggestion.full_name);
		$("#btnBlockUsers").removeClass("hidden");
		$("#btnBlockUsers").attr('data-id',suggestion.data);
	}
});
});

$(document).on('click', '#btnBlockUsers', function(){
	var html_content = "";
        var tr_ctr = $("#bkTbl tr").length;

	html_content = '<tr><td class="text-center keyword-td"><span data-id="'+$(this).attr('data-id')+'">'+$('#blockedUsersFld').val()+'</span><input type="hidden" value="1"></td><td class="text-center"><a class="btn-unblock">Unblock</a></td></tr>';
	$('.bu-list-tbl tbody').append(html_content);
        $('.bu-btns').removeClass('hidden');
        
//	var params = {
//		user_id : $(this).attr('data-id'),
//	};
//	
//	$.post(BASE_URL+'settings/blockUser',params,function(data){
//		if (data != "Success")
//		{
//			alert("Something Went Wrong");	
//		}
//		else
//		{
//			$('.bu-list-tbl tbody').append(html_content);
//		}	
//	});

    if(tr_ctr >= 10){
        $(".bk-tbl-div").addClass("ten-rows green-scroll");
    }

});

$(document).on('click', '.btn-unblock', function(){
//	var row_html = $(this).closest('tr');
//	row_html.remove();
        
        $(this).parent("td").parent("tr").find(".keyword-td input").val("2");
        $(this).parent("td").parent("tr").addClass("hidden");

        $('.bu-btns').removeClass('hidden');        
        
//	var params = {
//		user_id : $(this).attr('data-id'),
//	};
//	
//	$.post(BASE_URL+'settings/unblockUser',params,function(data){
//		if (data != "Success")
//		{
//			alert("Something Went Wrong");	
//		}
//		else
//		{
//			row_html.remove();
//		}
//	});
});

$(document).on('click', '#buApplyChanges', function(){
    var keywords_set = [];

    $('#blockedUserTbody tr').each(function(){
        var keywords_array = [];

        keywords_array.push($(this).find('.keyword-td span').attr('data-id'));
        keywords_array.push($(this).find('.keyword-td input').val());
        
        keywords_set.push(keywords_array);
    }); 
    console.log(keywords_set);
    
    $.ajax({
        url: BASE_URL + 'settings/saveBlockedUsers',
        type: 'POST',
        data: {
            "keywords_set": keywords_set
        }
    })
    .done(function(data) {  
        window.location.reload(true);
    });
});



//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//number alterations end     

// Calendar values
var date_arr = [];    
<?php foreach ($dates as $row) {?>
    date_arr.push('<?php echo date('m/d/Y',strtotime($row->calendar_date));?>');
<?php }?>    
// for reference > http://dubrox.github.io/Multiple-Dates-Picker-for-jQuery-UI/
var calendar = $('.calendar-su').multiDatesPicker({
    addDates: date_arr,
    onSelect: function (date) {
        $(".calendar-btns").removeClass("hidden");        
    }    
});


//Apply calendar changes
$(document).on('click', '#saveCalendar', function(){
    var dates = $('.calendar-su').multiDatesPicker('getDates');

    $.ajax({
        url: BASE_URL + 'settings/saveCalendarSettings',
        type: 'POST',
        data: {
            "dates": dates
        }
    })
    .done(function(data) {  
        window.location.reload(true);
    });
});


// scroll top function
jQuery.event.special.scrolldelta = {
    // from http://learn.jquery.com/events/event-extensions/
    delegateType: "scroll",
    bindType: "scroll",
    handle: function (event) {
        var handleObj = event.handleObj;
        var targetData = jQuery.data(event.target);
        var ret = null;
        var elem = event.target;
        var isDoc = elem === document;
        var oldTop = targetData.top || 0;
        var oldLeft = targetData.left || 0;
        targetData.top = isDoc ? elem.documentElement.scrollTop + elem.body.scrollTop : elem.scrollTop;
        targetData.left = isDoc ? elem.documentElement.scrollLeft + elem.body.scrollLeft : elem.scrollLeft;
        event.scrollTopDelta = targetData.top - oldTop;
        event.scrollTop = targetData.top;
        event.scrollLeftDelta = targetData.left - oldLeft;
        event.scrollLeft = targetData.left;
        event.type = handleObj.origType;
        ret = handleObj.handler.apply(this, arguments);
        event.type = handleObj.type;
        return ret;
    }
};

$(window).on('scrolldelta', function(e){
    var top = e.scrollTop;
    // var topDelta = e.scrollTopDelta;
    // var left = e.scrollLeft;
    // var leftDelta = e.scrollLeftDelta;
    var feedbackText = 'scrollTop: ' + top.toString() + "px";
    // + 'px (' + (topDelta >= 0 ? '+' : '') + topDelta.toString() + 'px), scrollLeft: ' + left.toString() + 'px (' + (leftDelta >= 0 ? '+' : '') + leftDelta.toString() + 'px)';
    // document.getElementById('feedback').innerHTML = feedbackText;
    $window = $(window);

    if($window.scrollTop() >= 50){
        $('.cls-menu-div').addClass('fixed');
        $('.cls-form-div').addClass('fixed');
        // $('.profile-menu').addClass('fixed');
    } else {
        $('.cls-menu-div').removeClass('fixed');
        $('.cls-form-div').removeClass('fixed');
        // $('.profile-menu').removeClass('fixed');
    }

    // for company profile edit - scroll action
    if(top >= 70){
        $('.esu-menu').removeClass('active');
        $('.cs-menu').addClass('active');
    }

    if(top < 70){
        $('.esu-menu').addClass('active');
        $('.cs-menu').removeClass('active');
    } else if(top >= 120){
        $('.tpv-menu').addClass('active');
        $('.cs-menu').removeClass('active');
    }

    if(top < 120){
        $('.tpv-menu').removeClass('active');
    } else if(top >= 550){
        $('.itbt-menu').addClass('active');
        $('.tpv-menu').removeClass('active');
    }

    if(top < 550){
        $('.itbt-menu').removeClass('active');
    } else if(top >= 800){
        $('.tac-menu').addClass('active');
        $('.itbt-menu').removeClass('active');
    }

    if(top < 800){
        $('.tac-menu').removeClass('active');
    } else if(top >= 1700){
        $('.tac-menu').removeClass('active');
        $('.bu-menu').addClass('active');
    }

    if(top < 1700){
        $('.bu-menu').removeClass('active');
    } else if(top >= 1800){
        $('.bj-menu').addClass('active');
        $('.bu-menu').removeClass('active');
    }

    if(top < 1800){
        $('.bj-menu').removeClass('active');
    }

});

var editor = $('.text_area').wysihtml5({
  toolbar: {
    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": false, //Button to insert a link. Default true
    "image": false, //Button to insert an image. Default true,
    "color": false, //Button to change color of font  
    "blockquote": false, //Blockquote  
    "size": 'sm', //default: none, other options are xs, sm, lg
    "fa": true
  }
});

$('form').submit(function(){
    
    var form_data = $(this).serialize();
    $.post($(this).attr('action'), form_data, function(response) {
        if (response !== 'success'){
            alert(response);
        } else {           
            window.location.href = '<?=BASE_URI;?>settings';
        }
    });
    return false;
});

// ================================================ Expiration Setup =================================================

$(document).on('keyup', '.exp-field', function(){
    if(($(this).val()) !== ""){
        $(".exp-btns").removeClass("hidden");
    } else {
        $(".exp-btns").addClass("hidden");
    }
});

// ================================================ Password Reset Email =================================================

$(document).on('keyup', '.pse-field', function(){
    if(($(this).val()) !== ""){
        $(".pse-btns").removeClass("hidden");
    } else {
        $(".pse-btns").addClass("hidden");
    }
});

// ================================================ Session Timeout =================================================

$(document).on('keyup', '.itbt-field', function(){
    if(($(this).val()) !== ""){
        $(".itbt-btns").removeClass("hidden");
    } else {
        $(".itbt-btns").addClass("hidden");
    }
});

// ================================================ Terms and Cond =================================================

$('.wysihtml5-sandbox').contents().find('body').on("keyup",function() {
    $(".tac-btns").removeClass("hidden");
});


// ================================================ Blocked Users =================================================
// hide add blocked keywords button
/*$(document).on('keyup', '#blockedUsersFld', function(){
    if(($(this).val()) !== ""){
        $("#btnbtnBlockUsers").removeClass("hidden");
    } else {
        $("#btnbtnBlockUsers").addClass("hidden");
    }
});*/

// ================================================ Blocked Keywords =================================================
// hide add blocked keywords button
$(document).on('keyup', '#blockedKeywordsFld', function(){
    if(($(this).val()) !== ""){
        $("#btnAddBlockedKeywords").removeClass("hidden");
    } else {
        $("#btnAddBlockedKeywords").addClass("hidden");
    }
});

// adding blocked keywords
$(document).on('click', '#btnAddBlockedKeywords', function(){
    var blocked_keywords = $("#blockedKeywordsFld").val();
    var tr_ctr = $(".bkey-list-tbl tr").length;

    var content = "<tr>"
    +"<td class='text-center keyword-td'><span>"+blocked_keywords+"</span><input type='hidden' value='1'></td>"
    +"<td class='text-center'><a class='btn-remove btn-remove-bk'>Remove</a></td>"
    +"</tr>"

    $('#blockedKeywordTbody').append(content);

    $('.bk-btns').removeClass('hidden');

    if(tr_ctr >= 10){
        $(".bkey-tbl-div").addClass("ten-rows green-scroll");
    }
});

// applying changes to blocked keywords
$(document).on('click', '#bkApplyChanges', function(){
    var keywords_set = [];

    $('#blockedKeywordTbody tr').each(function(){
        var keywords_array = [];

        keywords_array.push($(this).find('.keyword-td span').text());
        keywords_array.push($(this).find('.keyword-td input').val());
        
        keywords_set.push(keywords_array);
    }); 

    $.ajax({
        url: BASE_URL + 'settings/getBlockedKeywords',
        type: 'POST',
        data: {
            "keywords_set": keywords_set
        }
    })
    .done(function(data) {  
        window.location.reload(true);
    });
});

// remove blocked keywords in table
$(document).on('click', '.btn-remove-bk', function(){
    $(this).parent("td").parent("tr").find(".keyword-td input").val("2");
    $(this).parent("td").parent("tr").addClass("hidden");

    $('.bk-btns').removeClass('hidden');
});

$(document).on('change', '.exp-field', function(){
    $('.exp-btns').removeClass('hidden');
});

$(document).on('change', '.pse-field', function(){
    $('.pse-btns').removeClass('hidden');
});

$(document).on('change', '.itbt-field', function(){
    $('.itbt-btns').removeClass('hidden');
});

// for settings - click action
$(document).on('click','.esu-menu',function(){
    $(this).addClass('active');
    $('.cs-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bu-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.esu-div').offset().top-100},
        100);
});

$(document).on('click','.cs-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bu-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.csu-div').offset().top-100},
        100);
});

$(document).on('click','.tpv-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.cs-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bu-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.psev-div').offset().top-100},
        100);
});

$(document).on('click','.itbt-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.cs-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bu-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.it-div').offset().top-100},
        100);
});

$(document).on('click','.tac-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.cs-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.bu-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.tac-div').offset().top-100},
        100);
});

$(document).on('click','.bu-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.cs-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bj-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.bu-div').offset().top-100},
        100);
});

$(document).on('click','.bj-menu',function(){
    $(this).addClass('active');
    $('.esu-menu').removeClass('active');
    $('.cs-menu').removeClass('active');
    $('.tpv-menu').removeClass('active');
    $('.itbt-menu').removeClass('active');
    $('.tac-menu').removeClass('active');
    $('.bu-menu').removeClass('active');

    $('html,body').animate({
        scrollTop: $('.bk-div').offset().top-100},
        100);
});

<?php if ($this->session->LPMADMINACCESS['settings'] < 2){?>
$('.cls-form-div input, .cls-form-div textarea').prop('disabled', true);
<?php } ?>

</script>   
