
<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content hide-print">

        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>

        <div class="form-holder">
             <!-- prev-next buttons -->
            <div class="form-pn-btns-div">
                <div class="col-sm-12" style="padding:0;">

                    <div class="col-sm-6" style="padding:0;">
                        <a class="btn-rttpn" href="<?= BASE_URI; ?>verify_payment">< Return to Table</a>
                    </div>
                    <?php $idArr = $this->session->get('idArr');
                          $idPos = array_search($inquiry->reference_number, $idArr);
                          $prevId = $idArr[$idPos - 1];
                          $nextId = $idArr[$idPos + 1];
                    ?>
                    <div class="col-sm-6 text-right" style="padding:0;">
                        <a class="btn-rttpn <?php if ($prevId == false) {echo "hidden";}?>" style="margin-right:50px;" href="<?= BASE_URI; ?>verify_payment/form?id=<?= $prevId;?>">< Prev</a>
                        <a class="btn-rttpn <?php if ($nextId == false) {echo "hidden";}?>" href="<?= BASE_URI; ?>verify_payment/form?id=<?= $nextId;?>">Next ></a>
                    </div>

                </div>
            </div>           
            
            
            <div class="fpayment-content mb-40">
                <div class="col-sm-12" style="padding:0;margin-bottom:10px;">
                    <h5><?= ($inquiry->payment == 1) ? "Payment Details" : "Cash on Pickup"; ?></h5>

                    <!-- remove hidden class when customer already paid everything -->
                    <button class="btn btn-fo <?= ($inquiry->payment == 1) ? "hidden" : ""; ?> pull-right">Finalize Order</button>
                </div>

                <table id="paymentDetailsTbl" class="pd-tbl <?= ($inquiry->payment == 1) ? "" : "hidden"; ?>">
                    <thead>
                        <tr>
                            <th style="width:10%;">Bank</th>
                            <th style="width:10%;">Date Paid</th>
                            <th style="width:10%;">Transaction No.</th>
                            <th style="width:10%;">Amount</th>
                            <th style="width:10%;">Image</th>
                            <th style="width:10%;">Checked Via</th>
                            <th style="width:10%;">Date Verified</th>
                            <th style="width:10%;">Checked By</th>
                            <th style="width:20%;">
                                <!-- remove hidden when table already have data -->
                                <span>Status</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                            $amount_paid_total = 0;
                            if (count($payment_details) == 0) { ?>
                            <!-- first tr state: when payment table is still empty - hide when there's already data -->
                            <tr class="hidden">
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td></td>
                            </tr>
                        <?php
                        } else {
                            
                            foreach ($payment_details as $payment_detail) {
                                if ($payment_detail->status == 1)
                                    $amount_paid_total += $payment_detail->amount;
                                ?>
                                <!-- second tr state: tr when payment table already have data -->
                                <tr class="">
                                    <td><?= $banks_array[$payment_detail->bank_id]->bank_name." - ".$banks_array[$payment_detail->bank_id]->bank_branch; ?></td>
                                    <td><?= $payment_detail->date_paid; ?></td>
                                    <td><?= $payment_detail->transaction_no; ?></td>	
                                    <td class="text-left payment-detail-amount"><?= number_format($payment_detail->amount,2); ?></td>
                                    <td>
                                        <?php if ($payment_detail->bank_id != 99){?>
                                        <a href="<?= STOREFRONT_URI . 'uploads/slips/' . $payment_detail->file; ?>" data-name="<?= $payment_detail->file; ?>" class="btn-download-ppdf" download>Download</a>
                                        <?php } else{?>
                                        ---
                                        <?php }?>
                                    </td>
                                    <td>
                                        <select class="form-control pd checked-via" <?= ($payment_detail->status > 0) ? "disabled" : ""; ?>>
<!--                                            <option value="0" <?= ($payment_detail->checked_via == 0) ? "selected" : ""; ?>>--</option>-->
                                            <option value="2" <?= ($payment_detail->checked_via == 2) ? "selected" : ""; ?>>CHECK</option>                                            
                                            <option value="1" <?= ($payment_detail->checked_via == 1) ? "selected" : ""; ?>>PASSBOOK</option>
                                            <option value="3" <?= ($payment_detail->checked_via == 3) ? "selected" : ""; ?>>ONLINE</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control pd date-verified datepicker" onkeydown="return false;" value="<?= $payment_detail->date_verified; ?>" <?= ($payment_detail->status > 0) ? "disabled" : ""; ?>>
                                    </td>
                                    <td class="td-checked-by"><?= $admin_users_array[$payment_detail->checked_by] ?></td>
                                    <td class="text-left <?= ($this->session->LPMADMINACCESS['payment'] == 0) ? "hidden" : ""; ?>">
                                        <button data-id="<?= $payment_detail->id; ?>" class="btn btn-vpd <?= ($payment_detail->status > 0) ? "hidden" : ""; ?>">
                                            <i class="fa fa-check-circle"></i> Verify
                                        </button>
                                        <button data-id="<?= $payment_detail->id; ?>" class="btn btn-dpd <?= ($payment_detail->status > 0) ? "hidden" : ""; ?>">
                                            <i class="fa fa-times-circle"></i> Decline
                                        </button>
                                        <span class="status-verified <?= ($payment_detail->status != 1) ? "hidden" : ""; ?>">VERIFIED</span>
                                        <span class="status-declined <?= ($payment_detail->status != 2) ? "hidden" : ""; ?>" data-title="No such transaction exist.">
                                            DECLINED 
                                            <i class="fa fa-question-circle fa-1x"></i>

                                            <label class="alert-declined">
                                                <i class="fa fa-question-circle fa-1x"></i>
                                                <br><br>
                                                <?=$payment_detail->decline_reason;?>
                                            </label>
                                        </span>
                                    </td>
                                </tr>
                                    <?php }
                                } ?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-right">AMOUNT DUE</td>
                            <td class="text-right amount-due"></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">AMOUNT PAID</td>
                            <td class="text-right amount-paid-total"><?= $amount_paid_total; ?></td>
                            <td class="text-center"><a class="btn-acm hidden">ADD CREDIT MEMO</a></td>
                        </tr>
                        <tr class="memo-row <?= ($credit_memo) ? "" : "hidden" ?>">
                            <td colspan="7" class="text-right">CREDIT MEMO</td>
                            <td class="text-right credit-amount-row"><?= $credit_memo->amount; ?></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">BALANCE</td>
                            <td class="text-right balance"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- form like div -->
            <div class="form-content" style="margin-top:50px;">
                <!-- form header -->
                <table class="fheader-tbl">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Statement of Account</h5>
                            </td>
                            <td class="text-right">Date</td>
                            <td class="text-right"><span><?= substr($inquiry->datetime_created, 0, 10); ?></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="inquiry-no"><?= $inquiry->reference_number; ?></h5>
                            </td>
                            <!-- <td class="text-right">Valid Until</td>
                            <td class="text-right"><span><?= $inquiry->valid_until; ?></span></td> -->
                        </tr>
                    </tbody>
                </table>

                <!-- account info -->
                <table class="faccount-tbl" style="margin-top:40px;">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <span class="form-label">COMPANY NAME</span>
                    <h5 class="fcompany-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                    </th>
                    <th>
                        <!-- change to pick up if the user chose pick up in delivery option -->
                        <span class="fstatus"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></span> 
                    </th>
                    </tr>
                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="company-address <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">COMPANY ADDRESS</span>
                                <h5 class="faddress-info">
                                    <h5 class="faddress-info">
                                        <?php echo $address->address1; ?>  <br>
                                        <?php
                                        if ($address->address2 != "") {
                                            echo $address->address2 . "</br>";
                                        }
                                        ?> 
                                        <?php echo $city->name; ?> <br>
                                        <?php echo $province->name; ?> <br>
                                        <?php echo $region->name; ?>
                                    </h5>
                                </h5>
                            </div>

                            <!-- hide when account is company -->
                            <div class="contact-section <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide when account is company -->
                            <div class="personal-address <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php
                                    if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    }
                                    ?> 
                                    <?php echo $city->name; ?> <br>
                                    <?php echo $province->name; ?> <br>
                                    <?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is personal -->
                            <div class="contact-section <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide div (not the td) when user chose pick up in delivery option -->
                            <div>
                                <span class="form-label <?php if ($inquiry->for !== "1"){echo 'hidden';}?>">DELIVERY ADDRESS</span>
                                <h5 class="fdelivery-info">
                                    <?php if ($inquiry->for == "1") { ?>
                                        <?php echo $delivery_address->address; ?>  <br>
                                        <?php
                                        if ($delivery_address->address_2 != "") {
                                            echo $delivery_address->address_2 . "</br>";
                                        }
                                        ?> 
                                        <?php echo $delivery_city->name; ?> <br>
                                        <?php echo $delivery_province->name; ?> <br>
                                        <?php echo $delivery_region->name; ?>
                                    <?php } ?>
                                </h5>
                            </div>
                        </td>
                    </tr>
                    </tbody>	
                </table>

                <!-- order - details -->
                <div class="form-orders-div">
                    <div class="fo-title">ITEM LIST</div>

                    <div class="fo-list-div">
                        <table class="si-tbl">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th colspan="2">ITEM NAME</th>
                                    <th class="text-right">UNIT PRICE</th>
                                    <th class="text-right">QUANTITY</th>
                                    <th class="text-right">UOM</th>
                                    <th class="text-right">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                    $i = 0;
                                    $subtotal = 0;
                                    $prepaid_cnt = 0;

                                    foreach ($items as $item) {
                                        $i += 1;
                                        $subtotal += $item->total_amount;
                                        

                                        if($products_array[$item->product_kind_id]->prepaid == 1)  {
                                            $prepaid_cnt += 1;
                                        }

                                        $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId);
                                    ?>
                                    <tr>
                                        <td><?php echo $i; ?></td>
                                        <td>
                                            <img class="fo-img" src="<?= STOREFRONT_URI ?>product_images/<?php if ($product->image_link_1){ echo $product->image_link_1;}else{echo "default.jpg";}?>">
                                        </td>
                                        <td>
                                            <h5 class="fo-prod-details">
                                                <span class="fop-name">
                                                    <?php echo $product->product_name; ?>
                                                </span>
                                                <span class="fop-size">
                                                    <?php echo $products_array[$item->product_kind_id]->kind_name . " | " . $products_array[$item->product_kind_id]->measurement . " | " . $products_array[$item->product_kind_id]->color; ?></span>
                                            </h5>
                                        </td>
                                        <td class="text-right"><?php echo number_format($item->unit_price,2); ?></td>
                                        <td class="text-right"><?php echo number_format($item->quantity); ?></td>
                                        <td class="text-right"><?php echo $item->uom; ?></td>
                                        <td class="text-right"><?php echo number_format($item->total_amount,2); ?></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>SUBTOTAL</span>
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span class="order-total"><?= number_format($subtotal,2); ?></span>
                                    </td>
                                </tr>

                                <!-- hide when order is for pickup -->
                                <?php if ($inquiry->for == 1 && $inquiry->delivery_charge !== '0.00') { ?>
                                    <tr>
                                        <td colspan="6" class="text-right" style="border-right:none !important;">
                                            <span>DELIVERY CHARGE</span>
                                        </td>
                                        <td class="text-right" style="border-left:none !important;">
                                            <span style="font-family:'SF-Pro-Text-Regular';"><?= number_format($inquiry->delivery_charge,2); ?></span>
                                        </td>
                                    </tr>
                                <?php } ?>
                                
                                <tr <?php if($inquiry->discount == '0.00'){echo 'class="hidden"';}?>>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>(DISCOUNT)</span>
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span style="font-family:'SF-Pro-Text-Regular';"><?= number_format($inquiry->discount,2); ?></span>
                                    </td>
                                </tr>

                                <?php if($user->customer_type_id == 1) { 
                                        $hide_tr = "hidden"; 
                                    } else if($user->customer_type_id != 1 && $cwt_status->verified_status != 1){
                                        $hide_tr = "hidden";
                                    } else if($cwt_status->verified_status == 1 && $inquiry->cwt == 0.00){
                                        $hide_tr = "hidden";
                                    }
                                ?>
                                <tr class="<?=$hide_tr;?>">
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>(CWT)</span>
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span style="font-family:'SF-Pro-Text-Regular';"><?= number_format($inquiry->cwt,2); ?></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span class="gt-label">GRAND TOTAL</span> 
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span class="grand-total"></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <?php if($prepaid_cnt > 0) { ?>
                <div class="olta-div">
                    <h5>
                        <i class="fa fa-exclamation-triangle fa-1x"></i>
                        ORDER LEAD TIME ALERT
                    </h5>
                    
                    <?php foreach($items as $item) {  if($products_array[$item->product_kind_id]->prepaid == 1) { ?>
                    <?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); ?>
                            <li>
                                Item <span class="olta-prod-name">"<?php echo $product->product_name." ".$products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color;?>"    
                                </span> will take <span style="font-weight:bold;"><?=$products_array[$item->product_kind_id]->lead_time;?></span> business day(s) to deliver after <span class="olta-cfp">cleared full payment</span> is made.
                            </li>
                <?php } } ?> </div> <?php } ?>
                
                <?php if($inquiry->recompute_status == 1) { ?>
                    <div class="olta-div-blue">
                        <h5>
                            <i class="fa fa-info-circle fa-1x"></i>RECOMPUTATION
                        </h5>
                        <span><?=$inquiry->reason;?></span>
                    </div>
                <?php } ?>                 

                <div class="col-sm-12" style="padding:0;">
                    <label>REMARKS</label>
                    <textarea class="form-control remarks" rows="4" readonly><?= $inquiry->remarks; ?></textarea>	
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <div class="col-sm-12" style="padding:0;">
                        <label>PAYMENT DETAILS</label>	
                    </div>

                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Mode of Payment</label>
                        <select class="form-control standard" disabled>
                            <option value="1" <?= ($inquiry->payment == 1) ? "selected" : ""; ?>>Bank Transfer</option>
                            <option value="2" <?= ($inquiry->payment == 2) ? "selected" : ""; ?>>Cash on Pickup</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Bank Name</label>
                        <select class="form-control standard" disabled>
                            <option value="0" <?=($inquiry->bank == 0) ? "selected" : "";?>>--</option>
							<?php foreach ($banks as $bank) { ?>
							<option value="<?=$bank->id;?>" <?=($inquiry->bank == $bank->id) ? "selected" : "";?>><?=$bank->bank_name.' - '.$bank->bank_branch;?></option>
							<?php } ?>							
                        </select>
                    </div>
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <label>TERMS AND CONDITIONS</label>
                    <div class="ftac-div mb-20">
                        <div class="ftac-content green-scroll">
                    <?php 
                        $i = 0; 
                        $regular = 0; 
                        $prepaid = 0;
                        
                        foreach($items as $item) { 
                            $i += 1; 

                            if($products_array[$item->product_kind_id]->prepaid == 0) {
                                $regular += 1;
                            } else {
                                $prepaid += 1;
                            } 

                            if($prepaid > 0 && $regular > 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>
                                            ".$regular_products."

                                            <br><br>

                                            <span>Prepaid Products:</span>
                                            <br><br>
                                            ".$prepaid_products.";
                                        </p>";
                            } else if($prepaid > 0 && $regular == 0) {
                                $show = "<p>
                                            <span>Prepaid Products:</span>
                                            <br><br>
 
                                                ".$prepaid_products."

                                        </p>";
                            } else if($regular > 0 && $prepaid == 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>

                                                ".$regular_products."

                                        </p>";
                            }
                        }
                    ?>
                    
                    <?php echo $show; ?>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <div class="ftac-checkbox">
                        <label class="container">I have read and agreed to the Terms and Conditions
                            <input type="checkbox" checked disabled>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="form-btns">
                    <button class="btn btn-success btn-white btn-dpdf" id="btnDownloadPdf">
                        <i class="fa fa-file fa-1x"></i>Download PDF
                    </button>

                    <!-- <button class="btn btn-csoa">Save Changes and Resend</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- for verification pdf -->
    <div class="main-content hide-form">
        <!-- inquiry pdf form -->
        <div class="form-holder">

            <!-- header table -->
            <table class="iprint-header-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-lpm-name">LPM CONSTRUCTION SUPPLY & WOOD CENTER CORP.</h5>
                            <span><?php 
                                    $lpm_address = array();
                                    foreach ($lpm_info_array["address"] as $lpm_addresss) {
                                    $lpm_address[] = $lpm_addresss;
                                } echo implode(' / ', $lpm_address); ?>     </span>
                            <span><?php 
                                    $phone_no = array();
                                    foreach ($lpm_info_array["phone_no"] as $phone_nos) {
                                    $phone_no[] = $phone_nos;

                                } echo implode(' / ', $phone_no); ?></span>
                            <span><?php 
                                    $mobile = array();
                                    foreach ($lpm_info_array["mobile_no"] as $mobile_nos) {
                                    $mobile[] = $mobile_nos;
                                } echo implode(' / ', $mobile); ?></span>
                            <span><?php 
                                    $email = array();
                                    foreach ($lpm_info_array["email_address"] as $emails) {
                                    $email[] = $emails;
                                } echo implode(' / ', $email); ?> </span>
                        </td>
                        <td>
                            <img class="print-lpm-logo" src="<?= BASE_URI; ?>img/lpm_logo.png">
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- form header table -->
            <table class="iprint-fheader-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-form-title">
                                STATEMENT OF ACCOUNT
                            </h5>
                            <h5 class="print-order-no"><?php echo $inquiry->reference_number; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-date-lbl">Date</h5>
                            <!-- <h5 class="print-date-lbl">Valid Until</h5> -->
                        </td>
                        <td>
                            <h5 class="print-date"><?= substr($inquiry->datetime_created, 0, 10); ?></h5>
                            <!-- <h5 class="print-date"><?= $inquiry->valid_until; ?></h5>   -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- account table -->
            <table class="iprint-acnt-tbl">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <label class="print-tbl-label">COMPANY NAME</label>
                            <h5 class="print-accnt-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-dtype">    
                                <?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?>
                            </h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">COMPANY ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php if ($address->address2 != "") {
                                                    echo $address->address2;;
                                                } else {
                                                    echo "-";
                                                } ?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">HOME ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php 
                                                if($address->address2 != "") { 
                                                    echo $address->address2;
                                                } else {
                                                    echo "-";
                                                } ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide content (not the td) when user chose pick up in delivery option -->
                            <?php
                                if($inquiry->for == "1") {
                                    echo '<label class="print-tbl-label">DELIVERY ADDRESS</label>'; 
                                } else {
                                    // echo $delivery_address;
                                }
                            ?>

                            <table class="iprint-cp-tbl">
                                <tbody>
                                    <tr>
                                        <td><?php echo $delivery_address->address; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php if($delivery_address->address_2 != "") { 
                                                echo $delivery_address->address_2 ; 
                                            } else {
                                                // echo "-";
                                            } ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_city->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_province->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_region->name; ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- item list table -->
            <table class="iprint-item-tbl">
                <tbody>
                    <tr style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;">
                        <th colspan="6">ITEM LIST</th>
                    </tr>
                    <tr>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 5%;">NO.</th>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 40%;">ITEM NAME</th>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;    
                    text-align: right;">UNIT PRICE</th>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;
                    text-align: right;">QUANTITY</th>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 7%;
                    text-align: right;">UOM</th>
                        <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;
                    text-align: right;">TOTAL</th>
                    </tr>
                    <?php
                        $i = 0;
                        $prepaid_cnt = 0;
                    
                        foreach ($items as $item) {
                        $i += 1;

                        if($products_array[$item->product_kind_id]->prepaid == 1)  {
                            $prepaid_cnt += 1;
                        }
                    ?>
                    <tr>
                        <td><?php echo $i; ?></td>
                        <td>
                            <h5 class="print-prod-name">
                                <?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); echo $product->product_name; ?>
                            </h5>
                            <h5 class="print-prod-measure">
                                <?php echo $products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color; ?>
                            </h5>
                        </td>
                        <td><?php echo number_format($item->unit_price,2);?></td>
                        <td><?php echo $item->quantity;?></td>
                        <td><?php echo $item->uom;?></td>
                        <td><?php echo number_format($item->total_amount,2);?></td>
                    </tr>
                    <?php } ?>

                    <tr style="border:1px solid #D9D9D9;background-color:#F2F2F2;">
                        <td colspan="5" style="padding:2px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>SUBTOTAL</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                            <span class="print-subamt"><?= number_format($subtotal,2); ?></span>
                        </td>
                    </tr>

                    <tr style="border:1px solid #D9D9D9;background-color:#F2F2F2;">
                        <?php if($inquiry->for == 1) { if($inquiry->delivery_charge > 0) { ?>
                        <td colspan="5" style="padding:2px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>DELIVERY CHARGE</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                                <span class="print-subamt normal-charge delivery-charge"><?php echo number_format((float)$inquiry->delivery_charge, 2, '.', ','); ?></span>
                            </td>
                        <?php } ?>
                                <span class="print-subamt normal-charge delivery-charge" style="display:none;"><?php echo $inquiry->delivery_charge; ?></span>
                        <?php } else { ?>
                                <span class="print-subamt normal-charge delivery-charge" style="display:none;"><?php echo $inquiry->delivery_charge; ?></span>
                        <?php } ?>
                    </tr>
                    
                    <tr <?php if($inquiry->discount == 0.00){ echo 'style="display:none;"';} else { 
                        echo 'style="border:1px solid #D9D9D9;background-color:#F2F2F2;"'; } ?> >
                        <td colspan="5" style="padding:2px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>DISCOUNT</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                            <span class="print-subamt">(<?php echo $inquiry->discount; ?>)</span>
                        </td>
                    </tr>

                    <tr class="<?=$hide_tr?>" style="border:1px solid #D9D9D9;background-color:#F2F2F2;">
                        <td colspan="5" style="padding:2px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>CWT</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                            <span class="print-subamt">(<?php echo $inquiry->cwt; ?>)</span>
                        </td>
                    </tr>

                    <tr style="border:1px solid #D9D9D9;background-color:#F2F2F2;">
                        <td colspan="5" style="padding:15px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>GRAND TOTAL</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                            <span class="print-subamt grand-total"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="border:none !important;"><tr style="border:none !important;"><td style="padding:0;border:none !important;"></td></tr></tfoot>
            </table>

            <!-- remarks table -->
            <table class="iprint-tcr-tbl">
                <tbody style="border: 1px solid #D9D9D9;">
                    <tr style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;padding:2px 0;">
                        <th>REMARKS</th>
                    </tr>
                    <tr>
                        <td>
                            <?php $noted_by = SiteUserAccessTbl::findFirstByuser_id($inquiry->user_id); echo $noted_by->first_name. " " .$noted_by->last_name.":"; ?> <span class="remarks-data"><?= $inquiry->remarks; ?></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- payment table -->
            <table class="iprint-pdpo-tbl">
                <tbody style="border: 1px solid #D9D9D9;">
                    <tr style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;">
                        <th colspan="4" style="text-align:center;padding:2px 0;">PAYMENT DETAILS</th>
                    </tr>
                    <tr>
                        <th rowspan="3">Mode of Payment</th>
                        <th class="pd-data" rowspan="3">
                            <?php if($inquiry->payment == 1) {
                                    $msg = 'BANK TRANSFER';
                                } else {
                                    $msg = 'CASH ON PICKUP';
                                }
                                echo $msg;
                            ?>
                        </th>
                        <th>Bank Name</th>
                        <th class="pd-data">
							<?=$banks_array[$inquiry->bank]->bank_name . '-' . $banks_array[$inquiry->bank]->bank_branch;?>
                        </th>
                    </tr>
                    <tr>
                        <td>Account Name</td>
                        <td class="pd-data">
							<?=$banks_array[$inquiry->bank]->account_name;?>
                        </td>
                    </tr>
                    <tr>
                        <td>Account No.</td>
                        <td class="pd-data">
							<?=$banks_array[$inquiry->bank]->account_no;?>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- remarks table -->
            <table class="iprint-tcr-tbl">
                <tbody style="border: 1px solid #D9D9D9;">
                    <tr style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;">
                        <td style="text-align:center;padding:2px 0;">TERMS AND CONDITIONS</td>
                    </tr>
                    <?php 
                        $i = 0; 
                        $regular = 0; 
                        $prepaid = 0;
                        
                        foreach($items as $item) { 
                            $i += 1; 

                            if($products_array[$item->product_kind_id]->prepaid == 0) {
                                $regular += 1;
                            } else {
                                $prepaid += 1;
                            } 

                            if($prepaid > 0 && $regular > 0) {
                                $show = "<p>
                                            <span style='font-family:Arial;font-weight:700;'>Regular Products:</span>
                                            <br><br>
                                            ".$regular_products."

                                            <br><br>

                                            <span style='font-family:Arial;font-weight:700;'>Prepaid Products:</span>
                                            <br><br>
                                            ".$prepaid_products.";
                                        </p>";
                            } else if($prepaid > 0 && $regular == 0) {
                                $show = "<p>
                                            <span style='font-family:Arial;font-weight:700;'>Prepaid Products:</span>
                                            <br><br>
 
                                                ".$prepaid_products."

                                        </p>";
                            } else if($regular > 0 && $prepaid == 0) {
                                $show = "<p>
                                            <span style='font-family:Arial;font-weight:700;'>Regular Products:</span>
                                            <br><br>

                                                ".$regular_products."

                                        </p>";
                            }
                        }
                    ?>
                    <tr>
                        <td>
                            <?php echo $show; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <?php if($prepaid_cnt > 0) { ?>
                            <ol>
                                <li style="font-family:Arial;font-weight:700;">Order Lead Time Alert:</li>
                                <?php foreach($items as $item) {  
                                    if($products_array[$item->product_kind_id]->prepaid == 1) { ?>
                                
                                <li>
                                    *Item 
                                        <span>
                                            "<?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); echo $product->product_name; ?> | <?php echo $products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color;?>"  
                                        </span> 
                                    will take 
                                        <span><?=$products_array[$item->product_kind_id]->lead_time;?></span> 
                                    business day(s) to deliver after 
                                        <span>cleared full payment</span> is made.
                                </li>
                                <?php } } ?>
                            </ol>
                            <?php } ?>
                        </td>
                    </tr>
                </tbody>
            </table>

           <div class="remarks-div">
                <span class="faq-data">For any questions, please reach us through the contact details provided above.</span>
                <table class="iprint-bys-tbl">
                    <tbody>
                       <tr style="border:1px solid black;">
                            <th style="padding:5px 20px;text-align:left;">Prepared by:</th>
                            <th style="padding:5px 20px;text-align:left;">Approved by:</th>
                            <th style="padding:5px 20px;text-align:left;">Noted by:</th>
                        </tr>
                        <tr>
                            <td><?php echo $admin->first_name." ".$admin->last_name; ?></td>
                            <td>-</td>
                            <td><?php 
                                    $noted_by = SiteUserAccessTbl::findFirstByuser_id($inquiry->user_id); 

                                    echo $noted_by->first_name. " " .$noted_by->last_name;
                                ?>        
                            </td>
                        </tr>
                    </tbody>
                    <tfoot><tr><td></td></tr></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<?php $this->partial('verify_payment/modal'); ?>

<script type="text/javascript">
//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//number alterations end  

    var admin_users_array = {};
    <?php foreach ($admin_users_array as $key => $name) { ?>
            admin_users_array[<?= $key ?>] = '<?= $name; ?>'
    <?php } ?>

    var user_role_access = <?= $this->session->LPMADMINACCESS['orders']; ?>;

    var logged_in_user_id = <?= $logged_in_user_id; ?>;
    var amount_paid_total = <?= $amount_paid_total; ?>;
    $('.amount-paid-total').html(amount_paid_total.toLocaleString('en',{minimumFractionDigits : 2}));

    $(document).on('click', '#btnDeclinePayment', function () {
        $('#modalDeclinePayment').modal('show');
    });

    var amount_due_total = 0;
    $(document).ready(function () {
        var total = parseFloat(<?= $subtotal; ?>) + <?= $inquiry->delivery_charge; ?> - <?= $inquiry->discount; ?> - <?= $inquiry->cwt; ?>;
        amount_due_total = total;
        $('.grand-total').html(total.toLocaleString('en',{minimumFractionDigits : 2}));
        $('.amount-due').html(total.toLocaleString('en',{minimumFractionDigits : 2}));

        var balance = amount_due_total - amount_paid_total;
        $('.balance').html(balance.toLocaleString('en',{minimumFractionDigits : 2}));

        if ((balance <= 0) && (user_role_access == 2))
            $('.btn-fo').removeClass('hidden');
        if (balance < 0)
        {
            $('.btn-acm').removeClass('hidden');
        }

        getCreditMemo();

    });

    $(document).on('click', '.btn-vpd', function () {
		var verified_btn = $(this);
		verified_btn.attr('disabled','disabled');
        var payment_detail_id = $(this).attr('data-id');
        var row = $(this).closest('tr');
        var date_verified = $(this).closest('tr').find('.date-verified').val();
        var checked_via = $(this).closest('tr').find('.checked-via').val();
		var date_verified_html = $(this).closest('tr').find('.date-verified');
		var checked_via_html = $(this).closest('tr').find('.checked-via');

        if (checked_via != 0)
            $(this).closest('tr').find('.checked-via').removeClass('failed');
        if (moment(date_verified, 'YYYY-MM-DD', true).isValid() && (date_verified !== ""))
            $(this).closest('tr').find('.date-verified').removeClass('failed');

        if ((checked_via != 0) && (moment(date_verified, 'YYYY-MM-DD', true).isValid() && (date_verified !== "")))
        {
            var params = {
                payment_detail_id: payment_detail_id,
                new_status: 1,
                date_verified: date_verified,
                checked_via: checked_via,
                amount_due: amount_due_total,
                amount_paid: amount_paid_total + parseFloat(rem_num_form(row.find('.payment-detail-amount').html())),
            };

            $.post(BASE_URL + 'verify_payment/updateStatus', params, function (data) {
                if (data == "Verified")
                {
                    row.find('.btn-vpd').addClass('hidden');
                    row.find('.btn-dpd').addClass('hidden');
                    row.find('.status-verified').removeClass('hidden');
                    row.find('.td-checked-by').html(admin_users_array[logged_in_user_id]);
					
					date_verified_html.attr('disabled','disabled');
					checked_via_html.attr('disabled','disabled');
					
                    amount_paid_total += parseFloat(rem_num_form(row.find('.payment-detail-amount').html()));
                    $('.amount-paid-total').html(amount_paid_total.toLocaleString('en',{minimumFractionDigits : 2}));

                    var balance = amount_due_total - amount_paid_total;
                    $('.balance').html(balance.toLocaleString('en',{minimumFractionDigits : 2}));

                    if ((balance <= 0) && (user_role_access == 2))
                        $('.btn-fo').removeClass('hidden');
                    if (balance < 0)
                    {
                        $('.btn-acm').removeClass('hidden');
                    }
					
                }
				else
				{
					alert(data);
					verified_btn.removeAttr('disabled');
				}
        
            });

        }
        else
        {
            alert('Missing fields or Invalid Date Found');
            if (checked_via == 0)
                $(this).closest('tr').find('.checked-via').addClass('failed');
            if (!moment(date_verified, 'YYYY-MM-DD', true).isValid() || (date_verified == ""))
                $(this).closest('tr').find('.date-verified').addClass('failed');
			verified_btn.removeAttr('disabled');
        }


    });

    $(document).on('click', '.btn-dpd', function () {
        var declined_btn = $(this);
		declined_btn.attr('disabled','disabled');
		var payment_detail_id = $(this).attr('data-id');
        var date_verified = $(this).closest('tr').find('.date-verified').val();
        var checked_via = $(this).closest('tr').find('.checked-via').val();
		var date_verified_html = $(this).closest('tr').find('.date-verified');
		var checked_via_html = $(this).closest('tr').find('.checked-via');
		
		
        if ((checked_via != 0) && (moment(date_verified, 'YYYY-MM-DD', true).isValid() && (date_verified !== "")))
        {
            $('#modalDeclinePayment').modal('show');

            $('#modalDeclinePayment .btn-sup').attr('data-id', payment_detail_id);
            $('#modalDeclinePayment .btn-sup').attr('data-date', date_verified);
            $('#modalDeclinePayment .btn-sup').attr('data-checked', checked_via);
        }
        else
        {
            alert('Missing fields or Invalid Date Found');
            if (checked_via == 0)
                $(this).closest('tr').find('.checked-via').addClass('failed');
            if (!moment(date_verified, 'YYYY-MM-DD', true).isValid() || (date_verified == ""))
                $(this).closest('tr').find('.date-verified').addClass('failed');
			declined_btn.removeAttr('disabled');
        }

    });

    $(document).on('click', '#modalDeclinePayment .btn-sup', function () {
        var payment_detail_id = $(this).attr('data-id');
        var table = $('#paymentDetailsTbl');
        var row = "";
		
        var params = {
            payment_detail_id: payment_detail_id,
            new_status: 2,
            decline_reason: $('#modalDeclinePayment .txtarea').val(),
            date_verified: $(this).attr('data-date'),
            checked_via: $(this).attr('data-checked'),
            amount_due: amount_due_total,
            amount_paid: amount_paid_total,
        };

        $.post(BASE_URL + 'verify_payment/updateStatus', params, function (data) {
            if (data == "Declined")
            {
                window.location.reload(true);
            }
            else
            {
                alert(data);
            }
        });

    });

    $(document).on('click', '.btn-fo', function () {
        var inquiry_id = <?= $inquiry->inquiry_id; ?>;

        var params = {
            inquiry_id: inquiry_id,
        };

        $.post(BASE_URL + 'verify_payment/finalizeOrder', params, function (data) {
            if (data == "Success")
            {
                window.location.href = BASE_URL + "for_delivery_pickup";
            }
            else
            {
                alert(data);
            }
        });

    });

	var credit_amount = 0;
    $(document).on('click', '.btn-acm', function () {
        $('#modalAddCreditMemo').modal('show');

        credit_amount = amount_paid_total - amount_due_total;
        var reference_number = '<?= $inquiry->reference_number; ?>';

        $('#modalCreditNo').val(reference_number);
        $('#modalCreditAmount').val(credit_amount.toLocaleString('en',{minimumFractionDigits : 2}));

    });

    $(document).on('click', '#btnModalSubmit', function () {
        var reference_number = $('#modalCreditNo').val();
        var reason = $('#modalReason').val();

        var params = {
            reference_number: reference_number,
            credit_amount: credit_amount,
            reason: reason,
            user_id: <?= $inquiry->user_id ?>,
        };

        $.post(BASE_URL + 'partially_verified/addCreditMemo', params, function (data) {
            if (data == "Success")
            {
                $('.credit-amount-row').html(credit_amount.toLocaleString('en',{minimumFractionDigits : 2}));
                $('.memo-row').removeClass('hidden');

                var balance = amount_due_total - amount_paid_total + parseFloat(credit_amount);
                $('.balance').html(balance.toLocaleString('en',{minimumFractionDigits : 2}));
                if ((balance <= 0) && (user_role_access == 2))
                    $('.btn-fo').removeClass('hidden');
            }
            $('#modalAddCreditMemo').modal('hide');
            $('.btn-acm').addClass('hidden');
        });
    });

//    $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'});
    
var dateToday = new Date();
$('.datepicker').datepicker({ 
    dateFormat: 'yy-mm-dd',
    maxDate: dateToday
    });    

    $(document).on("click", "#btnDownloadPdf", function(){
        $('.hide-form').printMe({ "path": ["<?=BASE_URI;?>css/print.css"] });
    });
	


function getCreditMemo() {
        // load existing credit memo //
         var reference_number = $('.inquiry-no').html();
         var params = {
            reference_number: reference_number,
            
        };
           $.post(BASE_URL + 'partially_verified/getCreditMemo', params, function (data) {
            if(data != "") {
             
               // data = $.parseJSON(data);
                var amount = parseFloat(data.replace(/"/g, ""));
                console.log(data + " " + parseFloat(data));
                $('.credit-amount-row').html(amount.toLocaleString('en',{minimumFractionDigits : 2}));
                $('.memo-row').removeClass('hidden');

                if(amount_paid_total < amount_due_total) {
                     var balance = Math.abs((amount_due_total - amount_paid_total));
                 } else {
                     var balance = Math.abs((amount_due_total - amount_paid_total) + amount);
                 }
               
                $('.balance').html(balance.toLocaleString('en',{minimumFractionDigits : 2}));
                if ((balance <= 0) && (user_role_access == 2)) {
                    $('.btn-fo').removeClass('hidden');
                    $('.btn-acm').addClass('hidden');
                } 
              } 
        });
}
</script>