<!-- modal for adding credit memo -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalAddCreditMemo">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body form-div">
            	<h5>Add Credit Memo</h5>

                <div class="col-sm-12" style="padding:0;margin-top:10px;">
                    <label>Credit No.</label>
                    <input id="modalCreditNo" type="text" class="form-control standard" disabled>
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:10px;">
                    <label>Amount</label>
                    <input id="modalCreditAmount" type="text" class="form-control standard text-right" disabled>
                </div>

            	<div class="col-sm-12" style="padding:0;margin-top:10px;">
                    <label>Remarks</label>
		            <textarea id="modalReason" class="form-control txtarea" rows="8" placeholder="Please provide reason for credit memo" style="font-size:10px;"></textarea>
            	</div>

            	<div class="col-sm-12" style="padding:0;margin-top:20px;">
            		<button id="btnModalSubmit" class="btn btn-success btn-sup">Submit</button>
            		<button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:100%;">Cancel</button>
            	</div>
            </div>
        	
        </div>
    </div>
</div>


<!-- modal for declining the payment -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeclinePayment">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body form-div">
            	<h5>Reason for Decline</h5>

            	<div class="col-sm-12" style="padding:0;margin-bottom:10px;">
		            <textarea class="form-control txtarea" rows="8" placeholder="Type reason for declining this payment" style="font-size:10px;"></textarea>
            	</div>

            	<div class="col-sm-12" style="padding:0;">
            		<button data-id="" class="btn btn-success btn-sup">Submit</button>
            		<button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:100%;">Cancel</button>
            	</div>
            </div>
        	
        </div>
    </div>
</div>