<script src="<?= BASE_URI; ?>js/buttons.flash.min.js"></script>
<script src="<?= BASE_URI; ?>js/jszip.min.js"></script>
<script src="<?= BASE_URI; ?>js/buttons.html5.min.js"></script>
<script src="<?= BASE_URI; ?>js/buttons.print.min.js"></script>
<style>
    .dataTables_filter {display: none;}
    .dt-buttons {
        display: none !important;
    }
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-4"> 
                    <div style="padding-left: 10px;">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>    
                </div> 
                <div class="col-lg-8"> 
                    <div class="buttons-div tab-actions"> 
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"><input type="submit" class="btn <?php //if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?>" value="Batch Upload" id="btnUploadCharges"></div>
                        <div class="col-lg-3"><input type="submit" class="btn save_xls ml10 <?php //if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?> " value="Download Excel File"></div>
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="chargesTable" class="table" style="width:100%;">
                    <thead>
						<th >Region</th>
                        <th >Province</th>
                        <th >City/Municipality</th>
						<th >City ID</th>
						<?php foreach ($truck_types as $truck_type) { ?>
						<th ><?=$truck_type->truck_type;?></th>
						<?php } ?>
                        <th >&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
				
				<table id="tableToExcel" class="hidden">
					<thead>
						<th >Region</th>
                        <th >Province</th>
                        <th >City/Municipality</th>
						<?php foreach ($truck_types as $truck_type) { ?>
						<th ><?=$truck_type->truck_type;?></th>
						<?php } ?>
					</thead>
					<tbody>
					
					</tbody>
				</table>
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('city_charges/modal'); ?>

<script>
//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//number alterations end  

$.post(BASE_URL+'city_charges/getCityChargesList',"",function(data){
    data = $.parseJSON(data);
	//console.log(data);
    var content_array = [];
	var table_body = $('#tableToExcel tbody');
	table_body.html("");
	
	data.city_ids.forEach(function(entry){
		//console.log(data.cities[entry.id]);
		var content_row = [];
		var tr_row = $("<tr></tr>");
		
		content_row.push(data.regions[data.region_provinces[entry.province_id]]);
		content_row.push(data.provinces[entry.province_id]);
		content_row.push(data.cities[entry.id]);
		content_row.push(entry.id);
		
		tr_row.append($("<td></td>").html(data.regions[data.region_provinces[entry.province_id]]));
		tr_row.append($("<td></td>").html(data.provinces[entry.province_id]));
		tr_row.append($("<td></td>").html(data.cities[entry.id]));
		//console.log(entry.city_id);
		if (data.city_charges[entry.id])
		{
			for (var truck_type_id in data.truck_types)
			{
				//console.log(data.truck_types[truck_type_id]);

				if (data.city_charges[entry.id][truck_type_id])
				{
					if (data.city_charges[entry.id][truck_type_id].wheel_restriction == 0)
					{
						content_row.push("<input type='text' class='tbl-field' size='8' data-id='"+data.city_charges[entry.id][truck_type_id].city_charge_id+"' data-truck='"+truck_type_id+"' disabled value='"+data.city_charges[entry.id][truck_type_id].wheel_charge+"'><label class='label-red hidden'>RESTRICTED</label><a class='btn-restricted hidden'><i class='fa fa-ban fa-1x'></i></a>");
						tr_row.append($("<td></td>").html(data.city_charges[entry.id][truck_type_id].wheel_charge));
					}
					else 
					{
						content_row.push("<input type='text' class='tbl-field hidden' size='8' data-id='"+data.city_charges[entry.id][truck_type_id].city_charge_id+"' data-truck='"+truck_type_id+"' disabled value='"+data.city_charges[entry.id][truck_type_id].wheel_charge+"'><label class='label-red'>RESTRICTED</label><a class='btn-restricted active hidden'><i class='fa fa-ban fa-1x'></i></a>");
						tr_row.append($("<td></td>").html("RESTRICTED"));
					}
				}
				else
				{
					content_row.push("<input type='text' class='tbl-field hidden' size='8' data-id='0' data-truck='"+truck_type_id+"' disabled value='0.00'><label class='label-red'>RESTRICTED</label><a class='btn-restricted active hidden'><i class='fa fa-ban fa-1x'></i></a>");
					tr_row.append($("<td></td>").html(0.00));
				}
			}
		}
		else
		{
			for (var truck_type_id in data.truck_types)
			{
				content_row.push("<input type='text' class='tbl-field hidden' size='8' data-id='0' data-truck='"+truck_type_id+"' disabled value='0.00'><label class='label-red'>RESTRICTED</label><a class='btn-restricted active hidden'><i class='fa fa-ban fa-1x'></i></a>");
				tr_row.append($("<td></td>").html(0.00));
			}
		}
		
		content_row.push("<a class='editLink <?php if ($this->session->LPMADMINACCESS['pricing'] < 2){echo 'hidden';}?>' data-id='"+entry.id+"'>Edit</a><a class='saveLink hidden' data-region='"+data.region_provinces[entry.province_id]+"' data-province='"+entry.province_id+"' data-city='"+entry.id+"'>SAVE</a>");
		content_array.push(content_row);
		table_body.append(tr_row);
	});
	
	
	
    $('#chargesTable').DataTable({
        "bFilter": true,
        "bSortable": true,
		"aaSorting": [],
		"aoColumnDefs": [{"targets": [ 3 ], "visible": false}],
        "paging": true,
        "data": content_array,
        "dom": '<"pull-left"lfr>B<"pull-right">tip',
         buttons: [
                
                {
                    extend: 'excel',
                    text: '',
                    className: 'excellink-reports icon-btn fa fa-save fa-lg',
                    exportOptions: {
                        columns: ':not(:last-child)',
                        	format: {
                                        body: function ( data, row, column, node ) {
                                            var n = data.indexOf("active");
                                            if(n > 0)
                                            {
                                                return "RESTRICTED";
                                            }
                                            else
                                            {
                                                var m = data.indexOf("'tbl-field");
                                                if(m>0)
                                                {
													//data = data.replace();
                                                    var res = data.replace("<label class='label-red hidden'>RESTRICTED</label><a class='btn-restricted hidden'><i class='fa fa-ban fa-1x'></i></a>", "");
                                                    var value = res.indexOf("value");
                                                    var value_str = res.substr(value);
                                                    var value_array = value_str.split("'");
                                                    return value_array[1];
                                                }
                                                else
                                                {
                                                    return data;
                                                }
                                            }
                                            //return $(data).is("input") ? $(data).val():data;
                                        }
                                }
                        }
                }
            ]
        
    });
    
    var table = $('#chargesTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });    
	
//    $('.tbl-field').keypress(validateNumber);
    
//    table.$('.tbl-field').addClass('input_decimal');

    //table.$(".tbl-field").inputmask("decimal", {prefix: "", digits: 2});    

}); 

$(document).on('click', '#btnUploadCharges', function(){
    $('#modalUploadCharges').modal('show');
});

$(document).on("click", "#btnUpload", function(){
    $("#browseFile").trigger('click');
});

$(document).on("change", "#browseFile", function(){
    var upload_file = $("#browseFile").val();
	console.log(upload_file);
    $("#label1").html(upload_file);
	$('.file-close-div span').html(upload_file);
	
});

$(document).on('click', '#modalUploadCharges .btn-sup', function(){
	var upload_file = $("#browseFile").val();
	var submit_button = $(this);
	var cancel_button = $('#modalUploadCharges .btn-cancel');
	//var file_data = $('#modalUpload #browseFile').prop("files")[0];
	$('#browseFile').simpleUpload(BASE_URL+'city_charges/uploadBatchFile', {
		maxFileSize: 2097152,
		start: function(file) {
            //upload started
            console.log("upload started");
            submit_button.html("Uploading");
			submit_button.attr('disabled','disabled');
			cancel_button.attr('disabled','disabled');
        },
		progress: function(progress) {
            //received progress
            $('.uploading-file').removeClass('hidden');
			console.log("upload progress: " + Math.round(progress) + "%");
			submit_button.html("Uploading " + Math.round(progress) + "%");
        },
		success: function(data) {
            //upload successful
			$('.uploading-file').addClass('hidden');
			$('.uploaded-file').removeClass('hidden');
			submit_button.html("Processing");
			
			if (data != "") alert(data);
			window.location.href = window.location.href;
			console.log(data);
			
            console.log("upload successful!");
            
        },
		error: function(error) {
            //upload failed
            console.log("upload error: " + error.name + ": " + error.message);
        }
	});
});

$(document).on('click','.editLink', function(){
	$(this).addClass('hidden');
	$(this).siblings('.saveLink').removeClass('hidden');
	
	$(this).closest('tr').find('.tbl-field').removeAttr('disabled');
	$(this).closest('tr').find('.btn-restricted').removeClass('hidden');
});

$(document).on('click','.saveLink', function(){
	$(this).addClass('hidden');
	$(this).siblings('.editLink').removeClass('hidden');
	
	$(this).closest('tr').find('.tbl-field').attr('disabled','disabled');
	$(this).closest('tr').find('.btn-restricted').addClass('hidden');
	
	//save city charge
	var textfield_array = [];
	var city_charge_id_array = [];
	var truck_types_array = [];
	$(this).closest('tr').find('.tbl-field').each(function(){
		textfield_array.push($(this).val());
		city_charge_id_array.push($(this).attr('data-id'));
		truck_types_array.push($(this).attr('data-truck'));
	});
	var restriction_array = [];
	$(this).closest('tr').find('.btn-restricted').each(function(){
		
		if ($(this).hasClass('active')) restriction_array.push(1);
		else restriction_array.push(0);
	});
	
	var params = {
		region_id : $(this).attr('data-region'),
		province_id : $(this).attr('data-province'),
		city_id : $(this).attr('data-city'),
		city_charge_id_array : city_charge_id_array,
		textfield_array : textfield_array,
		truck_types_array : truck_types_array,
		restriction_array : restriction_array,
	};
	console.log(params);
	
	$.post(BASE_URL+'city_charges/saveCityCharge', params, function(data){
		console.log(data);
	});
});

$(document).on('click','.delLink', function(){
	var city_charge_id = $(this).attr('data-id');
	var city_charge_name = $(this).attr('data-name');
	
	$('#modalDeleteCityCharge .city-name').html(city_charge_name);
	$('#modalDeleteCityCharge #confirmDeleteCityCharge').attr('data-id', city_charge_id);
	$('#modalDeleteCityCharge').modal('show');
	
});

$(document).on('click','.btn-restricted', function(){
	$(this).toggleClass('active');
	$(this).siblings('.tbl-field').toggleClass('hidden');
	$(this).siblings('.label-red').toggleClass('hidden');
});

$(document).on('click', '#confirmDeleteCityCharge', function(){
	var params = {
		city_charge_id : $(this).attr('data-id'),
	};
	
	$.post(BASE_URL+'city_charges/deleteCityCharge', params, function(data){
		if (data == "Success")
		{
			window.location.href = BASE_URL+"city_charges";
		}
		else
		{
			alert("Something Went Wrong");
		}
	});
});

$(document).on('click', '.save_xls', function(){
    	var _this = $(this);
	$('.buttons-excel').click();
    //alert(rowCount);
    /*$("#chargesTable").table2excel({
        // exclude CSS class
        exclude: ".noExl",
        name: "Worksheet Name",
        filename: "CityCharges" //do not include extension
    });*/
});

function setTwoNumberDecimal(el) {
        el.value = parseFloat(el.value).toFixed(2);
    };
function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;
    if (event.keyCode === 8 || event.keyCode === 46) {
        return true;
    } else if ( key < 48 || key > 57 ) {
        return false;
    } else {
        return true;
    }
};
</script>
<style>
.btn-restricted{
	color: #AFAFAF;
	font-family: 'SF-Pro-Text-Bold';
}
.btn-restricted.active{
	color: #FF7F7F;
	font-family: 'SF-Pro-Text-Bold';
}
</style>