<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
<!--                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  -->
                    </div>
                    <div class="col-lg-4">
                        <input type="submit" id="btnNewRole" class="btn btn-green" value="New Role">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="roleTable" class="table" style="width:100%;">
                    <thead> 
                    <th style="width:65%;">Role</th>
                    <th style="width:20%;">Last Updated</th>
                    <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>

                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial('roles/modal'); ?>

<script>
var access_names = [];    
    
    $.post(BASE_URL + 'roles/getRoleList', "", function (data) {
        data = $.parseJSON(data);
//    console.log(data);
        var content_array = [];
        data.forEach(function (entry) {
            var roles = entry.orders+','+entry.soa+','+entry.payment+','+entry.products+','+entry.pricing+','+entry.users+','+entry.settings;
            
            var content_row = [];
            content_row.push('<span class="row_id" data-id="' + entry.access_id + '" data-roles="'+roles+'" >' + entry.access_name + '</span>');
            access_names.push(entry.access_name);
            content_row.push(entry.modified_on);
            content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
            content_array.push(content_row);
        });

        $('#roleTable').DataTable({
            "bFilter": true,
            "bSortable": true,
            "paging": true,
            "aoColumnDefs": [{'bSortable': false, 'aTargets': [2]}],
            "data": content_array
        });

        var table = $('#roleTable').DataTable();

        //redraw datatable based on search input
        $("#inputSearch").keyup(function () {
            table.search($(this).val()).draw();
        });

        //hide links for certain roles
        $('#roleTable tr').each(function () {
            var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
            //hide edit link for administrator
            if (row_id === '1') {
                $(this).find('.editLink').addClass('invisible');
            }             
            if (row_id === '1' || row_id === '2' || row_id === '3') {
                $(this).find('.delLink').addClass('invisible');
            }           
        });
        
<?php if ($this->session->LPMADMINACCESS['users'] == '1'){?>
$('.hidden-col').addClass('hidden');
<?php } ?>         

    });
    
    $(document).on('click', '#btnNewRole', function () {
        $('#modalNewRole').modal('show');
        $('#modalNewRole input:radio').each(function (index) {
            if ($(this).val() == '0'){ $(this).prop('checked', true)}; 
        });
    });

    $(document).on('click', '.editLink', function () { 
        $('#modalEditRole').modal('show');
        
        var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
        var access_name = $(this).closest('tr').find(".row_id").text();
        var roles = $(this).closest('tr').find(".row_id").attr('data-roles');
        var role_array = roles.split(","); 
        
        $('#modalEditRole [name="access_id"]').val(row_id);
        $('#modalEditRole [name="access_name"]').val(access_name);
        
        $("input[name=orders][value=" + role_array[0] + "]").prop('checked', true);
        $("input[name=soa][value=" + role_array[1] + "]").prop('checked', true);
        $("input[name=payment][value=" + role_array[2] + "]").prop('checked', true);
        $("input[name=products][value=" + role_array[3] + "]").prop('checked', true);
        $("input[name=pricing][value=" + role_array[4] + "]").prop('checked', true);
        $("input[name=users][value=" + role_array[5] + "]").prop('checked', true);
        $("input[name=settings][value=" + role_array[6] + "]").prop('checked', true);
        
        if (row_id == '1'){
            $('#modalEditRole input:radio').prop('disabled', true);
        } else {
            $('#modalEditRole input:radio').prop('disabled', false);
        }
               
        
    });

    $(document).on('click', '.delLink', function () {
        $('#modalDeleteRole').modal('show');       
        var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
        var access_name = $(this).closest('tr').find(".row_id").text();

        $('#modalDeleteRole [name="access_id"]').val(row_id);
        $('#modalDeleteRole .access_name').text(access_name);        
        
    });
    
    //get response on form submit
    $('form').submit(function(e){
        var this_form = $(this);

        if ($(this).find('[name="access_name"]').val())
        if ($.inArray($(this).find('[name="access_name"]').val(), access_names) !== -1 && this_form.attr('id') == 'new_form'){
            alert("Role name exists. Please choose a different name.");
            e.preventDefault();
            return false;            
        } else {    
        
            var form_data = new FormData();
            $.post($(this).attr('action'), form_data, function(response) {
                if (response !== 'success'){
                    alert(response);
                } else {           
                    window.location.href = '<?=BASE_URI;?>roles';
                }
            });
            return false;
        }
    });
    
    
    
</script>