<!-- new role -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNewRole">
    <div class="modal-dialog standard-dialog modal-sm" style="width:600px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <table class="er-header-tbl">
                    <tbody>
                        <tr>
                            <td><h5>New Role</h5></td>
                            <td class="text-right"><a data-dismiss="modal">Close</a></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form" method="post" action="<?= BASE_URI; ?>roles/saveRole" id="new_form"> 
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <label>Role Name</label>
                        <input required type="text" class="form-control modal-field" name="access_name">
                    </div>

                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <table class="role-access-tbl">
                            <thead>
                                <tr>
                                    <th colspan="7">ROLE ACCESS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:40%;">Orders</td>
                                    <td>
                                        <input type="radio" name="orders" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="orders" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="orders" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Send SOA</td>
                                    <td>
                                        <input type="radio" name="soa" value="3">
                                    </td>
                                    <td>Allow</td>
                                    <td>
                                        <input type="radio" name="soa" value="0">
                                    </td>
                                    <td>No Access</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Verify, Decline Payment</td>
                                    <td>
                                        <input type="radio" name="payment" value="3">
                                    </td>
                                    <td>Allow</td>
                                    <td>
                                        <input type="radio" name="payment" value="0">
                                    </td>
                                    <td>No Access</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Products</td>
                                    <td>
                                        <input type="radio" name="products" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="products" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="products" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Pricing</td>
                                    <td>
                                        <input type="radio" name="pricing" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="pricing" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="pricing" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Users</td>
                                    <td>
                                        <input type="radio" name="users" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="users" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="users" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Settings</td>
                                    <td>
                                        <input type="radio" name="settings" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="settings" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="settings" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-12" style="padding:0;margin-top:30px;">	
                        <input type="submit" class="btn btn-success btn-sup" value="Add Role">
                        <a class="btn btn-default btn-cancel" data-dismiss="modal">Discard Changes</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- edit role -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEditRole">
    <div class="modal-dialog standard-dialog modal-sm" style="width:600px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <table class="er-header-tbl">
                    <tbody>
                        <tr>
                            <td><h5>Edit Role</h5></td>
                            <td class="text-right"><a data-dismiss="modal">Close</a></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form" method="post" action="<?= BASE_URI; ?>roles/editRole" id="edit_form">
                    <input type="hidden" name="access_id" value="">
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <label>Role Name</label>
                        <input type="text" class="form-control modal-field" name="access_name">
                    </div>

                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <table class="role-access-tbl">
                            <thead>
                                <tr>
                                    <th colspan="7">ROLE ACCESS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:40%;">Orders</td>
                                    <td>
                                        <input type="radio" name="orders" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="orders" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="orders" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Send SOA</td>
                                    <td>
                                        <input type="radio" name="soa" value="3">
                                    </td>
                                    <td>Allow</td>
                                    <td>
                                        <input type="radio" name="soa" value="0">
                                    </td>
                                    <td>No Access</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Verify, Decline Payment</td>
                                    <td>
                                        <input type="radio" name="payment" value="3">
                                    </td>
                                    <td>Allow</td>
                                    <td>
                                        <input type="radio" name="payment" value="0">
                                    </td>
                                    <td>No Access</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Products</td>
                                    <td>
                                        <input type="radio" name="products" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="products" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="products" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Pricing</td>
                                    <td>
                                        <input type="radio" name="pricing" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="pricing" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="pricing" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Users</td>
                                    <td>
                                        <input type="radio" name="users" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="users" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="users" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                                <tr>
                                    <td style="width:40%;">Settings</td>
                                    <td>
                                        <input type="radio" name="settings" value="2">
                                    </td>
                                    <td>View and Edit</td>
                                    <td>
                                        <input type="radio" name="settings" value="1">
                                    </td>
                                    <td>View Only</td>
                                    <td>
                                        <input type="radio" name="settings" value="0">
                                    </td>
                                    <td>No Access</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-12" style="padding:0;margin-top:30px;">	
                        <input type="submit" class="btn btn-success btn-sup" value="Update Information">
                        <a class="btn btn-default btn-cancel" data-dismiss="modal">Discard Changes</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- delete role -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteRole">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">
            <form role="form" method="post" action="<?= BASE_URI;?>roles/deleteRole"> 
            <input type="hidden" name="access_id" value="">
            <div class="modal-body error-msg-div">
                <h5>Are you sure you want to delete the role <<span class="access_name">Other</span>>?</h5>

                <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:200px;" value="Yes, I'm sure"><br><br>
                <a class="btn btn-default btn-cancel mt-10" data-dismiss="modal" style="width:200px;">Cancel</a>
            </div>
            </form>    
        </div>
    </div>
</div>