<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the company edit -->
            <div class="cls-div">

                <!-- menu div -->
                <div class="cls-menu-div">
                    <a class="cd-menu active">Company Details</a>
                    <a class="cd-ba">Bank Accounts</a>
                    <!--h5>
                            <label>LAST UPDATED</label>
                            <span>2017/08/01 10:00:21am</span>
                            <span>by Grace Chua</span>
                    </h5-->
                </div>

                <!-- company details div -->
                <div class="cls-form-div cls-company">
                    <!-- company details form -->
                    <div class="cls-form company-div">
                        <div class="cls-form-title">
                            <h5>COMPANY DETAILS</h5>
                        </div>

                        <div class="cls-form-body">

                            <div class="cls-clone-phone">
                                <?php
                                $i = 1;
                                $length = count($lpm_infos_array['phone_no']);
                                foreach ($lpm_infos_array['phone_no'] as $phone_no) {
                                    ?>
                                    <div class="col-sm-12 clone-phone" style="padding:0;">
                                        <label>Phone</label>
                                        <input type="text" class="form-control input-phone" data-id="<?= $phone_no->id; ?>" value="<?= $phone_no->company_data; ?>"/>

                                        <div class="cls-form-btn-ad pull-right">
                                            <a class="btn-ad add-phone <?= ($i == $length) ? "" : "hidden" ?>">ADD</a>
                                            <a class="btn-ad delete-phone <?= ($i == 1) ? "hidden" : "" ?>">DELETE</a>
                                        </div>
                                    </div>
                                    <?php $i++;
                                } ?>
                            </div>

                            <div class="cls-clone-mobile">
                                <?php
                                $i = 1;
                                $length = count($lpm_infos_array['mobile_no']);
                                foreach ($lpm_infos_array['mobile_no'] as $mobile_no) {
                                    ?>
                                    <div class="col-sm-12 clone-mobile" style="padding:0;margin-top:10px;">
                                        <label>Mobile No.</label>
                                        <input type="text" class="form-control input-mobile" data-id="<?= $mobile_no->id; ?>" value="<?= $mobile_no->company_data; ?>"/>

                                        <div class="cls-form-btn-ad pull-right">
                                            <a class="btn-ad add-mobile <?= ($i == $length) ? "" : "hidden" ?>">ADD</a>
                                            <a class="btn-ad delete-mobile <?= ($i == 1) ? "hidden" : "" ?>">DELETE</a>
                                        </div>
                                    </div>
                                    <?php $i++;
                                } ?>
                            </div>

                            <div class="cls-clone-fax">
                            <?php
                            $i = 1;
                            $length = count($lpm_infos_array['fax_no']);
                            foreach ($lpm_infos_array['fax_no'] as $fax_no) {
                                ?>
                                    <div class="col-sm-12 clone-fax" style="padding:0;margin-top:10px;">
                                        <label>Fax No.</label>
                                        <input type="text" class="form-control input-fax" data-id="<?= $fax_no->id; ?>" value="<?= $fax_no->company_data; ?>"/>

                                        <div class="cls-form-btn-ad pull-right">
                                            <a class="btn-ad add-fax <?= ($i == $length) ? "" : "hidden" ?>">ADD</a>
                                            <a class="btn-ad delete-fax <?= ($i == 1) ? "hidden" : "" ?>">DELETE</a>
                                        </div>
                                    </div>
                                    <?php $i++;
                                } ?>
                            </div>

                            <div class="cls-clone-email">
                            <?php
                            $i = 1;
                            $length = count($lpm_infos_array['email_address']);
                            foreach ($lpm_infos_array['email_address'] as $email_address) {
                                ?>
                                    <div class="col-sm-12 clone-email" style="padding:0;margin-top:10px;">
                                        <label>Email Address</label>
                                        <input type="text" class="form-control input-email" data-id="<?= $email_address->id; ?>" value="<?= $email_address->company_data; ?>"/>

                                        <div class="cls-form-btn-ad pull-right">
                                            <a class="btn-ad add-email <?= ($i == $length) ? "" : "hidden" ?>">ADD</a>
                                            <a class="btn-ad delete-email <?= ($i == 1) ? "hidden" : "" ?>">DELETE</a>
                                        </div>
                                    </div>
                                <?php $i++;
                            } ?>
                            </div>

                            <div class="col-sm-12" style="padding:0;margin-top:10px;">
                                <label>Address</label>
                                <input type="text" class="form-control input-address" value="<?= $lpm_infos_array['address'][0]->company_data; ?>"/>
                            </div>
                        </div>
                    </div>

                    <!-- apply and cancel buttons -->
                    <div class="cls-buttons <?=($this->session->LPMADMINACCESS['settings'] < 2) ? "hidden" : "";?>">
                        <button class="btn btn-success btn-green btn-ac company-btn">Apply Changes</button>
                        <button class="btn btn-default btn-gray btn-cancel mt-10">Cancel</button>
                    </div>
                </div>

                <!-- bank details div -->
                <div class="cls-form-div cls-company">
                    <!-- company details form -->
                    <div class="cls-form bank-div"> 
                        <div class="cls-form-title"> 
                            <h5> 
                                BANK ACCOUNT 
                                <a class="btn-ad-ba pull-right">+ADD</a> 
                            </h5> 
                        </div> 

                            <?php
                            $i = 0;
                            foreach ($ref_banks_array as $ref_bank) {
                                if ($ref_bank->id != 99){    ?>
                            <div class="cls-form-body bank-form"> 
                                <input type="hidden" class="bank-id" value="<?= $ref_bank->id; ?>">
                                <h5> 
                                    <a class="btn-db pull-right <?= ($i == 0) ? "hidden" : ""; ?>">DELETE BANK</a> 
                                </h5> 

                                <div class="col-sm-12" style="padding:0;"> 
                                    <label>Bank Name</label> 
                                    <input type="text" class="form-control bank-name" value="<?= $ref_bank->bank_name; ?>"/> 
                                </div> 

                                <div class="col-sm-12" style="padding:0;margin-top:10px;"> 
                                    <label>Bank Branch</label> 
                                    <input type="text" class="form-control bank-branch" value="<?= $ref_bank->bank_branch; ?>"/>
                                </div> 

                                <div class="col-sm-12" style="padding:0;margin-top:10px;"> 
                                    <label>Account Name</label> 
                                    <input type="text" class="form-control account-name" value="<?= $ref_bank->account_name; ?>"/> 
                                </div> 

                                <div class="col-sm-12" style="padding:0;margin-top:10px;"> 
                                    <label>Account Number</label> 
                                    <input type="text" class="form-control account-no" value="<?= $ref_bank->account_no; ?>"/> 
                                </div> 

                                <div class="col-sm-12" style="padding:0;margin-top:10px;"> 
                                    <label>Account Type</label> 
                                    <input type="text" class="form-control account-type" value="<?= $ref_bank->account_type; ?>"/>
                                </div> 
                            </div>
                                <?php $i++; }
                            } ?>

                        <!-- apply and cancel buttons -->
                        <div class="cls-buttons <?=($this->session->LPMADMINACCESS['settings'] < 2) ? "hidden" : "";?>">
                            <button class="btn btn-success btn-green btn-ac banks-btn">Apply Changes</button>
                            <button class="btn btn-default btn-gray btn-cancel mt-10">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php $this->view->partial('company/modal'); ?>

<script type="text/javascript">
$(".input-phone, .input-mobile, .input-fax").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: 0});   
    
    var phone_del = [];
    var mobile_del = [];
    var fax_del = [];
    var email_del = [];    
// for add phone
    $(document).on('click', '.add-phone', function () {

        var content = '<div class="col-sm-12 clone-phone" style="padding:0;">'
                + '<label>Phone</label>'
                + '<input type="text" class="form-control input-phone"/>'
                + '<div class="cls-form-btn-ad pull-right">'
                + '<a class="btn-ad add-phone">ADD</a>'
                + '<a class="btn-ad delete-phone">DELETE</a>'
                + '</div>'
                + '</div>';


        $('.cls-clone-phone .clone-phone').each(function () {

            $(this).find(".add-phone").addClass("hidden");

        });
        $('.cls-clone-phone').append(content);
        $(".input-phone").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: 0});
    });

    $(document).on('click', '.delete-phone', function () {
        var data_id = $(this).closest(".clone-phone").find('.input-phone').attr('data-id');
        if (typeof data_id !== typeof undefined && data_id !== false){
            phone_del.push(data_id); 
        }
        
        $(this).closest(".clone-phone").remove();

        var div_ctr = 1;
        var div_count = $('.cls-clone-phone .clone-phone').length;

        $('.cls-clone-phone .clone-phone').each(function () {

            if (div_ctr != 1 && div_ctr == div_count) {
                $(this).find(".add-phone").removeClass("hidden");
            }
            div_ctr++;
        });

        if (div_count == 1) {
            $(".add-phone").removeClass("hidden");
        }

    });

// for add mobile
    $(document).on('click', '.add-mobile', function () {

        var content = '<div class="col-sm-12 clone-mobile" style="padding:0;">'
                + '<label>Mobile No.</label>'
                + '<input type="text" class="form-control input-mobile"/>'
                + '<div class="cls-form-btn-ad pull-right">'
                + '<a class="btn-ad add-mobile">ADD</a>'
                + '<a class="btn-ad delete-mobile">DELETE</a>'
                + '</div>'
                + '</div>';


        $('.cls-clone-mobile .clone-mobile').each(function () {

            $(this).find(".add-mobile").addClass("hidden");
        });
        $('.cls-clone-mobile').append(content);
        $(".input-mobile").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: 0});
    });

    $(document).on('click', '.delete-mobile', function () {
        var data_id = $(this).closest(".clone-mobile").find('.input-mobile').attr('data-id');
        if (typeof data_id !== typeof undefined && data_id !== false){
            mobile_del.push(data_id); 
        }
        
        $(this).closest(".clone-mobile").remove();

        var div_ctr = 1;
        var div_count = $('.cls-clone-mobile .clone-mobile').length;

        $('.cls-clone-mobile .clone-mobile').each(function () {

            if (div_ctr != 1 && div_ctr == div_count) {
                $(this).find(".add-mobile").removeClass("hidden");
            }
            div_ctr++;
        });

        if (div_count == 1) {
            $(".add-mobile").removeClass("hidden");
        }
    });

// for add fax
    $(document).on('click', '.add-fax', function () {

        var content = '<div class="col-sm-12 clone-fax" style="padding:0;">'
                + '<label>Fax No.</label>'
                + '<input type="text" class="form-control input-fax"/>'
                + '<div class="cls-form-btn-ad pull-right">'
                + '<a class="btn-ad add-fax">ADD</a>'
                + '<a class="btn-ad delete-fax">DELETE</a>'
                + '</div>'
                + '</div>';


        $('.cls-clone-fax .clone-fax').each(function () {
            $(this).find(".add-fax").addClass("hidden");
        });
        $('.cls-clone-fax').append(content);
        $(".input-fax").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1, digits: 0});
    });

    $(document).on('click', '.delete-fax', function () {
        var data_id = $(this).closest(".clone-fax").find('.input-fax').attr('data-id');
        if (typeof data_id !== typeof undefined && data_id !== false){
            fax_del.push(data_id); 
        }
        
        $(this).closest(".clone-fax").remove();

        var div_ctr = 1;
        var div_count = $('.cls-clone-fax .clone-fax').length;

        $('.cls-clone-fax .clone-fax').each(function () {

            if (div_ctr != 1 && div_ctr == div_count) {
                $(this).find(".add-fax").removeClass("hidden");
            }
            div_ctr++;
        });

        if (div_count == 1) {
            $(".add-fax").removeClass("hidden");
        }
    });

// for add email
    $(document).on('click', '.add-email', function () {

        var content = '<div class="col-sm-12 clone-email" style="padding:0;">'
                + '<label>Email Address</label>'
                + '<input type="text" class="form-control input-email"/>'
                + '<div class="cls-form-btn-ad pull-right">'
                + '<a class="btn-ad add-email">ADD</a>'
                + '<a class="btn-ad delete-email">DELETE</a>'
                + '</div>'
                + '</div>';


        $('.cls-clone-email .clone-email').each(function () {
            $(this).find(".add-email").addClass("hidden");
        });
        $('.cls-clone-email').append(content);
    });

    $(document).on('click', '.delete-email', function () {
        var data_id = $(this).closest(".clone-email").find('.input-email').attr('data-id');
        if (typeof data_id !== typeof undefined && data_id !== false){
            email_del.push(data_id); 
        }
        
        $(this).closest(".clone-email").remove();

        var div_ctr = 1;
        var div_count = $('.cls-clone-email .clone-email').length;

        $('.cls-clone-email .clone-email').each(function () {

            if (div_ctr != 1 && div_ctr == div_count) {
                $(this).find(".add-email").removeClass("hidden");
            }
            div_ctr++;
        });

        if (div_count == 1) {
            $(".add-email").removeClass("hidden");
        }
    });

    $(document).on('click', '.btn-cancel', function () {
        window.location.href = window.location.href;
    });

    $(document).on('click', '.company-btn', function () {
        var phone_array = {};
        $('.input-phone').each(function () {
            phone_array[$(this).attr('data-id')] = $(this).val();
        });
        var mobile_array = {};
        $('.input-mobile').each(function () {
            mobile_array[$(this).attr('data-id')] = $(this).val();
        });
        var fax_array = {};
        $('.input-fax').each(function () {
            fax_array[$(this).attr('data-id')] = $(this).val();
        });
        var email_array = {};
        $('.input-email').each(function () {
            email_array[$(this).attr('data-id')] = $(this).val();
        });
        var address = $('.input-address').val();

        var params = {
            phone_array: phone_array,
            mobile_array: mobile_array,
            fax_array: fax_array,
            email_array: email_array,
            address: address,
            phone_del: phone_del,
            mobile_del: mobile_del,
            fax_del: fax_del,
            email_del: email_del
        };
//        console.log(params);

        $.post(BASE_URL + 'company/applyCompany', params, function (data) {
            if (data == "Success")
            {
                window.location.reload(true);
            }
            else
            {
                alert("Something Went Wrong");
            }
        });
    });

    $(document).on('click', '.btn-ad-ba', function () {
        var html_content = '<div class="cls-form-body bank-form"><input type="hidden" class="bank-id" value="0"><h5><a class="btn-db pull-right">DELETE BANK</a></h5><div class="col-sm-12" style="padding:0;"><label>Bank Name</label>'
                + '<input type="text" class="form-control bank-name" value=""/></div><div class="col-sm-12" style="padding:0;margin-top:10px;"><label>Bank Branch</label>'
                + '<input type="text" class="form-control bank-branch" value=""/></div><div class="col-sm-12" style="padding:0;margin-top:10px;"><label>Account Name</label>'
                + '<input type="text" class="form-control account-name"/></div><div class="col-sm-12" style="padding:0;margin-top:10px;"><label>Account Number</label>'
                + '<input type="text" class="form-control account-no"/></div><div class="col-sm-12" style="padding:0;margin-top:10px;"><label>Account Type</label>'
                + '<input type="text" class="form-control account-type" value=""/></div></div>';


        //var test = "<?php foreach ($ref_regions_array as $ref_region)
    echo $ref_region->name; ?>";
        $('.bank-div').append(html_content);
    });

    $(document).on('click', '.banks-btn', function () {
        var banks_array = [];

        $('.bank-form').each(function () {
            var banks_row = [];
            banks_row.push($(this).find('.bank-id').val());
            banks_row.push($(this).find('.bank-name').val());
            banks_row.push($(this).find('.bank-branch').val());
            banks_row.push($(this).find('.account-name').val());
            banks_row.push($(this).find('.account-no').val());
            banks_row.push($(this).find('.account-type').val());
            banks_array.push(banks_row);
        });

        var params = {
            banks_array: banks_array,
        };
        console.log(params);

        $.post(BASE_URL + 'company/applyBanks', params, function (data) {
            if (data == "Success")
            {
                window.location.reload(true);
            }
            else
            {
                alert("Something Went Wrong");
            }
        });
    });
    
<?php if ($this->session->LPMADMINACCESS['settings'] < 2){?>
$('input').prop('disabled', true);
$('.cls-form-div a').addClass('hidden');
<?php } ?>
</script>