<!-- modal file for error message - atleast have one bank detail-->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalLessBankError">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body error-msg-div">
            	<h5>You should have atleast one bank detail.</h5>
        		<button class="btn btn-danger btn-red btn-okay" data-dismiss="modal">Okay</button>
            </div>
        	
        </div>
    </div>
</div>