<!-- main content -->
<body>
    <div class="user-login">
        <div class="logo-div"><img src="<?=BASE_URI;?>img/lpm_logo.png" class="login-logo"></div>
        <h4 class="title text-center">Forgot Password</h4>
        <h5 class="sub-title text-center">We’ll send a link to your email to reset your password.</h5>
        <!-- <form role="form" autocomplete="off" method="post" action="<?= BASE_URI ?>login/customerLogin" name="login_form"> -->
            <div class="input" style="padding-top:5px;">
                <div class="login-error">
                    <label id="loginError"></label>
                </div>
            </div>
            <div class="input">
                <div class="input-content">
                    <label>Email Address</label>
                </div>
                <div class="input-content">
                    <input class="form-control style" autocomplete="off" type="text" id="email"/>
                </div>
            </div>
            <div class="input" style="margin-top:10px;">
                <div class="input-content text-center">
                    <input type="submit" class="form-control btn btn-green btn-send-link" value="Send link to email" style="margin-bottom:10px;">
                    <span class="sub-title">Just remembered? <a class="btn-stl" href="<?=BASE_URI?>login">Login</a></span>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    
$(document).on('click', '.btn-send-link', function() {
	email = $('#email').val();
//	dob = 	$('#year').val() + "-" + $('#month').val() + "-" + $('#day').val();
//	console.log(dob);
	$.ajax({
		url: BASE_URL + 'login/resetPassword',
		type: 'POST',
		data: {email: email},
	})
	.done(function(data) {
            if (data){
                alert (data); 
            } else {
                confirm("Reset password link sent. Please check your email.");
                console.log("success");                
            }

	});

	

});    
</script>    