<!-- main content -->
<body>
<?php echo @$_SERVER['HTTP_HOST']."1.0"; ?>
    <div class="user-login">
        <div class="logo-div"><img src="<?=BASE_URI;?>img/lpm_logo.png" class="login-logo"></div>
        <h4 class="title text-center">Welcome to LPM</h4>
        <form role="form" autocomplete="off" method="post" action="<?= BASE_URI ?>login/adminLogin" name="login_form">
            <div class="input" style="padding-top:5px;">
                <div class="login-error">
                    <label id="loginError"></label>
                </div>
            </div>
            <div class="input">
                <div class="input-content">
                    <label>Username</label>
                </div>
                <div class="input-content">
                    <input class="form-control style" autocomplete="off" type="text" id="email"/>
                </div>
            </div>
            <div class="input" style="margin-top:10px;">
                <div class="input-content">
                    <label>Password</label>
                </div>
                <div class="input-content">
                    <input class="form-control style" autocomplete="off" type="password" id="password"/>
                    <a href="<?=BASE_URI?>login/forgot_password" class="btn-fp pull-right">Forgot?</a>
                </div>
            </div>
            <div class="input" style="margin-top:10px;">
                <div class="input-content">
                    <input type="submit" class="form-control btn btn-green" value="Log In">
                </div>
            </div>
        </form>
    </div>
</body>

<script>
$(function(){
  $('form[name=login_form]').submit(function(){
    var email = $('#email').val();
    var password = $('#password').val();
    $.post($(this).attr('action'), {email:email, password:password}, function(data) {
        data = $.parseJSON(data);
        if (data !== 'success'){
            $('#loginError').text(data);
            $('#email').val('');
            $('#password').val('');
            $('#email').focus();
        } else {
            window.location.reload('<?=BASE_URI;?>');
        }
    });
    return false;
  });
});
</script>    