<!-- main content -->
<body>
    <div class="user-login">
        <div class="logo-div"><img src="<?=BASE_URI;?>img/lpm_logo.png" class="login-logo"></div>
        <h4 class="title text-center">Reset Password</h4>
        <!-- <form role="form" autocomplete="off" method="post" action="<?= BASE_URI ?>login/customerLogin" name="login_form"> -->
            <input type="hidden" value="<?php echo $token; ?>" class="form-control standard token">
            <div class="input" style="padding-top:5px;">
                <div class="login-error">
                    <label id="loginError"></label>
                </div>
            </div>
            <div class="input">
                <div class="input-content">
                    <label>New Password (8 or more characters)</label>
                </div>
                <div class="input-content">
                    <input class="form-control style password" autocomplete="off" type="password" required minlength="8"/>
                </div>
            </div>
            <div class="input">
                <div class="input-content">
                    <label>Re-type New Password (8 or more characters)</label>
                </div>
                <div class="input-content">
                    <input class="form-control style repeatpassword" autocomplete="off" type="password"/>
                </div>
            </div>
            <div class="input" style="margin-top:10px;">
                <div class="input-content text-center">
                    <input type="submit" class="form-control btn btn-green btn-reset-password" value="Reset Password" style="margin-bottom:10px;">
                    <span class="sub-title">Just remembered? <a class="btn-stl" href="<?=BASE_URI?>login">Login</a></span>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
$(document).on('click', '.btn-reset-password', function() {
    //initialize errors var
    var errors = '';
    
    //validation list 
    //password
    var reg = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
    var password = $('.password').val();   
    if (password && !reg.test(password)) {
        errors += "Password must be at least 8 characters and contain a lowercase letter, an uppercase letter, a number, and a special character.\n"
    }     
    if ($('.password').val() && $('.password').val() !== $('.repeatpassword').val()){
        errors += 'Password and Confirm Password values do not match.\n';
    }
    
    
    //form submission and prevent submit if any errors are found
    if (errors.length){
        alert(errors);
    } else {
        pass = $('.password').val();
        token = $('.token').val();
        pass2 = $('.repeatpassword').val();
        $.ajax({
                url: BASE_URL + 'login/setnewpw',
                method: 'POST',
                data: {
                    pass: pass,
                    token: token
                },
            })
            .done(function(data) {
                if (data != "") {

                } else {
                    confirm("Password has been reset. Returning to the login screen.");
                    window.location.href = BASE_URL;
                }
            });
    }    
    
    
    
    
    
    
    

});    
</script>    