<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

	<!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">

    	<!-- Header -->
        <?php $this->partial('common/content_header'); ?>

		<div class="form-holder">
			<!-- prev-next buttons -->
			<div class="form-pn-btns-div hidden">
        		<div class="col-sm-12" style="padding:0;">

        			<div class="col-sm-6" style="padding:0;">
        				<a class="btn-rttpn">< Return to Table</a>
        			</div>

        			<div class="col-sm-6 text-right" style="padding:0;">
        				<a class="btn-rttpn" style="margin-right:50px;">< Prev</a>
        				<a class="btn-rttpn">Next ></a>
        			</div>

        		</div>
        	</div>

			<!-- form like div -->
			<div class="form-content">
				<!-- form header -->
				<table class="fheader-tbl">
					<tbody>
						<tr>
							<td>
								<h5>Create Statement of Account</h5>
								<!-- <label class="label label-blue fstatus-label pull-right">PO SENT</label> -->
							</td>
							<td class="text-right">Date</td>
<!--							<td class="text-right"><span><?=substr($inquiry->datetime_created,0,10);?></span></td>-->
                                                        <td class="text-right"><span><?=date('Y-m-d');?></span></td>
						</tr>
						<tr>
							<td>
								<h5 class="inquiry-no"><?=$inquiry->reference_number;?></h5>
							</td>
							<td class="text-right" style="vertical-align:middle;">Valid Until</td>
							<td>
								<input type="text" id="input_valid_until" class="form-control small text-right pull-right datepicker" style="vertical-align:middle;" onkeydown="return false;" value="<?=$soa_approval_date;?>">
							</td>
						</tr>
					</tbody>
				</table>

				<!-- account info -->
				<table class="faccount-tbl" style="margin-top:40px;">
					<tbody>
						<tr>
						    <th colspan="2">
						    	<span class="form-label">COMPANY NAME</span>
						    	<h5 class="fcompany-name"><?=($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
						    </th>
						    <th>
						    	<!-- change to pick up if the user chose pick up in delivery option -->
						    	<span class="fstatus"><?=($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP";?></span> 
						    </th>
						</tr>
						<tr>
						    <td>
						    	<!-- hide when account is personal -->
						    	<div class="company-address <?=($user->customer_type_id == 1) ? "hidden" : "";?>">
						    		<span class="form-label">COMPANY ADDRESS</span>
							    	<h5 class="faddress-info">
							    		<?php echo $address->address1; ?>  <br>
										<?php if($address->address2 != "") { echo $address->address2."</br>"; }?> 
										<?php echo $city->name; ?> <br>
                                                                                <?php echo $province->name; ?> <br>
										<?php echo $region->name; ?>
							    	</h5>
						    	</div>

						    	<!-- hide when account is company -->
						    	<div class="contact-section <?=($user->customer_type_id != 1) ? "hidden" : "";?>">
						    		<span class="form-label">REPRESENTATIVE</span>
							    	<table class="fcontact-info">
							    		<tbody>
							    			<tr>
							    				<td class="fc-label">Name</td>
							    				<td><?=$user->first_name . " " . $user->last_name;?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Mobile</td>
							    				<td><?=($user->mobile_number) ? $user->mobile_number : "-";?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Office</td>
							    				<td><?=($user->office_number) ? $user->office_number : "-";?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Fax</td>
							    				<td><?=($user->fax_number) ? $user->fax_number : "-";?></td>
							    			</tr>
							    			<tr>
	                                            <td style="color:#FFF;">--</td>
	                                        </tr>
							    		</tbody>
							    	</table>
						    	</div>
						    </td>
						    <td>
						    	<!-- hide when account is company -->
						    	<div class="personal-address <?=($user->customer_type_id != 1) ? "hidden" : "";?>">
						    		<span class="form-label">ADDRESS</span>
							    	<h5 class="faddress-info">
							    		<?php echo $address->address1; ?>  <br>
										<?php if($address->address2 != "") { echo $address->address2."</br>"; }?> 
										<?php echo $city->name; ?> <br>
                                                                                <?php echo $province->name; ?> <br>
										<?php echo $region->name; ?>
							    	</h5>
						    	</div>

						    	<!-- hide when account is personal -->
						    	<div class="contact-section <?=($user->customer_type_id == 1) ? "hidden" : "";?>">
						    		<span class="form-label">REPRESENTATIVE</span>
							    	<table class="fcontact-info">
							    		<tbody>
							    			<tr>
							    				<td class="fc-label">Name</td>
							    				<td><?=$user->first_name . " " . $user->last_name;?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Mobile</td>
							    				<td><?=($user->mobile_number) ? $user->mobile_number : "-";?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Office</td>
							    				<td><?=($user->office_number) ? $user->office_number : "-";?></td>
							    			</tr>
							    			<tr>
							    				<td class="fc-label">Fax</td>
							    				<td><?=($user->fax_number) ? $user->fax_number : "-";?></td>
							    			</tr>
							    			<tr>
	                                            <td style="color:#FFF;">--</td>
	                                        </tr>
							    		</tbody>
							    	</table>
						    	</div>
						    </td>
						    <td>
						    	<!-- hide div (not the td) when user chose pick up in delivery option -->
						    	<div>
							    	<span class="form-label <?php if ($inquiry->for !== "1"){echo 'hidden';}?>">DELIVERY ADDRESS</span>
							    	<h5 class="fdelivery-info">
							    		<?php if ($inquiry->for == "1") { ?>
											<?php echo $delivery_address->address; ?>  <br>
											<?php if($delivery_address->address_2 != "") { echo $delivery_address->address_2."</br>"; }?> 
											<?php echo $delivery_city->name; ?> <br>
                                                                                        <?php echo $delivery_province->name; ?> <br>
											<?php echo $delivery_region->name; ?>
										<?php }?>
							    	</h5>
						    	</div>
						    </td>
						</tr>
					</tbody>	
				</table>

				<!-- order - details -->
				<div class="form-orders-div">
					<div class="fo-title">ITEM LIST</div>

					<div class="fo-list-div">
						<table class="si-tbl">
							<thead>
								<tr>
									<th>NO.</th>
									<th colspan="2">ITEM NAME</th>
									<th class="text-right">UNIT PRICE</th>
									<th class="text-right">QUANTITY</th>
									<th class="text-right">UOM</th>
									<th class="text-right">TOTAL</th>
								</tr>
							</thead>
							<tbody>
								<?php
									$i = 0;
                                    $subtotal = 0;
                                    $prepaid_cnt = 0;

                                    foreach ($items as $item) {
                                        $i += 1;
                                        $subtotal += $item->total_amount;
                                        

                                        if($products_array[$item->product_kind_id]->prepaid == 1)  {
                                                $prepaid_cnt += 1;
                                            }
                                            
									$productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId);
								?>
								<tr>
									<td><?php echo $i; ?></td>
									<td>
										<img class="fo-img" src="<?= STOREFRONT_URI ?>product_images/<?php if ($product->image_link_1){ echo $product->image_link_1;}else{echo "default.jpg";}?>">
									</td>
									<td>
										<h5 class="fo-prod-details">
                                                <span class="fop-name">
                                                    <?php echo $product->product_name; ?>
                                                </span>
                                                <span class="fop-size">
                                                    <?php echo $products_array[$item->product_kind_id]->kind_name . " | " . $products_array[$item->product_kind_id]->measurement . " | " . $products_array[$item->product_kind_id]->color; ?></span>
										</h5>
									</td>
									<td class="text-right input_currency"><?php echo $item->unit_price;?></td>
									<td class="text-right"><?php echo $item->quantity;?></td>
									<td class="text-right"><?php echo $item->uom;?></td>
									<td class="text-right input_currency"><?php echo $item->total_amount;?></td>
								</tr>
								<?php } ?>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>SUBTOTAL</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="order-total input_currency"><?= $subtotal;?></span>
									</td>
								</tr>
								<tr class="<?=($inquiry->for == 2) ? "hidden": "";?>">
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>DELIVERY CHARGE</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<input type="text" class="form-control small text-right pull-right input-totals input_decimal" value="<?=$charge;?>" id="input_delivery">
									</td>
								</tr>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>(DISCOUNT)</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<input type="text" class="form-control small text-right pull-right input-totals input_decimal" value="0" id="input_discount">
									</td>
								</tr>
                                                                <?php if ($user->customer_type_id !== '1' && $verified_2303 == true){?>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span>(CWT)</span>
									</td>
									<td class="text-right" style="border-left:none !important;">
										<input type="text" class="form-control small text-right pull-right input-totals input_decimal" value="0" id="input_cwt">
									</td>
								</tr>
                                                                <?php }?>
								<tr>
									<td colspan="6" class="text-right" style="border-right:none !important;">
										<span class="gt-label">GRAND TOTAL</span> 
									</td>
									<td class="text-right" style="border-left:none !important;">
										<span class="grand-total"><?=$subtotal?></span>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

				<div class="col-sm-12" style="padding:0;">
					<label>REMARKS</label>
					<textarea class="form-control remarks" rows="4" readonly><?= $inquiry->remarks; ?></textarea>	
				</div>
				
				<div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <div class="col-sm-12" style="padding:0;">
                        <label>PAYMENT DETAILS</label>	
                    </div>

                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Mode of Payment</label>
                        <select class="form-control standard" disabled>
                            <option value="1" <?=($inquiry->payment == 1) ? "selected" : "";?>>Bank Transfer</option>
							<option value="2" <?=($inquiry->payment == 2) ? "selected" : "";?>>Cash on Pickup</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="padding-left:0;">
                        <label>Bank Name</label>
                        <select class="form-control standard" disabled>
							<option value="0" <?=($inquiry->bank == 0) ? "selected" : "";?>>--</option>
							<?php foreach ($banks as $bank) { ?>
							<option value="<?=$bank->id;?>" <?=($inquiry->bank == $bank->id) ? "selected" : "";?>><?=$bank->bank_name.' - '.$bank->bank_branch;?></option>
							<?php } ?>							
                        </select>
                    </div>
                </div>

				<div class="col-sm-12" style="padding:0;margin-top:20px;">
					<label>TERMS AND CONDITIONS</label>
					<div class="ftac-div mb-20">
						<div class="ftac-content green-scroll">
                    <?php 
                        $i = 0; 
                        $regular = 0; 
                        $prepaid = 0;
                        
                        foreach($items as $item) { 
                            $i += 1; 

                            if($products_array[$item->product_kind_id]->prepaid == 0) {
                                $regular += 1;
                            } else {
                                $prepaid += 1;
                            } 

                            if($prepaid > 0 && $regular > 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>
                                            ".$regular_products."

                                            <br><br>

                                            <span>Prepaid Products:</span>
                                            <br><br>
                                            ".$prepaid_products.";
                                        </p>";
                            } else if($prepaid > 0 && $regular == 0) {
                                $show = "<p>
                                            <span>Prepaid Products:</span>
                                            <br><br>
 
                                                ".$prepaid_products."

                                        </p>";
                            } else if($regular > 0 && $prepaid == 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>

                                                ".$regular_products."

                                        </p>";
                            }
                        }
                    ?>
                    
                    <?php echo $show; ?>
						</div>
					</div>
				</div>

				<div class="col-sm-12" style="padding:0;margin-top:20px;">
					<div class="ftac-checkbox">
						<label class="container">I have read and agreed to the Terms & Conditions</a>
							<input type="checkbox" checked disabled>
						  	<span class="checkmark"></span>
						</label>
					</div>
				</div>

				<div class="form-btns">
					<button class="btn btn-default btn-gray btn-cancel" onclick="window.location.href='<?=BASE_URI.'po_sent'; ?>'">Cancel
					</button>

					<button id="btnSOA" class="btn btn-csoa <?=($this->session->LPMADMINACCESS['soa'] == 0) ? "hidden" : "";?>" data-id="<?=$inquiry->reference_number;?>">Send SOA</button>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
//number alterations    
function rem_num_form(num_form){
    var number = parseFloat(num_form.replace(/,/g, ''));
    return number;
} 
$(".input_currency").inputmask("currency", {prefix: "", rightAlign: false}); 
$(".input_numeric").inputmask("numeric", {prefix: "", rightAlign: false}); 
$(".input_decimal").inputmask("decimal", {prefix: "", rightAlign: false, digits: 2});
//number alterations end  

//var order_total = rem_num_form($('.order-total').html());
//var total = parseFloat(order_total);
//$('.grand-total').html(total.toLocaleString());

$(document).ready(function () {
//    var total = parseFloat($('.order-total').html());
    var order_total = rem_num_form($('.order-total').html());
    var total = parseFloat(order_total);   
//    console.log(total);
    var i = 0;
    $('.input-totals').each(function () {
        console.log(parseFloat($(this).val()));
        if (i == 0)
            total += parseFloat($(this).val());
        else
            total -= parseFloat($(this).val());
        i++;
    });
    $('.grand-total').html(total.toLocaleString('en',{minimumFractionDigits : 2}));
});

$(document).on('keyup','.input-totals', function(){
        var order_total = rem_num_form($('.order-total').html());
	var total = parseFloat(order_total);
	//console.log(total);
	var i=0;
	$('.input-totals').each(function(){
		//console.log(parseFloat($(this).val()));
		if (!isNaN(parseFloat($(this).val())))
		{
			if (i == 0) total += parseFloat($(this).val());
			else total -= parseFloat($(this).val());
		}
		else
		{
			$(this).val(0);
		}
		
		
		i++;
	});
	$('.grand-total').html(total.toLocaleString('en',{minimumFractionDigits : 2}));
});

$(document).on('click', '#btnSOA', function(){
	$(this).prop('disabled','disabled');
	var params = {
		reference_number 	: $(this).attr('data-id'),
		delivery_charge		: $('#input_delivery').val(),
		discount			: $('#input_discount').val(),
		cwt					: $('#input_cwt').val(),
		valid_until			: $('#input_valid_until').val(),
	};
	console.log(params);
	$.post(BASE_URL+'po_sent/sendSOA',params,function(data){
		if (data == "Success")
		{
			//alert("SOA sent");
			console.log(data);
			window.location.href = BASE_URL+'soa_for_approval';
		}
		else
		{
			alert("Something went wrong");
		}
	});
});

var dateToday = new Date();
$('.datepicker').datepicker({ 
    dateFormat: 'yy-mm-dd',
    minDate: dateToday
    });

var default_cwt = 0;
var order_total = rem_num_form($('.order-total').html());
var product_subtotal = parseFloat(order_total);

default_cwt = (product_subtotal / 1.12)*0.01;
$('#input_cwt').val(default_cwt.toFixed(2));
$('#input_cwt').keyup();
</script>