<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content hide-print">

        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>

        <div class="form-holder">
            <!-- prev-next buttons -->
            <div class="form-pn-btns-div">
                <div class="col-sm-12" style="padding:0;">

                    <div class="col-sm-6" style="padding:0;">
                        <?php if ($inquiry->status == '9'){$hrefval=BASE_URI."expired";}else if ($inquiry->status == '10'){$hrefval=BASE_URI."archived";}else{$hrefval=BASE_URI."inquiry";}?>
                        <a class="btn-rttpn" href="<?= $hrefval;?>">< Return to Table</a>
                    </div>
                    <?php $idArr = $this->session->get('idArr');
                          $idPos = array_search($inquiry->reference_number, $idArr);
                          $prevId = $idArr[$idPos - 1];
                          $nextId = $idArr[$idPos + 1];
                    ?>
                    <div class="col-sm-6 text-right <?php if ($inquiry->status == '9' || $inquiry->status == '10'){echo'hidden';}?>" style="padding:0;">
                        <a class="btn-rttpn <?php if ($prevId == false) {echo "hidden";}?>" style="margin-right:50px;" href="<?= BASE_URI; ?>inquiry/inq_form?id=<?= $prevId;?>">< Prev</a>
                        <a class="btn-rttpn <?php if ($nextId == false) {echo "hidden";}?>" href="<?= BASE_URI; ?>inquiry/inq_form?id=<?= $nextId;?>">Next ></a>
                    </div>

                </div>
            </div>

            <!-- form like div -->
            <div class="form-content">
                <!-- form header -->
                <table class="fheader-tbl">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Inquiry</h5>
                                <?php if ($inquiry->status == '9'){
                                   echo '<label class="label label-red fstatus-label pull-right">EXPIRED</label>';
                                } else if ($inquiry->status == '10'){
                                   echo '<label class="label label-red fstatus-label pull-right">ARCHIVED</label>'; 
                                }?>
                            </td>
                            <td class="text-right">Date</td>
                            <td class="text-right"><span><?= substr($inquiry->datetime_created, 0, 10); ?></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="inquiry-no"><?= $inquiry->reference_number; ?></h5>
                            </td>
                            <td class="text-right">Valid Until</td>
                            <td class="text-right"><span><?= $inquiry->valid_until; ?></span></td>
                        </tr>
                    </tbody>
                </table>

                <!-- account info -->
                <table class="faccount-tbl" style="margin-top:40px;">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <span class="form-label">COMPANY NAME</span>
                                <h5 class="fcompany-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                            </th>
                            <th>
                                <!-- change to pick up if the user chose pick up in delivery option -->
                                <span class="fstatus"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></span> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <!-- hide when account is personal -->
                                <div class="company-address <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                    <span class="form-label">COMPANY ADDRESS</span>
                                    <h5 class="faddress-info">
                                        <?php echo $address->address1; ?>  <br>
                                        <?php if ($address->address2 != "") {
                                            echo $address->address2 . "</br>";
                                        } ?> 
                                        <?php echo $city->name; ?> <br>
                                        <?php echo $province->name; ?> <br>
                                        <?php echo $region->name; ?>
                                    </h5>
                                </div>

                                <!-- hide when account is company -->
                                <div class="contact-section <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                    <span class="form-label">REPRESENTATIVE</span>
                                    <table class="fcontact-info">
                                        <tbody>
                                            <tr>
                                                <td class="fc-label">Name</td>
                                                <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Mobile</td>
                                                <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Office</td>
                                                <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Fax</td>
                                                <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td style="color:#FFF;">--</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <!-- hide when account is company -->
                                <div class="personal-address <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                    <span class="form-label">HOME ADDRESS</span>
                                    <h5 class="faddress-info">
                                        <?php echo $address->address1; ?>  <br>
                                        <?php if ($address->address2 != "") {
                                            echo $address->address2 . "</br>";
                                        } ?> 
                                        <?php echo $city->name; ?> <br>
                                        <?php echo $province->name; ?> <br>
                                        <?php echo $region->name; ?>
                                    </h5>
                                </div>

                                <!-- hide when account is personal -->
                                <div class="contact-section <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                    <span class="form-label">REPRESENTATIVE</span>
                                    <table class="fcontact-info">
                                        <tbody>
                                            <tr>
                                                <td class="fc-label">Name</td>
                                                <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Mobile</td>
                                                <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Office</td>
                                                <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td class="fc-label">Fax</td>
                                                <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                            </tr>
                                            <tr>
                                                <td style="color:#FFF;">--</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="form-label <?php if ($inquiry->for !== "1"){echo 'hidden';}?>">DELIVERY ADDRESS</span>
                                    <h5 class="fdelivery-info">
                                        <?php if ($inquiry->for == "1") { ?>
                                        <?php echo $delivery_address->address; ?>  <br>

                                        <?php if ($delivery_address->address_2 != "") {
                                            echo $delivery_address->address_2 . "</br>";
                                        } ?> 

                                        <?php echo $delivery_city->name; ?> <br>
                                        <?php echo $delivery_province->name; ?> <br>
                                        <?php echo $delivery_region->name; ?>
                                        <?php } ?>
                                    </h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>	
                </table>

                <!-- order - details -->
                <div class="form-orders-div">
                    <div class="fo-title">ITEM LIST</div>

                    <div class="fo-list-div">
                        <table class="si-tbl">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th colspan="2">ITEM NAME</th>
                                    <th class="text-right">UNIT PRICE</th>
                                    <th class="text-right">QUANTITY</th>
                                    <th class="text-right">UOM</th>
                                    <th class="text-right">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                    $i = 0;
                                    $subtotal = 0;
                                    $prepaid_cnt = 0;

                                    foreach ($items as $item) {
                                        $i += 1;
                                        $subtotal += $item->total_amount;

                                        if($products_array[$item->product_kind_id]->prepaid == 1)  {
                                            $prepaid_cnt += 1;
                                        }

                                        $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId);
                                ?>
                                    <tr>
                                        <td><?php echo $i; ?></td>
                                        <td>
                                            <img class="fo-img" src="<?= STOREFRONT_URI ?>product_images/<?php if ($product->image_link_1){ echo $product->image_link_1;}else{echo "default.jpg";}?>">
                                        </td>
                                        <td>
                                            <h5 class="fo-prod-details">
                                                <span class="fop-name">
                                                    <?php echo $product->product_name; ?>
                                                </span>
                                                <span class="fop-size">
                                                    <?php echo $products_array[$item->product_kind_id]->kind_name . " | " . $products_array[$item->product_kind_id]->measurement . " | " . $products_array[$item->product_kind_id]->color; ?></span>
                                            </h5>
                                        </td>
                                        <td class="text-right"><?php echo number_format($item->unit_price, 2); ?></td>
                                        <td class="text-right"><?php echo number_format($item->quantity); ?></td>
                                        <td class="text-right"><?php echo $item->uom; ?></td>
                                        <td class="text-right"><?php echo number_format($item->total_amount, 2); ?></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>SUBTOTAL</span>
                                    </td>
                                    <td class="text-right" style="border-left:none !important;">
                                        <span class="order-total"><?= number_format($subtotal, 2); ?></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <?php if($prepaid_cnt > 0) { ?>
                <div class="olta-div">
                    <h5>
                        <i class="fa fa-exclamation-triangle fa-1x"></i>
                        ORDER LEAD TIME ALERT
                    </h5>
                    
                    <?php foreach($items as $item) {  if($products_array[$item->product_kind_id]->prepaid == 1) { ?>
                    <?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); ?>
                            <li>
                                Item <span class="olta-prod-name">"<?php echo $product->product_name." ".$products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color;?>"    
                                </span> will take <span style="font-weight:bold;"><?=$products_array[$item->product_kind_id]->lead_time;?></span> business day(s) to deliver after <span class="olta-cfp">cleared full payment</span> is made.
                            </li>
                <?php } } ?> </div> <?php } ?>

                <label>REMARKS</label>
                <textarea class="form-control remarks" rows="4" readonly><?= $inquiry->remarks; ?></textarea>

                <div class="form-btns">
                    <button class="btn btn-success btn-white btn-dpdf" id="btnDownloadPdf">
                        <i class="fa fa-file fa-1x"></i>Download PDF
                    </button>

                    <!-- remove hidden class when inquiry status is expired -->
                    <!-- <button class="btn btn-archive hidden">Archive</button>-->
                    <?php if ($inquiry->status == '9'){
                       echo '<button class="btn btn-archive">Archive</button>';
                    } ?>                        
                </div>
            </div>
        </div>
    </div>

    <!-- inq pdf -->
    <div class="main-content hide-form">
        <!-- inquiry pdf form -->
        <div class="form-holder">

            <!-- header table -->
            <table class="iprint-header-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-lpm-name">LPM CONSTRUCTION SUPPLY & WOOD CENTER CORP.</h5>
                            <span><?php 
                                    $lpm_address = array();
                                    foreach ($lpm_info_array["address"] as $lpm_addresss) {
                                    $lpm_address[] = $lpm_addresss;
                                } echo implode(' / ', $lpm_address); ?>     </span>
                            <span><?php 
                                    $phone_no = array();
                                    foreach ($lpm_info_array["phone_no"] as $phone_nos) {
                                    $phone_no[] = $phone_nos;

                                } echo implode(' / ', $phone_no); ?></span>
                            <span><?php 
                                    $mobile = array();
                                    foreach ($lpm_info_array["mobile_no"] as $mobile_nos) {
                                    $mobile[] = $mobile_nos;
                                } echo implode(' / ', $mobile); ?></span>
                            <span><?php 
                                    $email = array();
                                    foreach ($lpm_info_array["email_address"] as $emails) {
                                    $email[] = $emails;
                                } echo implode(' / ', $email); ?> </span>
                        </td>
                        <td>
                            <img class="print-lpm-logo" src="<?= BASE_URI; ?>img/lpm_logo.png">
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- form header table -->
            <table class="iprint-fheader-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-form-title">
                                QUOTATION 
                            </h5>
                            <h5 class="print-order-no"><?php echo $inquiry->reference_number; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-date-lbl">Date</h5>
                            <h5 class="print-date-lbl">Valid Until</h5>
                        </td>
                        <td>
                            <h5 class="print-date"><?= substr($inquiry->datetime_created, 0, 10); ?></h5>
                            <h5 class="print-date"><?= $inquiry->valid_until; ?></h5>  
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- account table -->
            <table class="iprint-acnt-tbl">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <label class="print-tbl-label">COMPANY NAME</label>
                            <h5 class="print-accnt-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-dtype">    
                                <?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?>
                            </h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">COMPANY ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php if ($address->address2 != "") {
                                                    echo $address->address2;;
                                                } else {
                                                    echo "-";
                                                } ?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">HOME ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php 
                                                if($address->address2 != "") { 
                                                    echo $address->address2;
                                                } else {
                                                    echo "-";
                                                } ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide content (not the td) when user chose pick up in delivery option -->
                            <?php
                                if($inquiry->for == "1") {
                                    echo '<label class="print-tbl-label">DELIVERY ADDRESS</label>'; 
                                } else {
                                    // echo $delivery_address;
                                }
                            ?>

                            <table class="iprint-cp-tbl">
                                <tbody>
                                    <tr>
                                        <td><?php echo $delivery_address->address; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php if($delivery_address->address_2 != "") { 
                                                echo $delivery_address->address_2 ; 
                                            } else {
                                                // echo "-";
                                            } ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_city->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_province->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_region->name; ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- item list table -->
            <table class="iprint-item-tbl">
                <tbody>
                <tr style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;">
                    <th colspan="6">ITEM LIST</th>
                </tr>
                <tr>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 5%;">NO.</th>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 40%;">ITEM NAME</th>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;    
                text-align: right;">UNIT PRICE</th>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;
                text-align: right;">QUANTITY</th>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 7%;
                text-align: right;">UOM</th>
                    <th style="text-align: left;font-weight: bold;font-size: 10px;padding: 2px 5px;color: gray;font-weight: 40px;width: 10%;
                text-align: right;">TOTAL</th>
                </tr>
                    <?php
                        $i = 0;
                        $prepaid_cnt = 0;
                    
                        foreach ($items as $item) {
                        $i += 1;

                        if($products_array[$item->product_kind_id]->prepaid == 1)  {
                            $prepaid_cnt += 1;
                        }
                    ?>
                    <tr>
                        <td><?php echo $i; ?></td>
                        <td>
                            <h5 class="print-prod-name">
                                <?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); echo $product->product_name; ?>
                            </h5>
                            <h5 class="print-prod-measure">
                                <?php echo $products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color; ?>
                            </h5>
                        </td>
                        <td><?php echo number_format($item->unit_price,2);?></td>
                        <td><?php echo $item->quantity;?></td>
                        <td><?php echo $item->uom;?></td>
                        <td><?php echo number_format($item->total_amount,2);?></td>
                    </tr>
                    <?php } ?>

                    <tr style="border:1px solid #D9D9D9;background-color:#F2F2F2;">
                        <td colspan="5" style="padding:15px 5px;font-weight:bold;font-size:12px;color:#A8A8A8;text-align:right;">
                            <span>SUBTOTAL</span>
                        </td>
                        <td style="text-align:right;padding:2px 5px;font-weight:bold;">
                            <span class="print-subamt"><?= number_format($subtotal, 2); ?></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="border:none;"><tr style="border:none;"><td style="padding:0;border:none;"></td></tr></tfoot>
            </table>

            <!-- remarks table -->
            <table class="iprint-tcr-tbl">
                <tbody style="border: 1px solid #D9D9D9;">
                    <tr>
                        <th style="border: 1px solid #D9D9D9;vertical-align: middle;text-align: center;background-color: #C6E0B4;color: #FFF;font-family: 'Arial Black';font-weight: 40px;font-size: 12px;">TERMS AND CONDITIONS</th>
                    </tr>
                    <?php 
                        $i = 0; 
                        $regular = 0; 
                        $prepaid = 0;
                        
                        foreach($items as $item) { 
                            $i += 1; 

                            if($products_array[$item->product_kind_id]->prepaid == 0) {
                                $regular += 1;
                            } else {
                                $prepaid += 1;
                            } 

                            if($prepaid > 0 && $regular > 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>
                                            ".$regular_products."

                                            <br><br>

                                            <span>Prepaid Products:</span>
                                            <br><br>
                                            ".$prepaid_products.";
                                        </p>";
                            } else if($prepaid > 0 && $regular == 0) {
                                $show = "<p>
                                            <span>Prepaid Products:</span>
                                            <br><br>
 
                                                ".$prepaid_products."

                                        </p>";
                            } else if($regular > 0 && $prepaid == 0) {
                                $show = "<p>
                                            <span>Regular Products:</span>
                                            <br><br>

                                                ".$regular_products."

                                        </p>";
                            }
                        }
                    ?>
                    <tr>
                        <td>
                            <?php echo $show; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <?php if($prepaid_cnt > 0) { ?>
                            <ol>
                                <li>Order Lead Time Alert:</li>
                                <?php foreach($items as $item) {  
                                    if($products_array[$item->product_kind_id]->prepaid == 1) { ?>
                                
                                <li>
                                    Item 
                                        <span>
                                            "<?php $productId = $products_array[$item->product_kind_id]->product_id; $product = RefSiteProductTbl::findFirstByproduct_id($productId); echo $product->product_name; ?> | <?php echo $products_array[$item->product_kind_id]->kind_name." | ".$products_array[$item->product_kind_id]->measurement." | ".$products_array[$item->product_kind_id]->color;?>"  
                                        </span> 
                                    will take 
                                        <span><?=$products_array[$item->product_kind_id]->lead_time;?></span> 
                                    business day(s) to deliver after 
                                        <span>cleared full payment</span> is made.
                                </li>
                                <?php } } ?>
                            </ol>
                            <?php } ?>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="remarks-div">
                <h5 class="lpm-remarks">This document is for quotation purposes only.</h5>
                <span class="lpm-data">Please confirm your acceptance of the terms and conditions and quotation details provided by signing in the space provided below.</span>

                <div class="signature-div">
                    <span class="conforme">CONFORME:</span>

                    <h5 class="signature">Signature/Print Name/Date</h5>
                    <span class="lpm-data">For further inquiries and concerns, please reach us through the contact details provided above.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var session = eval('(<?php echo json_encode($_SESSION)?>)');
    console.log(session);
     
    var valid_until = "<?= $inquiry->valid_until; ?>";
    var valid_until_date_array = valid_until.split('-');
    var valid_until_date = new Date(valid_until_date_array[0],valid_until_date_array[1]-1,valid_until_date_array[2]);
    var current_date = new Date();
    var diff_days = valid_until_date.getDate() - current_date.getDate();
    if (diff_days < 0) $('.btn-archive').removeClass('hidden');
     
    $(document).on('click', '.btn-archive', function(){
    	var params = {
    		inquiry_id : <?=$inquiry->inquiry_id;?>
    	};
    	
    	$.post(BASE_URL+'inquiry/archive', params, function(data){
    		if (data == "Success")
    		{
    			window.location.href = BASE_URL+'archived';
    		}
    		else
    		{
    			alert("Something Went Wrong");
    		}
    	});
    	
    	
    });

    $(document).on("click", "#btnDownloadPdf", function(){
        $('.hide-form').printMe({ "path": ["<?=BASE_URI;?>css/print.css"] });
    });
</script>