<div class="email-footer-div">
	<div class="email-copyright">
		<i class="fa fa-copyright fa-1x"></i>
		<span>2017 LPM Construction Supply</span>	
	</div>

	<div class="email-tac">
		<ol class="breadcrumb email-footer-tac">
			<li><a href="about_us">ABOUT</a></li>
			<li><a href="terms_and_condition">TERMS</a></li>
			<li><a href="contact_us">CONTACT</a></li>
		</ol>
	</div>
</div>