<!-- email 09 - ui -->
<div style="display:block;font-family: 'Arial';" class="index-content">
	
	<div style="width: 100%; height: 100%; overflow: hidden; display: block;" class="whole-div">		
		<div style="width: 100%; display: block; text-align: left; background-color: #EBF1EE; padding: 70px 200px 90px;font-family: 'Arial';" class="email-content-div"> <img style="width: 10%; margin-bottom: 60px;" src="%base_url%img/lpm_logo.png">

			<h3 style="color: #0D8E33;font-family: 'Arial'; margin: 0 0 0 12px;">Your Inquiry is almost expired.</h3>
			<p class="email-content" style="font-family: 'Arial';line-height: 30px; color: #4D4D4D; margin-left: 12px; margin-top: 30px; font-size: 12px;">
				Hi, [Company Name/First Name]. <br>
				The inquiry below will expire within 2 days. To continue with this transaction, click the order number.
			</p>
			<table class="email-tbl" class="email-tbl" style="margin: 10px 0 0 12px;font-size: 14px;color: #4D4D4D;">
				<tr>
					<td style="padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';">Order No.</td>
					<td style="width:30%;padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';" class="text-center">:</td>
					<td style="width:40%;padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';font-family: 'SF-Pro-Text-Bold' !important;font-size: 14px !important;" class="content"><a>Q-170921-005</a></td>
				</tr>
				<tr>
					<td style="padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';">Valid Until</td>
					<td style="width:30%;padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';" class="text-center">:</td>
					<td style="width:40%;padding: 5px 10px 5px 0;font-family: 'SF-Pro-Text-Regular';font-family: 'SF-Pro-Text-Bold' !important;font-size: 14px !important;" class="content">2017-12-12</td>
				</tr>
			</table>
			<p class="email-regards" style="color: #4D4D4D;font-family: 'SF-Pro-Text-Regular';font-size: 12px;line-height: 15px;margin: 20px 0 0 12px;">
				Thanks, <br>
				LPM Construction Supply
			</p>
		</div>

		<!-- INSERT FOOTER CODE -->
		<div style="width:auto;height:100px;display:block;padding: 55px 212px 60px;">
			<div style="color:#4D4D4D;font-size:10px;font-family:'Arial';float:left;width:50%;">
				<span style="color:#0D8E33;font-weight:bold;">&copy;</span>
				<span>2017 LPM Construction Supply</span>	
			</div>

			<div style="float:right;width:50%;text-align: right;margin-top: -15px;display: inline-block;">
				<a href="%about_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">ABOUT</a>
				<span style="color:#099B42;margin:0 10px;">&bull;</span>
				<a href="%term_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">TERMS</a>
				<span style="color:#099B42;margin:0 10px;">&bull;</span>
				<a href="%contact_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">CONTACT</a>
			</div>
		</div>

	</div>
</div>