
<style type="text/css">
 	@media screen {
        @import url('https://fonts.googleapis.com/css?family=Arial');
    }
</style>

<div style="display:block;font-family: 'Arial';" class="index-content">
	
	<div style="width: 100%; height: 100%; overflow: hidden; display: block;" class="whole-div">
		<div style="width: 100%; display: block; text-align: left; background-color: #FFF; padding: 70px 200px 90px;font-family: 'Arial';" class="email-content-div"> <img style="width: 10%; margin-bottom: 60px;" src="%base_url%img/lpm_logo.png">
			<h3 style="color: #0D8E33;font-family: 'Arial'; margin: 0 0 0 12px;">Hi, <span>%username%.</span></h3>
			<p style="font-family: 'Arial';line-height: 30px; color: #4D4D4D; margin-left: 12px; margin-top: 30px; font-size: 12px;" class="email-content"> LPM recently received a request for a forgotten password. <br>
				To change your password, please click on this <a href="%link%">link</a>. <br>
				If you did not request this change, please disregard this email. <br>
				This link will expire within %hours% hours.
			</p>
			<p style="color: #4D4D4D; font-family: 'Arial'; font-size: 12px; line-height: 15px; margin: 20px 0 0 12px;" class="email-regards"> Thanks, <br>
				LPM Construction Supply
			</p>
		</div>
		
		<!-- INSERT FOOTER CODE -->
		<div style="width:auto;height:100px;display:block;padding: 55px 212px 60px;">
			<div style="color:#4D4D4D;font-size:10px;font-family:'Arial';float:left;width:50%;">
				<span style="color:#0D8E33;font-weight:bold;">&copy;</span>
				<span>2017 LPM Construction Supply</span>	
			</div>

			<div style="float:right;width:50%;text-align: right;margin-top: -15px;display: inline-block;">
				<a href="%about_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">ABOUT</a>
				<span style="color:#099B42;margin:0 10px;">&bull;</span>
				<a href="%term_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">TERMS</a>
				<span style="color:#099B42;margin:0 10px;">&bull;</span>
				<a href="%contact_link%" style="color:#099B42;font-family:'Arial';font-size:10px;">CONTACT</a>
			</div>
		</div>
	</div>
</div>