/*form page*/
body{
	line-height: 12px;
}

label{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Bold';
	color: #ADAAA8;
}
textarea{
	resize: none;
}
/*========================================= BUTTONS =========================================*/

/*download pdf button - left side*/
.btn-dpdf{
	background-color: #FFF;
	border: 1px solid #0D8E33;
	color: #0D8E33;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 12px;
	width: 24%;
	float: left;
	height: auto;
	padding: 1.2vh 0;
}
.btn-dpdf:hover{
	background-color: #CFE8D6;
	border: 1px solid #0D8E33;
	color: #0D8E33;
}
.btn-dpdf:focus,
.btn-dpdf:active{
	background-color: #007B24;
	border: 1px solid #007B24;
	color: #FFF;
}

/*green button - right side*/
.btn-cqta,.btn-sqta,.btn-csoa{
	background-color: #0D8E33;
	border: 1px solid #0D8E33;
	color: #FFF;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 12px;
	width: 24%;
	float: right;
	margin-left: 1.4%;
	height: auto;
	padding: 1.2vh 0;
}
.btn-cqta:hover,
.btn-sqta:hover,
.btn-csoa:hover{
	background-color: #24B04D;
	border: 1px solid #24B04D;
	color: #FFF;
}
.btn-sqta:focus,.btn-cqta:focus,
.btn-sqta:active,.btn-cqta:active,
.btn-csoa:active,.btn-csoa:active{
	background-color: #007B24;
	border: 1px solid #007B24;
	color: #FFF;
}

/*red button - left side*/
.btn-drqst,
.btn-archive{
	background-color: #F55050;
	border: 1px solid #F55050;
	color: #FFF;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 12px;
	width: 24%;
	float: right;
	height: auto;
	padding: 1.2vh 0;
}
.btn-drqst:hover,.btn-archive:hover{
	background-color: #FF6464;
	border: 1px solid #FF6464;
	color: #FFF;
}
.btn-drqst:focus,.btn-archive:focus,
.btn-drqst:active,.btn-archive:focus{
	background-color: #E73939;
	border: 1px solid #E73939;
	color: #FFF;
}

.btn-cancel{
	background-color: #6C6C6C;
	border: 1px solid #6C6C6C;
	color: #FFF;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 12px;
	width: 24%;
	float: left;
	height: auto;
	padding: 1.2vh 0;
}
.btn-cancel:hover{
	background-color: #A8A8A8;
	border: 1px solid #A8A8A8;
	color: #FFF;
}
.btn-cancel:focus,
.btn-cancel:active{
	background-color: #4D4D4D;
	border: 1px solid #4D4D4D;
	color: #FFF;
}

.btn-vpd{
	background-color: #FFF;
	border: 1px solid #0D8E33;
	color: #0D8E33;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 10px;
	width: auto;
	float: left;
	height: auto;
	padding: 5px 15px;
}
.btn-vpd:hover{
	background-color: #CFE8D6;
	border: 1px solid #0D8E33;
	color: #0D8E33;
}
.btn-vpd:focus,
.btn-vpd:active{
	background-color: #007B24;
	border: 1px solid #007B24;
	color: #FFF;
}

.btn-dpd{
	background-color: #FFF;
	border: 1px solid #F55050;
	color: #F55050;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 10px;
	width: auto;
	float: left;
	height: auto;
	padding: 5px 15px;
	margin-left: 10px;
}
.btn-dpd:hover{
	background-color: #F9CDCD;
	border: 1px solid #F55050;
	color: #F55050;
}
.btn-dpd:focus,
.btn-dpd:active{
	background-color: #F55050;
	border: 1px solid #F55050;
	color: #FFF;
}

/*green button - right side*/
.btn-fo{
	background-color: #0D8E33;
	border: 1px solid #0D8E33;
	color: #FFF;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 12px;
	width: 250px;
	letter-spacing: 1px;
	height: auto;
	padding: 1.2vh 0;
}
.btn-fo{
	background-color: #24B04D;
	border: 1px solid #24B04D;
	color: #FFF;
}
.btn-fo{
	background-color: #007B24;
	border: 1px solid #007B24;
	color: #FFF;
}

/*input fields*/
.form-control.small{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	width: 80px;
	height: 25px;
	margin: 0;
	border: 1px solid #D8D8D8;
	color: #4D4D4D;
}
.form-control.pd{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	height: 25px;
	margin: 0;
	border: 1px solid #D8D8D8;
	color: #4D4D4D;
}
.form-control.search{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	height: 40px;
	margin: 0;
	border: 1px solid #D8D8D8;
	color: #4D4D4D;
}
.form-control.standard{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	height: 40px;
	margin: 0;
	border: 1px solid #D8D8D8;
	color: #4D4D4D;
}
.cq-search-icon{
	color: #A8A8A8;
	position: absolute;
	right: 15px;
	margin-top: -34px;
}

.select-order-no{
	color: #4D4D4D;
	font-size: 20px;
	font-family: 'SF-Pro-Text-Bold';
	margin: 0;
	color: #0D8E33 !important;
	border: none;
	padding-left: 0 !important;
}
	.select-order-no option{
		color: #0D8E33 !important;
	}

/*========================================= ANCHOR =========================================*/
.btn-ctp{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Regular';
	color: #A8A8A8;
	margin: 0;
	letter-spacing: 1px;
	text-decoration: underline;
}
.btn-ctp:hover{
	color: #6C6C6C;
}
.btn-ctp:focus,
.btn-ctp:active{
	color: #4D4D4D;
}

.btn-acm{
	font-size: 10px;
	font-family: 'SF-Pro-Text-Bold';
	color: #0D8E33;
	margin: 0;
	text-decoration: none !important;
}
.btn-acm:hover{
	color: #24B04D;
}
.btn-acm:focus,
.btn-acm:active{
	color: #007B24;
}


.form-div{
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 25px;
}
	/*labels*/
	.fstatus-label{
		font-size: 10px;
		width: auto !important;
		position: absolute;
		margin-top: 3px;
		margin-left: 15px;
	}

	.form-holder{
		width: 100%;
		height: 100%;
		padding: 30px;
		background-color: #EBF1EE; /*green area*/
                padding-top: 70px;
	}
	.form-content{
		width: 900px;
		height: auto;
		margin: auto;
		padding: 50px;
		margin: 10px auto;
		overflow: hidden;
		background-color: #fff; /*form like div*/
	}
	.form-rotate-div,
	.fr-header-div{
		display: none;
	}

	.form-pn-btns-div{
		width: 900px;
		height: auto;
		margin: auto;
		padding: 5px 0;
		margin: 10px auto;
		overflow: hidden;
	}
		.btn-rttpn{
			color: #6C6C6C;
			font-size: 18px;
			font-family: 'SF-Pro-Text-Bold';
			text-decoration: none !important;
		}
		.btn-rttpn:hover{
			color: #0D8E33;
		}
		.btn-rttpn:focus,
		.btn-rttpn:active{
			color: #007B24;
		}

	/*form header*/
	.fheader-tbl,
	.faccount-tbl{
		width: 100%;
	}
	.fheader-tbl tbody > tr > td{
		vertical-align: middle;
		border: none;
		padding: 0;
		color: #4D4D4D;
		font-size: 10px;
		font-family: 'SF-Pro-Text-Regular';
	}
		.fheader-tbl tbody > tr > td:first-child{
			width: 80%;
		}
		.fheader-tbl tbody > tr > td:nth-child(2){
			width: 8vw;
		}
		.fheader-tbl tbody > tr:first-child > td:nth-child(2){
			vertical-align: bottom;
		}
		.fheader-tbl tbody > tr:first-child > td:last-child{
			vertical-align: bottom;
			width: 8vw;
		}
		.fheader-tbl tbody > tr:nth-child(2) > td:nth-child(2){
			vertical-align: top;
		}
		.fheader-tbl tbody > tr:nth-child(2) > td:last-child{
			vertical-align: top;
			width: 8vw;
		}
	.fheader-tbl tbody > tr > td > h5{
		color: #4D4D4D;
		font-size: 20px;
		font-family: 'SF-Pro-Text-Bold';
		margin: 0;
		display: inline-block;
	}
	.inquiry-no{
		color: #0D8E33 !important;
	}

	/*form account*/
	.faccount-tbl tbody > tr > td,th{
		border: 1px solid #979797;
		padding: 15px 20px;
		vertical-align: middle;
		width: 20%;
	}
		.faccount-tbl tbody > tr > th:nth-child(2){
			border-bottom: none;
		}
		.faccount-tbl tbody > tr:nth-child(2) > td:last-child{
			border-top: none;
		}
	.form-label{
		color: #9D9D9C;
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
		text-transform: uppercase;
		margin: 0 !important;
	}
	.fcompany-name{
		color: #0D8E33;
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
		margin: 5px 0 0;
		text-transform: uppercase;
	}
	.fstatus{
		color: #0D8E33;
		font-family: 'SF-Pro-Text-Bold';
		font-size: 18px;
	}
		.fstatus.min-qty{
			color: #E73939;
		}
	.faddress-info,
	.fdelivery-info{
		color: #4D4D4D;
		font-family: 'SF-Pro-Text-Regular';
		font-size: 10px;
		margin: 5px 0 0 0;
	}
	.fcontact-info{
		border: none;
		margin-top: 5px;
		width: 100%;
	}
		.fcontact-info tbody > tr > td{
			padding: 0 !important;
			border: none !important;
			font-size: 10px;
			vertical-align: middle;
		}
	.fc-label{
		color: #9D9D9C;
	}

	.form-orders-div{
		width: 100%;
		height: auto;
		margin: 20px 0;
		border: 1px solid #979797;
		overflow: hidden;
	}
	.fo-title{
		border: none;
		width: 100%;
		height: auto;
		background-color: #BBD7B0;
		padding: 15px 20px;
		color: #fff;
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
		letter-spacing: 1px;
	}
	.fo-list-div{
		width: 100%;
		padding: 30px 20px;
	}
	.si-tbl{
		border: none;
		width: 100%;
	}
	.si-tbl thead{
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
		color: #ADAAA8 !important;
		border-bottom: 1px solid #EDEDED;
	}
	.si-tbl thead > tr > th{
		padding: 0 10px 15px 0;
		border: none;
	}
		.si-tbl thead > tr > th:first-child{
			width: 5%;
		}
		.si-tbl thead > tr > th:nth-child(2){
			width: 50%;
		}
		.si-tbl thead > tr > th:nth-child(3),
		.si-tbl thead > tr > th:nth-child(4),
		.si-tbl thead > tr > th:nth-child(5){
			width: 10%;
		}

	.si-tbl > tbody > tr{
		border-top: 1px solid #EDEDED;
		border-bottom: 1px solid #EDEDED;
	}
		.si-tbl > tbody > tr:first-child{
			border-top: none;
		}
	.si-tbl > tbody > tr> td{
		padding: 10px 10px 10px 0;
		vertical-align: middle;
		font-family: 'SF-Pro-Text-Regular';
		font-size: 10px;
		color: #4D4D4D;
	}
		.si-tbl > tbody > tr> td:first-child{
			vertical-align: top;
		}
		.si-tbl > tbody > tr> td:nth-child(2){
			width: 5%;
		}

	.sip-name{
		font-family: 'SF-Pro-Text-Bold';
	}

	.fo-img{
		width: 40px;
		height: auto;
		margin-right: 5px;
	}
	.fo-prod-details{
		display: inline-block;
		/*margin: 6px 5px;*/
		/*position: absolute;*/
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
	}
	.fop-size{
		font-size: 10px;
		font-family: 'SF-Pro-Text-Regular' !important;
		color: #4D4D4D;
		display: block;
	}
	.si-tbl tfoot > tr > td{
		padding: 20px 10px;
		border: 1px solid #EDEDED !important;
		font-size: 10px;
	}
	.si-tbl tfoot > tr > td > span{
		color: #ADAAA8;
		font-family: 'SF-Pro-Text-Bold';
		font-size: 10px;
	}

	/*for quantity field*/
	.form-control.form-qty{
		height: 25px;
		font-size: 10px;
		margin: 0 0 0 5px;
	}

	/*form buttons*/
	.form-btns{
		width: 100%;
		margin-top: 20px;
	}
		/*inquiries form*/
		.btn-ci,
		.btn-ci:hover,
		.btn-ci:active,
		.btn-ci:focus{
			float: left;
			width: 24%;
			margin-right: 1.3%;
			font-size: 12px;
			height: auto;
			padding: 1.2vh 0;
		}
		.btn-dip,
		.btn-dip:hover,
		.btn-dip:active,
		.btn-dip:focus{
			font-size: 12px;
			width: 24%;
			float: left;
			height: auto;
			padding: 1.2vh 0;
		}
		.btn-white i{
			margin-right: 10px;
		}
		.btn-gbc,.btn-cpo,
		.btn-gbc:hover,.btn-cpo:hover,
		.btn-gbc:active,.btn-cpo:active,
		.btn-gbc:focus,.btn-cpo:focus{
			font-size: 12px;
			width: 24%;
			margin-left: 1.3%;
			float: left;
			height: auto;
			padding: 1.2vh 0;
		}

		.btn-requote,.btn-as,.btn-reorder,
		.btn-requote:hover,.btn-as:hover,.btn-reorder:hover,
		.btn-requote:active,.btn-as:active,.btn-reorder:active,
		.btn-requote:focus,.btn-as:focus,.btn-reorder:focus{
			font-size: 12px;
			width: 24%;
			float: right;
			height: auto;
			padding: 1.2vh 0;
		}

	/*form - payment details div*/
	.fpayment-div{
		width: 100%;
		height: auto;
		margin-top: 5px;
		display: inline-block;
	}
	.fpsub-div{
		width: 30%;
		height: 100%;
		float: left;
		margin-right: 10px;
	}
	.fpsub-div label{
		font-size: 8px;
		font-family: 'SF-Pro-Text-Regular';
		letter-spacing: 1px;
	}
	/*form - terms and condition div*/
	.ftac-div{
 		width: 100%;
 		border: 1px solid #299B4B;
 		border-radius: 3px;
 		padding: 10px 20px;
 		background-color: #EBF1EE;
 	}
 	.ftac-content{
 		overflow-y: scroll;
 		height: 50px;
 		font-size: 10px;
 		font-family: 'SF-Pro-Text-Regular';
 	}
 	.ftac-checkbox{
 		width: auto;
 		text-align: right;
 		overflow: hidden;
 		margin-bottom: 30px;
 	}
 	.ftac-checkbox label{
 		float: right;
 		width: 280px;
 	}
 	.ftac-checkbox label > a{
 		font-family: 'SF-Pro-Text-Bold';
 		color: #4D4D4D;
 	}
 	.ftac-checkbox label > a:hover{
 		color: #0D8E33;
 	}

 	/*purchase order form - elements*/
 	.form-alert-fa{
 		margin-top: -40px;
		position: absolute;
		background-color: #EBF1EE;
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		width: 600px;
		color: #4D4D4D;
		font-size: 10px;
	}
	.form-alert-fa i{
		margin-right: 10px;
		color: #0D8C31;
	}
	
	/*soa footers - soa total*/
	.order-total{
		color: #4D4D4D !important;
		font-family: 'SF-Pro-Text-Bold';
	}
	.normal-charge{
		color: #4D4D4D !important;
		font-family: 'SF-Pro-Text-Regular' !important;
	}
	.gt-label{
		color: #0D8E32 !important;
	}
	.grand-total{
		color: #0D8E32 !important;
		font-family: 'SF-Pro-Text-Bold';
	}
	.btn-recompute{
		color: #0D8E32;
		text-decoration: underline;
		margin-right: 25px;
		font-family: 'SF-Pro-Text-Bold';
	}
	.btn-recompute:hover{
		text-decoration: underline;
	}
	.order-total{
		color: #4D4D4D !important;
		font-family: 'SF-Pro-Text-Bold';
		margin-left: 30px;
	}
	.approval-stamp{
		color: #FFDDDD;
		background-color: #fff;
		border: 3px solid #FFDDDD;
		border-radius: 10px;
		padding: 15px 50px;
		margin-top: -87px;
		margin-left: 12px;
		font-size: 34px;
		font-family: 'SF-Pro-Text-Bold';
		letter-spacing: 1px;
	}

	/*payment table*/
	.fpayment-content{
		width: 1100px;
		height: auto;
		margin: auto;
		padding: 50px 40px;
		margin: 10px auto;
		overflow: hidden;
		background-color: #fff; /*form like div*/
	}
		.fpayment-content h5{
			color: #4D4D4D;
		    font-size: 20px;
		    font-family: 'SF-Pro-Text-Bold';
		    margin: 0;
		    display: inline-block;
		}

	.pd-tbl{
		width: 100%;
		border: none;
		margin-top: 20px;
	}
		.pd-tbl thead > tr > th{
			color: #4D4D4D;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			padding: 10px 0;
			border: none;
			border-bottom: 1px solid #000;
			vertical-align: middle;
		}
		.pd-tbl thead > tr > th:nth-child(1){
			width: 8% !important;
		}
		.pd-tbl thead > tr > th:nth-child(2){
			width: 8% !important;
		}
		.pd-tbl thead > tr > th:nth-child(3){
			width: 12%;
		}
		.pd-tbl thead > tr > th:nth-child(4){
			width: 10%;
		}
		.pd-tbl thead > tr > th:nth-child(5){
			width: 8%;
		}
		.pd-tbl thead > tr > th:nth-child(6),
		.pd-tbl thead > tr > th:nth-child(7){
			width: 12%;
		}
		.pd-tbl thead > tr > th:last-child{
			width: 17%;
		}

		.pd-tbl tbody > tr:first-child{
			border-top: none;
		}
		.pd-tbl tbody > tr > td{
			padding: 10px 10px 10px 0;
			border-top: 1px solid #E7E7E7;
			vertical-align: middle;
			font-size: 10px;
		}
		.pd-tbl tbody > tr > td:last-child{
			padding-right: 0;
		}
			.btn-add-payment,
			.btn-submit-payment{
				color: #0D8E33;
				font-family: 'SF-Pro-Text-Bold';
			}
			.btn-download-ppdf,
			.btn-upload-ppdf{
				color: #0D8E33;
			}
			.btn-cancel-payment{
				font-family: 'SF-Pro-Text-Bold';
			}
			.form-control.pdetail{
				font-size: 10px;
				height: 25px !important;
				width: 100% !important;
			}
			.fa-btn-divider{
				color: #0D8E33;
				font-size: 5px;
			}

			/*declined status*/
			.status-declined{
				color: #F55050;
			}
			.alert-declined{
				display: none;
				background-color: #F8D7D7;
				border: none;
				border-radius: 3px;
				padding: 10px;
				width: 150px !important;	
				color: #4D4D4D;
				font-family: 'SF-Pro-Text-Regular';
			}
			.alert-declined i{
				color: #F55050;
			}
			.status-declined:hover .alert-declined{
				position: absolute;
				margin-top: -10px;
				margin-left: 60px;
				display: block;
				z-index: 1005;
			}
		.pd-tbl tfoot{
			border-top: 1px solid #000;
		}
		.pd-tbl tfoot > tr > td{
			vertical-align: middle;
			padding: 5px 0;
			font-family: 'SF-Pro-Text-Bold';
		}
	


	.nav-orders{
		border: none;
		font-family: 'SF-Pro-Text-Bold';
	}
	.nav-first-child{
		text-align: left !important;
		padding-left: 0 !important;
	}
	.nav-last-child{
		text-align: right !important;
		padding-right: 0 !important;
	}
	.nav-orders li > a{
		font-family: 'SF-Pro-Text-Bold';
		border: none !important;
		color: #0D8E33;
	}
	.nav-orders li > a:hover{
		border: none !important;
		color: #24B04D;
		background-color: transparent;
	}
	.panel-group{
		margin: 30px 0 0;
	}
		.panel-group .panel{
			border: 1px solid #0D8E32;
		}
		.panel-default .panel-heading{
			background-color: #FFF;
			border-color: #0D8E32;
			border-bottom: 0;
			color: #4D4D4D;
		}
		.panel-title a{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 12px;
		}
		.panel-body{
			border-top: 1px solid #0D8E32 !important;
		}

		/*scroll bar*/
		.green-scroll::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 10px;
			background-color: #F5F5F5;
		}
		.green-scroll::-webkit-scrollbar{
			width: 6px;
			background-color: #F5F5F5;
		}
		.green-scroll::-webkit-scrollbar-thumb{
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #0D8E33;
		}

	.olta-div{
		border: 1px solid #F8D586;
		background-color: #FEFAF2;
		border-radius: 5px;
		padding: 5px 20px;
		margin: 0 0 20px;
	}
		.olta-div h5{
			color: #F4B627;
			font-size: 12px;
			font-family: 'SF-Pro-Text-Bold';
		}
		.olta-div h5 > i{
			margin-right: 10px;
		}
		.olta-div ul{
			margin: 10px 20px;
		}
		.olta-pd{
			font-family: 'SF-Pro-Text-Bold';
		}

	.status-verified{
		color: #0D8E33;
	}