body{
    width: 100%;
    height: 100%;
/*    background-color: black;*/
/*    background: #000 url("../../img/big_yellow_logo.png");*/
    background: #fff url("../../img/lpm-login.png") no-repeat;
    background-color: #303030;
    background-size: 50% auto;
    overflow: hidden;
}
.user-login{
    float: right;
    padding: 40px 0px;
    margin: 100px 10%;
    width: 370px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 5px 10px 15px 0 rgba(0,0,0,0.10);    
}

.user-login label{
    color: #ADA8AD;
    font-family: 'SF-Pro-Text-Regular' !important;
    font-size: 10px;
}

.logo-div{
    text-align: center;
    margin-bottom: 20px;
}
.title{
    font-family: 'SF-Pro-Text-Bold';
    color: #4d4d4d;
}
.sub-title{
    font-family: 'SF-Pro-Text-Regular';
    font-size: 10px;
    color: #4d4d4d;
}
.input{
    padding: 5px 0;
    height: auto;
    width: 100%;
    font-size: 12px;
    color: #000;
}
.input-content{
    margin: 0 auto;
    height: auto;
    width: 75%;
}
.login-error{
    margin: 0 auto;
    height: auto;
    width: 75%;
    text-align: center;
}
.login-error label{
    color: #E73939;
    font-family: 'SF-Pro-Text-Regular' !important;
    font-size: 12px;
}
.form-control.style{
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    height: 40px;
    width: 100%;
}


/*login button style*/
.btn-snow{
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    height: 40px;

}
.btn-snow:hover{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #5e5e5e;
    border-radius: 2px;
}
.btn-snow:active:focus{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #5e5e5e;
    border-radius: 2px;
    box-shadow: none;
}
.btn-snow:active,
.btn-snow:focus,
.btn-snow.active{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #5e5e5e;
    border-radius: 2px;
    box-shadow: none;
}

.btn-fp{
    color: #0D8E33;
    font-size: 10px;
    font-family: 'SF-Pro-Text-Regular';
    position: relative;
    margin-top: -30px;
    margin-right: 10px;
}
.btn-fp:hover{
    text-decoration: none;
    color: #24B04D;
}
.btn-fp:active,
.btn-fp:focus,
.btn-fp.active{
    text-decoration: none;
    color: #0D8E33;
}

.btn-stl{
    color: #0D8E33;
    font-size: 10px;
    font-family: 'SF-Pro-Text-Bold';
}
.btn-stl:hover{
    text-decoration: none;
    color: #24B04D;
}
.btn-stl:active,
.btn-stl:focus,
.btn-stl.active{
    text-decoration: none;
    color: #0D8E33;
}

.btn-green:hover{
    color: #fff;
    background-color: #24B04D;
    border: 1px solid #24B04D;
}
.btn-green:focus,
.btn-green:active{
    color: #fff;
    background-color: #007B24;
    border: 1px solid #007B24;
}

.login-logo{
    width: auto;
    height: 60px;
}