/*product css*/
label{
	color: #ADADAD;
	font-family: 'SF-Pro-Text-Regular';
	display: block;
	font-size: 10px;
}

.btn-publish-prod{
	background-color: #FFF;
	border: 1px solid #0D8E33;
	color: #0D8E33;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 10px;
	width: auto;
	float: left;
	height: auto;
	padding: 5px 15px;
}
.btn-publish-prod:hover{
	background-color: #CFE8D6;
	border: 1px solid #0D8E33;
	color: #0D8E33;
}
.btn-publish-prod:focus,
.btn-publish-prod:active{
	background-color: #007B24;
	border: 1px solid #007B24;
	color: #FFF;
}

.btn-published-prod{
	background-color: #BBD7B0;
	border: 1px solid #BBD7B0;
	color: #0D8E33;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 10px;
	width: auto;
	float: left;
	height: auto;
	padding: 5px 15px;
}
.btn-published-prod:hover{
	background-color: #BBD7B0;
	border: 1px solid #BBD7B0;
	color: #0D8E33;
}
.btn-published-prod:focus,
.btn-published-prod:active{
	background-color: #BBD7B0;
	border: 1px solid #BBD7B0;
	color: #FFF;
}

.label-hidden{
	background-color: #F9CDCD;
	border: 1px solid #F9CDCD;
	color: #E73939;
	font-family: 'SF-Pro-Text-Bold';
	font-size: 10px;
	width: auto;
	float: left;
	height: auto;
	padding: 5px 15px;
	border-radius: 5px;
}

.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}

.cls-div{
	width: 100%;
	overflow: hidden;
	padding: 0;
	height: auto;
	position: relative;
}	
	.cls-form-div{
		float: left;
		height: 100%;
		overflow: hidden;
		width: 100%;
		position: relative;
	}
		.cls-form{
			float: left;
			width: 75%;
			border: 1px solid #BBD7B0;
			height: 100%;
			margin-right: 5%;
			overflow: hidden;
		}
		.cls-form-title{
			width: 100%;
			height: auto;
			padding: 5px 30px;
			background-color: #BBD7B0;
			letter-spacing: 1px;
		}
		.cls-form-title h5{
			color: #FFF;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
		}
		.cls-form-body{
			overflow: hidden;
			height: auto;
			padding: 30px;
		}

			.cls-img-div{
				float: left;
				width: 300px;
				overflow: hidden;
				height: auto;
				margin-left: 0;
			}
			/*main image*/
			.prod-main-img{
				width: 100%;
				height: 300px;
			}
			.btn-pi-add{
				width: 100%;
				height: 100%;
				border: 1px solid #D6D6D6;
				border-radius: 0;
				background-color: #FFF;
				color: #D6D6D6;
			}
			.btn-pi-add:hover,
			.btn-pi-add:focus,
			.btn-pi-add:active{
				color: #0D8E33;
			}
			/*sub images*/
			.prod-sub-img{
				width: auto;
				height: 100%;
				margin-top: 20px;
				overflow: hidden;
				position: relative;
				border: none !important;
			}
			.psi-content{
				float: left;
				width: 65.7px;
				height: 65.7px;
				margin-right: 4%;
				overflow: hidden;
			}
			.psi-content:last-child{
				margin-right: 0 !important;
			}

			.pmi-img-holder{
				width: 100%;
				height: 100%;
				border: 1px solid #D6D6D6;
				border-radius: 0;
				position: relative;
				overflow: hidden;
			}
			.pmi-img-holder img{
				width: 100%;
				height: 100%;
			}
			.pmiih-buttons{
				position: absolute;
				right: 3px;
				bottom: 0;
				padding: 0;
				font-size: 14px;
			}
			.btn-main-img{
				color: #A8A8A8;
			}
			.btn-main-img:hover{
				color: #24B04D;
			}
			.btn-main-img.active{
				color: #0D8E33;
				cursor: default;
			}
			.btn-delete-img{
				color: #F55050;
			}
			.btn-delete-img:hover{
				color: #FF6464;
			}
			.btn-delete-img:focus,
			.btn-delete-img:active{
				color: #E73939;
			}

			.cls-pdetails-div{
				float: left;
				width: 60%;
				height: auto;
				padding-left: 10px;
			}
			.productTagTbl{
				width: 100%;
			}
			.productTagTbl tbody > tr > td{
				vertical-align: middle;
				padding: 0 5px 0 0;
				font-family: 'SF-Pro-Text-Regular';
				font-size: 12px;
				color: #4D4D4D;
			}
			.productTagTbl tbody > tr > td:nth-child(odd){
				width: 5%;
			}
			.star-icon{
				color: #FFDF00;
				margin-left: 15px;
			}
			.new-arrival-lbl{
				color: #FFF;
				background-color: #5BBDE8;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 7px;
				padding: 0 7px;
				border-radius: 5px;
				border: none;
				display: inline-block;
				margin-left: 15px;
			}

		.prod-kinds-tbl{
			width: 100%;
		}
			.prod-kinds-tbl thead > tr > th{
				vertical-align: middle;
				border: none;
				padding: 5px 5px 5px 0;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 10px;
				border-bottom: 1px solid #000;
			}
			.prod-kinds-tbl thead > tr > th:nth-child(1),
			.prod-kinds-tbl thead > tr > th:nth-child(2),
			.prod-kinds-tbl thead > tr > th:nth-child(3){
				width: 20%;
			}
			.prod-kinds-tbl thead > tr > th:nth-child(4),
			.prod-kinds-tbl thead > tr > th:nth-child(5),
			.prod-kinds-tbl thead > tr > th:nth-child(6),
			.prod-kinds-tbl thead > tr > th:nth-child(7){
				width: 9%;
			}

			.prod-kinds-tbl tbody{
				border-bottom: 1px solid #000;
				font-family: 'SF-Pro-Text-Regular';
				color: #4D4D4D;
				font-size: 10px;
			}
			.prod-kinds-tbl tbody > tr > td{
				vertical-align: middle;
				padding: 5px 5px 5px 0;
			}
			.prod-kinds-tbl tbody > tr{
				border-top: 1px solid #F7F7F7;
			}
			.prod-kinds-tbl tbody > tr:first-child{
				border-top: 1px solid #F7F7F7 !important;
			}

			.btn-edit-kind,
			.btn-delete-kind,
			.btn-save-kind{
				color: #0D8E33;
			}
			.btn-edit-kind:hover,
			.btn-delete-kind:hover,
			.btn-save-kind:hover{
				color: #24B04D;
			}
			.btn-edit-kind:focus,.btn-edit-kind:active,
			.btn-delete-kind:focus,.btn-edit-kind:active,
			.btn-save-kind:focus,.btn-edit-kind:active{
				color: #007B24;
			}

			.toggle-type .onoffswitch-label .onoffswitch-inner:before{
				content: "REG" !important;
			}

			.toggle-type .onoffswitch-label .onoffswitch-inner:after{
				content: "PRE" !important;
			}

			.toggle-display .onoffswitch-label .onoffswitch-inner:before{
				content: "YES" !important;
			}

			.toggle-display .onoffswitch-label .onoffswitch-inner:after{
				content: "NO" !important;
			}
			
			.form-control.tbl-field{
				font-family: 'SF-Pro-Text-Regular';
				font-size: 10px;
				color: #4D4D4D;
				height: 20px;
				text-align: center;
				border: 1px solid #CBCBCB;
			}
			.form-control.standard{
				font-family: 'SF-Pro-Text-Regular';
				font-size: 10px;
				color: #4D4D4D;
				height: 35px;
				border: 1px solid #CBCBCB;
			}
			.form-control.txtarea{
				font-family: 'SF-Pro-Text-Regular';
				font-size: 10px;
				color: #4D4D4D;
				border: 1px solid #CBCBCB;
				resize: none;
			}
			
		.cls-form-body h5{
			margin: 0;
			margin-bottom: 20px;
		} 
			.cls-form-body h5{
				margin: 0;
				margin-bottom: 20px;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 12px;
			}

		.btn-ad-ba{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			text-decoration: none;
			color: #007B32;
		}
		.btn-ad-ba:hover{
			text-decoration: none;
			color: #24B04D;
		}

	.cls-buttons{
		width: 20%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
		.btn-ac{
		    color: #fff;
		    background-color: #0D8E33;
		    border: 1px solid #0D8E33;
		}
		.btn-ac:hover{
		    color: #fff;
		    background-color: #24B04D;
		    border: 1px solid #24B04D;
		}
		.btn-ac:focus,
		.btn-ac:active{
		    color: #fff;
		    background-color: #007B24;
		    border: 1px solid #007B24;
		}

		.btn-cancel{
			width: 100%;
			color: #fff !important;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 12px;
			height: 35px;
		    background-color: #6C6C6C;
		    border: 1px solid #6C6C6C;
		}
		.btn-cancel:hover{
			color: #fff;
		    background-color: #A8A8A8;
		    border: 1px solid #A8A8A8;
		}
		.btn-cancel:focus,
		.btn-cancel:active{
		    color: #fff;
		    background-color: #ADADAD;
		    border: 1px solid #ADADAD;
		}

		.btn-delete-prod{
		    color: #fff;
		    background-color: #F55050;
		    border: 1px solid #F55050;
		    width: 100%;
		    height: 35px;
		    font-family: 'SF-Pro-Text-Bold';
		    color: #FFF;
		    font-size: 12px;
		}
		.btn-delete-prod:hover{
		    color: #fff;
		    background-color: #FF6464;
		    border: 1px solid #FF6464;
		}
		.btn-delete-prod:focus,
		.btn-delete-prod:active{
		    color: #fff;
		    background-color: #E73939;
		    border: 1px solid #E73939;
		}


/*multiple select*/
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border-radius: 4px;
    cursor: text;
    height: 35px;
    font-family: 'SF-Pro-Text-Regular';
	font-size: 10px;
	color: #4D4D4D;
	border: 1px solid #CBCBCB;
	width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #BBD7B0;
    border: none;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 10px;
    font-family: 'SF-Pro-Text-Regular';
    font-size: 10px;
    color: #4D4D4D;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #0D8E33;
    cursor: pointer;
    display: inline-block;
    font-family: 'SF-Pro-Text-Bold';
    font-size: 12px;
    margin-right: 5px;
}

.form-control.failed{
	border: 1px solid #F66A6A;
	color: #F66A6A;
}

/*modal upload*/ 
.btn-choose-file{ 
  background-color: #FFF; 
  border: 1px solid #0D8E33; 
  color: #0D8E33; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 250px; 
  height: 40px; 
} 
.btn-choose-file:hover{ 
  background-color: #CFE8D6; 
  border: 1px solid #0D8E33; 
  color: #0D8E33; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 250px; 
  height: 40px; 
} 
.btn-choose-file:focus, 
.btn-choose-file:active{ 
  background-color: #CFE8D6; 
  border: 1px solid #0D8E33; 
  color: #0D8E33; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 250px; 
  height: 40px; 
} 
 
.btn-crop{ 
  background-color: #0D8E33; 
  border: 1px solid #0D8E33; 
  color: #FFF; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 100px; 
  height: 40px; 
  margin-left: 10px !important; 
} 
.btn-crop:hover{ 
  background-color: #24B04D; 
  border: 1px solid #24B04D; 
  color: #FFF; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 100px; 
  height: 40px; 
} 
.btn-crop:focus, 
.btn-crop:active{ 
  background-color: #24B04D; 
  border: 1px solid #24B04D; 
  color: #FFF; 
  font-family: 'SF-Pro-Text-Bold'; 
  font-size: 12px; 
  width: 100px; 
  height: 40px; 
} 
 
.img-holder-div{ 
  height: 100%; 
  width: 100%; 
  overflow: hidden; 
  padding: 20px; 
} 
  .img-holder{ 
    width: 100%; 
    height: 100%;   
    overflow: hidden; 
  }