/*users css*/
label{
	color: #ADADAD;
	font-family: 'SF-Pro-Text-Regular';
	display: block;
	font-size: 10px;
}

.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}

.cls-div{
	width: 100%;
	overflow: hidden;
	padding: 0;
	height: auto;
	position: relative;
}
	/*cls menu section*/
	.cls-menu-div{
		float: left;
		height: auto;
		width: 15%;
		overflow: hidden;
		border: none;
		border-right: 1px solid #007B32;
		text-align: right;
		padding: 0px 30px 10px 0;
	}
		.cls-menu-div.fixed{
			position: fixed;
			width: 12.6%;
			top: 20px;
		}
		.cls-menu-div a{
			text-decoration: none;
			display: block;
			color: #4D4D4D;
			margin: 5px 0;
		}
		.cls-menu-div a:hover{
			color: #24B04D;
		}
		.cls-menu-div a.active{
			font-family: 'SF-Pro-Text-Bold';
			color: #0D8E33;
		}
		.cls-menu-div h5{
			margin: 80px 0 0;
			font-size: 10px;
		}
		.cls-menu-div h5 > label{
			color: #ADADAD;
			font-family: 'SF-Pro-Text-Bold';
			display: block;
		}
		.cls-menu-div h5 > span{
			display: block;
		}
	
	.cls-form-div{
		float: left;
		height: 100%;
		overflow: hidden;
		width: 85%;
		padding-left: 80px;
		position: relative;
	}
		.cls-company:nth-child(3n+0){
			margin-left: 15%;
			margin-top: 20px;
		}
		.cls-form-div:nth-child(4n+0){
			margin-left: 15%;
		}
		.cls-form-div:nth-child(5n+0){
			margin-left: 15%;
		}
		.cls-form-div.fixed{
			margin-left: 15%;
		}
		.cls-form{
			float: left;
			width: 55%;
			border: 1px solid #BBD7B0;
			height: 100%;
			overflow: hidden;
		}
		.cls-form:last-child{
			/*margin-top: 10px;*/
		}
		.cls-form-title{
			width: 100%;
			height: auto;
			padding: 5px 30px;
			background-color: #BBD7B0;
			letter-spacing: 1px;
		}
		.cls-form-title h5{
			color: #FFF;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
		}
		.cls-form-body{
			overflow: hidden;
			height: auto;
			padding: 30px;
		}
			.cls-tbl{
				width: 100%;
			}
			.cls-tbl tbody > tr > td{
				vertical-align: middle;
				border: none;
				padding: 15px 15px 0 0;
				font-size: 10px;
				font-family: 'SF-Pro-Text-Regular';
				color: #4D4D4D;
			}
			.cls-tbl tbody > tr:first-child > td{
				padding-top: 0;
			}
			.cls-tbl tbody > tr > td:nth-child(2){
				width: 20%;
			}

			.psev-tbl tbody > tr > td:first-child{
				width: 10%;
			}

			.bu-tbl tbody > tr > td:first-child{
				width: 5%;
			}
			.bu-tbl tbody > tr > td:last-child{
				width: 1%;
			}
			.bu-tbl tbody > tr > td > h4{
				color: #4D4D4D;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 12px;
			}
			.btn-adbu{
				color: #0D8E33;
			}
			.btn-adbu:hover{
				color: #24B04D;
			}
			.btn-adbu:focus,
			.btn-adbu:active{
				color: #007B24;
			}

			.bu-list-tbl tbody > tr > td{
				width: 50% !important;
				vertical-align: middle;
				font-size: 10px;
				font-family: 'SF-Pro-Text-Regular';
				color: #4D4D4D;
			}

			.bkey-list-tbl{width: 100%;}
			.bkey-list-tbl tbody > tr > td{
				width: 50% !important;
				vertical-align: middle;
				font-size: 10px;
				font-family: 'SF-Pro-Text-Regular';
				color: #4D4D4D;
			}
			.btn-unblock{
				color: #0D8E33;
				font-family: 'SF-Pro-Text-Bold';
			}.btn-unblock:hover{
				color: #24B04D;
				text-decoration: none;
			}
			.btn-unblock:focus,
			.btn-unblock:active{
				color: #007B24;
			}
			.btn-remove{
				color: #0D8E33;
				font-family: 'SF-Pro-Text-Bold';
			}.btn-remove:hover{
				color: #24B04D;
				text-decoration: none;
			}
			.btn-remove:focus,
			.btn-remove:active{
				color: #007B24;
			}

			.form-control.tbl-field{
				font-family: 'SF-Pro-Text-Regular';
				font-size: 10px;
				color: #4D4D4D;
				height: 20px;
				text-align: center;
				border: 1px solid #CBCBCB;
			}
			.form-control.standard{
				font-family: 'SF-Pro-Text-Regular';
				font-size: 10px;
				color: #4D4D4D;
				height: 40px;
				border: 1px solid #CBCBCB;
			}

		.cls-form-body h5{
			margin: 0;
			margin-bottom: 20px;
		}
			.cls-bank-name{
				color: #007B32;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 12px;
			} 
			.cls-form-body h5{
				margin: 0;
				margin-bottom: 20px;
				font-family: 'SF-Pro-Text-Bold';
				font-size: 12px;
			}

		.cls-wysiwyg h5{
			color: #4D4D4D;
		}

		.btn-ad{
			position: relative;
			margin-top: -25px;
			margin-right: 10px;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			text-decoration: none;
			color: #007B32;
		}
		.btn-ad:hover{
			text-decoration: none;
			color: #24B04D;
		}
		.btn-ad-ba{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			text-decoration: none;
			color: #007B32;
		}
		.btn-ad-ba:hover{
			text-decoration: none;
			color: #24B04D;
		}
		.btn-db{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			text-decoration: none;
			color: #F55050;
		}
		.btn-db:hover{
			text-decoration: none;
			color: #FF6464 !important;
		}
		.cls-form-btn-ad{
			position: relative;
			margin-top: -25px;
			text-align: right;
			padding: 0;
		}
		.cls-form-btn-ad i{
			color: #007B32;
			font-size: 5px;
			margin-right: 10px;
		}

	/*for users page*/
	.cls-user-div{
		float: left;
		height: 100%;
		overflow: hidden;
		width: 85%;
		padding-left: 30px;
		position: relative;
	}
		.cls-user-div.fixed{
			margin-left: 15%;
		}
		.cls-user{
			float: left;
			width: 50%;
			height: 100%;
			/*overflow: hidden;*/
		}
		.cls-user h5{
			font-family: 'SF-Pro-Text-Bold';
			font-size: 10px;
			color: #4D4D4D;
			border-top: 1px solid #4D4D4D;
			margin: 0 0 10px;
			padding-top: 5px;
		}

		.input-group-addon{
			font-size: 10px;
			font-family: 'SF-Pro-Text-Regular';
			color: #CBCBCB;
			border: 1px solid #CBCBCB;
		}

		/*toggle switch*/
		.onoffswitch{
			width: 100px !important;
		} 
		.toggle-active .onoffswitch-switch{
			width: 22px;
			right: 70px;
		}
		.toggle-active .onoffswitch-inner:before, .onoffswitch-inner:after{
			height: 30px;
		}
		.toggle-active .onoffswitch-label .onoffswitch-inner:before{
			content: "ACTIVE" !important;
			font-size: 12px;
			padding-top: 6px;
		}
		.toggle-active .onoffswitch-label .onoffswitch-inner:after{
			content: "INACTIVE" !important;
			font-size: 12px;
			padding-top: 6px;
		}

		.btn-holder-div{
			width: auto;
			height: auto;
			overflow: hidden;
		}
		.btn-holder{
			float: left;
			width: auto;
			overflow: hidden;
			height: auto;
			margin-right: 1.5%;
		}
		.btn-holder:last-child{
			margin-right: 0;
		}
		.btn-ctype,
		.btn-ctype:hover,
		.btn-ctype:focus,
		.btn-ctype:active{
			margin: 0;
			background-color: #FFF;
			border: 1px solid #C0C0C0;
			color: #C0C0C0;
			height: 22vh;
			border-radius: 5px; 
			width: 11vw;
			text-align: center;
			padding: 20px !important;
			overflow: hidden;
			position: relative;
			color: #C0C0C0;
		}
		.btn-ctype.active{
			margin: 0;
			background-color: #F3F8F5;
			border: 1px solid #0D8E33;
			color: #C0C0C0;
			height: 22vh;
			border-radius: 5px; 
			width: 11vw;
			text-align: center;
			padding: 20px !important;
			overflow: hidden;
			position: relative;
			color: #0D8E33;
		}
		.btn-ctype img{
			display: block;
			height: 8vh;
			width: auto;
		}
		.btn-ctype h4{
			display: block;
			font-family: 'SF-Pro-Text-Regular';
			font-size: 10px;
			margin-top: 30px;
			letter-spacing: 1px;
		}

		.upload-icon-div {
		    float: left;
		    width: 20%;
		    height: 100%;
		    background-color: #EEEEEE;
		    border-right: 1px solid #CCCCCC;
		    text-align: center;
		    padding-top: 9px;
		    color: #979797;
		}
		.file-close-div {
		    width: 80%;
		    float: right;
		    height: 100%;
		    padding: 0 10px !important;
		    color: #007B32;
		    overflow: hidden;
		}
		.progress {
		    height: 10px;
		     margin: 2px 0 0 0; 
		    width: 80%;
		    overflow: hidden;
		    background-color: #f5f5f5;
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		}
		.btn-remove-file {
		    color: #0D8E33;
		    margin-top: -25px !important;
		}

		.btn-aa{
			color: #0D8E33;
			font-size: 12px;
			font-family: 'SF-Pro-Text-Bold';
			text-decoration: none !important;
		}
		.btn-delete-cp{
			color: #0D8E33;
			font-size: 10px;
			font-family: 'SF-Pro-Text-Bold';
			text-decoration: none !important;
		}
		.btn-aa:hover,
		.btn-delete-cp:hover{
			color: #24B04D;
		}
		.btn-aa:focus,.btn-delete-cp:focus,
		.btn-aa:active,.btn-delete-cp:active{
			color: #007B24;
		}

		.alert-verified{
			height: 40px;
			background-color: #BFDEC9;
			color: #92CAA3;
			font-size: 12px;
			font-family: 'SF-Pro-Text-Bold';
			border-radius: 5px;
			padding: 11px 10px;
			width: 150px;
			text-align: center;
			letter-spacing: 1px;
			position: absolute;
			margin-left: 38vw;
			margin-top: -45px;		
		}

		.btn-verify{
			height: 40px;
			background-color: #FFF;
			border: 1px solid #007B32;
			color: #007B32;
			font-size: 12px;
			font-family: 'SF-Pro-Text-Bold';
			border-radius: 5px;
			padding: 11px 10px;
			width: 150px;
			text-align: center;
			letter-spacing: 1px;
			position: absolute;
			margin-left: 38vw;
			margin-top: -45px;
		}
		.btn-verify:hover{
			background-color: #CFE8D6;
			border: 1px solid #007B32;
			color: #007B32;
		}
		.btn-verify:focus,
		.btn-verify:active{
			background-color: #CFE8D6;
			border: 1px solid #007B32;
			color: #007B32;
		}

	.cls-buttons{
		width: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
		.btn-ac,
		.btn-na{
		    color: #fff;
		    background-color: #0D8E33;
		    border: 1px solid #0D8E33;
		}
		.btn-ac:hover,
		.btn-na:hover{
		    color: #fff;
		    background-color: #24B04D;
		    border: 1px solid #24B04D;
		}
		.btn-ac:focus,.btn-na:focus,
		.btn-ac:active,.btn-na:active{
		    color: #fff;
		    background-color: #007B24;
		    border: 1px solid #007B24;
		}

		.btn-du{
		    color: #fff;
		    background-color: #F55050;
		    border: 1px solid #F55050;
		    width: 100%;
		    height: 35px;
		    font-family: 'SF-Pro-Text-Bold';
		    color: #FFF;
		    font-size: 12px;
		}
		.btn-du:hover{
		    color: #fff;
		    background-color: #FF6464;
		    border: 1px solid #FF6464;
		}
		.btn-du:focus,
		.btn-du:active{
		    color: #fff;
		    background-color: #E73939;
		    border: 1px solid #E73939;
		}

		.btn-cancel{
			width: 100%;
			color: #fff !important;
			font-family: 'SF-Pro-Text-Bold';
			font-size: 12px;
			height: 35px;
		    background-color: #6C6C6C;
		    border: 1px solid #6C6C6C;
		}
		.btn-cancel:hover{
			color: #fff;
		    background-color: #A8A8A8;
		    border: 1px solid #A8A8A8;
		}
		.btn-cancel:focus,
		.btn-cancel:active{
		    color: #fff;
		    background-color: #ADADAD;
		    border: 1px solid #ADADAD;
		}

/*calendar ui*/
.ui-datepicker{
	width: 100%;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all { 
	border: none !important; 
	padding: 0; 
	margin: 0; 
	list-style: none;
	text-align: left;
	background-color: #fff;
	/*border: none;*/
	box-shadow: none; 
	background-clip: padding-box;
}

/*datepicker header - month and year*/
.ui-datepicker-month{
	font-family: 'SF-Pro-Text-Bold';
	font-size: 20px;
	color: #A8A8A8;
	text-transform: uppercase;
}
.ui-datepicker-year{
	font-family: 'SF-Pro-Text-Regular' !important;
	font-size: 20px;
	color: #A8A8A8;
	text-transform: uppercase;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-widget-header .ui-icon{
	background-image: none !important;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}
 
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{
	background-image: url("../../img/back.png") !important;
	background-color: #24B04D !important;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-state-default{
	font-family: 'SF-Pro-Text-Regular' !important;
	color: #A8A8A8 !important;
	padding: 15px !important;
}
/*.ui-state-highlight{
	background-color: #fff !important;
	color: #0D8E33 !important;
	font-family: 'SF-Pro-Text-Bold' !important;
}*/
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a{
	background-color: #F55050;
	border: none !important;
	color: #FFF !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border: none !important;
}
.ui-datepicker-calendar thead th{
	padding: 15px;
}