<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-green <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="New Brand" id="btnNewBrand">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="brandsTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:55%;">Brand</th>
                        <th style="width:15%;">Logo</th>
                        <th style="width:15%;">Last Updated</th>
                        <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial("brands/modal"); ?>

<script>
    
$.post(BASE_URL+'brands/getBrandList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.brand_id+'">'+entry.brand_name+'</span>');
        content_row.push('<div class="table-image-lg" data-id="'+entry.brand_image_url+'"><img src="'+STOREFRONT_URL+'img/brands/'+entry.brand_image_url+'"></div>');
        content_row.push(entry.modified_on);
        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
        content_array.push(content_row);
    });
            
    $('#brandsTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3] }],       
        "data": content_array
    });
    
    var table = $('#brandsTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });
    
<?php if ($this->session->LPMADMINACCESS['products'] < 2){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?>      

}); 

$(document).on('click', '#btnNewBrand', function(){
    $('#modalNewBrand').modal('show');
});

$(document).on('click', '.editLink', function(){
    $('#modalEditBrand').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var brand_name = $(this).closest('tr').find(".row_id").text();
    
    $('#modalEditBrand [name="brand_id"]').val(row_id);
    $('#modalEditBrand [name="brand_name"]').val(brand_name);  
    
});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteBrand').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var brand_name = $(this).closest('tr').find(".row_id").text();
    
    $('#modalDeleteBrand [name="brand_id"]').val(row_id);
    $('#modalDeleteBrand .brand-name').text(brand_name);     
});

//get response on form submit
$('form').submit(function(e){
    var this_form = $(this).form;
    //initialize errors var
    var errors = '';
    
    //validation list 
    if (this_form.$('[name="brand_name"]').val() == ""){
        errors += 'Brand Name is required.\n';
    } 
    if (this_form.$('[name="brand_image_url"]').val() == ""){
        errors += 'Brand Image is required.\n';
    }     
    
    //form submission and prevent submit if any errors are found
    if (errors.length){
        alert(errors);
        e.preventDefault();
        return false;    
    } else {
        var form_data = new FormData($(this).form);
        $.post($(this).attr('action'), form_data, function(response) { console.log(response);
            if (response !== 'success'){
                alert(response);
            } else {           
                window.location.href = '<?=BASE_URI;?>brands';
            }
        });
        return false;
    }
});

</script>