<!-- modal for brands -->

<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteBrand">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>brands/deleteBrand"> 
                <input type="hidden" name="brand_id" value="">     
                <h5>
                    Are you sure you want to delete brand
                    <<span class="brand-name"></span>>?
                </h5>
                    <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;" value="Yes, I'm sure">
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- modal for add brand -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNewBrand">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            <form role="form" method="post" action="<?= BASE_URI;?>brands/saveNewBrand" enctype="multipart/form-data"> 
            <div class="modal-body form-div">
                <h5>Add New Brand</h5>
                
                <div class="col-sm-12" style="padding:0;margin-bottom:10px;">
                    <label>Brand Name</label>
                    <input type="text" class="form-control modal-field" name="brand_name">
                </div>

                <div class="col-sm-12" style="padding:0;">
                    <label>Upload Icon</label>
                    <input type="file" class="form-control filestyle" name="brand_image_url">                     
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <input type="submit" class="btn btn-success btn-sup" value="Submit">
                    <a class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
                </div>
            </div>
            </form>    
        </div>
    </div>
</div>

<!-- modal for edit brand -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEditBrand">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">
            <form role="form" method="post" action="<?= BASE_URI;?>brands/editBrand" enctype="multipart/form-data"> 
            <input type="hidden" name="brand_id">    
            <div class="modal-body form-div">
                <h5>Edit Brand</h5>

                <div class="col-sm-12" style="padding:0;margin-bottom:10px;">
                    <label>Brand Name</label>
                    <input type="text" class="form-control modal-field" name="brand_name">
                </div>

                <div class="col-sm-12" style="padding:0;">
                    <label>Upload Icon</label>
                    <input type="file" class="form-control filestyle" name="brand_image_url">
                </div>

                <div class="col-sm-12" style="padding:0;margin-top:20px;">
                    <input type="submit" class="btn btn-success btn-sup" value="Submit">
                    <a class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</a>
                </div>
            </div>
            </form>    
        </div>
    </div>
</div>

<script>
    $(".filestyle").filestyle({
        text: "Browse"
    });
</script>  