<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                        <input type="submit" id="btnNewCategory" class="btn btn-green <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="New Category">
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="categoryTable" class="table" style="width:100%;">
                    <thead> 
			<th style="width:65%;">Category Name</th>
                        <th style="width:20%;">Last Updated</th>
                        <th style="width:15%;">&nbsp;</th> 
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>

<?php $this->partial('categories/modal_category'); ?>

<script>    
$.post(BASE_URL+'categories/getCategoryList',"",function(data){
    data = $.parseJSON(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.category_id+'">'+entry.category_name+'</span>');
        content_row.push(entry.modified_on);
        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editLink">Edit</a><a class="delLink">Delete</a></div>');
        content_array.push(content_row);
    });
            
    $('#categoryTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [2] }],
        "order": [[ 0, "asc" ]],
        "data": content_array
    });
    
    var table = $('#categoryTable').DataTable();
    
//redraw datatable based on search input
    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });
    
<?php if ($this->session->LPMADMINACCESS['products'] < 2){?>
table.$('.hidden-col').addClass('hidden');
<?php } ?>    

});  

$(document).on('click', '#btnNewCategory', function(){
	console.log('clicked');
    $('#modalNewCategory').modal('show'); //modal show when page loaded
});

$(document).on('click', '.editLink', function(){
    $('#modalEditCategory').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var category_name = $(this).closest('tr').find(".row_id").text();
    var group_id = $(this).closest('tr').find(".group_id").attr('data-id');
    
    $('#modalEditCategory [name="category_id"]').val(row_id);
    $('#modalEditCategory [name="category_name"]').val(category_name);
    $('#modalEditCategory [name="group_id"]').val(group_id);    
    
});

$(document).on('click', '.delLink', function(){
    $('#modalDeleteCategory').modal('show'); //modal show when page loaded
    var row_id = $(this).closest('tr').find(".row_id").attr('data-id');
    var category_name = $(this).closest('tr').find(".row_id").text();
    
    $('#modalDeleteCategory [name="category_id"]').val(row_id);
    $('#modalDeleteCategory .category_name').text(category_name);    
});

//get response on form submit
$('form').submit(function(){
    
    var form_data = $(this).serialize();
    $.post($(this).attr('action'), form_data, function(response) {
        if (response !== 'success'){
            alert(response);
        } else {           
            window.location.href = '<?=BASE_URI;?>categories';
        }
    });
    return false;

});

</script>