<!-- modal confirmation message -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeleteCategory">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">

            <div class="modal-body error-msg-div">
                <form role="form" method="post" action="<?= BASE_URI;?>categories/deleteCategory"> 
                    <input type="hidden" name="category_id" value="">
                    <h5>
                        Are you sure you want to delete category
                        <<span class="category_name"></span>>?
                    </h5>
                    <input type="submit" class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;" value="Yes, I'm sure">
                    <button class="btn btn-default btn-cancel" data-dismiss="modal" style="width:250px;">Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- modal for add category -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNewCategory">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <h5>Add New Category</h5>
                <form role="form" method="post" action="<?= BASE_URI;?>categories/saveNewCategory">                      
                    <div class="col-sm-12" style="padding:0;">
                        <label>Category Name</label>
                        <input type="text" class="form-control modal-field req-fld" name="category_name" value="">
                    </div>
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <input type="submit" class="btn btn-success btn-sup" value="Save">
                        <button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>    
            </div>

        </div>
    </div>
</div>

<!-- modal for edit category -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalEditCategory">
    <div class="modal-dialog standard-dialog modal-sm" style="width:400px;">
        <div class="modal-content modal-standard">

            <div class="modal-body form-div">
                <h5>Edit Category</h5>
                <form role="form" method="post" action="<?= BASE_URI;?>categories/editCategory">  
                    <input type="hidden" name="category_id" value="">
                    <div class="col-sm-12" style="padding:0;">
                        <label>Category Name</label>
                        <input type="text" class="form-control modal-field req-fld" name="category_name" value="">
                    </div>            
                    <div class="col-sm-12" style="padding:0;margin-top:20px;">
                        <input type="submit" class="btn btn-success btn-sup" value="Save">
                        <button class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>    
            </div>

        </div>
    </div>
</div>