<style>
    .dataTables_filter {display: none;}
    .alert-pominqty{
        background-color: #CFE8D6;
        border: none;
        border-radius: 3px;
        padding: 10px;

        color: #4D4D4D;
        font-family: 'SF-Pro-Text-Regular' !important;
        font-size: 10px;
        position: absolute;
        margin-top: -26px;
        margin-left: 6vw;
        display: block;
    }
    .alert-pominqty i{
        display: block;
        margin-bottom: 1vh;
        color: #007B24;
    }

    .form-control.failed{
        border: 1px solid #F66A6A;
        color: #F66A6A;
    }    
    
</style>
<link rel="stylesheet" href="<?= BASE_URI; ?>css/autocomplete.css">
<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">

        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>

        <div class="form-holder">

            <!-- form like div -->
            <div class="form-content">
                <!-- form header -->
                <table class="fheader-tbl">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Create Quotation</h5>
                            </td>
                            <td class="text-right">Date</td>
<!--                            <td class="text-right"><span><?= substr($inquiry->datetime_created, 0, 10); ?></span></td>-->
                            <td class="text-right"><span><?=date('Y-m-d');?></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="inquiry-no"><?= $inquiry->reference_number; ?></h5>
                            </td>
                            <td class="text-right" style="vertical-align:middle;">Valid Until</td>
                            <td>
                                <input type="text" id="input_valid_until" class="form-control small text-right pull-right datepicker" style="vertical-align:middle;" onkeydown="return false;" value="<?= $valid_until_date; ?>">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- account info -->
                <table class="faccount-tbl" style="margin-top:40px;">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <span class="form-label">COMPANY NAME</span>
                    <h5 class="fcompany-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                    </th>
                    <th style="width:40%;">
                        <!-- change to pick up if the user chose pick up in delivery option -->
                        <span class="fstatus"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></span> <!-- add min-qty class when order qty is minimum -->
                        <a data-id="<?= $inquiry->for; ?>" class="pull-right btn-ctp">Change to <?= ($inquiry->for == 1) ? "Pickup" : "Delivery"; ?></a>
                    </th>
                    </tr>
                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="company-address <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">COMPANY ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    } ?> 
                                    <?php echo $city->name; ?> <br>
<?php echo $province->name; ?> <br>
<?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is company -->
                            <div class="contact-section <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide when account is company -->
                            <div class="personal-address <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    } ?> 
<?php echo $city->name; ?> <br>
<?php echo $province->name; ?> <br>
<?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is personal -->
                            <div class="contact-section <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide content (not the td) when user chose pick up in delivery option -->
                            <div class="delivery-address <?php if ($inquiry->for !== "1") {
    echo 'hidden';
} ?>">
                                <span class="form-label ">DELIVERY ADDRESS</span>
                                <h5 class="fdelivery-info">
                                    <?php if ($inquiry->for == "1") { ?>
                                        <?php echo $delivery_address->address; ?>  <br>
                                        <?php if ($delivery_address->address_2 != "") {
                                            echo $delivery_address->address_2 . "</br>";
                                        } ?> 
                                        <?php echo $delivery_city->name; ?> <br>
                                        <?php echo $delivery_province->name; ?> <br>
    <?php echo $delivery_region->name; ?>
<?php } else { ?>
    <?php echo $address->address1; ?>  <br>
    <?php if ($address->address2 != "") {
        echo $address->address2 . "</br>";
    } ?> 
    <?php echo $city->name; ?> <br>
    <?php echo $province->name; ?> <br>
    <?php echo $region->name; ?>
<?php } ?>
                                </h5>
                            </div>
                        </td>
                    </tr>
                    </tbody>	
                </table>

                <!-- inquiry list - details -->
                <div class="form-orders-div">
                    <div class="fo-title">INQUIRY LIST</div>

                    <div class="fo-list-div">

                        <div class="inquiry-list-div">
                            <table class="si-tbl">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>ITEM NAME</th>
                                        <th class="text-right">QUANTITY</th>
                                        <th class="text-right">UOM</th>
                                    </tr>
                                </thead>
                                <tbody>
<?php
$i = 0;
$subtotal = 0;
foreach ($items as $item) {
    $i += 1;
    //$subtotal += $item->total_amount;
    ?>
                                        <tr>
                                            <td style="vertical-align:middle;padding:2px 5px 2px 0;"><?php echo $i; ?></td>
                                            <td style="vertical-align:middle;padding:2px 5px 2px 0;">
                                                <h5 class="fo-prod-details">
                                                    <span class="fop-name"><?= $item->name; ?></span>
                                                </h5>
                                            </td>
                                            <td class="text-right" style="vertical-align:middle;padding:2px 5px 2px 0;"><?= $item->qty; ?></td>
                                            <td class="text-right" style="vertical-align:middle;padding:2px 5px 2px 0;"><?= $item->uom; ?></td>
                                        </tr>
<?php } ?>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <!-- order - details -->
                <div class="form-orders-div">
                    <div class="fo-title">ITEM LIST</div>

                    <div class="fo-list-div">

                        <div class="col-sm-12" style="padding:0;margin-bottom:30px;">
                            <input type="text" class="form-control searchbox" placeholder="Search for a brand, product, or size then hit enter to add">
                            <span class="cq-search-icon" style="margin-top: -28px;"><i class="fa fa-search fa-2x"></i></span>
                        </div>

                        <table id="prodKindsTbl" class="si-tbl">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th colspan="2">ITEM NAME</th>
                                    <th class="text-right">UNIT PRICE</th>
                                    <th class="text-right">QUANTITY</th>
                                    <th class="text-right">UOM</th>
                                    <th class="text-right">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right" style="border-right:none !important;">
                                        <span>SUBTOTAL</span>
                                    </td>
                                    <td colspan="1" class="text-right" style="border-left:none !important; border-right:none !important;">
                                        <span class="order-total">0.00</span>
                                    </td>
                                    <td colspan="1" style="border-left:none !important;"></td>
                                </tr>
                            </tfoot>
                        </table>						
                    </div>
                </div>

                <div id="oltaDiv" class="col-sm-12 hidden" style="padding:0;">
                    <div class="olta-div">
                        <h5><i class="fa fa-exclamation-triangle"></i> ORDER LEAD TIME ALERT</h5>

                        <ul id="alertItemList">

                        </ul>
                    </div>
                </div>

                <label>REMARKS</label>
                <textarea id="inquiryRemarks" class="form-control remarks" rows="4" readonly><?= $inquiry->remarks ?></textarea>

                <div class="form-btns">
                    <button class="btn btn-cancel">Cancel</button>

                    <button class="btn btn-sqta <?= ($this->session->LPMADMINACCESS['orders'] < 2) ? "hidden" : ""; ?>" disabled>Send Quotation</button>
                </div>
            </div>
        </div>

    </div>
</div>

<?php $this->partial('special_inquiries/modal'); ?>

<script type="text/javascript">

    var pricing_hash = {};
<?php
foreach ($products_pricing_array as $pricing) {
    $use1 = $ctype . "price1";
    $use2 = $ctype . "price2";
    $use3 = $ctype . "price3";
    if ($pricing->mode == 1) {
        ?>

            pricing_hash[<?= $pricing->kind_id; ?>] = {};
            pricing_hash[<?= $pricing->kind_id; ?>]['increment'] = <?= $pricing->increment; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty1'] = <?= $pricing->min_qty1; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty2'] = <?= $pricing->min_qty2; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty3'] = <?= $pricing->min_qty3; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price1'] = <?= floatval($pricing->$use1) + floatval($pricing->base); ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price2'] = <?= floatval($pricing->$use2) + floatval($pricing->base); ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price3'] = <?= floatval($pricing->$use3) + floatval($pricing->base); ?>;

    <?php } else { ?>

            pricing_hash[<?= $pricing->kind_id; ?>] = {};
            pricing_hash[<?= $pricing->kind_id; ?>]['increment'] = <?= $pricing->increment; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty1'] = <?= $pricing->min_qty1; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty2'] = <?= $pricing->min_qty2; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['qty3'] = <?= $pricing->min_qty3; ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price1'] = <?= floatval($pricing->base) + round(floatval($pricing->base) * (floatval($pricing->$use1) / 100),2); ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price2'] = <?= floatval($pricing->base) + round(floatval($pricing->base) * (floatval($pricing->$use2) / 100),2); ?>;
            pricing_hash[<?= $pricing->kind_id; ?>]['price3'] = <?= floatval($pricing->base) + round(floatval($pricing->base) * (floatval($pricing->$use3) / 100),2); ?>;

    <?php } ?>

<?php } ?>

// if user already use their inquiry limit, show this modal
    $(document).on('click', '#btnDeclineRequest', function () {
        $('#modalDeclineRequest').modal('show');
    });

    var item_counter = 1;
    $('.searchbox').devbridgeAutocomplete({
        lookupLimit: 10,
        preserveInput: false,
        showNoSuggestionNotice: true,
        noSuggestionNotice: "No results.",
        triggerSelectOnValidInput: false,
        serviceUrl: BASE_URL + "special_inquiries/search",
        formatResult: function (suggestion, currentValue) {
            if (suggestion.type == 1) {
                return '<a>' +
                        '<table class="ac-search-tbl">' +
                        '<tbody><tr>' +
                        '<td><img src="' + STOREFRONT_URL + 'product_images/' + suggestion.image + '"/></td>' +
                        '<td><span class="ac-prod-name">' + suggestion.product_name + '</span><span class="ac-prod-size">' + suggestion.preview + ' | ' + suggestion.measurement + ' | ' + suggestion.color + '</span></td>' +
                        '</tr></tbody>' +
                        '</table></a>';
            } else if (suggestion.type == 2) {
                return '<a>' +
                        '<table class="ac-search-tbl">' +
                        '<tbody><tr>' +
                        '<td><img src="' + STOREFRONT_URL + 'img/' + suggestion.image + '"/></td>' +
                        '<td><span class="ac-prod-name">' + suggestion.preview + '</span></td>' +
                        '</tr></tbody>' +
                        '</table></a>';
            } else {
            }
        },
        onSelect: function (suggestion) {
            //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
            var html_content = "";
            html_content = '<tr data-id="' + suggestion.data + '"><td class="item-counter">' + item_counter + '</td><td><img class="fo-img" src="' + STOREFRONT_URL + 'product_images/' + suggestion.image + '"></td><td><h5 class="fo-prod-details">' +
                    '<span class="fop-name">' + suggestion.product_name + '</span><span class="fop-size">' + suggestion.preview + ' | ' + suggestion.measurement + ' | ' + suggestion.color + '</span></h5></td>' +
                    '<td><input type="text" class="form-control small text-right num-only-field unit-price" value="' + pricing_hash[suggestion.data]['price1'] + '" readonly></td>' +
                    '<td><input type="text" class="form-control small text-right num-only-field unit-qty" value="' + pricing_hash[suggestion.data]['qty1'] + '" data-inc="' + pricing_hash[suggestion.data]['increment'] +
                    '" data-min="' + pricing_hash[suggestion.data]['qty1'] + '" data-id="' + suggestion.data + '"><label class="alert-pominqty hidden">' +
                    '<i class="fa fa-exclamation-circle fa-1x"></i>Minimum Quantity: ' + pricing_hash[suggestion.data]['qty1'] + '<br>Increments: ' + pricing_hash[suggestion.data]['increment'] +
                    '</label></td><td class="text-right unit-uom">' + suggestion.uom + '</td><td class="text-right sub-total-row">' + (parseFloat(pricing_hash[suggestion.data]['price1']) * pricing_hash[suggestion.data]['qty1']) + '</td><td><a class="delete-row"><i class="fa fa-trash"></i></a></td></tr>';
            $('#prodKindsTbl tbody').append(html_content);
            item_counter++;

            if (suggestion.prepaid == 1)
            {
                $('#oltaDiv').removeClass('hidden');
                html_content = '<li data-id="' + suggestion.data + '">Item “<span class="olta-prod-name">'+suggestion.product_name+' '+ suggestion.value + ' | ' + suggestion.measurement + ' | ' + suggestion.color + '</span>” will take ' + suggestion.lead_time + ' business day/s to deliver after <u>cleared full payment</u> is made.</li>';
                $('#alertItemList').append(html_content);
            }
            compute();
            
            if ($('#prodKindsTbl tbody').children().length > 0)
                $('.btn-sqta').removeAttr('disabled');

            $(".num-only-field").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1});
            $('.searchbox').val("");
        }
    });

    function compute() {

        var subtotal = 0;
        $('#prodKindsTbl tbody tr').each(function () {
            var unit_price = $(this).find('.unit-price').val();
            var unit_qty = $(this).find('.unit-qty').val();
            var sub_total_row = unit_price * unit_qty;
            $(this).find('.sub-total-row').html(sub_total_row.toLocaleString());

            subtotal += sub_total_row;

        });
        $('.order-total').html(subtotal.toLocaleString());
    }
    ;

    $(document).on('click', '.btn-sqta', function () {
        $(this).prop('disabled','disabled');
        var button = $(this);
		var sub_total = 0;

        var kinds_array = [];
        $('#prodKindsTbl tbody tr').each(function () {
            var kinds_row = [];
            var kind_id = $(this).attr('data-id');
            var unit_price = $(this).find('.unit-price').val();
            var unit_qty = $(this).find('.unit-qty').val();
            var unit_uom = $(this).find('.unit-uom').html();
            var sub_total_row = unit_price * unit_qty;

            kinds_row.push(kind_id);
            kinds_row.push(unit_price);
            kinds_row.push(unit_qty);
            kinds_row.push(unit_uom);
            kinds_row.push(sub_total_row);
            kinds_array.push(kinds_row);
			sub_total += sub_total_row;
        });


        var params = {
            special_inquiry_id: <?= $inquiry->id ?>,
            valid_until: $('#input_valid_until').val(),
            inquiry_for: $('.btn-ctp').attr('data-id'),
            kinds_array: kinds_array,
			sub_total: sub_total,
        };
        console.log(params);
        $.post(BASE_URL + 'special_inquiries/createInquiry', params, function (data) {
            if (data == "Success")
            {
                window.location.href = BASE_URL + "inquiry";
            }
            else if (data == "Not Allowed")
            {
                $('#modalDeclineRequest').modal('show');
            }
            else
            {
                alert(data);
                button.removeAttr("disabled");

                if (data == "Not Eligible for Delivery")
                {
                    $('.fstatus').css('color', 'red');
                }
            }
        });



    });

    $(document).on('click', '.btn-cancel', function () {
        window.location.href = BASE_URL + "special_inquiries/si_form?id=<?= $inquiry->reference_number ?>";
    });

    $(document).on('click', '.delete-row', function () {
        var kind_id = $(this).closest('tr').attr('data-id');

        $(this).closest('tr').remove();
        compute();

        //reset counter;
        console.log($('#prodKindsTbl tbody').children().length);
        item_counter = 0;
        $('#prodKindsTbl tbody tr').each(function () {
            item_counter++;
			$(this).find('.item-counter').html(item_counter);
            
        });
		item_counter++;

        $('#alertItemList li').each(function () {
            if ($(this).attr('data-id') == kind_id)
                $(this).remove();
        });
		
		console.log($('#alertItemList').children().length);
		if ($('#alertItemList').children().length == 0) $('#oltaDiv').addClass('hidden');

        if ($('#prodKindsTbl tbody').children().length == 0)
            $('.btn-sqta').attr('disabled', 'disabled');
    });

    var orig_inquiry_for = <?= $inquiry->for ?>;
    $(document).on('click', '.btn-ctp', function () {
        var inquiry_for_id = $(this).attr('data-id');

        if (inquiry_for_id == 1)
        {
            $(this).attr('data-id', 2);

            $(this).html("Change to Delivery");
            $('.fstatus').html("FOR PICKUP");


            $('.delivery-address').addClass("hidden");
        }
        else
        {
            $(this).attr('data-id', 1);

            $(this).html("Change to Pickup");
            $('.fstatus').html("FOR DELIVERY");

            $('.delivery-address').removeClass("hidden");

        }
    });

    $(document).on('click', '.btn-okay', function () {
        //console.log('drqst');

        var params = {
            inquiry_id: <?= $inquiry->id ?>,
        };

        $.post(BASE_URL + 'special_inquiries/decline', params, function (data) {
            if (data == "Success")
            {
                window.location.href = BASE_URL + "special_inquiries";
            }
            else
            {
                alert(data);
            }
        });
    });

    $(document).on('focus', '.unit-qty', function () {
        $('.alert-pominqty').addClass('hidden');
        $(this).closest('tr').find('.alert-pominqty').removeClass('hidden');

    });

    $(document).on('focusout', '.unit-qty', function () {
        $('.alert-pominqty').addClass('hidden');
        //$(this).closest('div').find('.alert-pominqty').removeClass('hidden');

    });

    $(document).on('keyup', '.unit-qty', function () {
        var disable_btn = false;
        var quantity = $(this).val();
        var increment = $(this).attr('data-inc');
        var minqty = $(this).attr('data-min');
        var kind_id = $(this).attr('data-id');

        $(this).removeClass('failed');

        if ((parseInt(quantity) - parseInt(minqty)) % increment != 0) {
            disable_btn = true;
            $(this).addClass('failed');
            console.log("modulo");
        }

        if (parseInt(quantity) < parseInt(minqty)) {
            disable_btn = true;
            $(this).addClass('failed');
        }

        var row_total = 0;

        if (quantity >= pricing_hash[kind_id]['qty3'])
        {
            //console.log("3 " + pricing_hash[kind_id]['price3'].toFixed(2));
            $(this).closest('tr').find('.unit-price').val(parseFloat(pricing_hash[kind_id]['price3']).toFixed(2));

        }
        else if ((quantity >= pricing_hash[kind_id]['qty2']) && (quantity < pricing_hash[kind_id]['qty3']))
        {
            //console.log("2 " + pricing_hash[kind_id]['price2'].toFixed(2));
            $(this).closest('tr').find('.unit-price').val(parseFloat(pricing_hash[kind_id]['price2']).toFixed(2));

        }
        else
        {
            //console.log("1");
            $(this).closest('tr').find('.unit-price').val(parseFloat(pricing_hash[kind_id]['price1']).toFixed(2));

        }
        compute();
        //$('.num-only-field').trigger('keyup');

        if (disable_btn == true)
        {
            $('.btn-sqta').attr('disabled', 'disabled');
        }
        else
        {
            $('.btn-sqta').removeAttr('disabled');
        }

    });

    var dateToday = new Date();
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: dateToday
    });
</script>
