<!-- modal inquiry limit -->
<div class="modal standard-modal fade bs-example-modal-sm" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalDeclineRequest">
    <div class="modal-dialog standard-dialog modal-sm" style="width:450px;">
        <div class="modal-content modal-standard">
            
            <div class="modal-body error-msg-div">
                <h5>
                    Sorry, this customer can no longer accommodate new inquiries.
                </h5>
                <button class="btn btn-danger btn-red btn-okay" style="width:250px;margin-bottom:10px;">Decline Quotation</button>
            </div>
            
        </div>
    </div>
</div>