<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content hide-print">

        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>

        <div class="form-holder">
            <!-- prev-next buttons -->
            <div class="form-pn-btns-div">
                <div class="col-sm-12" style="padding:0;">

                    <div class="col-sm-6" style="padding:0;">
                        <?php if ($inquiry->archive_flag == '1'){$hrefval=BASE_URI."archived/special_inquiries";}else{$hrefval=BASE_URI."special_inquiries";}?>
                        <a class="btn-rttpn" href="<?= $hrefval;?>">< Return to Table</a>                        
                    </div>
                    <?php $idArr = $this->session->get('idArr');
                          $idPos = array_search($inquiry->reference_number, $idArr);
                          $prevId = $idArr[$idPos - 1];
                          $nextId = $idArr[$idPos + 1];
                    ?>
                    <div class="col-sm-6 text-right <?php if ($inquiry->archive_flag == '1'){echo'hidden';}?>" style="padding:0;">
                        <a class="btn-rttpn <?php if ($prevId == false) {echo "hidden";}?>" style="margin-right:50px;" href="<?= BASE_URI; ?>special_inquiries/si_form?id=<?= $prevId;?>">< Prev</a>
                        <a class="btn-rttpn <?php if ($nextId == false) {echo "hidden";}?>" href="<?= BASE_URI; ?>special_inquiries/si_form?id=<?= $nextId;?>">Next ></a>
                    </div>

                </div>
            </div>

            <!-- form like div -->
            <div class="form-content">
                <!-- form header -->
                <table class="fheader-tbl">
                    <tbody>
                        <tr>
                            <td>
                                <h5>Special Inquiry</h5>
                                <?php if ($inquiry->archive_flag == '1'){
                                   echo '<label class="label label-red fstatus-label pull-right">ARCHIVED</label>';
                                }?>                                
                            </td>
                            <td class="text-right">Date</td>
                            <td class="text-right"><span><?= substr($inquiry->datetime_created, 0, 10); ?></span></td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="inquiry-no"><?= $inquiry->reference_number; ?></h5>
                            </td>
                            <td class="text-right"></td>
                            <td class="text-right"><span></span></td>
                        </tr>
                    </tbody>
                </table>

                <!-- account info -->
                <table class="faccount-tbl" style="margin-top:40px;">
                    <tbody>
                        <tr>
                            <th colspan="2">
                                <span class="form-label">COMPANY NAME</span>
                            <h5 class="fcompany-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                            </th>
                            <th>
                                <!-- change to pick up if the user chose pick up in delivery option -->
                                <span class="fstatus"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></span> 
                            </th>
                        </tr>
                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="company-address <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">COMPANY ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php
                                    if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    }
                                    ?> 
                                    <?php echo $city->name; ?> <br>
                                    <?php echo $province->name; ?> <br>
                                    <?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is company -->
                            <div class="contact-section <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide when account is company -->
                            <div class="personal-address <?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <span class="form-label">HOME ADDRESS</span>
                                <h5 class="faddress-info">
                                    <?php echo $address->address1; ?>  <br>
                                    <?php
                                    if ($address->address2 != "") {
                                        echo $address->address2 . "</br>";
                                    }
                                    ?> 
                                    <?php echo $city->name; ?> <br>
                                    <?php echo $province->name; ?> <br>
                                    <?php echo $region->name; ?>
                                </h5>
                            </div>

                            <!-- hide when account is personal -->
                            <div class="contact-section <?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <span class="form-label">REPRESENTATIVE</span>
                                <table class="fcontact-info">
                                    <tbody>
                                        <tr>
                                            <td class="fc-label">Name</td>
                                            <td><?= $user->first_name . " " . $user->last_name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Mobile</td>
                                            <td><?= ($user->mobile_number) ? $user->mobile_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Office</td>
                                            <td><?= ($user->office_number) ? $user->office_number : "-"; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="fc-label">Fax</td>
                                            <td><?= ($user->fax_number) ? $user->fax_number : "-"; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <span class="form-label <?php if ($inquiry->for !== "1"){echo 'hidden';}?>">DELIVERY ADDRESS</span>
                            <h5 class="fdelivery-info">
                                <?php if ($inquiry->for == "1") { ?>
                                    <?php echo $delivery_address->address; ?>  <br>
                                    <?php if ($delivery_address->address_2 != "") {
                                        echo $delivery_address->address_2 . "</br>";
                                    } ?> 
                                <?php echo $delivery_city->name; ?> <br>
                                <?php echo $delivery_province->name; ?> <br>
                                <?php echo $delivery_region->name; ?>
                                <?php } ?>
                            </h5>
                        </td>
                    </tr>
                    </tbody>	
                </table>

                <!-- order - details -->
                <div class="form-orders-div">
                    <div class="fo-title">ITEM LIST</div>

                    <div class="fo-list-div">
                        <table class="si-tbl">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>ITEM NAME</th>
                                    <th class="text-right">QUANTITY</th>
                                    <th class="text-right">UOM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                $i = 0;
                                $subtotal = 0;
                                foreach ($items as $item) {
                                    $i += 1;
                                    //$subtotal += $item->total_amount;
                                    ?>
                                    <tr>
                                        <td><?php echo $i; ?></td>
                                        <td><span class="sip-name"><?= $item->name; ?></span></td>
                                        <td class="text-right"><?= $item->qty; ?></td>
                                        <td class="text-right"><?= $item->uom; ?></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>

                <label>REMARKS</label>
                <textarea class="form-control remarks" rows="4" readonly><?= $inquiry->remarks; ?></textarea>

                <div class="form-btns <?php if ($inquiry->archive_flag == '1'){echo'hidden';}?>">
                    <button class="btn btn-success btn-white btn-dpdf" id="btnDownloadPdf">
                        <i class="fa fa-file fa-1x"></i>Download PDF
                    </button>

                    <button data-id="<?php echo $inquiry->id;?>" class="btn btn-cqta <?= ($this->session->LPMADMINACCESS['orders'] < 2) ? "hidden" : ""; ?>">Create Quotation</button>
                    <button data-id="<?php echo $inquiry->id;?>" class="btn btn-drqst <?= ($this->session->LPMADMINACCESS['orders'] < 2) ? "hidden" : ""; ?>">Decline Request</button>
                </div>
            </div>
        </div>
    </div>

    <!-- si pdf -->
    <div class="main-content hide-form">
        <!-- inquiry pdf form -->
        <div class="form-holder">

            <!-- header table -->
            <table class="iprint-header-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-lpm-name">LPM CONSTRUCTION SUPPLY & WOOD CENTER CORP.</h5>
                            <span><?php 
                                    $lpm_address = array();
                                    foreach ($lpm_info_array["address"] as $lpm_addresss) {
                                    $lpm_address[] = $lpm_addresss;
                                } echo implode(' / ', $lpm_address); ?>     </span>
                            <span><?php 
                                    $phone_no = array();
                                    foreach ($lpm_info_array["phone_no"] as $phone_nos) {
                                    $phone_no[] = $phone_nos;

                                } echo implode(' / ', $phone_no); ?></span>
                            <span><?php 
                                    $mobile = array();
                                    foreach ($lpm_info_array["mobile_no"] as $mobile_nos) {
                                    $mobile[] = $mobile_nos;
                                } echo implode(' / ', $mobile); ?></span>
                            <span><?php 
                                    $email = array();
                                    foreach ($lpm_info_array["email_address"] as $emails) {
                                    $email[] = $emails;
                                } echo implode(' / ', $email); ?> </span>
                        </td>
                        <td>
                            <img class="print-lpm-logo" src="<?= BASE_URI; ?>img/lpm_logo.png">
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- form header table -->
            <table class="iprint-fheader-tbl">
                <tbody>
                    <tr>
                        <td>
                            <h5 class="print-form-title">
                                SPECIAL INQUIRY 
                            </h5>
                            <h5 class="print-order-no"><?= $inquiry->reference_number; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-date-lbl">Date</h5>
                        </td>
                        <td>
                            <h5 class="print-date"><?= substr($inquiry->datetime_created, 0, 10); ?></h5> 
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- account table -->
            <table class="iprint-acnt-tbl">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <label class="print-tbl-label">COMPANY NAME</label>
                            <h5 class="print-accnt-name"><?= ($user->customer_type_id == 1) ? "INDIVIDUAL USE" : $user->company_name; ?></h5>
                        </td>
                        <td>
                            <h5 class="print-dtype"><?= ($inquiry->for == 1) ? "FOR DELIVERY" : "FOR PICKUP"; ?></h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">COMPANY ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <?php if ($address->address2 != "") {
                                                    echo $address->address2;;
                                                } else {
                                                    echo "-";
                                                } ?> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                        <td>
                            <!-- hide when account is personal -->
                            <div class="<?= ($user->customer_type_id != 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">HOME ADDRESS</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td><?php echo $address->address1; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php 
                                                if($address->address2 != "") { 
                                                    echo $address->address2;
                                                } else {
                                                    echo "-";
                                                } ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $city->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $province->name; ?></td>
                                        </tr>
                                        <tr>
                                            <td><?php echo $region->name; ?></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- hide when account is company -->
                            <div class="<?= ($user->customer_type_id == 1) ? "hidden" : ""; ?>">
                                <label class="print-tbl-label">REPRESENTATIVE</label>
                                <table class="iprint-cp-tbl">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><?php echo $user->first_name." ".$user->last_name;?></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td><?php echo $user->mobile_number;?></td>
                                        </tr>
                                        <tr>
                                            <td>Office</td>
                                            <td><?php if($user->office_number != "") { echo $user->office_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><?php if($user->fax_number != "") { echo $user->fax_number; } else { echo "-"; } ?></td>
                                        </tr>
                                        <tr>
                                            <td style="color:#FFF;">--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <!-- hide content (not the td) when user chose pick up in delivery option -->
                            <?php
                                if($inquiry->for == "1") {
                                    echo '<label class="print-tbl-label">DELIVERY ADDRESS</label>'; 
                                } else {
                                    // echo $delivery_address;
                                }
                            ?>

                            <table class="iprint-cp-tbl">
                                <tbody>
                                    <tr>
                                        <td><?php echo $delivery_address->address; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php if($delivery_address->address_2 != "") { 
                                                echo $delivery_address->address_2 ; 
                                            } else {
                                                // echo "-";
                                            } ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_city->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_province->name; ?></td>
                                    </tr>
                                    <tr>
                                        <td><?php echo $delivery_region->name; ?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- item list table -->
            <table class="iprint-item-tbl">
                <thead>
                    <tr>
                        <th colspan="4">ITEM LIST</th>
                    </tr>
                    <tr>
                        <th>NO.</th>
                        <th>ITEM NAME</th>
                        <th>QUANTITY</th>
                        <th>UOM</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                        $i = 0;
                        foreach($items as $item) { 
                            $i += 1;
                    ?>
                    <tr>
                        <td><?php echo $i; ?></td>
                        <td>
                            <h5 class="print-prod-name">
                                <?= $item->name; ?>
                            </h5>
                        </td>
                        <td><?= $item->qty; ?></td>
                        <td style="border-right:1px solid #D9D9D9;"><?= $item->uom; ?></td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>

            <!-- remarks table -->
            <table class="iprint-tcr-tbl">
                <thead>
                    <tr>
                        <th>REMARKS</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid #D9D9D9;">
                    <tr>
                        <td>
                            <span class="remarks-data"><?= $inquiry->remarks; ?></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<?php $this->partial('special_inquiries/modal'); ?>

<script type="text/javascript">

// if user already use their inquiry limit, show this modal
$(document).on('click', '#btnDeclineRequest', function () {
    $('#modalDeclineRequest').modal('show');
});

$(document).on('click', '.btn-cqta', function () {
    //console.log('cq');

    window.location.href = BASE_URL + "special_inquiries/create_quotation?id=<?= $inquiry->reference_number; ?>";

});

$(document).on('click', '.btn-drqst', function () {
    //console.log('drqst');

    var params = {
        inquiry_id: $(this).attr("data-id"),
    };

    $.post(BASE_URL + 'special_inquiries/decline', params, function (data) {
        if (data == "Success")
        {
            window.location.href = BASE_URL + "special_inquiries";
        }
        else
        {
            alert(data);
        }
    });
    
});

$(document).on("click", "#btnDownloadPdf", function(){
    $('.hide-form').printMe({ "path": ["<?=BASE_URI;?>css/print.css"] });
});

</script>