<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>   
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="logsTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:25%;">Username</th>
			<th style="width:25%;">Date and Time</th>
                        <th style="width:50%;">Action</th>
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>
<script>
    
$.post(BASE_URL+'logs/getLogsList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
    data.forEach(function(entry){
        var content_row = [];
        content_row.push('<span class="row_id" data-id="'+entry.id+'">'+entry.email+'</span>');
        content_row.push(entry.timestamp);
        content_row.push(entry.action);
        content_array.push(content_row);
    });
            
    $('#logsTable').DataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,      
        "data": content_array,
        "order": [[1, 'desc']]
    });
    
    var table = $('#logsTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });    

});  
</script>