<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-6"> 
                    <ol class="breadcrumb">  
                        <li><a onclick="location.href = '<?= BASE_URI ?>logs'" class="link">Admin</a></li>
                        <li><a class="link active">Storefront</a></li>
                    </ol> 
                </div> 
                <div class="col-lg-6"> 
                    <div class="col-lg-4">

                    </div>                    
                    <div class="col-lg-8">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>
                </div>    
            </div> 
            <div class="col-lg-12">
                <table id="logsTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:25%;">Username</th>
			<th style="width:25%;">Date and Time</th>
                        <th style="width:25%;">Duration</th>
                        <th style="width:25%;">Action</th>
                    </thead>
                    <tbody>
                           
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>
<script>
    
$.post(BASE_URL+'users/getUsersAdminList',"",function(data){
    data = $.parseJSON(data);
//    console.log(data);
    var content_array = [];
//    data.forEach(function(entry){
//        var content_row = [];
//        content_row.push('<span class="row_id" data-id="'+entry.user_id+'">'+entry.user_id+'</span>');
//        content_row.push(entry.company_name);
//        content_row.push(entry.last_name);
//        content_row.push(entry.first_name);
//        content_row.push(entry.access_name);
//        content_row.push(entry.mobile_no);
//        content_row.push(entry.fax_no);
//        content_row.push(entry.last_login);
//        content_row.push('<div class="pull-right hidden-col" style="padding-right: 10px;"><a class="editUserBtn" style="padding:0 5px;color:#000" href="#" data-toggle="modal" data-target="#editUserModal"><i class="fa fa-pencil fa-lg"></i></a><a class="delUserBtn" style="padding:0 5px;color:#000"><i class="fa fa-trash-o fa-lg"></i></a></div>');
//        content_array.push(content_row);
//    });
            
    $('#logsTable').dataTable({
        "bFilter": true,
        "bSortable": true,
        "paging": true,      
        "data": content_array
    });
    
    var table = $('#logsTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });     

//    var oTable = $('#unitDatatable').DataTable();
//    oTable.$('.hidden-col').css('display','none');
//    var accessId = $("#admId").text();
//
//    if (accessId == 2) {
//
//    } else {
//        //alert("sadsadas");
//        oTable.$(".editUnitBtn").addClass("hidden-col");
//        oTable.$(".delUnitBtn").addClass("hidden-col");
//    }

});  
</script>