<style>
    .btn-main-img {display: none;}
</style>

<!-- adding new products file -->
<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the product form -->
            <div class="cls-div">

                <!-- product form div -->
                <div class="cls-form-div">
                    <!-- company details form -->
                    <div class="cls-form" style="width: 79%;">
                        <div class="cls-form-title">
                            <h5>PRODUCT INFORMATION</h5>
                        </div>

                        <div class="cls-form-body">

                            <!-- product images -->
                            <div class="cls-img-div" style="margin: 0 0 10px 0;">
                                <!-- main img -->
                                <label>Photos</label>
                                <div class="prod-main-img">
                                    <button class="btn btn-pi-add main-btn" name="mainImgBtn" data-id="1">
                                        <i class="fa fa-plus fa-4x"></i>
                                    </button>
                                    <input type="hidden" id="image_link_1" name="image_link_1">
                                    <input type="hidden" id="image_link_2" name="image_link_2">
                                    <input type="hidden" id="image_link_3" name="image_link_3">
                                    <input type="hidden" id="image_link_4" name="image_link_4">
                                    <input type="hidden" id="image_link_5" name="image_link_5">
                                    <!-- remove hidden once image was selected -->
                                    <div class="pmi-img-holder main-holder hidden"> 
                                        <img id="mainPic">

                                        <div class="pmiih-buttons">
                                            <a class="btn-main-img active">
                                                <i class="fa fa-check-circle"></i>
                                            </a>
                                            <a class="btn-delete-img" data-delete="1">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- sub img -->
                                <div class="prod-sub-img">

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add secondary-btn" data-id="2">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder secondary-holder hidden">
                                            <img id="2ndPic">

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="2">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="2">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add third-btn" data-id="3">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder third-holder hidden">
                                            <img id="3rdPic">

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="3">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="3">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add fourth-btn" data-id="4">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder fourth-holder hidden">
                                            <img id="4thPic">

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="4">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="4">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add fifth-btn" data-id="5">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder fifth-holder hidden">
                                            <img id="5thPic">

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" id="buttonCtr">
                            </div>

                            <!-- product details form -->
                            <div class="cls-pdetails-div">
                                <div class="col-sm-12" style="padding:0;">
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Brand</label>
                                        <select id="selectBrand" class="form-control standard">
                                            <?php foreach ($brands as $brand) { ?>
                                                <option value="<?= $brand->brand_id; ?>"><?= $brand->brand_name; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Category</label>
                                        <select id="selectCategory" class="form-control standard">
                                            <?php foreach ($categories as $category) { ?>
                                                <option value="<?= $category->category_id; ?>"><?= $category->category_name; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>	
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control standard" id="productName"/>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Description</label>
                                    <textarea id="productDescription" type="text" class="form-control txtarea" rows="6"></textarea>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Groups</label>
                                    <select id="selectGroups" class="js-example-basic-multiple form-control standard" name="groups[]" multiple="multiple">
                                        <option value=""></option>
									<?php foreach ($groups as $group) { ?>
										<option value="<?= $group->group_id ?>"><?= $group->group_name; ?></option>
									<?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Tag product as</label>
                                    <table class="productTagTbl">
                                        <tbody>
                                            <tr>
                                                <td><input type="radio" name="radioState" value="0" checked></td>
                                                <td>None</td>
                                                <td><input type="radio" name="radioState" value="2"></td>
                                                <td>Best Seller <i class="fa fa-star fa-1x star-icon"></i></td>
                                                <td><input type="radio" name="radioState" value="1"></td>
                                                <td>New Arrival <label class="new-arrival-lbl">NEW</label></td>
                                            </tr>
                                        </tbody>
                                    </table>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product kinds div -->
                <div class="cls-form-div mt-20">
                    <!-- company details form -->
                    <div class="cls-form" style="width: 79%;">
                        <div class="cls-form-title">
                            <h5>KINDS
                                <!-- when add is clicked, show the row for adding kind -->
                                <a id="addKind" class="btn-ad-ba pull-right">+ADD</a>
                            </h5>
                        </div>

                        <div class="cls-form-body">

                            <table id="prodKindsTbl" class="prod-kinds-tbl">
                                <thead>
                                    <tr>
                                        <th>Kind</th>
                                        <th>Measurement</th>
                                        <th>Color</th>
                                        <th>Type</th>
                                        <th>Display</th>
                                        <th>UoM</th>
                                        <th>Lead Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- tr for standard kind -->
                                    <!--tr class="tr-standard">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>REG</td>
                                            <td>YES</td>
                                            <td>Piece/s</td>
                                            <td>0</td>
                                            <td class="text-center">
                                                    <a class="btn-edit-kind"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn-delete-kind"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                    </tr-->
                                    <!-- row for adding kind -->
                                    <tr id="toCloneRow" class="tr-add-class" data-id="0" data-counter="0">
                                        <td>
                                            <input type="text" style="text-align : left;" class="form-control input-kind tbl-field" value="-">
                                        </td>
                                        <td>
                                            <input type="text" style="text-align : left;" class="form-control input-measurement tbl-field" value="-">
                                        </td>
                                        <td>
                                            <input type="text" style="text-align : left;" class="form-control input-color tbl-field" value="-">
                                        </td>
                                        <td>
                                            <input type='checkbox' class='toggle-switch toggle-type input-type tbl-field' checked/>
                                        </td>
                                        <td>
                                            <input type='checkbox' class='toggle-switch toggle-display input-display tbl-field'/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-uom tbl-field" value="Piece/s">
                                        </td>
                                        <td>
                                            <input class="form-control input-lead-time tbl-field" value="0" disabled>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn-save-kind"><i class="fa fa-save"></i></a>
                                            <a class="btn-edit-kind hidden"><i class="fa fa-pencil"></i></a>
                                            <a class="btn-delete-kind"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- apply and cancel buttons -->
                    <div class="cls-buttons">
                        <button id="applyChangesBtn" class="btn btn-success btn-green btn-ac <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>">Apply Changes</button>
                        <button id="cancelBtn" class="btn btn-default btn-gray btn-cancel mt-10">Cancel</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<?php $this->partial("products/modal") ?>

<script>
$(".input-lead-time").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1});    
</script>    