<style>
    .btn-main-img {display: none;}
</style>

<!-- adding new products file -->
<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- header -->
        <?php $this->partial('common/content_header'); ?>          
        <div class="main-content-inner">

            <!-- whole container of the product form -->
            <div class="cls-div">

                <!-- product form div -->
                <div class="cls-form-div">
                    <!-- company details form -->
                    <div class="cls-form" style="width: 79%;">
                        <div class="cls-form-title">
                            <h5>PRODUCT INFORMATION</h5>
                        </div>

                        <div class="cls-form-body">

                            <!-- product images -->
                            <div class="cls-img-div" style="margin: 0 0 10px 0;">
                                <!-- main img -->
                                <label>Photos</label>
                                <div class="prod-main-img">
                                    <button class="btn btn-pi-add main-btn <?php if (!empty($product->image_link_1)){echo 'hidden';}?>" name="mainImgBtn" data-id="1">
                                        <i class="fa fa-plus fa-4x"></i>
                                    </button>
                                    <input type="hidden" id="image_link_1" name="image_link_1">
                                    <input type="hidden" id="image_link_2" name="image_link_2">
                                    <input type="hidden" id="image_link_3" name="image_link_3">
                                    <input type="hidden" id="image_link_4" name="image_link_4">
                                    <input type="hidden" id="image_link_5" name="image_link_5">
                                    <!-- remove hidden once image was selected -->
                                    <div class="pmi-img-holder main-holder <?php if (empty($product->image_link_1)){echo 'hidden';}?>"> 
                                        <img id="mainPic" <?php if (!empty($product->image_link_1)){echo 'src="'.STOREFRONT_URI.'product_images/'.$product->image_link_1.'"';}?> >
                                        <div class="pmiih-buttons">
                                            <a class="btn-main-img active">
                                                <i class="fa fa-check-circle"></i>
                                            </a>
                                            <a class="btn-delete-img" data-delete="1">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- sub img -->
                                <div class="prod-sub-img">

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add secondary-btn <?php if (!empty($product->image_link_2)){echo 'hidden';}?>" data-id="2">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder secondary-holder <?php if (empty($product->image_link_2)){echo 'hidden';}?>">
                                            <img id="2ndPic" <?php if (!empty($product->image_link_2)){echo 'src="'.STOREFRONT_URI.'product_images/'.$product->image_link_2.'"';}?>>

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="2">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="2">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add third-btn <?php if (!empty($product->image_link_3)){echo 'hidden';}?>" data-id="3">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder third-holder <?php if (empty($product->image_link_3)){echo 'hidden';}?>">
                                            <img id="3rdPic" <?php if (!empty($product->image_link_3)){echo 'src="'.STOREFRONT_URI.'product_images/'.$product->image_link_3.'"';}?>>

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="3">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="3">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add fourth-btn <?php if (!empty($product->image_link_4)){echo 'hidden';}?>" data-id="4">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder fourth-holder <?php if (empty($product->image_link_4)){echo 'hidden';}?>">
                                            <img id="4thPic" <?php if (!empty($product->image_link_4)){echo 'src="'.STOREFRONT_URI.'product_images/'.$product->image_link_4.'"';}?>>

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img" data-main="4">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img" data-delete="4">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="psi-content">
                                        <button class="btn btn-pi-add fifth-btn <?php if (!empty($product->image_link_5)){echo 'hidden';}?>" data-id="5">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </button>

                                        <!-- remove hidden once image was selected -->
                                        <div class="pmi-img-holder fifth-holder <?php if (empty($product->image_link_5)){echo 'hidden';}?>">
                                            <img id="5thPic" <?php if (!empty($product->image_link_5)){echo 'src="'.STOREFRONT_URI.'product_images/'.$product->image_link_5.'"';}?>>

                                            <div class="pmiih-buttons">
                                                <a class="btn-main-img">
                                                    <i class="fa fa-check-circle"></i>
                                                </a>
                                                <a class="btn-delete-img">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" id="buttonCtr">
                            </div>

                            <!-- product details form -->
                            <div class="cls-pdetails-div">
                                <div class="col-sm-12" style="padding:0;">
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Brand</label>
                                        <select id="selectBrand" class="form-control standard">
                                            <?php foreach ($brands as $brand) { ?>
                                                <option value="<?= $brand->brand_id; ?>" <?= ($brand->brand_id == $product->brand_id) ? "selected" : "" ?>><?= $brand->brand_name; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-sm-6" style="padding-right:0;">
                                        <label>Category</label>
                                        <select id="selectCategory" class="form-control standard">
                                            <?php foreach ($categories as $category) { ?>
                                                <option value="<?= $category->category_id; ?>" <?= ($category->category_id == $product->category_id) ? "selected" : "" ?>><?= $category->category_name; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>	
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Product Name</label>
                                    <input id="productName" type="text" class="form-control standard" value="<?= $product->product_name; ?>"/>
                                    <input id="productID" type="hidden" class="form-control standard" value="<?= $product->product_id; ?>"/>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Description</label>
                                    <textarea id="productDescription" type="text" class="form-control txtarea" rows="6"><?= $product->description; ?></textarea>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Groups</label>
                                    <select id="selectGroups" class="js-example-basic-multiple form-control standard" name="groups[]" multiple="multiple">
                                        <option value=""></option>
									<?php foreach ($groups as $group) { ?>
										<option value="<?= $group->group_id ?>" <?=(in_array($group->group_id,$product_group_ids)) ? "selected" : "";?>><?= $group->group_name; ?></option>
									<?php } ?>
                                    </select>
                                </div>

                                <div class="col-sm-12 mt-20" style="padding-right:0;">
                                    <label>Tag product as</label>
                                    <table class="productTagTbl">
                                        <tbody>
                                            <tr>
                                                <td><input type="radio" name="radioState" value="0" <?= ($product->state == 0) ? "checked" : ""; ?>></td>
                                                <td>None</td>
                                                <td><input type="radio" name="radioState" value="2" <?= ($product->state == 2) ? "checked" : ""; ?>></td>
                                                <td>Best Seller <i class="fa fa-star fa-1x star-icon"></i></td>
                                                <td><input type="radio" name="radioState" value="1" <?= ($product->state == 1) ? "checked" : ""; ?>></td>
                                                <td>New Arrival <label class="new-arrival-lbl">NEW</label></td>
                                            </tr>
                                        </tbody>
                                    </table>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product kinds div -->
                <div class="cls-form-div mt-20">
                    <!-- company details form -->
                    <div class="cls-form" style="width: 79%;">
                        <div class="cls-form-title">
                            <h5>KINDS
                                <!-- when add is clicked, show the row for adding kind -->
                                <a id="addKind" class="btn-ad-ba pull-right">+ADD</a>
                            </h5>
                        </div>

                        <div class="cls-form-body">

                            <table id="prodKindsTbl" class="prod-kinds-tbl">
                                <thead>
                                    <tr>
                                        <th>Kind</th>
                                        <th>Measurement</th>
                                        <th>Color</th>
                                        <th>Type</th>
                                        <th>Display</th>
                                        <th>UoM</th>
                                        <th>Lead Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- tr for standard kind -->
                                    <!--tr class="tr-standard">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>REG</td>
                                            <td>YES</td>
                                            <td>Piece/s</td>
                                            <td>0</td>
                                            <td class="text-center">
                                                    <a class="btn-edit-kind"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn-delete-kind"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                    </tr-->
                                    <!-- row for adding kind -->
                                    <?php $data_counter = 0; foreach ($product_kinds as $product_kind) { ?>
                                        <tr class="tr-add-class" data-id="<?= $product_kind->product_kind_id; ?>" data-counter="<?=$data_counter;?>">
                                            <td>
                                                <input type="text" style="text-align : left;" class="form-control input-kind tbl-field" value="<?= $product_kind->kind_name; ?>" disabled>
                                            </td>
                                            <td>
                                                <input type="text" style="text-align : left;" class="form-control input-measurement tbl-field" value="<?= $product_kind->measurement; ?>" disabled>
                                            </td>
                                            <td>
                                                <input type="text" style="text-align : left;" class="form-control input-color tbl-field" value="<?= $product_kind->color; ?>" disabled>
                                            </td>
                                            <td>
                                                <input type='checkbox' class='toggle-switch toggle-type input-type tbl-field' <?= ($product_kind->prepaid == 0) ? "checked" : "" ?> disabled/>
                                            </td>
                                            <td>
                                                <input type='checkbox' class='toggle-switch toggle-display input-display tbl-field' <?= ($product_kind->display_status == 1) ? "checked" : "" ?> disabled/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control input-uom tbl-field" value="<?= $product_kind->uom; ?>" disabled>
                                            </td>
                                            <td>
                                                <input class="form-control input-lead-time tbl-field" min="0" value="<?= $product_kind->lead_time; ?>" <?= ($product_kind->prepaid == 0) ? "disabled" : "" ?>>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn-save-kind hidden"><i class="fa fa-save"></i></a>
                                                <a class="btn-edit-kind edit"><i class="fa fa-pencil"></i></a>
                                                <a class="btn-delete-kind"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    <?php $data_counter++;} ?>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- apply and cancel buttons -->
                    <div class="cls-buttons">
                        <button id="applyChangesEditBtn" class="btn btn-success btn-green btn-ac <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>">Apply Changes</button>
                        <button class="btn btn-danger btn-red btn-delete-prod mt-10 <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" id="btnDeleteProd">Delete Product</button>
                        <button id="cancelBtn" class="btn btn-default btn-gray btn-cancel mt-10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php $this->view->partial("products/modal"); ?>

<script>
$(".input-lead-time").inputmask("numeric", {prefix: "", rightAlign: false, allowMinus: !1});     
    $(document).on('click', '#btnDeleteProd', function () {
        var product_name = "<?= $product->product_name; ?>";//$(this).closest('tr').find('.product-name').html();
        var product_id = <?= $product->product_id; ?>;//$(this).attr('data-id');

        $('#modalDeleteProd').modal('show');
        $('#modalDeleteProd .product-name').html(product_name);
        $('#modalDeleteProd #confirmDeleteProd').attr('data-id', product_id);
    });
</script>