<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">
    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-4"> 
                    <div style="padding-left: 10px;">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>    
                </div> 
                <div class="col-sm-8"> 
                    <div class="buttons-div">
                        <div class="col-sm-3"><input type="submit" class="btn <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="Batch Upload" id="btnBatchUpload"></div>
                        <div class="col-sm-3"><input type="submit" class="btn download-excel-btn <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="Download Excel File"></div>
                        <div class="col-sm-3"><input type="submit" class="btn publish-all <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="Publish All"></div>
                        <div class="col-sm-3"><input type="submit" class="last-btn <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>" value="New Product" id="newProduct"></div>
                    </div>
                </div>    
            </div> 
            <div class="col-sm-12" style="margin-top: 10px;">
                <table id="productsTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:10%;">Category</th>
                        <th style="width:10%;">Brand</th>
                        <th style="width:10%;">Product</th>
                        <th style="width:10%;">Kind</th>
                        <th style="width:10%;">Measurement</th>
                        <th style="width:10%;">Color</th> 
                        <th style="width:19%;">Groups</th> 
                        <th style="width:15%;">&nbsp;</th> 
                        <th style="width:3%;">&nbsp;</th> 
						<th style="width:3%;">&nbsp;</th>
						<th class="hidden" style="width:15%;">&nbsp;</th>
						<th class="hidden" style="width:15%;">&nbsp;</th>
						<th class="hidden" style="width:15%;">&nbsp;</th>
                    </thead>
                    <tbody>
                          
                    </tbody>
                </table>

				<table id="tableToExcel" class="hidden">
					<thead>
						<th>Category</th>
						<th>Brand</th>
						<th>Product</th>
						<th>Kind</th>
                        <th>Measurement</th>
                        <th>Color</th>
                        <th>Groups</th>
                        <th>Tag</th>
                        <th>Type</th> 
                        <th>Display</th> 
                        <th>UoM</th> 
                        <th>Lead Time</th>
					</thead>
					<tbody>
					
					</tbody>
				</table>
            </div>    
        </div>
    </div>
</div>

<?php $this->view->partial("products/modal"); ?>


<script>
    
$.post(BASE_URL+'products/getProductsList',"",function(data){
    data = $.parseJSON(data);

    var content_array = [];
	var table_body = $('#tableToExcel tbody');
	table_body.html("");

	console.log(data);
	var prev_product_id = 0;
	
	data.products.forEach(function(entry){
		var content_row = [];
		
		if (prev_product_id != entry.rspt.product_id)
		{
			content_row.push(data.categories[entry.rspt.category_id]);
			if (data.brands[entry.rspt.brand_id]) content_row.push(data.brands[entry.rspt.brand_id]);
			else content_row.push("");
			content_row.push("<span class='product-name'>"+entry.rspt.product_name+"</span>");
		}
		else
		{
			content_row.push("");
			content_row.push("");
			content_row.push("");
		}
		
		
		content_row.push(entry.rspkt.kind_name);
		content_row.push(entry.rspkt.measurement);
		content_row.push(entry.rspkt.color);
		
		var group_string_array = [];
		if (data.product_groups[entry.rspt.product_id])
		{
			data.product_groups[entry.rspt.product_id].forEach(function(entry2){
				group_string_array.push(data.groups[entry2]);
			});
		}
		content_row.push(group_string_array.join(", "));
		//content_row.push("PUBLISH");
        // content_row.push("<button class='btn btn-publish-prod'><i class='fa fa-check-circle fa-1x'></i> Publish</button>");
        // content_row.push("<button class='btn btn-published-prod'><i class='fa fa-check-circle fa-1x'></i> Published</button>");
		
		if (entry.rspkt.display_status == 1)
		{
			if (entry.rspkt.published_status == 1)
			{
				content_row.push("<button class='btn btn-publish-prod hidden' data-id='"+entry.rspkt.product_kind_id+"'><i class='fa fa-check-circle fa-1x'></i> Publish</button><button class='btn btn-published-prod' data-id='"+entry.rspkt.product_kind_id+"' <?=($this->session->LPMADMINACCESS['products'] < 2) ? "disabled" : "";?>><i class='fa fa-check-circle fa-1x'></i> Published</button>");
			}
			else
			{
				content_row.push("<button class='btn btn-publish-prod' data-id='"+entry.rspkt.product_kind_id+"' <?=($this->session->LPMADMINACCESS['products'] < 2) ? "disabled" : "";?>><i class='fa fa-check-circle fa-1x'></i> Publish</button><button class='btn btn-published-prod hidden' data-id='"+entry.rspkt.product_kind_id+"'><i class='fa fa-check-circle fa-1x'></i> Published</button>");
			}
			
		}
		else
		{
			content_row.push("<label class='label-hidden'>Hidden</label>");
		}
		
		if (prev_product_id != entry.rspt.product_id)
		{
			
			content_row.push("<a class='editLink' data-id='"+entry.rspt.product_id+"' <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>>Edit</a>");
			content_row.push("<a class='delLink' data-id='"+entry.rspt.product_id+"' <?=($this->session->LPMADMINACCESS['products'] < 2) ? "hidden" : "";?>>Delete</a>");
		}
		else
		{
			content_row.push("");
			content_row.push("");
		}
		content_row.push(data.categories[entry.rspt.category_id]);
		if (data.brands[entry.rspt.brand_id]) content_row.push(data.brands[entry.rspt.brand_id]);
		else content_row.push("");
		content_row.push(entry.rspt.product_name);
		content_array.push(content_row);
		prev_product_id = entry.rspt.product_id;
	

		var tr_row = $("<tr></tr>");
		tr_row.append($("<td></td>").html(data.categories[entry.rspt.category_id]));
		tr_row.append($("<td></td>").html(data.brands[entry.rspt.brand_id]));
		tr_row.append($("<td></td>").html(entry.rspt.product_name));
		tr_row.append($("<td></td>").html(entry.rspkt.kind_name));
		tr_row.append($("<td></td>").html(entry.rspkt.measurement));
		tr_row.append($("<td></td>").html(entry.rspkt.color));
		
		group_string_array = [];
		if (data.product_groups[entry.rspt.product_id])
		{
			data.product_groups[entry.rspt.product_id].forEach(function(entry2){
				group_string_array.push(data.groups[entry2]);
			});
		}
		tr_row.append($("<td></td>").html(group_string_array.join(", ")));
		
		switch(entry.rspt.state)
		{
			case "0":
				tr_row.append($("<td></td>").html("None"));
				break;
			case "1":
				tr_row.append($("<td></td>").html("New Arrival"));
				break;
			case "2":
				tr_row.append($("<td></td>").html("Best Seller"));
				break;
		}
		
		if (entry.rspkt.prepaid == 0) tr_row.append($("<td></td>").html("REGULAR"));
		else tr_row.append($("<td></td>").html("PREPAID"));
		if (entry.rspkt.display_status == 1) tr_row.append($("<td></td>").html("Yes"));
		else tr_row.append($("<td></td>").html("No"));
		tr_row.append($("<td></td>").html(entry.rspkt.uom));
		tr_row.append($("<td></td>").html(entry.rspkt.lead_time));
		table_body.append(tr_row);
	});
	

	
    $('#productsTable').DataTable({
        "bFilter": true,
        "bSortable": true,
		"aaSorting": [],
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [7,8,9] },{"visible": false, "targets": [10,11,12]}],
        "data": content_array
    });
	
    
    var table = $('#productsTable').DataTable();

    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    });


});

$(document).on('click','.editLink', function(){
	var product_id = $(this).attr('data-id');
	
	window.location.href = BASE_URL+'products/edit/'+product_id;
});

$(document).on('click','.delLink', function(){
	var product_name = $(this).closest('tr').find('.product-name').html();
	var product_id = $(this).attr('data-id');
	
	$('#modalDeleteProd').modal('show');
	$('#modalDeleteProd .product-name').html(product_name);
	$('#modalDeleteProd #confirmDeleteProd').attr('data-id', product_id);
});


$(document).on('click', '#btnBatchUpload', function(){
    $('#modalUpload').modal('show');
}); 

$(document).on("click", "#btnUpload", function(){
    $("#browseFile").trigger('click');
});

$(document).on("change", "#browseFile", function(){
    var upload_file = $("#browseFile").val();
	console.log(upload_file);
    $("#label1").html(upload_file);
	$('.file-close-div span').html(upload_file);
	
});

$(document).on('click', '#modalUpload .btn-sup', function(){
	var upload_file = $("#browseFile").val();
	var submit_button = $(this);
	var cancel_button = $('#modalUpload .btn-cancel');
	//var file_data = $('#modalUpload #browseFile').prop("files")[0];
	$('#browseFile').simpleUpload(BASE_URL+'products/uploadBatchFile', {
		maxFileSize: 2097152,
		start: function(file) {
            //upload started
            console.log("upload started");
            submit_button.html("Uploading");
			submit_button.attr('disabled','disabled');
			cancel_button.attr('disabled','disabled');
        },
		progress: function(progress) {
            //received progress
            $('.uploading-file').removeClass('hidden');
			console.log("upload progress: " + Math.round(progress) + "%");
			submit_button.html("Uploading " + Math.round(progress) + "%");
        },
		success: function(data) {
            //upload successful
			$('.uploading-file').addClass('hidden');
			$('.uploaded-file').removeClass('hidden');
			submit_button.html("Processing");
			if (data != "") alert(data);
			window.location.href = window.location.href;
			
            console.log("upload successful!");
            
        },
		error: function(error) {
            //upload failed
            console.log("upload error: " + error.name + ": " + error.message);
        }
	});
});

$(document).on('click', '.download-excel-btn', function(){
	$("#tableToExcel").table2excel({
        // exclude CSS class
        exclude: ".noExl",
        name: "Worksheet Name",
        filename: "Products" //do not include extension
    });
});
</script>