<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>LPM | <?= @$page_title; ?></title>

        <!-- LPM Icon -->
        <link rel="icon" type="image/png" href="<?=BASE_URI;?>img/lpm_logo.png">

        <!-- CSS Files -->
        <!-- <link rel="stylesheet" href="<?= BASE_URI; ?>css/plugin.css"> -->
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/sidebar.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/checkmark.css">
<!--        <link rel="stylesheet" href="<?= BASE_URI; ?>css/datatables.css">-->
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/froala_editor.pkgd.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/froala_style.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/select2.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/bootstrap.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/font-awesome.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/jquery.onoff.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/jquery-ui.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/bootstrap3-wysihtml5.min.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/jquery-ui.multidatespicker.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/croppie.css">
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/print.css">
        <link rel="stylesheet" href="<?=BASE_URI;?>css/jquery.loadingModal.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        
        <!-- common css -->
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/common.css">
        
        <!-- modals css -->
        <link rel="stylesheet" href="<?= BASE_URI; ?>css/modal.css">        

        <?php if ($css != '') : ?>
            <link rel="stylesheet" href="<?= BASE_URI; ?>css/module/<?php echo $css; ?>">
        <?php endif; ?>

        <!-- JS Files -->
        <!-- all basic js plugins here -->
        <script src="<?= BASE_URI; ?>js/jquery.js"></script>
        <script src="<?= BASE_URI; ?>js/bootstrap.min.js"></script>
        <script src="<?= BASE_URI; ?>js/jquery-ui.min.js"></script>
        <script src="<?= BASE_URI; ?>js/moment.js"></script>
        <script src="<?= BASE_URI; ?>js/froala_editor.pkgd.min.js"></script>
        <script src="<?= BASE_URI; ?>js/select2.min.js"></script>
        <script src="<?= BASE_URI; ?>js/jquery.onoff.min.js"></script>
        <script src="<?= BASE_URI; ?>js/jquery.dataTables.min.js"></script>
        <script src="<?= BASE_URI; ?>js/dataTables.bootstrap.min.js"></script>
        <script src="<?= BASE_URI; ?>js/dataTables.buttons.min.js"></script>
        <script src="<?= BASE_URI; ?>js/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="<?= BASE_URI; ?>js/bootstrap-filestyle.min.js"></script>
        <script src="<?= BASE_URI; ?>js/jquery-ui.multidatespicker.js"></script>
        <script src="<?= BASE_URI; ?>js/croppie.js"></script>
        <script src="<?= BASE_URI; ?>js/jquery-printme.min.js"></script>  
		<script src="<?= BASE_URI; ?>plugins/autocomplete/autocomplete.js"></script>
		<script src="<?= BASE_URI; ?>js/jquery.table2excel.js"></script>               
<!--        <script src="<?= BASE_URI; ?>js/jquery.loadingModal.min.js"></script>-->
        <script src="<?= BASE_URI; ?>js/jquery.inputmask.bundle.min.js"></script>  
        <script src="<?= BASE_URI; ?>js/dataTables.fixedColumns.min.js"></script> 
<!--        <script src="<?= BASE_URI; ?>js/bootstrap-switch.js"></script>
        <script src="<?= BASE_URI; ?>js/bootstrap-timepicker.min.js"></script>-->

<!--        <script src="<?= BASE_URI; ?>js/buttons.flash.min.js"></script>
        <script src="<?= BASE_URI; ?>js/jszip.min.js"></script>
        <script src="<?= BASE_URI; ?>js/buttons.html5.min.js"></script>
        <script src="<?= BASE_URI; ?>js/buttons.print.min.js"></script>-->

<!--		<script src="<?= BASE_URI; ?>js/jquery.table2excel.js"></script>-->

        <!-- jquery print -->
        <script src="<?= BASE_URI; ?>js/jQuery.print.js"></script> 

        <!-- common js -->
        <script src="<?= BASE_URI; ?>js/script.js"></script>

        <!-- custom js per page -->
        <?php
        if (is_array($js)) {
            foreach ($js as $j) {
                ?>
                <script src="<?= BASE_URI; ?>js/module/<?php echo $j; ?>"></script>
            <?php
            }
        } else {
            ?>
            <?php if ($js != '') : ?>
                <script src="<?= BASE_URI; ?>js/module/<?php echo $js; ?>"></script>
            <?php
            endif;
        }
        ?>

         <?php $this->assets->outputJs(); ?>

        <script type="text/javascript">
            var BASE_URL = "<?php echo BASE_URI; ?>";
            var STOREFRONT_URL = "<?php echo STOREFRONT_URI; ?>";
            $(".datepicker").datepicker({});            
        </script>

    </head>
    <body>
        <?php $this->partial(@$page_content); ?>

    </body>
</html>
