<div class="header-container" style="width:100%;position: fixed;z-index:99;">
    <div class="page-title" style="position:relative;background:#fff;border-bottom:1px solid #ddd;height:50px;width:100%;padding:15px 30px;">
        <!-- Page Title-->
        <h4 style="margin:0;font-weight:normal"><?php echo @$page_title; ?> 
        </h4>

        <!-- Time and Online User-->
        <div style="position:absolute;top:0;right:0;padding:15px 215px 0 0">
            <span style="margin-right:5px"><?php echo date("d M Y");?></span><span id="movTime" style="margin-right:10px"></span>
            <span style="margin-right:10px"><?php echo $this->session->LPMADMINSESSION['first_name']." ".$this->session->LPMADMINSESSION['last_name'];?></span> 
            <span><a href="<?= BASE_URI; ?>login/logout" style="color:#0f7936; font-family:'SF-Pro-Text-Bold';">Log out</a></span>
        </div>
    </div>
</div>
<script>
function startTime() {

    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('movTime').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}

$(document).ready(function(){
    startTime();
});    
</script>    