<header id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top global-top">
      <div class="container-fluid"> 
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Logistics System</a>
        </div>
         <ul class="nav navbar-nav navbar-right header-sidemenu">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          		
          		<span class="caret"></span>
          	</a>
          <ul class="dropdown-menu">
            <li><a href="<?=SSO_URI?>" class="">System Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<?= BASE_URI; ?>index/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>
</header>
