<style>
    .whole-div{
            width: 100%;
            height: 100%;
            display: block;
            /*position: fixed;*/
            padding: 5vh 0;
    }

    .error-div{
            width: 100%;
            padding: 20vh 0;
            text-align: center;
    }
    .error-div h1{
            font-size: 55px;
            font-family: 'SF-Pro-Text-Bold';
            color: #4D4D4D;
            margin: 0 0 30px;
    }
    .error-div p{
            font-size: 20px;
            font-family: 'SF-Pro-Text-Regular';
            color: #4D4D4D;
            line-height: 25px;
            margin-bottom: 30px;
    }
	.btn-ep-bh{
		display: inline;
		height: auto !important;
		width: 30% !important;
		font-size: 12px;
		padding: 1.4vh 8vw 1.4vh;
                cursor: pointer;
	}   
    
</style>

<div class="index-content">
	
	<div class="whole-div">

		<!-- page-per-page breadcrumb and account -->

		<div class="error-div">
			<h1>Page Error</h1> 
 
	        <p> 
				Please contact LPM Office directly through <br> 

				<span>
					<?php foreach ($lpm_info_array["phone_no"] as $phone_nos) {
								$phone_no[] = $phone_nos;

							} echo implode(' / ', $phone_no); ?>
				</span> <br> 
				<span>
					<?php foreach ($lpm_info_array["mobile_no"] as $mobile_nos) {
							$mobile_no[] = $mobile_nos;

					} echo implode(' / ', $mobile_no); ?>
				</span> 
	        </p> 
	 
	        <button class="btn btn-success btn-white btn-ep-bh" onclick='window.location.href="<?=BASE_URI;?>"'>Back to homepage</button>
		</div>
	</div>

</div>