<div id="sidebar" class="sidebar responsive">
    <div id="logo" style="text-align:center;background:#f1f1f1;height:50px;width:175px;padding:10px 20px 0 0;position: fixed;z-index:99;">
        <a href="<?= BASE_URI; ?>" style="display:inline-block;"><img style="width:45%;height:auto;" src="<?= BASE_URI; ?>img/lpm-admin.png"></a>
    </div>
    <div class="side-category" style="margin-top:70px;">
        ORDERS
    </div>
    <ul class="nav-list sidebar-list <?php if ($this->session->LPMADMINACCESS['orders'] == '0'){ echo 'hidden';}?>">
        <li class="<?php if (@$page_active == 'all') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>">
                <span class="menu-text">All</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'special_inquiries') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>special_inquiries">
                <span class="menu-text">Special Inquiries</span>
            </a>
        </li>        
        <li class="<?php if (@$page_active == 'inquiry') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>inquiry">
                <span class="menu-text">Inquiry</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'draft_order') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>draft_order">
                <span class="menu-text">Draft Order</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'po_sent') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>po_sent">
                <span class="menu-text">PO Sent</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'soa_for_approval') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>soa_for_approval">
                <span class="menu-text">SOA for Approval</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'for_payment') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>for_payment">
                <span class="menu-text">For Payment</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'verify_payment') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>verify_payment">
                <span class="menu-text">For Verification</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'partially_verified') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>partially_verified">
                <span class="menu-text">Partially Verified</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'for_delivery_pickup') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>for_delivery_pickup">
                <span class="menu-text">For Delivery/Pick-up</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'served') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>served">
                <span class="menu-text">Served</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'expired') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>expired">
                <span class="menu-text">Expired</span>
            </a>
        </li> 
        <li class="<?php if (@$page_active == 'archived') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>archived">
                <span class="menu-text">Archived</span>
            </a>
        </li>         
    </ul>
    <div class="side-category">
        PRODUCTS
    </div>  
    <ul class="nav-list sidebar-list <?php if ($this->session->LPMADMINACCESS['products'] == '0'){ echo 'hidden';}?>">
        <li class="<?php if (@$page_active == 'products') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>products">
                <span class="menu-text">Products</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'categories') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>categories">
                <span class="menu-text">Categories</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'groups') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>groups">
                <span class="menu-text">Groups</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'brands') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>brands">
                <span class="menu-text">Brands</span>
            </a>
        </li>        
    </ul>  
    <div class="side-category">
        PRICING
    </div>  
    <ul class="nav-list sidebar-list <?php if ($this->session->LPMADMINACCESS['pricing'] == '0'){ echo 'hidden';}?>">
        <li class="<?php if (@$page_active == 'pricing') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>pricing">
                <span class="menu-text">Pricing</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'city_charges') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>city_charges">
                <span class="menu-text">City Charges</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'trucks') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>trucks">
                <span class="menu-text">Trucks</span>
            </a>
        </li>      
    </ul>   
    <div class="side-category">
        USERS
    </div>  
    <ul class="nav-list sidebar-list <?php if ($this->session->LPMADMINACCESS['users'] == '0'){ echo 'hidden';}?>">
        <li class="<?php if (@$page_active == 'users') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>users">
                <span class="menu-text">Users</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'roles') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>roles">
                <span class="menu-text">Roles</span>
            </a>
        </li>  
    </ul> 
    
    <ul class="nav-list sidebar-list <?php if ($this->session->LPMADMINACCESS['settings'] == '0'){ echo 'hidden';}?>" style="margin: 50px 0px;">
        <li class="<?php if (@$page_active == 'company') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>company">
                <span class="menu-text">Company</span>
            </a>
        </li>
        <li class="<?php if (@$page_active == 'logs') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>logs">
                <span class="menu-text">Logs</span>
            </a>
        </li>  
        <li class="<?php if (@$page_active == 'settings') echo 'active'; ?>">
            <a href="<?= BASE_URI; ?>settings">
                <span class="menu-text">Settings</span>
            </a>
        </li>         
    </ul>     
</div>