<style>
    .dataTables_filter {display: none;}
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <?php $this->partial('common/sidebar'); ?>

    <!-- /#main-content -->
    <div class="main-content">
        <!-- Header -->
        <?php $this->partial('common/content_header'); ?>
        <div class="main-content-inner">
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-4"> 
                    <div style="padding-left: 10px;">
                        <input type="text" id="inputSearch" class="form-control search" placeholder="Search">
                        <a><i class="fa fa-search fa-lg search-icon pull-right"></i></a>  
                    </div>    
                </div> 
                <div class="col-lg-2"> 
                </div>                  
                <div class="col-lg-6"> 
                    <div class="filter-div pull-right">
                        <span style="font-weight: bold; color: #fff;">Filters: </span>
<!--                        <span><input type="text" class="filter_status" placeholder="Status"></span>-->
                        <span><input type="text" class="filter_company" placeholder="Company Name" size="20"></span>
                        <span style="font-size: 10px; color: #fff;">Validity: </span>
                        <span><input type="text" class="datepicker_from" placeholder="From" size="10"></span>
                        <span><input type="text" class="datepicker_to" placeholder="To" size="10"></span>
<!--                        <span><input type="submit" class="btn-filter" value="FILTER"></span>-->
                    </div>
                </div>     
            </div> 
            <div class="col-lg-12" style="margin-top: 10px;">
                <table id="ordersTable" class="table" style="width:100%;">
                    <thead> 
                        <th style="width:15%;">SOA Number</th>
                        <th style="width:15%;">Company Name</th>
                        <th style="width:15%;">Date</th>
                        <th style="width:40%;">Remarks</th> 
                        <th style="width:15%;">Status</th> 
                    </thead>
                    <tbody>
                        <tr>
                            
                        </tr>
                    </tbody>
                </table> 
            </div>    
        </div>
    </div>
</div>
<script>
    
$.post(BASE_URL+'partially_verified/getPartialPaymentList',"",function(data){
    data = $.parseJSON(data);
	console.log(data);
    var content_array = [];
	
	data.inquiries.forEach(function(entry){
		var content_row = [];
		content_row.push('<a class="btn-on row_id" data-id="'+entry.reference_number+'">'+entry.reference_number+'</a>');
		
		if (data.users[entry.user_id].customer_type_id == 1) content_row.push("INDIVIDUAL USE");
		else content_row.push(data.users[entry.user_id].company_name);
		
		content_row.push(entry.datetime_created.substring(0,10));
		content_row.push(entry.remarks);
		content_row.push('<label class="label-olive">PARTIALLY VERIFIED</label>');
		content_array.push(content_row);
	});
            
    $('#ordersTable').DataTable({
        "bFilter": true,
        "bSortable": true,
		"aaSorting": [],
        "paging": true,
        "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [3,4] }],
        "data": content_array
    });
    
    var table = $('#ordersTable').DataTable();

    var idArr = [];
    table.$('.row_id').each(function(){
            idArr.push($(this).attr('data-id'));
            $(this).on('click', function () {
                    var id = $(this).attr('data-id');                                        
                    var params = {
                        idArr: idArr
                    };
                    $.post("<?= BASE_URI; ?>common/saveSessionVar", params, function(data){  
                        window.location.href = "<?= BASE_URI; ?>partially_verified/form?id=" + id; 
                    });                                        
            });
    }); 
//FILTERING
    $("#inputSearch").keyup( function () {
        table.search($(this).val()).draw(); 
    }); 
    
    $(".filter_status").keyup( function () {
        table.column(6).search($(this).val()).draw(); 
    });
    
    $(".filter_company").keyup( function () {
        table.column(1).search($(this).val()).draw(); 
    });

    
    $(".datepicker_from").datepicker({
        buttonImageOnly: false,
        "onSelect": function(date) {
          minDateFilter = new Date(date).getTime();
          table.draw();
        }
      }).keyup(function() {
        minDateFilter = new Date(this.value).getTime();
        table.draw();
      });

      $(".datepicker_to").datepicker({
        buttonImageOnly: false,
        "onSelect": function(date) {
          maxDateFilter = new Date(date).getTime();
          table.draw();
        }
      }).keyup(function() {
        maxDateFilter = new Date(this.value).getTime();
        table.draw();
      });

    // Date range filter
    minDateFilter = "";
    maxDateFilter = "";

    $.fn.dataTableExt.afnFiltering.push(
      function(oSettings, aData, iDataIndex) {
        if (typeof aData._date == 'undefined') {
          aData._date = new Date(aData[2]).getTime();
        }

        if (minDateFilter && !isNaN(minDateFilter)) {
          if (aData._date < minDateFilter) {
            return false;
          }
        }

        if (maxDateFilter && !isNaN(maxDateFilter)) {
          if (aData._date > maxDateFilter) {
            return false;
          }
        }

        return true;
      }
    );    
//END FILTERING 


});  
</script>